In [1]:
import pandas as pd
import numpy as np

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
def compute_average(df,col):
    return np.mean(df[col].values)

## No-prompt

In [3]:
np_average_subj_female_subj_pron = {}
np_average_subj_female_obj_pron = {}
np_average_subj_male_subj_pron = {}
np_average_subj_male_obj_pron = {}

### Verb: "flew"

In [4]:
motion_noprompt_1 = pd.read_csv("../results/transfoxl/motion/no-prompt/1.csv")
motion_noprompt_1.head()

                         stimulus        He       She
0   Miss Smith flew to Mr. Smith.  0.284175  0.715825
1      The woman flew to the man.  0.792756  0.207244
2              Mary flew to John.  0.654191  0.345809
3              Alice flew to Bob.  0.642914  0.357086
4  The actress flew to the actor.  0.835222  0.164778

In [5]:
# female subject
motion_noprompt_1f = motion_noprompt_1[0:12]
motion_noprompt_1f = motion_noprompt_1f[["stimulus","She","He"]]
# male subject
motion_noprompt_1m = motion_noprompt_1[12:24]

#### female subject

In [6]:
motion_noprompt_1f

                             stimulus       She        He
0       Miss Smith flew to Mr. Smith.  0.715825  0.284175
1          The woman flew to the man.  0.207244  0.792756
2                  Mary flew to John.  0.345809  0.654191
3                  Alice flew to Bob.  0.357086  0.642914
4      The actress flew to the actor.  0.164778  0.835222
5           The girl flew to the boy.  0.204600  0.795400
6   Mrs. Taylor flew to Mr. Williams.  0.739686  0.260314
7                 Emma flew to David.  0.254752  0.745248
8    The princess flew to the prince.  0.191284  0.808716
9               Sarah flew to Robert.  0.619621  0.380379
10  Mrs. Williams flew to Mr. Taylor.  0.620572  0.379428
11                Emily flew to Paul.  0.594402  0.405598

In [7]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_1f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_1f,'He'))

P('subj-pron'|subj=female) =  0.4179716631770134
P('non-subj-pron'|subj=female) =  0.5820283318559328

In [8]:
np_average_subj_female_subj_pron['flew'] = compute_average(motion_noprompt_1f,'She')
np_average_subj_female_obj_pron['flew'] = compute_average(motion_noprompt_1f,'He')

#### male subject

In [9]:
motion_noprompt_1m

                             stimulus        He       She
12      Mr. Smith flew to Miss Smith.  0.608043  0.391957
13         The man flew to the woman.  0.869203  0.130797
14                 John flew to Mary.  0.840109  0.159891
15                 Bob flew to Alice.  0.907500  0.092500
16     The actor flew to the actress.  0.870502  0.129498
17          The boy flew to the girl.  0.856789  0.143211
18   Mr. William flew to Mrs. Taylor.  0.493306  0.506694
19                David flew to Emma.  0.136076  0.863923
20   The prince flew to the princess.  0.869399  0.130601
21              Robert flew to Sarah.  0.699454  0.300546
22  Mr. Taylor flew to Mrs. Williams.  0.178268  0.821732
23                Paul flew to Emily.  0.814276  0.185724

In [10]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_1m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_1m,'She'))

P('subj-pron'|subj=male) =  0.6785770381490389
P('non-subj-pron'|subj=male) =  0.3214229606091976

In [11]:
np_average_subj_male_subj_pron['flew'] = compute_average(motion_noprompt_1m,'He')
np_average_subj_male_obj_pron['flew'] = compute_average(motion_noprompt_1m,'She')

### Verb: "walked"

In [12]:
motion_noprompt_2 = pd.read_csv("../results/transfoxl/motion/no-prompt/2.csv")
motion_noprompt_2.head()

                           stimulus        He       She
0   Miss Smith walked to Mr. Smith.  0.201517  0.798483
1      The woman walked to the man.  0.795128  0.204872
2              Mary walked to John.  0.605106  0.394893
3              Alice walked to Bob.  0.436528  0.563472
4  The actress walked to the actor.  0.819204  0.180796

In [13]:
# female subject
motion_noprompt_2f = motion_noprompt_2[0:12]
motion_noprompt_2f = motion_noprompt_2f[["stimulus","She","He"]]
# male subject
motion_noprompt_2m = motion_noprompt_2[12:24]

#### female subject

In [14]:
motion_noprompt_2f

                               stimulus       She        He
0       Miss Smith walked to Mr. Smith.  0.798483  0.201517
1          The woman walked to the man.  0.204872  0.795128
2                  Mary walked to John.  0.394893  0.605106
3                  Alice walked to Bob.  0.563472  0.436528
4      The actress walked to the actor.  0.180796  0.819204
5           The girl walked to the boy.  0.194479  0.805521
6   Mrs. Taylor walked to Mr. Williams.  0.771116  0.228884
7                 Emma walked to David.  0.941623  0.058377
8    The princess walked to the prince.  0.184493  0.815507
9               Sarah walked to Robert.  0.686572  0.313428
10  Mrs. Williams walked to Mr. Taylor.  0.670847  0.329153
11                Emily walked to Paul.  0.707941  0.292059

In [15]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_2f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_2f,'He'))

P('subj-pron'|subj=female) =  0.5249656600256761
P('non-subj-pron'|subj=female) =  0.47503435146063566

In [16]:
np_average_subj_female_subj_pron['walked'] = compute_average(motion_noprompt_2f,'She')
np_average_subj_female_obj_pron['walked'] = compute_average(motion_noprompt_2f,'He')

#### male subject

In [17]:
motion_noprompt_2m

                               stimulus        He       She
12      Mr. Smith walked to Miss Smith.  0.470429  0.529571
13         The man walked to the woman.  0.879527  0.120473
14                 John walked to Mary.  0.855925  0.144075
15                 Bob walked to Alice.  0.675788  0.324212
16     The actor walked to the actress.  0.876860  0.123140
17          The boy walked to the girl.  0.872070  0.127930
18   Mr. William walked to Mrs. Taylor.  0.392178  0.607822
19                David walked to Emma.  0.086685  0.913315
20   The prince walked to the princess.  0.881713  0.118287
21              Robert walked to Sarah.  0.353060  0.646940
22  Mr. Taylor walked to Mrs. Williams.  0.158314  0.841686
23                Paul walked to Emily.  0.829455  0.170545

In [18]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_2m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_2m,'She'))

P('subj-pron'|subj=male) =  0.6110003149757782
P('non-subj-pron'|subj=male) =  0.3889996688812971

In [19]:
np_average_subj_male_subj_pron['walked'] = compute_average(motion_noprompt_2m,'He')
np_average_subj_male_obj_pron['walked'] = compute_average(motion_noprompt_2m,'She')

### Verb: "ran"

In [20]:
motion_noprompt_3 = pd.read_csv("../results/transfoxl/motion/no-prompt/3.csv")
motion_noprompt_3.head()

                        stimulus        He       She
0   Miss Smith ran to Mr. Smith.  0.256519  0.743481
1      The woman ran to the man.  0.798824  0.201176
2              Mary ran to John.  0.656694  0.343306
3              Alice ran to Bob.  0.336510  0.663490
4  The actress ran to the actor.  0.820336  0.179664

In [21]:
# female subject
motion_noprompt_3f = motion_noprompt_3[0:12]
motion_noprompt_3f = motion_noprompt_3f[["stimulus","She","He"]]
# male subject
motion_noprompt_3m = motion_noprompt_3[12:24]

#### female subject

In [22]:
motion_noprompt_3f

                            stimulus       She        He
0       Miss Smith ran to Mr. Smith.  0.743481  0.256519
1          The woman ran to the man.  0.201176  0.798824
2                  Mary ran to John.  0.343306  0.656694
3                  Alice ran to Bob.  0.663490  0.336510
4      The actress ran to the actor.  0.179664  0.820336
5           The girl ran to the boy.  0.191504  0.808496
6   Mrs. Taylor ran to Mr. Williams.  0.768361  0.231639
7                 Emma ran to David.  0.890542  0.109458
8    The princess ran to the prince.  0.181663  0.818337
9               Sarah ran to Robert.  0.752818  0.247182
10  Mrs. Williams ran to Mr. Taylor.  0.635457  0.364543
11                Emily ran to Paul.  0.465237  0.534762

In [23]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_3f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_3f,'He'))

P('subj-pron'|subj=female) =  0.5013915846745173
P('non-subj-pron'|subj=female) =  0.4986084159463644

In [24]:
np_average_subj_female_subj_pron['ran'] = compute_average(motion_noprompt_3f,'She')
np_average_subj_female_obj_pron['ran'] = compute_average(motion_noprompt_3f,'He')

#### male subject

In [25]:
motion_noprompt_3m

                            stimulus        He       She
12      Mr. Smith ran to Miss Smith.  0.385245  0.614755
13         The man ran to the woman.  0.879575  0.120425
14                 John ran to Mary.  0.857626  0.142374
15                 Bob ran to Alice.  0.277918  0.722082
16     The actor ran to the actress.  0.883013  0.116987
17          The boy ran to the girl.  0.877122  0.122878
18   Mr. William ran to Mrs. Taylor.  0.308287  0.691713
19                David ran to Emma.  0.047589  0.952411
20   The prince ran to the princess.  0.886500  0.113500
21              Robert ran to Sarah.  0.129623  0.870377
22  Mr. Taylor ran to Mrs. Williams.  0.113044  0.886956
23                Paul ran to Emily.  0.834586  0.165414

In [26]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_3m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_3m,'She'))

P('subj-pron'|subj=male) =  0.5400106180459261
P('non-subj-pron'|subj=male) =  0.45998940368493396

In [27]:
np_average_subj_male_subj_pron['ran'] = compute_average(motion_noprompt_3m,'He')
np_average_subj_male_obj_pron['ran'] = compute_average(motion_noprompt_3m,'She')

### verb: "swam"

In [28]:
motion_noprompt_4 = pd.read_csv("../results/transfoxl/motion/no-prompt/4.csv")
motion_noprompt_4.head()

                         stimulus        He       She
0   Miss Smith swam to Mr. Smith.  0.258419  0.741581
1      The woman swam to the man.  0.799111  0.200889
2              Mary swam to John.  0.352728  0.647272
3              Alice swam to Bob.  0.335264  0.664736
4  The actress swam to the actor.  0.836653  0.163347

In [29]:
# female subject
motion_noprompt_4f = motion_noprompt_4[0:12]
motion_noprompt_4f = motion_noprompt_4f[["stimulus","She","He"]]
# male subject
motion_noprompt_4m = motion_noprompt_4[12:24]

#### female subject

In [30]:
motion_noprompt_4f

                             stimulus       She        He
0       Miss Smith swam to Mr. Smith.  0.741581  0.258419
1          The woman swam to the man.  0.200889  0.799111
2                  Mary swam to John.  0.647272  0.352728
3                  Alice swam to Bob.  0.664736  0.335264
4      The actress swam to the actor.  0.163347  0.836653
5           The girl swam to the boy.  0.188584  0.811416
6   Mrs. Taylor swam to Mr. Williams.  0.813953  0.186047
7                 Emma swam to David.  0.233102  0.766898
8    The princess swam to the prince.  0.179655  0.820345
9               Sarah swam to Robert.  0.688598  0.311402
10  Mrs. Williams swam to Mr. Taylor.  0.666189  0.333811
11                Emily swam to Paul.  0.671183  0.328817

In [31]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_4f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_4f,'He'))

P('subj-pron'|subj=female) =  0.48825735474626225
P('non-subj-pron'|subj=female) =  0.5117426514625549

In [32]:
np_average_subj_female_subj_pron['swam'] = compute_average(motion_noprompt_4f,'She')
np_average_subj_female_obj_pron['swam'] = compute_average(motion_noprompt_4f,'He')

#### male subject

In [33]:
motion_noprompt_4m

                             stimulus        He       She
12      Mr. Smith swam to Miss Smith.  0.642281  0.357719
13         The man swam to the woman.  0.875225  0.124775
14                 John swam to Mary.  0.852034  0.147966
15                 Bob swam to Alice.  0.904512  0.095488
16     The actor swam to the actress.  0.872766  0.127234
17          The boy swam to the girl.  0.864505  0.135495
18   Mr. William swam to Mrs. Taylor.  0.589454  0.410546
19                David swam to Emma.  0.255895  0.744105
20   The prince swam to the princess.  0.875555  0.124446
21              Robert swam to Sarah.  0.665220  0.334780
22  Mr. Taylor swam to Mrs. Williams.  0.227760  0.772240
23                Paul swam to Emily.  0.833812  0.166188

In [34]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_4m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_4m,'She'))

P('subj-pron'|subj=male) =  0.7049181262652079
P('non-subj-pron'|subj=male) =  0.2950818824271361

In [35]:
np_average_subj_male_subj_pron['swam'] = compute_average(motion_noprompt_4m,'He')
np_average_subj_male_obj_pron['swam'] = compute_average(motion_noprompt_4m,'She')

### verb: "drove"

In [36]:
motion_noprompt_5 = pd.read_csv("../results/transfoxl/motion/no-prompt/5.csv")
motion_noprompt_5.head()

                          stimulus        He       She
0   Miss Smith drove to Mr. Smith.  0.221151  0.778849
1      The woman drove to the man.  0.791056  0.208944
2              Mary drove to John.  0.641963  0.358037
3              Alice drove to Bob.  0.392119  0.607881
4  The actress drove to the actor.  0.827800  0.172200

In [37]:
# female subject
motion_noprompt_5f = motion_noprompt_5[0:12]
motion_noprompt_5f = motion_noprompt_5f[["stimulus","She","He"]]
# male subject
motion_noprompt_5m = motion_noprompt_5[12:24]

#### female subject

In [38]:
motion_noprompt_5f

                              stimulus       She        He
0       Miss Smith drove to Mr. Smith.  0.778849  0.221151
1          The woman drove to the man.  0.208944  0.791056
2                  Mary drove to John.  0.358037  0.641963
3                  Alice drove to Bob.  0.607881  0.392119
4      The actress drove to the actor.  0.172200  0.827800
5           The girl drove to the boy.  0.205039  0.794961
6   Mrs. Taylor drove to Mr. Williams.  0.793009  0.206991
7                 Emma drove to David.  0.940627  0.059374
8    The princess drove to the prince.  0.195025  0.804975
9               Sarah drove to Robert.  0.713088  0.286912
10  Mrs. Williams drove to Mr. Taylor.  0.695233  0.304767
11                Emily drove to Paul.  0.695275  0.304725

In [39]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_5f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_5f,'He'))

P('subj-pron'|subj=female) =  0.5302672348916531
P('non-subj-pron'|subj=female) =  0.46973278528700274

In [40]:
np_average_subj_female_subj_pron['drove'] = compute_average(motion_noprompt_5f,'She')
np_average_subj_female_obj_pron['drove'] = compute_average(motion_noprompt_5f,'He')

#### male subject

In [41]:
motion_noprompt_5m

                              stimulus        He       She
12      Mr. Smith drove to Miss Smith.  0.500356  0.499644
13         The man drove to the woman.  0.875844  0.124155
14                 John drove to Mary.  0.849527  0.150473
15                 Bob drove to Alice.  0.775899  0.224101
16     The actor drove to the actress.  0.874673  0.125327
17          The boy drove to the girl.  0.869294  0.130706
18   Mr. William drove to Mrs. Taylor.  0.371676  0.628324
19                David drove to Emma.  0.105154  0.894846
20   The prince drove to the princess.  0.876792  0.123208
21              Robert drove to Sarah.  0.465835  0.534165
22  Mr. Taylor drove to Mrs. Williams.  0.128065  0.871935
23                Paul drove to Emily.  0.822786  0.177214

In [42]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_5m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_5m,'She'))

P('subj-pron'|subj=male) =  0.6263250863800446
P('non-subj-pron'|subj=male) =  0.3736749229331811

In [43]:
np_average_subj_male_subj_pron['drove'] = compute_average(motion_noprompt_5m,'He')
np_average_subj_male_obj_pron['drove'] = compute_average(motion_noprompt_5m,'She')

### verb: "jogged"

In [44]:
motion_noprompt_6 = pd.read_csv("../results/transfoxl/motion/no-prompt/6.csv")
motion_noprompt_6.head()

                           stimulus        He       She
0   Miss Smith jogged to Mr. Smith.  0.267304  0.732696
1      The woman jogged to the man.  0.801490  0.198510
2              Mary jogged to John.  0.498474  0.501526
3              Alice jogged to Bob.  0.344179  0.655821
4  The actress jogged to the actor.  0.834702  0.165298

In [45]:
# female subject
motion_noprompt_6f = motion_noprompt_6[0:12]
motion_noprompt_6f = motion_noprompt_6f[["stimulus","She","He"]]
# male subject
motion_noprompt_6m = motion_noprompt_6[12:24]

#### female subject

In [46]:
motion_noprompt_6f

                               stimulus       She        He
0       Miss Smith jogged to Mr. Smith.  0.732696  0.267304
1          The woman jogged to the man.  0.198510  0.801490
2                  Mary jogged to John.  0.501526  0.498474
3                  Alice jogged to Bob.  0.655821  0.344179
4      The actress jogged to the actor.  0.165298  0.834702
5           The girl jogged to the boy.  0.186339  0.813661
6   Mrs. Taylor jogged to Mr. Williams.  0.804806  0.195194
7                 Emma jogged to David.  0.231168  0.768832
8    The princess jogged to the prince.  0.178086  0.821914
9               Sarah jogged to Robert.  0.673782  0.326218
10  Mrs. Williams jogged to Mr. Taylor.  0.667182  0.332818
11                Emily jogged to Paul.  0.572295  0.427705

In [47]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_6f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_6f,'He'))

P('subj-pron'|subj=female) =  0.4639590394993623
P('non-subj-pron'|subj=female) =  0.5360409691929817

In [48]:
np_average_subj_female_subj_pron['jogged'] = compute_average(motion_noprompt_6f,'She')
np_average_subj_female_obj_pron['jogged'] = compute_average(motion_noprompt_6f,'He')

#### male subject

In [49]:
motion_noprompt_6m

                               stimulus        He       She
12      Mr. Smith jogged to Miss Smith.  0.853059  0.146941
13         The man jogged to the woman.  0.874916  0.125084
14                 John jogged to Mary.  0.852447  0.147553
15                 Bob jogged to Alice.  0.760954  0.239046
16     The actor jogged to the actress.  0.871777  0.128223
17          The boy jogged to the girl.  0.868835  0.131165
18   Mr. William jogged to Mrs. Taylor.  0.427330  0.572670
19                David jogged to Emma.  0.129875  0.870125
20   The prince jogged to the princess.  0.876384  0.123616
21              Robert jogged to Sarah.  0.458938  0.541062
22  Mr. Taylor jogged to Mrs. Williams.  0.151543  0.848457
23                Paul jogged to Emily.  0.831003  0.168997

In [50]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_6m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_6m,'She'))

P('subj-pron'|subj=male) =  0.6630885104338328
P('non-subj-pron'|subj=male) =  0.33691149453322095

In [51]:
np_average_subj_male_subj_pron['jogged'] = compute_average(motion_noprompt_6m,'He')
np_average_subj_male_obj_pron['jogged'] = compute_average(motion_noprompt_6m,'She')

### verb: "bolted"

In [52]:
motion_noprompt_7 = pd.read_csv("../results/transfoxl/motion/no-prompt/7.csv")
motion_noprompt_7.head()

                           stimulus        He       She
0   Miss Smith bolted to Mr. Smith.  0.336657  0.663343
1      The woman bolted to the man.  0.795915  0.204085
2              Mary bolted to John.  0.590973  0.409027
3              Alice bolted to Bob.  0.388774  0.611225
4  The actress bolted to the actor.  0.825203  0.174797

In [53]:
# female subject
motion_noprompt_7f = motion_noprompt_7[0:12]
motion_noprompt_7f = motion_noprompt_7f[["stimulus","She","He"]]
# male subject
motion_noprompt_7m = motion_noprompt_7[12:24]

#### female subject

In [54]:
motion_noprompt_7f

                               stimulus       She        He
0       Miss Smith bolted to Mr. Smith.  0.663343  0.336657
1          The woman bolted to the man.  0.204085  0.795915
2                  Mary bolted to John.  0.409027  0.590973
3                  Alice bolted to Bob.  0.611225  0.388774
4      The actress bolted to the actor.  0.174797  0.825203
5           The girl bolted to the boy.  0.191695  0.808305
6   Mrs. Taylor bolted to Mr. Williams.  0.752161  0.247839
7                 Emma bolted to David.  0.260353  0.739647
8    The princess bolted to the prince.  0.183609  0.816391
9               Sarah bolted to Robert.  0.544352  0.455648
10  Mrs. Williams bolted to Mr. Taylor.  0.679366  0.320634
11                Emily bolted to Paul.  0.742294  0.257706

In [55]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_7f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_7f,'He'))

P('subj-pron'|subj=female) =  0.45135890940825146
P('non-subj-pron'|subj=female) =  0.5486410818994045

In [56]:
np_average_subj_female_subj_pron['bolted'] = compute_average(motion_noprompt_7f,'She')
np_average_subj_female_obj_pron['bolted'] = compute_average(motion_noprompt_7f,'He')

#### male subject

In [57]:
motion_noprompt_7m

                               stimulus        He       She
12      Mr. Smith bolted to Miss Smith.  0.853163  0.146838
13         The man bolted to the woman.  0.880952  0.119049
14                 John bolted to Mary.  0.858702  0.141297
15                 Bob bolted to Alice.  0.876966  0.123034
16     The actor bolted to the actress.  0.877365  0.122635
17          The boy bolted to the girl.  0.878723  0.121277
18   Mr. William bolted to Mrs. Taylor.  0.626828  0.373172
19                David bolted to Emma.  0.502580  0.497420
20   The prince bolted to the princess.  0.881186  0.118814
21              Robert bolted to Sarah.  0.515583  0.484417
22  Mr. Taylor bolted to Mrs. Williams.  0.216624  0.783376
23                Paul bolted to Emily.  0.843171  0.156829

In [58]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_7m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_7m,'She'))

P('subj-pron'|subj=male) =  0.7343201835950216
P('non-subj-pron'|subj=male) =  0.2656798157840967

In [59]:
np_average_subj_male_subj_pron['bolted'] = compute_average(motion_noprompt_7m,'He')
np_average_subj_male_obj_pron['bolted'] = compute_average(motion_noprompt_7m,'She')

### verb: "crawled"

In [60]:
motion_noprompt_8 = pd.read_csv("../results/transfoxl/motion/no-prompt/8.csv")
motion_noprompt_8.head()

                            stimulus        He       She
0   Miss Smith crawled to Mr. Smith.  0.168619  0.831381
1      The woman crawled to the man.  0.798750  0.201250
2              Mary crawled to John.  0.568487  0.431513
3              Alice crawled to Bob.  0.291970  0.708030
4  The actress crawled to the actor.  0.827474  0.172526

In [61]:
# female subject
motion_noprompt_8f = motion_noprompt_8[0:12]
motion_noprompt_8f = motion_noprompt_8f[["stimulus","She","He"]]
# male subject
motion_noprompt_8m = motion_noprompt_8[12:24]

In [62]:
motion_noprompt_8f

                                stimulus       She        He
0       Miss Smith crawled to Mr. Smith.  0.831381  0.168619
1          The woman crawled to the man.  0.201250  0.798750
2                  Mary crawled to John.  0.431513  0.568487
3                  Alice crawled to Bob.  0.708030  0.291970
4      The actress crawled to the actor.  0.172526  0.827474
5           The girl crawled to the boy.  0.189296  0.810704
6   Mrs. Taylor crawled to Mr. Williams.  0.815622  0.184378
7                 Emma crawled to David.  0.974830  0.025170
8    The princess crawled to the prince.  0.181165  0.818835
9               Sarah crawled to Robert.  0.733065  0.266935
10  Mrs. Williams crawled to Mr. Taylor.  0.697481  0.302519
11                Emily crawled to Paul.  0.788741  0.211259

In [63]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_8f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_8f,'He'))

P('subj-pron'|subj=female) =  0.5604082681238651
P('non-subj-pron'|subj=female) =  0.43959174677729607

In [64]:
np_average_subj_female_subj_pron['crawled'] = compute_average(motion_noprompt_8f,'She')
np_average_subj_female_obj_pron['crawled'] = compute_average(motion_noprompt_8f,'He')

#### male subject

In [65]:
motion_noprompt_8m

                                stimulus        He       She
12      Mr. Smith crawled to Miss Smith.  0.572176  0.427824
13         The man crawled to the woman.  0.878111  0.121889
14                 John crawled to Mary.  0.856906  0.143094
15                 Bob crawled to Alice.  0.869113  0.130887
16     The actor crawled to the actress.  0.878044  0.121956
17          The boy crawled to the girl.  0.871816  0.128184
18   Mr. William crawled to Mrs. Taylor.  0.557578  0.442422
19                David crawled to Emma.  0.252602  0.747398
20   The prince crawled to the princess.  0.880745  0.119255
21              Robert crawled to Sarah.  0.629726  0.370274
22  Mr. Taylor crawled to Mrs. Williams.  0.185964  0.814036
23                Paul crawled to Emily.  0.837186  0.162814

In [66]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_8m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_8m,'She'))

P('subj-pron'|subj=male) =  0.6891638065377871
P('non-subj-pron'|subj=male) =  0.3108362207810084

In [67]:
np_average_subj_male_subj_pron['crawled'] = compute_average(motion_noprompt_8m,'He')
np_average_subj_male_obj_pron['crawled'] = compute_average(motion_noprompt_8m,'She')

### verb: "limped"

In [68]:
motion_noprompt_9 = pd.read_csv("../results/transfoxl/motion/no-prompt/9.csv")
motion_noprompt_9.head()

                           stimulus        He       She
0   Miss Smith limped to Mr. Smith.  0.194309  0.805691
1      The woman limped to the man.  0.798005  0.201995
2              Mary limped to John.  0.544798  0.455202
3              Alice limped to Bob.  0.307323  0.692677
4  The actress limped to the actor.  0.826373  0.173627

In [69]:
# female subject
motion_noprompt_9f = motion_noprompt_9[0:12]
motion_noprompt_9f = motion_noprompt_9f[["stimulus","She","He"]]
# male subject
motion_noprompt_9m = motion_noprompt_9[12:24]

#### female subject

In [70]:
motion_noprompt_9f

                               stimulus       She        He
0       Miss Smith limped to Mr. Smith.  0.805691  0.194309
1          The woman limped to the man.  0.201995  0.798005
2                  Mary limped to John.  0.455202  0.544798
3                  Alice limped to Bob.  0.692677  0.307323
4      The actress limped to the actor.  0.173627  0.826373
5           The girl limped to the boy.  0.192577  0.807423
6   Mrs. Taylor limped to Mr. Williams.  0.817941  0.182059
7                 Emma limped to David.  0.268756  0.731244
8    The princess limped to the prince.  0.188108  0.811892
9               Sarah limped to Robert.  0.655988  0.344012
10  Mrs. Williams limped to Mr. Taylor.  0.709012  0.290988
11                Emily limped to Paul.  0.672464  0.327536

In [71]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_9f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_9f,'He'))

P('subj-pron'|subj=female) =  0.48616984114050865
P('non-subj-pron'|subj=female) =  0.5138301452000936

In [72]:
np_average_subj_female_subj_pron['limped'] = compute_average(motion_noprompt_9f,'She')
np_average_subj_female_obj_pron['limped'] = compute_average(motion_noprompt_9f,'He')

#### male subject

In [73]:
motion_noprompt_9m

                               stimulus        He       She
12      Mr. Smith limped to Miss Smith.  0.565161  0.434839
13         The man limped to the woman.  0.876476  0.123524
14                 John limped to Mary.  0.847168  0.152833
15                 Bob limped to Alice.  0.890869  0.109131
16     The actor limped to the actress.  0.869572  0.130428
17          The boy limped to the girl.  0.865784  0.134216
18   Mr. William limped to Mrs. Taylor.  0.457859  0.542141
19                David limped to Emma.  0.164705  0.835295
20   The prince limped to the princess.  0.874591  0.125409
21              Robert limped to Sarah.  0.635910  0.364090
22  Mr. Taylor limped to Mrs. Williams.  0.160075  0.839925
23                Paul limped to Emily.  0.825016  0.174984

In [74]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_9m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_9m,'She'))

P('subj-pron'|subj=male) =  0.6694321421285471
P('non-subj-pron'|subj=male) =  0.33056786842644215

In [75]:
np_average_subj_male_subj_pron['limped'] = compute_average(motion_noprompt_9m,'He')
np_average_subj_male_obj_pron['limped'] = compute_average(motion_noprompt_9m,'She')

### verb: "lumbered"

In [76]:
motion_noprompt_10 = pd.read_csv("../results/transfoxl/motion/no-prompt/10.csv")
motion_noprompt_10.head()

                             stimulus        He       She
0   Miss Smith lumbered to Mr. Smith.  0.290221  0.709779
1      The woman lumbered to the man.  0.802750  0.197250
2              Mary lumbered to John.  0.547497  0.452503
3              Alice lumbered to Bob.  0.290138  0.709862
4  The actress lumbered to the actor.  0.834088  0.165912

In [77]:
# female subject
motion_noprompt_10f = motion_noprompt_10[0:12]
motion_noprompt_10f = motion_noprompt_10f[["stimulus","She","He"]]
# male subject
motion_noprompt_10m = motion_noprompt_10[12:24]

### female subject

In [78]:
motion_noprompt_10f

                                 stimulus       She        He
0       Miss Smith lumbered to Mr. Smith.  0.709779  0.290221
1          The woman lumbered to the man.  0.197250  0.802750
2                  Mary lumbered to John.  0.452503  0.547497
3                  Alice lumbered to Bob.  0.709862  0.290138
4      The actress lumbered to the actor.  0.165912  0.834088
5           The girl lumbered to the boy.  0.183345  0.816655
6   Mrs. Taylor lumbered to Mr. Williams.  0.796233  0.203767
7                 Emma lumbered to David.  0.230161  0.769839
8    The princess lumbered to the prince.  0.175346  0.824654
9               Sarah lumbered to Robert.  0.716818  0.283182
10  Mrs. Williams lumbered to Mr. Taylor.  0.669930  0.330070
11                Emily lumbered to Paul.  0.668288  0.331712

In [79]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_10f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_10f,'He'))

P('subj-pron'|subj=female) =  0.4729521684348583
P('non-subj-pron'|subj=female) =  0.5270478216310343

In [80]:
np_average_subj_female_subj_pron['lumbered'] = compute_average(motion_noprompt_10f,'She')
np_average_subj_female_obj_pron['lumbered'] = compute_average(motion_noprompt_10f,'He')

#### male subject

In [81]:
motion_noprompt_10m

                                 stimulus        He       She
12      Mr. Smith lumbered to Miss Smith.  0.575181  0.424819
13         The man lumbered to the woman.  0.881507  0.118493
14                 John lumbered to Mary.  0.867298  0.132702
15                 Bob lumbered to Alice.  0.729434  0.270566
16     The actor lumbered to the actress.  0.880884  0.119116
17          The boy lumbered to the girl.  0.876677  0.123323
18   Mr. William lumbered to Mrs. Taylor.  0.504352  0.495648
19                David lumbered to Emma.  0.214402  0.785598
20   The prince lumbered to the princess.  0.884078  0.115922
21              Robert lumbered to Sarah.  0.417697  0.582303
22  Mr. Taylor lumbered to Mrs. Williams.  0.186476  0.813524
23                Paul lumbered to Emily.  0.843989  0.156011

In [82]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_10m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_10m,'She'))

P('subj-pron'|subj=male) =  0.6551645087699095
P('non-subj-pron'|subj=male) =  0.344835489988327

In [83]:
np_average_subj_male_subj_pron['lumbered'] = compute_average(motion_noprompt_10m,'He')
np_average_subj_male_obj_pron['lumbered'] = compute_average(motion_noprompt_10m,'She')

### verb: "marched"

In [84]:
motion_noprompt_11 = pd.read_csv("../results/transfoxl/motion/no-prompt/11.csv")
motion_noprompt_11.head()

                            stimulus        He       She
0   Miss Smith marched to Mr. Smith.  0.311967  0.688033
1      The woman marched to the man.  0.802511  0.197489
2              Mary marched to John.  0.630767  0.369233
3              Alice marched to Bob.  0.613349  0.386651
4  The actress marched to the actor.  0.842359  0.157641

In [85]:
# female subject
motion_noprompt_11f = motion_noprompt_11[0:12]
motion_noprompt_11f = motion_noprompt_11f[["stimulus","She","He"]]
# male subject
motion_noprompt_11m = motion_noprompt_11[12:24]

#### female subject

In [86]:
motion_noprompt_11f

                                stimulus       She        He
0       Miss Smith marched to Mr. Smith.  0.688033  0.311967
1          The woman marched to the man.  0.197489  0.802511
2                  Mary marched to John.  0.369233  0.630767
3                  Alice marched to Bob.  0.386651  0.613349
4      The actress marched to the actor.  0.157641  0.842359
5           The girl marched to the boy.  0.190741  0.809259
6   Mrs. Taylor marched to Mr. Williams.  0.735762  0.264238
7                 Emma marched to David.  0.233260  0.766740
8    The princess marched to the prince.  0.177038  0.822962
9               Sarah marched to Robert.  0.485564  0.514436
10  Mrs. Williams marched to Mr. Taylor.  0.629599  0.370401
11                Emily marched to Paul.  0.578204  0.421796

In [87]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_11f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_11f,'He'))

P('subj-pron'|subj=female) =  0.4024346110721429
P('non-subj-pron'|subj=female) =  0.5975653926531473

In [88]:
np_average_subj_female_subj_pron['marched'] = compute_average(motion_noprompt_11f,'She')
np_average_subj_female_obj_pron['marched'] = compute_average(motion_noprompt_11f,'He')

#### male subject

In [89]:
motion_noprompt_11m

                                stimulus        He       She
12      Mr. Smith marched to Miss Smith.  0.848420  0.151580
13         The man marched to the woman.  0.882344  0.117656
14                 John marched to Mary.  0.865751  0.134249
15                 Bob marched to Alice.  0.906179  0.093821
16     The actor marched to the actress.  0.881335  0.118665
17          The boy marched to the girl.  0.873973  0.126027
18   Mr. William marched to Mrs. Taylor.  0.507446  0.492554
19                David marched to Emma.  0.214667  0.785333
20   The prince marched to the princess.  0.884262  0.115738
21              Robert marched to Sarah.  0.616149  0.383852
22  Mr. Taylor marched to Mrs. Williams.  0.205588  0.794412
23                Paul marched to Emily.  0.846661  0.153339

In [90]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_11m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_11m,'She'))

P('subj-pron'|subj=male) =  0.7110645150144895
P('non-subj-pron'|subj=male) =  0.2889354955404997

In [91]:
np_average_subj_male_subj_pron['marched'] = compute_average(motion_noprompt_11m,'He')
np_average_subj_male_obj_pron['marched'] = compute_average(motion_noprompt_11m,'She')

### verb: "meandered"

In [92]:
motion_noprompt_12 = pd.read_csv("../results/transfoxl/motion/no-prompt/12.csv")
motion_noprompt_12.head()

                              stimulus        He       She
0   Miss Smith meandered to Mr. Smith.  0.200930  0.799070
1      The woman meandered to the man.  0.791741  0.208259
2              Mary meandered to John.  0.510990  0.489010
3              Alice meandered to Bob.  0.342103  0.657897
4  The actress meandered to the actor.  0.829577  0.170423

In [93]:
# female subject
motion_noprompt_12f = motion_noprompt_12[0:12]
motion_noprompt_12f = motion_noprompt_12f[["stimulus","She","He"]]
# male subject
motion_noprompt_12m = motion_noprompt_12[12:24]

#### female subject

In [94]:
motion_noprompt_12f

                                  stimulus       She        He
0       Miss Smith meandered to Mr. Smith.  0.799070  0.200930
1          The woman meandered to the man.  0.208259  0.791741
2                  Mary meandered to John.  0.489010  0.510990
3                  Alice meandered to Bob.  0.657897  0.342103
4      The actress meandered to the actor.  0.170423  0.829577
5           The girl meandered to the boy.  0.194168  0.805832
6   Mrs. Taylor meandered to Mr. Williams.  0.821660  0.178340
7                 Emma meandered to David.  0.926119  0.073881
8    The princess meandered to the prince.  0.187658  0.812342
9               Sarah meandered to Robert.  0.715807  0.284193
10  Mrs. Williams meandered to Mr. Taylor.  0.724233  0.275767
11                Emily meandered to Paul.  0.743824  0.256176

In [95]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_12f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_12f,'He'))

P('subj-pron'|subj=female) =  0.5531772909065088
P('non-subj-pron'|subj=female) =  0.44682269791762036

In [96]:
np_average_subj_female_subj_pron['meandered'] = compute_average(motion_noprompt_12f,'She')
np_average_subj_female_obj_pron['meandered'] = compute_average(motion_noprompt_12f,'He')

#### male subject

In [97]:
motion_noprompt_12m

                                  stimulus        He       She
12      Mr. Smith meandered to Miss Smith.  0.510731  0.489269
13         The man meandered to the woman.  0.882440  0.117560
14                 John meandered to Mary.  0.853550  0.146450
15                 Bob meandered to Alice.  0.564553  0.435447
16     The actor meandered to the actress.  0.878755  0.121245
17          The boy meandered to the girl.  0.872448  0.127552
18   Mr. William meandered to Mrs. Taylor.  0.506181  0.493819
19                David meandered to Emma.  0.175915  0.824085
20   The prince meandered to the princess.  0.882006  0.117994
21              Robert meandered to Sarah.  0.404732  0.595268
22  Mr. Taylor meandered to Mrs. Williams.  0.164955  0.835045
23                Paul meandered to Emily.  0.829964  0.170036

In [98]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_12m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_12m,'She'))

P('subj-pron'|subj=male) =  0.627185869961977
P('non-subj-pron'|subj=male) =  0.3728141089280446

In [99]:
np_average_subj_male_subj_pron['meandered'] = compute_average(motion_noprompt_12m,'He')
np_average_subj_male_obj_pron['meandered'] = compute_average(motion_noprompt_12m,'She')

### verb: "pranced"

In [100]:
motion_noprompt_13 = pd.read_csv("../results/transfoxl/motion/no-prompt/13.csv")
motion_noprompt_13.head()

                            stimulus        He       She
0   Miss Smith pranced to Mr. Smith.  0.298287  0.701714
1      The woman pranced to the man.  0.797382  0.202618
2              Mary pranced to John.  0.582930  0.417070
3              Alice pranced to Bob.  0.383188  0.616812
4  The actress pranced to the actor.  0.831668  0.168332

In [101]:
# female subject
motion_noprompt_13f = motion_noprompt_13[0:12]
motion_noprompt_13f = motion_noprompt_13f[["stimulus","She","He"]]
# male subject
motion_noprompt_13m = motion_noprompt_13[12:24]

#### female subject

In [102]:
motion_noprompt_13f

                                stimulus       She        He
0       Miss Smith pranced to Mr. Smith.  0.701714  0.298287
1          The woman pranced to the man.  0.202618  0.797382
2                  Mary pranced to John.  0.417070  0.582930
3                  Alice pranced to Bob.  0.616812  0.383188
4      The actress pranced to the actor.  0.168332  0.831668
5           The girl pranced to the boy.  0.190223  0.809777
6   Mrs. Taylor pranced to Mr. Williams.  0.749285  0.250715
7                 Emma pranced to David.  0.245939  0.754061
8    The princess pranced to the prince.  0.178304  0.821696
9               Sarah pranced to Robert.  0.641953  0.358047
10  Mrs. Williams pranced to Mr. Taylor.  0.631143  0.368857
11                Emily pranced to Paul.  0.683074  0.316926

In [103]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_13f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_13f,'He'))

P('subj-pron'|subj=female) =  0.45220553999145824
P('non-subj-pron'|subj=female) =  0.5477944662173589

In [104]:
np_average_subj_female_subj_pron['pranced'] = compute_average(motion_noprompt_13f,'She')
np_average_subj_female_obj_pron['pranced'] = compute_average(motion_noprompt_13f,'He')

#### male subject

In [105]:
motion_noprompt_13m

                                stimulus        He       She
12      Mr. Smith pranced to Miss Smith.  0.849301  0.150699
13         The man pranced to the woman.  0.877240  0.122760
14                 John pranced to Mary.  0.851312  0.148688
15                 Bob pranced to Alice.  0.477206  0.522794
16     The actor pranced to the actress.  0.873783  0.126217
17          The boy pranced to the girl.  0.871759  0.128241
18   Mr. William pranced to Mrs. Taylor.  0.460831  0.539169
19                David pranced to Emma.  0.100005  0.899995
20   The prince pranced to the princess.  0.878854  0.121146
21              Robert pranced to Sarah.  0.230434  0.769566
22  Mr. Taylor pranced to Mrs. Williams.  0.149472  0.850528
23                Paul pranced to Emily.  0.831264  0.168736

In [106]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_13m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_13m,'She'))

P('subj-pron'|subj=male) =  0.6209549798319737
P('non-subj-pron'|subj=male) =  0.37904501768449944

In [107]:
np_average_subj_male_subj_pron['pranced'] = compute_average(motion_noprompt_13m,'He')
np_average_subj_male_obj_pron['pranced'] = compute_average(motion_noprompt_13m,'She')

### verb: "raced"

In [108]:
motion_noprompt_14 = pd.read_csv("../results/transfoxl/motion/no-prompt/14.csv")
motion_noprompt_14.head()

                          stimulus        He       She
0   Miss Smith raced to Mr. Smith.  0.228206  0.771794
1      The woman raced to the man.  0.793918  0.206082
2              Mary raced to John.  0.559953  0.440047
3              Alice raced to Bob.  0.216658  0.783342
4  The actress raced to the actor.  0.830979  0.169021

In [109]:
# female subject
motion_noprompt_14f = motion_noprompt_14[0:12]
motion_noprompt_14f = motion_noprompt_14f[["stimulus","She","He"]]
# male subject
motion_noprompt_14m = motion_noprompt_14[12:24]

#### female subject

In [110]:
motion_noprompt_14f

                              stimulus       She        He
0       Miss Smith raced to Mr. Smith.  0.771794  0.228206
1          The woman raced to the man.  0.206082  0.793918
2                  Mary raced to John.  0.440047  0.559953
3                  Alice raced to Bob.  0.783342  0.216658
4      The actress raced to the actor.  0.169021  0.830979
5           The girl raced to the boy.  0.191922  0.808078
6   Mrs. Taylor raced to Mr. Williams.  0.790693  0.209307
7                 Emma raced to David.  0.971235  0.028765
8    The princess raced to the prince.  0.180420  0.819580
9               Sarah raced to Robert.  0.760788  0.239212
10  Mrs. Williams raced to Mr. Taylor.  0.679730  0.320270
11                Emily raced to Paul.  0.807917  0.192083

In [111]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_14f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_14f,'He'))

P('subj-pron'|subj=female) =  0.5627491970856985
P('non-subj-pron'|subj=female) =  0.43725079701592523

In [112]:
np_average_subj_female_subj_pron['raced'] = compute_average(motion_noprompt_14f,'She')
np_average_subj_female_obj_pron['raced'] = compute_average(motion_noprompt_14f,'He')

#### male subject

In [113]:
motion_noprompt_14m

                              stimulus        He       She
12      Mr. Smith raced to Miss Smith.  0.852520  0.147480
13         The man raced to the woman.  0.882253  0.117747
14                 John raced to Mary.  0.865471  0.134529
15                 Bob raced to Alice.  0.883642  0.116358
16     The actor raced to the actress.  0.885729  0.114271
17          The boy raced to the girl.  0.880108  0.119892
18   Mr. William raced to Mrs. Taylor.  0.484368  0.515632
19                David raced to Emma.  0.281179  0.718821
20   The prince raced to the princess.  0.887339  0.112661
21              Robert raced to Sarah.  0.461111  0.538889
22  Mr. Taylor raced to Mrs. Williams.  0.196843  0.803157
23                Paul raced to Emily.  0.845765  0.154235

In [114]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_14m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_14m,'She'))

P('subj-pron'|subj=male) =  0.700527373701334
P('non-subj-pron'|subj=male) =  0.2994726113975048

In [115]:
np_average_subj_male_subj_pron['raced'] = compute_average(motion_noprompt_14m,'He')
np_average_subj_male_obj_pron['raced'] = compute_average(motion_noprompt_14m,'She')

### verb: "staggered"

In [116]:
motion_noprompt_15 = pd.read_csv("../results/transfoxl/motion/no-prompt/15.csv")
motion_noprompt_15.head()

                              stimulus        He       She
0   Miss Smith staggered to Mr. Smith.  0.200098  0.799902
1      The woman staggered to the man.  0.800536  0.199464
2              Mary staggered to John.  0.683986  0.316014
3              Alice staggered to Bob.  0.362885  0.637115
4  The actress staggered to the actor.  0.834271  0.165729

In [117]:
# female subject
motion_noprompt_15f = motion_noprompt_15[0:12]
motion_noprompt_15f = motion_noprompt_15f[["stimulus","She","He"]]
# male subject
motion_noprompt_15m = motion_noprompt_15[12:24]

In [118]:
motion_noprompt_15f

                                  stimulus       She        He
0       Miss Smith staggered to Mr. Smith.  0.799902  0.200098
1          The woman staggered to the man.  0.199464  0.800536
2                  Mary staggered to John.  0.316014  0.683986
3                  Alice staggered to Bob.  0.637115  0.362885
4      The actress staggered to the actor.  0.165729  0.834271
5           The girl staggered to the boy.  0.185758  0.814242
6   Mrs. Taylor staggered to Mr. Williams.  0.761295  0.238705
7                 Emma staggered to David.  0.920368  0.079632
8    The princess staggered to the prince.  0.177923  0.822077
9               Sarah staggered to Robert.  0.669860  0.330140
10  Mrs. Williams staggered to Mr. Taylor.  0.661490  0.338510
11                Emily staggered to Paul.  0.609751  0.390249

In [119]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_15f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_15f,'He'))

P('subj-pron'|subj=female) =  0.508722472935915
P('non-subj-pron'|subj=female) =  0.4912775456905365

In [120]:
np_average_subj_female_subj_pron['staggered'] = compute_average(motion_noprompt_15f,'She')
np_average_subj_female_obj_pron['staggered'] = compute_average(motion_noprompt_15f,'He')

#### male subject

In [121]:
motion_noprompt_15m

                                  stimulus        He       She
12      Mr. Smith staggered to Miss Smith.  0.466156  0.533844
13         The man staggered to the woman.  0.881105  0.118895
14                 John staggered to Mary.  0.860297  0.139703
15                 Bob staggered to Alice.  0.676180  0.323820
16     The actor staggered to the actress.  0.880827  0.119173
17          The boy staggered to the girl.  0.875090  0.124910
18   Mr. William staggered to Mrs. Taylor.  0.379324  0.620676
19                David staggered to Emma.  0.141372  0.858627
20   The prince staggered to the princess.  0.883299  0.116701
21              Robert staggered to Sarah.  0.246538  0.753462
22  Mr. Taylor staggered to Mrs. Williams.  0.149142  0.850858
23                Paul staggered to Emily.  0.842780  0.157220

In [122]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_15m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_15m,'She'))

P('subj-pron'|subj=male) =  0.6068426122268041
P('non-subj-pron'|subj=male) =  0.3931573908776045

In [123]:
np_average_subj_male_subj_pron['staggered'] = compute_average(motion_noprompt_15m,'He')
np_average_subj_male_obj_pron['staggered'] = compute_average(motion_noprompt_15m,'She')

### verb: "strolled"

In [124]:
motion_noprompt_16 = pd.read_csv("../results/transfoxl/motion/no-prompt/16.csv")
motion_noprompt_16.head()

                             stimulus        He       She
0   Miss Smith strolled to Mr. Smith.  0.228957  0.771043
1      The woman strolled to the man.  0.798598  0.201402
2              Mary strolled to John.  0.632195  0.367805
3              Alice strolled to Bob.  0.502075  0.497925
4  The actress strolled to the actor.  0.829802  0.170198

In [125]:
# female subject
motion_noprompt_16f = motion_noprompt_16[0:12]
motion_noprompt_16f = motion_noprompt_16f[["stimulus","She","He"]]
# male subject
motion_noprompt_16m = motion_noprompt_16[12:24]

#### female subject

In [126]:
motion_noprompt_16f

                                 stimulus       She        He
0       Miss Smith strolled to Mr. Smith.  0.771043  0.228957
1          The woman strolled to the man.  0.201402  0.798598
2                  Mary strolled to John.  0.367805  0.632195
3                  Alice strolled to Bob.  0.497925  0.502075
4      The actress strolled to the actor.  0.170198  0.829802
5           The girl strolled to the boy.  0.188918  0.811082
6   Mrs. Taylor strolled to Mr. Williams.  0.778576  0.221424
7                 Emma strolled to David.  0.947455  0.052545
8    The princess strolled to the prince.  0.179514  0.820486
9               Sarah strolled to Robert.  0.602436  0.397564
10  Mrs. Williams strolled to Mr. Taylor.  0.662334  0.337666
11                Emily strolled to Paul.  0.587406  0.412594

In [127]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_16f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_16f,'He'))

P('subj-pron'|subj=female) =  0.49625097711881
P('non-subj-pron'|subj=female) =  0.5037490374719104

In [128]:
np_average_subj_female_subj_pron['strolled'] = compute_average(motion_noprompt_16f,'She')
np_average_subj_female_obj_pron['strolled'] = compute_average(motion_noprompt_16f,'He')

#### male subject

In [129]:
motion_noprompt_16m

                                 stimulus        He       She
12      Mr. Smith strolled to Miss Smith.  0.508493  0.491507
13         The man strolled to the woman.  0.877329  0.122671
14                 John strolled to Mary.  0.849390  0.150610
15                 Bob strolled to Alice.  0.702568  0.297432
16     The actor strolled to the actress.  0.872989  0.127011
17          The boy strolled to the girl.  0.870614  0.129386
18   Mr. William strolled to Mrs. Taylor.  0.411892  0.588108
19                David strolled to Emma.  0.131671  0.868329
20   The prince strolled to the princess.  0.879037  0.120963
21              Robert strolled to Sarah.  0.345647  0.654353
22  Mr. Taylor strolled to Mrs. Williams.  0.160896  0.839104
23                Paul strolled to Emily.  0.828647  0.171353

In [130]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_16m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_16m,'She'))

P('subj-pron'|subj=male) =  0.6199311390519142
P('non-subj-pron'|subj=male) =  0.380068880195419

In [131]:
np_average_subj_male_subj_pron['strolled'] = compute_average(motion_noprompt_16m,'He')
np_average_subj_male_obj_pron['strolled'] = compute_average(motion_noprompt_16m,'She')

#### verb: "trotted"

In [132]:
motion_noprompt_17 = pd.read_csv("../results/transfoxl/motion/no-prompt/17.csv")
motion_noprompt_17.head()

                            stimulus        He       She
0   Miss Smith trotted to Mr. Smith.  0.262635  0.737364
1      The woman trotted to the man.  0.797526  0.202474
2              Mary trotted to John.  0.675143  0.324857
3              Alice trotted to Bob.  0.481782  0.518218
4  The actress trotted to the actor.  0.820165  0.179835

In [133]:
# female subject
motion_noprompt_17f = motion_noprompt_17[0:12]
motion_noprompt_17f = motion_noprompt_17f[["stimulus","She","He"]]
# male subject
motion_noprompt_17m = motion_noprompt_17[12:24]

#### female subject

In [134]:
motion_noprompt_17f

                                stimulus       She        He
0       Miss Smith trotted to Mr. Smith.  0.737364  0.262635
1          The woman trotted to the man.  0.202474  0.797526
2                  Mary trotted to John.  0.324857  0.675143
3                  Alice trotted to Bob.  0.518218  0.481782
4      The actress trotted to the actor.  0.179835  0.820165
5           The girl trotted to the boy.  0.190862  0.809138
6   Mrs. Taylor trotted to Mr. Williams.  0.752667  0.247333
7                 Emma trotted to David.  0.248829  0.751171
8    The princess trotted to the prince.  0.182444  0.817556
9               Sarah trotted to Robert.  0.628175  0.371825
10  Mrs. Williams trotted to Mr. Taylor.  0.644638  0.355362
11                Emily trotted to Paul.  0.525385  0.474615

In [135]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_17f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_17f,'He'))

P('subj-pron'|subj=female) =  0.42797908062736195
P('non-subj-pron'|subj=female) =  0.572020910680294

In [136]:
np_average_subj_female_subj_pron['trotted'] = compute_average(motion_noprompt_17f,'She')
np_average_subj_female_obj_pron['trotted'] = compute_average(motion_noprompt_17f,'He')

#### male subject

In [137]:
motion_noprompt_17m

                                stimulus        He       She
12      Mr. Smith trotted to Miss Smith.  0.484375  0.515625
13         The man trotted to the woman.  0.875516  0.124484
14                 John trotted to Mary.  0.851391  0.148609
15                 Bob trotted to Alice.  0.700053  0.299947
16     The actor trotted to the actress.  0.872417  0.127583
17          The boy trotted to the girl.  0.870731  0.129269
18   Mr. William trotted to Mrs. Taylor.  0.435895  0.564105
19                David trotted to Emma.  0.108419  0.891581
20   The prince trotted to the princess.  0.879001  0.120999
21              Robert trotted to Sarah.  0.253763  0.746237
22  Mr. Taylor trotted to Mrs. Williams.  0.167344  0.832656
23                Paul trotted to Emily.  0.825572  0.174428

In [138]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_17m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_17m,'She'))

P('subj-pron'|subj=male) =  0.6103731039911509
P('non-subj-pron'|subj=male) =  0.3896268966297309

In [139]:
np_average_subj_male_subj_pron['trotted'] = compute_average(motion_noprompt_17m,'He')
np_average_subj_male_obj_pron['trotted'] = compute_average(motion_noprompt_17m,'She')

### verb: "wandered"

In [140]:
motion_noprompt_18 = pd.read_csv("../results/transfoxl/motion/no-prompt/18.csv")
motion_noprompt_18.head()

                             stimulus        He       She
0   Miss Smith wandered to Mr. Smith.  0.154336  0.845664
1      The woman wandered to the man.  0.801221  0.198779
2              Mary wandered to John.  0.625430  0.374570
3              Alice wandered to Bob.  0.579630  0.420370
4  The actress wandered to the actor.  0.828585  0.171415

In [141]:
# female subject
motion_noprompt_18f = motion_noprompt_18[0:12]
motion_noprompt_18f = motion_noprompt_18f[["stimulus","She","He"]]
# male subject
motion_noprompt_18m = motion_noprompt_18[12:24]

#### female subject

In [142]:
motion_noprompt_18f

                                 stimulus       She        He
0       Miss Smith wandered to Mr. Smith.  0.845664  0.154336
1          The woman wandered to the man.  0.198779  0.801221
2                  Mary wandered to John.  0.374570  0.625430
3                  Alice wandered to Bob.  0.420370  0.579630
4      The actress wandered to the actor.  0.171415  0.828585
5           The girl wandered to the boy.  0.192758  0.807242
6   Mrs. Taylor wandered to Mr. Williams.  0.771575  0.228425
7                 Emma wandered to David.  0.960235  0.039765
8    The princess wandered to the prince.  0.184347  0.815653
9               Sarah wandered to Robert.  0.581924  0.418076
10  Mrs. Williams wandered to Mr. Taylor.  0.676615  0.323385
11                Emily wandered to Paul.  0.600532  0.399468

In [143]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_18f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_18f,'He'))

P('subj-pron'|subj=female) =  0.4982319511473179
P('non-subj-pron'|subj=female) =  0.5017680429543058

In [144]:
np_average_subj_female_subj_pron['wandered'] = compute_average(motion_noprompt_18f,'She')
np_average_subj_female_obj_pron['wandered'] = compute_average(motion_noprompt_18f,'He')

#### male subject

In [145]:
motion_noprompt_18m

                                 stimulus        He       She
12      Mr. Smith wandered to Miss Smith.  0.511436  0.488564
13         The man wandered to the woman.  0.877636  0.122364
14                 John wandered to Mary.  0.849137  0.150863
15                 Bob wandered to Alice.  0.705354  0.294646
16     The actor wandered to the actress.  0.874515  0.125486
17          The boy wandered to the girl.  0.868906  0.131094
18   Mr. William wandered to Mrs. Taylor.  0.433596  0.566404
19                David wandered to Emma.  0.124078  0.875922
20   The prince wandered to the princess.  0.878617  0.121383
21              Robert wandered to Sarah.  0.378250  0.621750
22  Mr. Taylor wandered to Mrs. Williams.  0.134643  0.865357
23                Paul wandered to Emily.  0.821934  0.178066

In [146]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_18m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_18m,'She'))

P('subj-pron'|subj=male) =  0.6215085554867983
P('non-subj-pron'|subj=male) =  0.3784914544473092

In [147]:
np_average_subj_male_subj_pron['wandered'] = compute_average(motion_noprompt_18m,'He')
np_average_subj_male_obj_pron['wandered'] = compute_average(motion_noprompt_18m,'She')

## Summary of Results

In [148]:
np_results_fsubj_subjpron = pd.DataFrame(list(np_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
np_results_fsubj_objpron = pd.DataFrame(list(np_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
np_results_fsubj = np_results_fsubj_subjpron.merge(np_results_fsubj_objpron)
np_results_fsubj

         verb  subj_ref_female_subj  obj_ref_female_subj
0        flew              0.417972             0.582028
1      walked              0.524966             0.475034
2         ran              0.501392             0.498608
3        swam              0.488257             0.511743
4       drove              0.530267             0.469733
5      jogged              0.463959             0.536041
6      bolted              0.451359             0.548641
7     crawled              0.560408             0.439592
8      limped              0.486170             0.513830
9    lumbered              0.472952             0.527048
10    marched              0.402435             0.597565
11  meandered              0.553177             0.446823
12    pranced              0.452206             0.547794
13      raced              0.562749             0.437251
14  staggered              0.508722             0.491278
15   strolled              0.496251             0.503749
16    trotted              0.427979             0.572021
17   wandered              0.498232             0.501768

In [149]:
np_results_msubj_subjpron = pd.DataFrame(list(np_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
np_results_msubj_objpron = pd.DataFrame(list(np_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
np_results_msubj = np_results_msubj_subjpron.merge(np_results_msubj_objpron)
np_results_msubj

         verb  subj_ref_male_subj  obj_ref_male_subj
0        flew            0.678577           0.321423
1      walked            0.611000           0.389000
2         ran            0.540011           0.459989
3        swam            0.704918           0.295082
4       drove            0.626325           0.373675
5      jogged            0.663089           0.336911
6      bolted            0.734320           0.265680
7     crawled            0.689164           0.310836
8      limped            0.669432           0.330568
9    lumbered            0.655165           0.344835
10    marched            0.711065           0.288935
11  meandered            0.627186           0.372814
12    pranced            0.620955           0.379045
13      raced            0.700527           0.299473
14  staggered            0.606843           0.393157
15   strolled            0.619931           0.380069
16    trotted            0.610373           0.389627
17   wandered            0.621509           0.378491

In [150]:
np_results = np_results_fsubj.merge(np_results_msubj)
np_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,flew,0.417972,0.582028,0.678577,0.321423
1,walked,0.524966,0.475034,0.611000,0.389000
2,ran,0.501392,0.498608,0.540011,0.459989
3,swam,0.488257,0.511743,0.704918,0.295082
4,drove,0.530267,0.469733,0.626325,0.373675
5,jogged,0.463959,0.536041,0.663089,0.336911
6,bolted,0.451359,0.548641,0.734320,0.265680
7,crawled,0.560408,0.439592,0.689164,0.310836
8,limped,0.486170,0.513830,0.669432,0.330568
9,lumbered,0.472952,0.527048,0.655165,0.344835
10,marched,0.402435,0.597565,0.711065,0.288935
11,meandered,0.553177,0.446823,0.627186,0.372814
12,pranced,0.452206,0.547794,0.620955,0.379045
13,raced,0.562749,0.437251,0.700527,0.299473
14,staggered,0.508722,0.491278,0.606843,0.393157
15,strolled,0.496251,0.503749,0.619931,0.380069
16,trotted,0.427979,0.572021,0.610373,0.389627
17,wandered,0.498232,0.501768,0.621509,0.378491

In [151]:
print("P(subj_reference |subj=female)", compute_average(np_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(np_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.48885849138928783
P(obj_reference |subj=female) 0.5111415106285776

In [152]:
print("P(subj_reference |subj=male)", compute_average(np_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(np_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.6494660269193075
P(obj_reference |subj=male) 0.3505339768749696

## Connective: "because"

In [153]:
c1_average_subj_female_subj_pron = {}
c1_average_subj_female_obj_pron = {}
c1_average_subj_male_subj_pron = {}
c1_average_subj_male_obj_pron = {}

### verb: "flew"

In [154]:
motion_connective1_1 = pd.read_csv("../results/transfoxl/motion/connective1/1.csv")
motion_connective1_1.head()

                                stimulus        he       she
0   Miss Smith flew to Mr. Smith because  0.072972  0.927028
1      The woman flew to the man because  0.364666  0.635334
2              Mary flew to John because  0.080697  0.919303
3              Alice flew to Bob because  0.047785  0.952215
4  The actress flew to the actor because  0.222974  0.777026

In [155]:
# female subject
motion_connective1_1f = motion_connective1_1[0:12]
motion_connective1_1f = motion_connective1_1f[["stimulus","she","he"]]
# male subject
motion_connective1_1m = motion_connective1_1[12:24]

#### female subject

In [156]:
motion_connective1_1f

                                    stimulus       she        he
0       Miss Smith flew to Mr. Smith because  0.927028  0.072972
1          The woman flew to the man because  0.635334  0.364666
2                  Mary flew to John because  0.919303  0.080697
3                  Alice flew to Bob because  0.952215  0.047785
4      The actress flew to the actor because  0.777026  0.222974
5           The girl flew to the boy because  0.765824  0.234176
6   Mrs. Taylor flew to Mr. Williams because  0.583146  0.416854
7                 Emma flew to David because  0.976895  0.023105
8    The princess flew to the prince because  0.629602  0.370398
9               Sarah flew to Robert because  0.947607  0.052393
10  Mrs. Williams flew to Mr. Taylor because  0.613783  0.386217
11                Emily flew to Paul because  0.927423  0.072577

In [157]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_1f,'he'))

P('subj-pron'|subj=female) =  0.8045987486839294
P('non-subj-pron'|subj=female) =  0.19540125302349529

In [158]:
c1_average_subj_female_subj_pron['flew'] = compute_average(motion_connective1_1f,'she')
c1_average_subj_female_obj_pron['flew'] = compute_average(motion_connective1_1f,'he')

#### male subject

In [159]:
motion_connective1_1m

                                    stimulus        he       she
12      Mr. Smith flew to Miss Smith because  0.512203  0.487797
13         The man flew to the woman because  0.361184  0.638816
14                 John flew to Mary because  0.457618  0.542382
15                 Bob flew to Alice because  0.884480  0.115520
16     The actor flew to the actress because  0.114845  0.885155
17          The boy flew to the girl because  0.226781  0.773219
18   Mr. William flew to Mrs. Taylor because  0.334239  0.665761
19                David flew to Emma because  0.488226  0.511774
20   The prince flew to the princess because  0.387422  0.612578
21              Robert flew to Sarah because  0.520307  0.479693
22  Mr. Taylor flew to Mrs. Williams because  0.196343  0.803657
23                Paul flew to Emily because  0.527942  0.472058

In [160]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_1m,'she'))

P('subj-pron'|subj=male) =  0.4176325388252735
P('non-subj-pron'|subj=male) =  0.5823674742132425

In [161]:
c1_average_subj_male_subj_pron['flew'] = compute_average(motion_connective1_1m,'he')
c1_average_subj_male_obj_pron['flew'] = compute_average(motion_connective1_1m,'she')

### verb: "walked"

In [162]:
motion_connective1_2 = pd.read_csv("../results/transfoxl/motion/connective1/2.csv")
motion_connective1_2.head()

                                  stimulus        he       she
0   Miss Smith walked to Mr. Smith because  0.072118  0.927882
1      The woman walked to the man because  0.357116  0.642885
2              Mary walked to John because  0.086483  0.913517
3              Alice walked to Bob because  0.040943  0.959056
4  The actress walked to the actor because  0.157915  0.842085

In [163]:
# female subject
motion_connective1_2f = motion_connective1_2[0:12]
motion_connective1_2f = motion_connective1_2f[["stimulus","she","he"]]
# male subject
motion_connective1_2m = motion_connective1_2[12:24]

#### female subject

In [164]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_2f,'he'))

P('subj-pron'|subj=female) =  0.8229627807935079
P('non-subj-pron'|subj=female) =  0.17703724233433604

In [165]:
c1_average_subj_female_subj_pron['walked'] = compute_average(motion_connective1_2f,'she')
c1_average_subj_female_obj_pron['walked'] = compute_average(motion_connective1_2f,'he')

#### male subject

In [166]:
motion_connective1_2m

                                      stimulus        he       she
12      Mr. Smith walked to Miss Smith because  0.567691  0.432309
13         The man walked to the woman because  0.497973  0.502027
14                 John walked to Mary because  0.622767  0.377233
15                 Bob walked to Alice because  0.687837  0.312163
16     The actor walked to the actress because  0.138482  0.861517
17          The boy walked to the girl because  0.427671  0.572329
18   Mr. William walked to Mrs. Taylor because  0.345126  0.654874
19                David walked to Emma because  0.357152  0.642848
20   The prince walked to the princess because  0.483196  0.516804
21              Robert walked to Sarah because  0.406579  0.593421
22  Mr. Taylor walked to Mrs. Williams because  0.181889  0.818111
23                Paul walked to Emily because  0.416375  0.583625

In [167]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_2m,'she'))

P('subj-pron'|subj=male) =  0.4277281289299329
P('non-subj-pron'|subj=male) =  0.5722718760371208

In [168]:
c1_average_subj_male_subj_pron['walked'] = compute_average(motion_connective1_2m,'he')
c1_average_subj_male_obj_pron['walked'] = compute_average(motion_connective1_2m,'she')

### verb: "ran"

In [169]:
motion_connective1_3 = pd.read_csv("../results/transfoxl/motion/connective1/3.csv")
motion_connective1_3.head()

                               stimulus        he       she
0   Miss Smith ran to Mr. Smith because  0.064676  0.935324
1      The woman ran to the man because  0.382058  0.617942
2              Mary ran to John because  0.143053  0.856947
3              Alice ran to Bob because  0.041758  0.958242
4  The actress ran to the actor because  0.174855  0.825145

In [170]:
# female subject
motion_connective1_3f = motion_connective1_3[0:12]
motion_connective1_3f = motion_connective1_3f[["stimulus","she","he"]]
# male subject
motion_connective1_3m = motion_connective1_3[12:24]

#### female subject

In [171]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_3f,'he'))

P('subj-pron'|subj=female) =  0.8228766918182373
P('non-subj-pron'|subj=female) =  0.1771233088026444

In [172]:
c1_average_subj_female_subj_pron['ran'] = compute_average(motion_connective1_3f,'she')
c1_average_subj_female_obj_pron['ran'] = compute_average(motion_connective1_3f,'he')

#### male subject

In [173]:
motion_connective1_3m

                                   stimulus        he       she
12      Mr. Smith ran to Miss Smith because  0.488577  0.511423
13         The man ran to the woman because  0.491516  0.508484
14                 John ran to Mary because  0.639015  0.360985
15                 Bob ran to Alice because  0.475832  0.524168
16     The actor ran to the actress because  0.181974  0.818026
17          The boy ran to the girl because  0.445530  0.554470
18   Mr. William ran to Mrs. Taylor because  0.331510  0.668490
19                David ran to Emma because  0.370981  0.629019
20   The prince ran to the princess because  0.505834  0.494166
21              Robert ran to Sarah because  0.262935  0.737065
22  Mr. Taylor ran to Mrs. Williams because  0.134091  0.865909
23                Paul ran to Emily because  0.430578  0.569422

In [174]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_3m,'she'))

P('subj-pron'|subj=male) =  0.3965311286350091
P('non-subj-pron'|subj=male) =  0.6034688676397005

In [175]:
c1_average_subj_male_subj_pron['ran'] = compute_average(motion_connective1_3m,'he')
c1_average_subj_male_obj_pron['ran'] = compute_average(motion_connective1_3m,'she')

### verb: "swam"

In [176]:
motion_connective1_4 = pd.read_csv("../results/transfoxl/motion/connective1/4.csv")
motion_connective1_4.head()

                                stimulus        he       she
0   Miss Smith swam to Mr. Smith because  0.067223  0.932778
1      The woman swam to the man because  0.378967  0.621033
2              Mary swam to John because  0.062425  0.937575
3              Alice swam to Bob because  0.087824  0.912176
4  The actress swam to the actor because  0.217342  0.782658

In [177]:
# female subject
motion_connective1_4f = motion_connective1_4[0:12]
motion_connective1_4f = motion_connective1_4f[["stimulus","she","he"]]
# male subject
motion_connective1_4m = motion_connective1_4[12:24]

#### female subject

In [178]:
motion_connective1_4f

                                    stimulus       she        he
0       Miss Smith swam to Mr. Smith because  0.932778  0.067223
1          The woman swam to the man because  0.621033  0.378967
2                  Mary swam to John because  0.937575  0.062425
3                  Alice swam to Bob because  0.912176  0.087824
4      The actress swam to the actor because  0.782658  0.217342
5           The girl swam to the boy because  0.774596  0.225404
6   Mrs. Taylor swam to Mr. Williams because  0.610236  0.389764
7                 Emma swam to David because  0.962239  0.037761
8    The princess swam to the prince because  0.618043  0.381957
9               Sarah swam to Robert because  0.847776  0.152224
10  Mrs. Williams swam to Mr. Taylor because  0.627044  0.372956
11                Emily swam to Paul because  0.814877  0.185123

In [179]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_4f,'he'))

P('subj-pron'|subj=female) =  0.7867526710033417
P('non-subj-pron'|subj=female) =  0.2132473255818089

In [180]:
c1_average_subj_female_subj_pron['swam'] = compute_average(motion_connective1_4f,'she')
c1_average_subj_female_obj_pron['swam'] = compute_average(motion_connective1_4f,'he')

#### male subject

In [181]:
motion_connective1_4m

                                    stimulus        he       she
12      Mr. Smith swam to Miss Smith because  0.595347  0.404653
13         The man swam to the woman because  0.567950  0.432050
14                 John swam to Mary because  0.692425  0.307575
15                 Bob swam to Alice because  0.839377  0.160623
16     The actor swam to the actress because  0.220827  0.779173
17          The boy swam to the girl because  0.497897  0.502103
18   Mr. William swam to Mrs. Taylor because  0.435075  0.564925
19                David swam to Emma because  0.582331  0.417669
20   The prince swam to the princess because  0.598237  0.401763
21              Robert swam to Sarah because  0.524702  0.475298
22  Mr. Taylor swam to Mrs. Williams because  0.248470  0.751530
23                Paul swam to Emily because  0.594019  0.405981

In [182]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_4m,'she'))

P('subj-pron'|subj=male) =  0.5330547988414764
P('non-subj-pron'|subj=male) =  0.46694518998265266

In [183]:
c1_average_subj_male_subj_pron['swam'] = compute_average(motion_connective1_4m,'he')
c1_average_subj_male_obj_pron['swam'] = compute_average(motion_connective1_4m,'she')

### verb: "drove"

In [184]:
motion_connective1_5 = pd.read_csv("../results/transfoxl/motion/connective1/5.csv")
motion_connective1_5.head()

                                 stimulus        he       she
0   Miss Smith drove to Mr. Smith because  0.087168  0.912832
1      The woman drove to the man because  0.345383  0.654617
2              Mary drove to John because  0.154437  0.845563
3              Alice drove to Bob because  0.054535  0.945465
4  The actress drove to the actor because  0.156021  0.843979

In [185]:
# female subject
motion_connective1_5f = motion_connective1_5[0:12]
motion_connective1_5f = motion_connective1_5[["stimulus","she","he"]]
# male subject
motion_connective1_5m = motion_connective1_5[12:24]

#### female subject

In [186]:
motion_connective1_5f

                                     stimulus       she        he
0       Miss Smith drove to Mr. Smith because  0.912832  0.087168
1          The woman drove to the man because  0.654617  0.345383
2                  Mary drove to John because  0.845563  0.154437
3                  Alice drove to Bob because  0.945465  0.054535
4      The actress drove to the actor because  0.843979  0.156021
5           The girl drove to the boy because  0.764448  0.235552
6   Mrs. Taylor drove to Mr. Williams because  0.623006  0.376994
7                 Emma drove to David because  0.969569  0.030431
8    The princess drove to the prince because  0.646410  0.353590
9               Sarah drove to Robert because  0.912074  0.087926
10  Mrs. Williams drove to Mr. Taylor because  0.621094  0.378906
11                Emily drove to Paul because  0.833996  0.166004
12      Mr. Smith drove to Miss Smith because  0.539251  0.460749
13         The man drove to the woman because  0.577182  0.422818
14                 John drove to Mary because  0.468988  0.531012
15                 Bob drove to Alice because  0.296461  0.703539
16     The actor drove to the actress because  0.880292  0.119708
17          The boy drove to the girl because  0.623751  0.376249
18   Mr. William drove to Mrs. Taylor because  0.682559  0.317441
19                David drove to Emma because  0.574299  0.425701
20   The prince drove to the princess because  0.561570  0.438430
21              Robert drove to Sarah because  0.634212  0.365788
22  Mr. Taylor drove to Mrs. Williams because  0.823766  0.176234
23                Paul drove to Emily because  0.576675  0.423325

In [187]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_5f,'he'))

P('subj-pron'|subj=female) =  0.700502427915732
P('non-subj-pron'|subj=female) =  0.2994975774393727

In [188]:
c1_average_subj_female_subj_pron['drove'] = compute_average(motion_connective1_5f,'she')
c1_average_subj_female_obj_pron['drove'] = compute_average(motion_connective1_5f,'he')

#### male subject

In [189]:
motion_connective1_5m

                                     stimulus        he       she
12      Mr. Smith drove to Miss Smith because  0.460749  0.539251
13         The man drove to the woman because  0.422818  0.577182
14                 John drove to Mary because  0.531012  0.468988
15                 Bob drove to Alice because  0.703539  0.296461
16     The actor drove to the actress because  0.119708  0.880292
17          The boy drove to the girl because  0.376249  0.623751
18   Mr. William drove to Mrs. Taylor because  0.317441  0.682559
19                David drove to Emma because  0.425701  0.574299
20   The prince drove to the princess because  0.438430  0.561570
21              Robert drove to Sarah because  0.365788  0.634212
22  Mr. Taylor drove to Mrs. Williams because  0.176234  0.823766
23                Paul drove to Emily because  0.423325  0.576675

In [190]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_5m,'she'))

P('subj-pron'|subj=male) =  0.3967495032896598
P('non-subj-pron'|subj=male) =  0.6032505035400391

In [191]:
c1_average_subj_male_subj_pron['drove'] = compute_average(motion_connective1_5m,'he')
c1_average_subj_male_obj_pron['drove'] = compute_average(motion_connective1_5m,'she')

### verb: "jogged"

In [192]:
motion_connective1_6 = pd.read_csv("../results/transfoxl/motion/connective1/6.csv")
motion_connective1_6.head()

                                  stimulus        he       she
0   Miss Smith jogged to Mr. Smith because  0.063092  0.936908
1      The woman jogged to the man because  0.429963  0.570037
2              Mary jogged to John because  0.164067  0.835933
3              Alice jogged to Bob because  0.080606  0.919394
4  The actress jogged to the actor because  0.163285  0.836715

In [193]:
# female subject
motion_connective1_6f = motion_connective1_6[0:12]
motion_connective1_6f = motion_connective1_6[["stimulus","she","he"]]
# male subject
motion_connective1_6m = motion_connective1_6[12:24]

#### female subject

In [194]:
motion_connective1_6f

                                      stimulus       she        he
0       Miss Smith jogged to Mr. Smith because  0.936908  0.063092
1          The woman jogged to the man because  0.570037  0.429963
2                  Mary jogged to John because  0.835933  0.164067
3                  Alice jogged to Bob because  0.919394  0.080606
4      The actress jogged to the actor because  0.836715  0.163285
5           The girl jogged to the boy because  0.729182  0.270818
6   Mrs. Taylor jogged to Mr. Williams because  0.694698  0.305302
7                 Emma jogged to David because  0.939141  0.060859
8    The princess jogged to the prince because  0.606151  0.393849
9               Sarah jogged to Robert because  0.857412  0.142588
10  Mrs. Williams jogged to Mr. Taylor because  0.660848  0.339152
11                Emily jogged to Paul because  0.804687  0.195313
12      Mr. Smith jogged to Miss Smith because  0.512588  0.487412
13         The man jogged to the woman because  0.556038  0.443962
14                 John jogged to Mary because  0.508204  0.491797
15                 Bob jogged to Alice because  0.424443  0.575557
16     The actor jogged to the actress because  0.855068  0.144932
17          The boy jogged to the girl because  0.644660  0.355340
18   Mr. William jogged to Mrs. Taylor because  0.637456  0.362544
19                David jogged to Emma because  0.711699  0.288301
20   The prince jogged to the princess because  0.554493  0.445507
21              Robert jogged to Sarah because  0.684864  0.315136
22  Mr. Taylor jogged to Mrs. Williams because  0.799633  0.200367
23                Paul jogged to Emily because  0.630454  0.369546

In [195]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_6f,'he'))

P('subj-pron'|subj=female) =  0.7046127108236154
P('non-subj-pron'|subj=female) =  0.29538729321211576

In [196]:
c1_average_subj_female_subj_pron['jogged'] = compute_average(motion_connective1_6f,'she')
c1_average_subj_female_obj_pron['jogged'] = compute_average(motion_connective1_6f,'he')

#### male subject

In [197]:
motion_connective1_6m

                                      stimulus        he       she
12      Mr. Smith jogged to Miss Smith because  0.487412  0.512588
13         The man jogged to the woman because  0.443962  0.556038
14                 John jogged to Mary because  0.491797  0.508204
15                 Bob jogged to Alice because  0.575557  0.424443
16     The actor jogged to the actress because  0.144932  0.855068
17          The boy jogged to the girl because  0.355340  0.644660
18   Mr. William jogged to Mrs. Taylor because  0.362544  0.637456
19                David jogged to Emma because  0.288301  0.711699
20   The prince jogged to the princess because  0.445507  0.554493
21              Robert jogged to Sarah because  0.315136  0.684864
22  Mr. Taylor jogged to Mrs. Williams because  0.200367  0.799633
23                Paul jogged to Emily because  0.369546  0.630454

In [198]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_6m,'she'))

P('subj-pron'|subj=male) =  0.3733667793373267
P('non-subj-pron'|subj=male) =  0.6266332343220711

In [199]:
c1_average_subj_male_subj_pron['jogged'] = compute_average(motion_connective1_6m,'he')
c1_average_subj_male_obj_pron['jogged'] = compute_average(motion_connective1_6m,'she')

### verb: "bolted"

In [200]:
motion_connective1_7 = pd.read_csv("../results/transfoxl/motion/connective1/7.csv")
motion_connective1_7.head()

                                  stimulus        he       she
0   Miss Smith bolted to Mr. Smith because  0.062755  0.937245
1      The woman bolted to the man because  0.322638  0.677362
2              Mary bolted to John because  0.161472  0.838528
3              Alice bolted to Bob because  0.107082  0.892918
4  The actress bolted to the actor because  0.159020  0.840980

In [201]:
# female subject
motion_connective1_7f = motion_connective1_7[0:12]
motion_connective1_7f = motion_connective1_7f[["stimulus","she","he"]]
# male subject
motion_connective1_7m = motion_connective1_7[12:24]

#### female subject

In [202]:
motion_connective1_7f

                                      stimulus       she        he
0       Miss Smith bolted to Mr. Smith because  0.937245  0.062755
1          The woman bolted to the man because  0.677362  0.322638
2                  Mary bolted to John because  0.838528  0.161472
3                  Alice bolted to Bob because  0.892918  0.107082
4      The actress bolted to the actor because  0.840980  0.159020
5           The girl bolted to the boy because  0.802668  0.197332
6   Mrs. Taylor bolted to Mr. Williams because  0.699466  0.300534
7                 Emma bolted to David because  0.936075  0.063925
8    The princess bolted to the prince because  0.737925  0.262075
9               Sarah bolted to Robert because  0.877904  0.122096
10  Mrs. Williams bolted to Mr. Taylor because  0.699866  0.300134
11                Emily bolted to Paul because  0.884682  0.115318

In [203]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_7f,'he'))

P('subj-pron'|subj=female) =  0.8188016762336096
P('non-subj-pron'|subj=female) =  0.18119832935432592

In [204]:
c1_average_subj_female_subj_pron['bolted'] = compute_average(motion_connective1_7f,'she')
c1_average_subj_female_obj_pron['bolted'] = compute_average(motion_connective1_7f,'he')

#### male subject

In [205]:
motion_connective1_7m

                                      stimulus        he       she
12      Mr. Smith bolted to Miss Smith because  0.519862  0.480138
13         The man bolted to the woman because  0.538839  0.461161
14                 John bolted to Mary because  0.634320  0.365680
15                 Bob bolted to Alice because  0.535035  0.464965
16     The actor bolted to the actress because  0.258257  0.741743
17          The boy bolted to the girl because  0.539269  0.460731
18   Mr. William bolted to Mrs. Taylor because  0.488121  0.511879
19                David bolted to Emma because  0.524374  0.475626
20   The prince bolted to the princess because  0.443446  0.556553
21              Robert bolted to Sarah because  0.292427  0.707573
22  Mr. Taylor bolted to Mrs. Williams because  0.204585  0.795415
23                Paul bolted to Emily because  0.598456  0.401544

In [206]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_7m,'she'))

P('subj-pron'|subj=male) =  0.4647492244839668
P('non-subj-pron'|subj=male) =  0.5352507680654526

In [207]:
c1_average_subj_male_subj_pron['bolted'] = compute_average(motion_connective1_7m,'he')
c1_average_subj_male_obj_pron['bolted'] = compute_average(motion_connective1_7m,'she')

### verb: "crawled"

In [208]:
motion_connective1_8 = pd.read_csv("../results/transfoxl/motion/connective1/8.csv")
motion_connective1_8.head()

                                   stimulus        he       she
0   Miss Smith crawled to Mr. Smith because  0.067441  0.932559
1      The woman crawled to the man because  0.292327  0.707673
2              Mary crawled to John because  0.076496  0.923504
3              Alice crawled to Bob because  0.039562  0.960438
4  The actress crawled to the actor because  0.137655  0.862345

In [209]:
# female subject
motion_connective1_8f = motion_connective1_8[0:12]
motion_connective1_8f = motion_connective1_8f[["stimulus","she","he"]]
# male subject
motion_connective1_8m = motion_connective1_8[12:24]

In [210]:
motion_connective1_8f

                                       stimulus       she        he
0       Miss Smith crawled to Mr. Smith because  0.932559  0.067441
1          The woman crawled to the man because  0.707673  0.292327
2                  Mary crawled to John because  0.923504  0.076496
3                  Alice crawled to Bob because  0.960438  0.039562
4      The actress crawled to the actor because  0.862345  0.137655
5           The girl crawled to the boy because  0.841758  0.158242
6   Mrs. Taylor crawled to Mr. Williams because  0.675638  0.324362
7                 Emma crawled to David because  0.979542  0.020458
8    The princess crawled to the prince because  0.729677  0.270323
9               Sarah crawled to Robert because  0.941874  0.058126
10  Mrs. Williams crawled to Mr. Taylor because  0.671471  0.328529
11                Emily crawled to Paul because  0.927014  0.072986

In [211]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_8f,'he'))

P('subj-pron'|subj=female) =  0.8461243758598963
P('non-subj-pron'|subj=female) =  0.153875638730824

In [212]:
c1_average_subj_female_subj_pron['crawled'] = compute_average(motion_connective1_8f,'she')
c1_average_subj_female_obj_pron['crawled'] = compute_average(motion_connective1_8f,'he')

#### male subject

In [213]:
motion_connective1_8m

                                       stimulus        he       she
12      Mr. Smith crawled to Miss Smith because  0.624984  0.375016
13         The man crawled to the woman because  0.501593  0.498407
14                 John crawled to Mary because  0.693803  0.306197
15                 Bob crawled to Alice because  0.775965  0.224035
16     The actor crawled to the actress because  0.186147  0.813853
17          The boy crawled to the girl because  0.496908  0.503092
18   Mr. William crawled to Mrs. Taylor because  0.430638  0.569362
19                David crawled to Emma because  0.464234  0.535766
20   The prince crawled to the princess because  0.592776  0.407224
21              Robert crawled to Sarah because  0.528489  0.471511
22  Mr. Taylor crawled to Mrs. Williams because  0.223312  0.776688
23                Paul crawled to Emily because  0.513783  0.486217

In [214]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_8m,'she'))

P('subj-pron'|subj=male) =  0.5027192483345667
P('non-subj-pron'|subj=male) =  0.4972807355225086

In [215]:
c1_average_subj_male_subj_pron['crawled'] = compute_average(motion_connective1_8m,'he')
c1_average_subj_male_obj_pron['crawled'] = compute_average(motion_connective1_8m,'she')

### verb: "limped"

In [216]:
motion_connective1_9 = pd.read_csv("../results/transfoxl/motion/connective1/9.csv")
motion_connective1_9.head()

                                  stimulus        he       she
0   Miss Smith limped to Mr. Smith because  0.057421  0.942579
1      The woman limped to the man because  0.313118  0.686882
2              Mary limped to John because  0.057202  0.942798
3              Alice limped to Bob because  0.032353  0.967647
4  The actress limped to the actor because  0.144728  0.855272

In [217]:
# female subject
motion_connective1_9f = motion_connective1_9[0:12]
motion_connective1_9f = motion_connective1_9f[["stimulus","she","he"]]
# male subject
motion_connective1_9m = motion_connective1_9[12:24]

#### female subject

In [218]:
motion_connective1_9f

                                      stimulus       she        he
0       Miss Smith limped to Mr. Smith because  0.942579  0.057421
1          The woman limped to the man because  0.686882  0.313118
2                  Mary limped to John because  0.942798  0.057202
3                  Alice limped to Bob because  0.967647  0.032353
4      The actress limped to the actor because  0.855272  0.144728
5           The girl limped to the boy because  0.821563  0.178437
6   Mrs. Taylor limped to Mr. Williams because  0.659903  0.340097
7                 Emma limped to David because  0.976997  0.023003
8    The princess limped to the prince because  0.731210  0.268790
9               Sarah limped to Robert because  0.943671  0.056329
10  Mrs. Williams limped to Mr. Taylor because  0.690486  0.309514
11                Emily limped to Paul because  0.935080  0.064920

In [219]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_9f,'he'))

P('subj-pron'|subj=female) =  0.8461741109689077
P('non-subj-pron'|subj=female) =  0.1538258884102106

In [220]:
c1_average_subj_female_subj_pron['limped'] = compute_average(motion_connective1_9f,'she')
c1_average_subj_female_obj_pron['limped'] = compute_average(motion_connective1_9f,'he')

#### male subject

In [221]:
motion_connective1_9m

                                      stimulus        he       she
12      Mr. Smith limped to Miss Smith because  0.575139  0.424861
13         The man limped to the woman because  0.460080  0.539920
14                 John limped to Mary because  0.683079  0.316921
15                 Bob limped to Alice because  0.824948  0.175052
16     The actor limped to the actress because  0.146161  0.853839
17          The boy limped to the girl because  0.361496  0.638504
18   Mr. William limped to Mrs. Taylor because  0.393180  0.606820
19                David limped to Emma because  0.444739  0.555261
20   The prince limped to the princess because  0.492873  0.507127
21              Robert limped to Sarah because  0.534275  0.465725
22  Mr. Taylor limped to Mrs. Williams because  0.193719  0.806281
23                Paul limped to Emily because  0.526303  0.473697

In [222]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_9m,'she'))

P('subj-pron'|subj=male) =  0.4696660016973813
P('non-subj-pron'|subj=male) =  0.5303340020279089

In [223]:
c1_average_subj_male_subj_pron['limped'] = compute_average(motion_connective1_9m,'he')
c1_average_subj_male_obj_pron['limped'] = compute_average(motion_connective1_9m,'she')

### verb: "lumbered"

In [224]:
motion_connective1_10 = pd.read_csv("../results/transfoxl/motion/connective1/10.csv")
motion_connective1_10.head()

                                    stimulus        he       she
0   Miss Smith lumbered to Mr. Smith because  0.068178  0.931822
1      The woman lumbered to the man because  0.308616  0.691384
2              Mary lumbered to John because  0.117480  0.882520
3              Alice lumbered to Bob because  0.080712  0.919288
4  The actress lumbered to the actor because  0.121539  0.878461

In [225]:
# female subject
motion_connective1_10f = motion_connective1_10[0:12]
motion_connective1_10f = motion_connective1_10f[["stimulus","she","he"]]
# male subject
motion_connective1_10m = motion_connective1_10[12:24]

### female subject

In [226]:
motion_connective1_10f

                                        stimulus       she        he
0       Miss Smith lumbered to Mr. Smith because  0.931822  0.068178
1          The woman lumbered to the man because  0.691384  0.308616
2                  Mary lumbered to John because  0.882520  0.117480
3                  Alice lumbered to Bob because  0.919288  0.080712
4      The actress lumbered to the actor because  0.878461  0.121539
5           The girl lumbered to the boy because  0.800888  0.199112
6   Mrs. Taylor lumbered to Mr. Williams because  0.712847  0.287153
7                 Emma lumbered to David because  0.971465  0.028535
8    The princess lumbered to the prince because  0.742857  0.257143
9               Sarah lumbered to Robert because  0.907064  0.092936
10  Mrs. Williams lumbered to Mr. Taylor because  0.702572  0.297428
11                Emily lumbered to Paul because  0.879182  0.120818

In [227]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_10f,'he'))

P('subj-pron'|subj=female) =  0.8350291599829992
P('non-subj-pron'|subj=female) =  0.16497084156920513

In [228]:
c1_average_subj_female_subj_pron['lumbered'] = compute_average(motion_connective1_10f,'she')
c1_average_subj_female_obj_pron['lumbered'] = compute_average(motion_connective1_10f,'he')

#### male subject

In [229]:
motion_connective1_10m

                                        stimulus        he       she
12      Mr. Smith lumbered to Miss Smith because  0.603131  0.396869
13         The man lumbered to the woman because  0.489294  0.510706
14                 John lumbered to Mary because  0.641792  0.358208
15                 Bob lumbered to Alice because  0.683054  0.316946
16     The actor lumbered to the actress because  0.227294  0.772706
17          The boy lumbered to the girl because  0.477844  0.522156
18   Mr. William lumbered to Mrs. Taylor because  0.483298  0.516702
19                David lumbered to Emma because  0.442825  0.557175
20   The prince lumbered to the princess because  0.522402  0.477598
21              Robert lumbered to Sarah because  0.406057  0.593943
22  Mr. Taylor lumbered to Mrs. Williams because  0.273767  0.726233
23                Paul lumbered to Emily because  0.529811  0.470189

In [230]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_10m,'she'))

P('subj-pron'|subj=male) =  0.48171402265628177
P('non-subj-pron'|subj=male) =  0.5182859947284063

In [231]:
c1_average_subj_male_subj_pron['lumbered'] = compute_average(motion_connective1_10m,'he')
c1_average_subj_male_obj_pron['lumbered'] = compute_average(motion_connective1_10m,'she')

### verb: "marched"

In [232]:
motion_connective1_11 = pd.read_csv("../results/transfoxl/motion/connective1/11.csv")
motion_connective1_11.head()

                                   stimulus        he       she
0   Miss Smith marched to Mr. Smith because  0.085655  0.914345
1      The woman marched to the man because  0.425475  0.574525
2              Mary marched to John because  0.148909  0.851091
3              Alice marched to Bob because  0.150640  0.849360
4  The actress marched to the actor because  0.227714  0.772286

In [233]:
# female subject
motion_connective1_11f = motion_connective1_11[0:12]
motion_connective1_11f = motion_connective1_11f[["stimulus","she","he"]]
# male subject
motion_connective1_11m = motion_connective1_11[12:24]

#### female subject

In [234]:
motion_connective1_11f

                                       stimulus       she        he
0       Miss Smith marched to Mr. Smith because  0.914345  0.085655
1          The woman marched to the man because  0.574525  0.425475
2                  Mary marched to John because  0.851091  0.148909
3                  Alice marched to Bob because  0.849360  0.150640
4      The actress marched to the actor because  0.772286  0.227714
5           The girl marched to the boy because  0.743285  0.256716
6   Mrs. Taylor marched to Mr. Williams because  0.616647  0.383353
7                 Emma marched to David because  0.964890  0.035110
8    The princess marched to the prince because  0.635205  0.364795
9               Sarah marched to Robert because  0.817804  0.182196
10  Mrs. Williams marched to Mr. Taylor because  0.608218  0.391782
11                Emily marched to Paul because  0.793809  0.206191

In [235]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_11f,'he'))

P('subj-pron'|subj=female) =  0.7617886910835902
P('non-subj-pron'|subj=female) =  0.23821132009228072

In [236]:
c1_average_subj_female_subj_pron['marched'] = compute_average(motion_connective1_11f,'she')
c1_average_subj_female_obj_pron['marched'] = compute_average(motion_connective1_11f,'he')

#### male subject

In [237]:
motion_connective1_11m

                                       stimulus        he       she
12      Mr. Smith marched to Miss Smith because  0.505864  0.494136
13         The man marched to the woman because  0.437277  0.562723
14                 John marched to Mary because  0.451715  0.548285
15                 Bob marched to Alice because  0.780588  0.219412
16     The actor marched to the actress because  0.121403  0.878597
17          The boy marched to the girl because  0.421326  0.578674
18   Mr. William marched to Mrs. Taylor because  0.312146  0.687854
19                David marched to Emma because  0.412748  0.587252
20   The prince marched to the princess because  0.492345  0.507655
21              Robert marched to Sarah because  0.483985  0.516015
22  Mr. Taylor marched to Mrs. Williams because  0.193643  0.806357
23                Paul marched to Emily because  0.444190  0.555810

In [238]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_11m,'she'))

P('subj-pron'|subj=male) =  0.42143589630723
P('non-subj-pron'|subj=male) =  0.5785641322533289

In [239]:
c1_average_subj_male_subj_pron['marched'] = compute_average(motion_connective1_11m,'he')
c1_average_subj_male_obj_pron['marched'] = compute_average(motion_connective1_11m,'she')

### verb: "meandered"

In [240]:
motion_connective1_12 = pd.read_csv("../results/transfoxl/motion/connective1/12.csv")
motion_connective1_12.head()

                                     stimulus        he       she
0   Miss Smith meandered to Mr. Smith because  0.057368  0.942632
1      The woman meandered to the man because  0.314149  0.685851
2              Mary meandered to John because  0.108527  0.891473
3              Alice meandered to Bob because  0.034705  0.965295
4  The actress meandered to the actor because  0.118809  0.881191

In [241]:
# female subject
motion_connective1_12f = motion_connective1_12[0:12]
motion_connective1_12f = motion_connective1_12f[["stimulus","she","he"]]
# male subject
motion_connective1_12m = motion_connective1_12[12:24]

#### female subject

In [242]:
motion_connective1_12f

                                         stimulus       she        he
0       Miss Smith meandered to Mr. Smith because  0.942632  0.057368
1          The woman meandered to the man because  0.685851  0.314149
2                  Mary meandered to John because  0.891473  0.108527
3                  Alice meandered to Bob because  0.965295  0.034705
4      The actress meandered to the actor because  0.881191  0.118809
5           The girl meandered to the boy because  0.823555  0.176445
6   Mrs. Taylor meandered to Mr. Williams because  0.752824  0.247176
7                 Emma meandered to David because  0.957340  0.042661
8    The princess meandered to the prince because  0.652805  0.347195
9               Sarah meandered to Robert because  0.939814  0.060186
10  Mrs. Williams meandered to Mr. Taylor because  0.807166  0.192834
11                Emily meandered to Paul because  0.862321  0.137679

In [243]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_12f,'he'))

P('subj-pron'|subj=female) =  0.8468555361032486
P('non-subj-pron'|subj=female) =  0.15314446203410625

In [244]:
c1_average_subj_female_subj_pron['meandered'] = compute_average(motion_connective1_12f,'she')
c1_average_subj_female_obj_pron['meandered'] = compute_average(motion_connective1_12f,'he')

#### male subject

In [245]:
motion_connective1_12m

                                         stimulus        he       she
12      Mr. Smith meandered to Miss Smith because  0.465447  0.534553
13         The man meandered to the woman because  0.470560  0.529440
14                 John meandered to Mary because  0.560755  0.439245
15                 Bob meandered to Alice because  0.554513  0.445487
16     The actor meandered to the actress because  0.193472  0.806528
17          The boy meandered to the girl because  0.388506  0.611494
18   Mr. William meandered to Mrs. Taylor because  0.445753  0.554247
19                David meandered to Emma because  0.282940  0.717061
20   The prince meandered to the princess because  0.525890  0.474110
21              Robert meandered to Sarah because  0.311632  0.688368
22  Mr. Taylor meandered to Mrs. Williams because  0.179862  0.820138
23                Paul meandered to Emily because  0.413302  0.586698

In [246]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_12m,'she'))

P('subj-pron'|subj=male) =  0.3993859713276227
P('non-subj-pron'|subj=male) =  0.6006140286723772

In [247]:
c1_average_subj_male_subj_pron['meandered'] = compute_average(motion_connective1_12m,'he')
c1_average_subj_male_obj_pron['meandered'] = compute_average(motion_connective1_12m,'she')

### verb: "pranced"

In [248]:
motion_connective1_13 = pd.read_csv("../results/transfoxl/motion/connective1/13.csv")
motion_connective1_13.head()

                                   stimulus        he       she
0   Miss Smith pranced to Mr. Smith because  0.120725  0.879275
1      The woman pranced to the man because  0.377665  0.622335
2              Mary pranced to John because  0.269491  0.730509
3              Alice pranced to Bob because  0.131847  0.868153
4  The actress pranced to the actor because  0.267401  0.732599

In [249]:
# female subject
motion_connective1_13f = motion_connective1_13[0:12]
motion_connective1_13f = motion_connective1_13f[["stimulus","she","he"]]
# male subject
motion_connective1_13m = motion_connective1_13[12:24]

#### female subject

In [250]:
motion_connective1_13f

                                       stimulus       she        he
0       Miss Smith pranced to Mr. Smith because  0.879275  0.120725
1          The woman pranced to the man because  0.622335  0.377665
2                  Mary pranced to John because  0.730509  0.269491
3                  Alice pranced to Bob because  0.868153  0.131847
4      The actress pranced to the actor because  0.732599  0.267401
5           The girl pranced to the boy because  0.761496  0.238504
6   Mrs. Taylor pranced to Mr. Williams because  0.633408  0.366592
7                 Emma pranced to David because  0.853390  0.146610
8    The princess pranced to the prince because  0.625551  0.374449
9               Sarah pranced to Robert because  0.843277  0.156724
10  Mrs. Williams pranced to Mr. Taylor because  0.605488  0.394512
11                Emily pranced to Paul because  0.771811  0.228189

In [251]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_13f,'he'))

P('subj-pron'|subj=female) =  0.7439410040775934
P('non-subj-pron'|subj=female) =  0.2560589959224065

In [252]:
c1_average_subj_female_subj_pron['pranced'] = compute_average(motion_connective1_13f,'she')
c1_average_subj_female_obj_pron['pranced'] = compute_average(motion_connective1_13f,'he')

#### male subject

In [253]:
motion_connective1_13m

                                       stimulus        he       she
12      Mr. Smith pranced to Miss Smith because  0.510109  0.489891
13         The man pranced to the woman because  0.512587  0.487412
14                 John pranced to Mary because  0.595110  0.404890
15                 Bob pranced to Alice because  0.448126  0.551874
16     The actor pranced to the actress because  0.209542  0.790458
17          The boy pranced to the girl because  0.545658  0.454342
18   Mr. William pranced to Mrs. Taylor because  0.437107  0.562893
19                David pranced to Emma because  0.404874  0.595126
20   The prince pranced to the princess because  0.544474  0.455526
21              Robert pranced to Sarah because  0.338902  0.661098
22  Mr. Taylor pranced to Mrs. Williams because  0.230451  0.769549
23                Paul pranced to Emily because  0.472004  0.527996

In [254]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_13m,'she'))

P('subj-pron'|subj=male) =  0.43741213033596676
P('non-subj-pron'|subj=male) =  0.5625878696640333

In [255]:
c1_average_subj_male_subj_pron['pranced'] = compute_average(motion_connective1_13m,'he')
c1_average_subj_male_obj_pron['pranced'] = compute_average(motion_connective1_13m,'she')

### verb: "raced"

In [256]:
motion_connective1_14 = pd.read_csv("../results/transfoxl/motion/connective1/14.csv")
motion_connective1_14.head()

                                 stimulus        he       she
0   Miss Smith raced to Mr. Smith because  0.063134  0.936866
1      The woman raced to the man because  0.369514  0.630486
2              Mary raced to John because  0.137419  0.862581
3              Alice raced to Bob because  0.042612  0.957388
4  The actress raced to the actor because  0.132861  0.867139

In [257]:
# female subject
motion_connective1_14f = motion_connective1_14[0:12]
motion_connective1_14f = motion_connective1_14f[["stimulus","she","he"]]
# male subject
motion_connective1_14m = motion_connective1_14[12:24]

#### female subject

In [258]:
motion_connective1_14f

                                     stimulus       she        he
0       Miss Smith raced to Mr. Smith because  0.936866  0.063134
1          The woman raced to the man because  0.630486  0.369514
2                  Mary raced to John because  0.862581  0.137419
3                  Alice raced to Bob because  0.957388  0.042612
4      The actress raced to the actor because  0.867139  0.132861
5           The girl raced to the boy because  0.795458  0.204542
6   Mrs. Taylor raced to Mr. Williams because  0.653443  0.346557
7                 Emma raced to David because  0.964444  0.035556
8    The princess raced to the prince because  0.656080  0.343920
9               Sarah raced to Robert because  0.924248  0.075752
10  Mrs. Williams raced to Mr. Taylor because  0.644836  0.355164
11                Emily raced to Paul because  0.863369  0.136631

In [259]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_14f,'he'))

P('subj-pron'|subj=female) =  0.8130282461643219
P('non-subj-pron'|subj=female) =  0.18697175849229097

In [260]:
c1_average_subj_female_subj_pron['raced'] = compute_average(motion_connective1_14f,'she')
c1_average_subj_female_obj_pron['raced'] = compute_average(motion_connective1_14f,'he')

#### male subject

In [261]:
motion_connective1_14m

                                     stimulus        he       she
12      Mr. Smith raced to Miss Smith because  0.531861  0.468139
13         The man raced to the woman because  0.464519  0.535481
14                 John raced to Mary because  0.614181  0.385819
15                 Bob raced to Alice because  0.759080  0.240920
16     The actor raced to the actress because  0.159981  0.840019
17          The boy raced to the girl because  0.477062  0.522938
18   Mr. William raced to Mrs. Taylor because  0.346027  0.653973
19                David raced to Emma because  0.519459  0.480541
20   The prince raced to the princess because  0.542475  0.457525
21              Robert raced to Sarah because  0.506584  0.493416
22  Mr. Taylor raced to Mrs. Williams because  0.186508  0.813492
23                Paul raced to Emily because  0.504584  0.495416

In [262]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_14m,'she'))

P('subj-pron'|subj=male) =  0.46769342944025993
P('non-subj-pron'|subj=male) =  0.5323065891861916

In [263]:
c1_average_subj_male_subj_pron['raced'] = compute_average(motion_connective1_14m,'he')
c1_average_subj_male_obj_pron['raced'] = compute_average(motion_connective1_14m,'she')

### verb: "staggered"

In [264]:
motion_connective1_15 = pd.read_csv("../results/transfoxl/motion/connective1/15.csv")
motion_connective1_15.head()

                                     stimulus        he       she
0   Miss Smith staggered to Mr. Smith because  0.060452  0.939548
1      The woman staggered to the man because  0.400258  0.599742
2              Mary staggered to John because  0.150908  0.849092
3              Alice staggered to Bob because  0.065728  0.934272
4  The actress staggered to the actor because  0.207457  0.792543

In [265]:
# female subject
motion_connective1_15f = motion_connective1_15[0:12]
motion_connective1_15f = motion_connective1_15f[["stimulus","she","he"]]
# male subject
motion_connective1_15m = motion_connective1_15[12:24]

In [266]:
motion_connective1_15f

                                         stimulus       she        he
0       Miss Smith staggered to Mr. Smith because  0.939548  0.060452
1          The woman staggered to the man because  0.599742  0.400258
2                  Mary staggered to John because  0.849092  0.150908
3                  Alice staggered to Bob because  0.934272  0.065728
4      The actress staggered to the actor because  0.792543  0.207457
5           The girl staggered to the boy because  0.767293  0.232707
6   Mrs. Taylor staggered to Mr. Williams because  0.694861  0.305139
7                 Emma staggered to David because  0.970554  0.029446
8    The princess staggered to the prince because  0.693711  0.306289
9               Sarah staggered to Robert because  0.921946  0.078054
10  Mrs. Williams staggered to Mr. Taylor because  0.657056  0.342944
11                Emily staggered to Paul because  0.895782  0.104218

In [267]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_15f,'he'))

P('subj-pron'|subj=female) =  0.8097001214822134
P('non-subj-pron'|subj=female) =  0.19029987215374908

In [268]:
c1_average_subj_female_subj_pron['staggered'] = compute_average(motion_connective1_15f,'she')
c1_average_subj_female_obj_pron['staggered'] = compute_average(motion_connective1_15f,'he')

#### male subject

In [269]:
motion_connective1_15m

                                         stimulus        he       she
12      Mr. Smith staggered to Miss Smith because  0.543321  0.456679
13         The man staggered to the woman because  0.495353  0.504647
14                 John staggered to Mary because  0.636085  0.363915
15                 Bob staggered to Alice because  0.679531  0.320469
16     The actor staggered to the actress because  0.140595  0.859405
17          The boy staggered to the girl because  0.447755  0.552245
18   Mr. William staggered to Mrs. Taylor because  0.370502  0.629498
19                David staggered to Emma because  0.412733  0.587267
20   The prince staggered to the princess because  0.477197  0.522803
21              Robert staggered to Sarah because  0.322544  0.677456
22  Mr. Taylor staggered to Mrs. Williams because  0.184021  0.815979
23                Paul staggered to Emily because  0.523015  0.476985

In [270]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_15m,'she'))

P('subj-pron'|subj=male) =  0.4360542297363281
P('non-subj-pron'|subj=male) =  0.5639457578460375

In [271]:
c1_average_subj_male_subj_pron['staggered'] = compute_average(motion_connective1_15m,'he')
c1_average_subj_male_obj_pron['staggered'] = compute_average(motion_connective1_15m,'she')

### verb: "strolled"

In [272]:
motion_connective1_16 = pd.read_csv("../results/transfoxl/motion/connective1/16.csv")
motion_connective1_16.head()

                                    stimulus        he       she
0   Miss Smith strolled to Mr. Smith because  0.078504  0.921496
1      The woman strolled to the man because  0.473086  0.526914
2              Mary strolled to John because  0.191893  0.808107
3              Alice strolled to Bob because  0.124478  0.875522
4  The actress strolled to the actor because  0.240710  0.759290

In [273]:
# female subject
motion_connective1_16f = motion_connective1_16[0:12]
motion_connective1_16f = motion_connective1_16f[["stimulus","she","he"]]
# male subject
motion_connective1_16m = motion_connective1_16[12:24]

#### female subject

In [274]:
motion_connective1_16f

                                        stimulus       she        he
0       Miss Smith strolled to Mr. Smith because  0.921496  0.078504
1          The woman strolled to the man because  0.526914  0.473086
2                  Mary strolled to John because  0.808107  0.191893
3                  Alice strolled to Bob because  0.875522  0.124478
4      The actress strolled to the actor because  0.759290  0.240710
5           The girl strolled to the boy because  0.674492  0.325508
6   Mrs. Taylor strolled to Mr. Williams because  0.615841  0.384159
7                 Emma strolled to David because  0.936500  0.063500
8    The princess strolled to the prince because  0.574022  0.425978
9               Sarah strolled to Robert because  0.813465  0.186535
10  Mrs. Williams strolled to Mr. Taylor because  0.590845  0.409155
11                Emily strolled to Paul because  0.783131  0.216869

In [275]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_16f,'he'))

P('subj-pron'|subj=female) =  0.7399687568346659
P('non-subj-pron'|subj=female) =  0.2600312413026889

In [276]:
c1_average_subj_female_subj_pron['strolled'] = compute_average(motion_connective1_16f,'she')
c1_average_subj_female_obj_pron['strolled'] = compute_average(motion_connective1_16f,'he')

#### male subject

In [277]:
motion_connective1_16m

                                        stimulus        he       she
12      Mr. Smith strolled to Miss Smith because  0.565922  0.434078
13         The man strolled to the woman because  0.469896  0.530104
14                 John strolled to Mary because  0.554776  0.445224
15                 Bob strolled to Alice because  0.611315  0.388685
16     The actor strolled to the actress because  0.135730  0.864270
17          The boy strolled to the girl because  0.431392  0.568608
18   Mr. William strolled to Mrs. Taylor because  0.343848  0.656152
19                David strolled to Emma because  0.368115  0.631885
20   The prince strolled to the princess because  0.494214  0.505786
21              Robert strolled to Sarah because  0.345216  0.654783
22  Mr. Taylor strolled to Mrs. Williams because  0.206180  0.793820
23                Paul strolled to Emily because  0.439635  0.560364

In [278]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_16m,'she'))

P('subj-pron'|subj=male) =  0.4138532914221287
P('non-subj-pron'|subj=male) =  0.586146704852581

In [279]:
c1_average_subj_male_subj_pron['strolled'] = compute_average(motion_connective1_16m,'he')
c1_average_subj_male_obj_pron['strolled'] = compute_average(motion_connective1_16m,'she')

#### verb: "trotted"

In [280]:
motion_connective1_17 = pd.read_csv("../results/transfoxl/motion/connective1/17.csv")
motion_connective1_17.head()

                                   stimulus        he       she
0   Miss Smith trotted to Mr. Smith because  0.075268  0.924732
1      The woman trotted to the man because  0.426067  0.573933
2              Mary trotted to John because  0.177538  0.822462
3              Alice trotted to Bob because  0.098095  0.901905
4  The actress trotted to the actor because  0.181436  0.818564

In [281]:
# female subject
motion_connective1_17f = motion_connective1_17[0:12]
motion_connective1_17f = motion_connective1_17f[["stimulus","she","he"]]
# male subject
motion_connective1_17m = motion_connective1_17[12:24]

#### female subject

In [282]:
motion_connective1_17f

                                       stimulus       she        he
0       Miss Smith trotted to Mr. Smith because  0.924732  0.075268
1          The woman trotted to the man because  0.573933  0.426067
2                  Mary trotted to John because  0.822462  0.177538
3                  Alice trotted to Bob because  0.901905  0.098095
4      The actress trotted to the actor because  0.818564  0.181436
5           The girl trotted to the boy because  0.764688  0.235312
6   Mrs. Taylor trotted to Mr. Williams because  0.652096  0.347904
7                 Emma trotted to David because  0.954931  0.045069
8    The princess trotted to the prince because  0.665137  0.334863
9               Sarah trotted to Robert because  0.856600  0.143400
10  Mrs. Williams trotted to Mr. Taylor because  0.631500  0.368500
11                Emily trotted to Paul because  0.783836  0.216164

In [283]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_17f,'he'))

P('subj-pron'|subj=female) =  0.7791986664136251
P('non-subj-pron'|subj=female) =  0.22080133917431036

In [284]:
c1_average_subj_female_subj_pron['trotted'] = compute_average(motion_connective1_17f,'she')
c1_average_subj_female_obj_pron['trotted'] = compute_average(motion_connective1_17f,'he')

#### male subject

In [285]:
motion_connective1_17m

                                       stimulus        he       she
12      Mr. Smith trotted to Miss Smith because  0.501733  0.498267
13         The man trotted to the woman because  0.473861  0.526139
14                 John trotted to Mary because  0.491843  0.508157
15                 Bob trotted to Alice because  0.541905  0.458095
16     The actor trotted to the actress because  0.129066  0.870934
17          The boy trotted to the girl because  0.426417  0.573583
18   Mr. William trotted to Mrs. Taylor because  0.320047  0.679953
19                David trotted to Emma because  0.252274  0.747726
20   The prince trotted to the princess because  0.482567  0.517433
21              Robert trotted to Sarah because  0.228718  0.771282
22  Mr. Taylor trotted to Mrs. Williams because  0.187101  0.812899
23                Paul trotted to Emily because  0.356001  0.643999

In [286]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_17m,'she'))

P('subj-pron'|subj=male) =  0.36596109842260677
P('non-subj-pron'|subj=male) =  0.6340389177203178

In [287]:
c1_average_subj_male_subj_pron['trotted'] = compute_average(motion_connective1_17m,'he')
c1_average_subj_male_obj_pron['trotted'] = compute_average(motion_connective1_17m,'she')

### verb: "wandered"

In [288]:
motion_connective1_18 = pd.read_csv("../results/transfoxl/motion/connective1/18.csv")
motion_connective1_18.head()

                                    stimulus        he       she
0   Miss Smith wandered to Mr. Smith because  0.051238  0.948762
1      The woman wandered to the man because  0.395872  0.604128
2              Mary wandered to John because  0.065467  0.934533
3              Alice wandered to Bob because  0.056320  0.943680
4  The actress wandered to the actor because  0.137773  0.862227

In [289]:
# female subject
motion_connective1_18f = motion_connective1_18[0:12]
motion_connective1_18f = motion_connective1_18f[["stimulus","she","he"]]
# male subject
motion_connective1_18m = motion_connective1_18[12:24]

#### female subject

In [290]:
motion_connective1_18f

                                        stimulus       she        he
0       Miss Smith wandered to Mr. Smith because  0.948762  0.051238
1          The woman wandered to the man because  0.604128  0.395872
2                  Mary wandered to John because  0.934533  0.065467
3                  Alice wandered to Bob because  0.943680  0.056320
4      The actress wandered to the actor because  0.862227  0.137773
5           The girl wandered to the boy because  0.788969  0.211032
6   Mrs. Taylor wandered to Mr. Williams because  0.657723  0.342277
7                 Emma wandered to David because  0.972893  0.027107
8    The princess wandered to the prince because  0.635462  0.364538
9               Sarah wandered to Robert because  0.909482  0.090518
10  Mrs. Williams wandered to Mr. Taylor because  0.682668  0.317332
11                Emily wandered to Paul because  0.889014  0.110986

In [291]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_18f,'he'))

P('subj-pron'|subj=female) =  0.8191282202800115
P('non-subj-pron'|subj=female) =  0.1808717818930745

In [292]:
c1_average_subj_female_subj_pron['wandered'] = compute_average(motion_connective1_18f,'she')
c1_average_subj_female_obj_pron['wandered'] = compute_average(motion_connective1_18f,'he')

#### male subject

In [293]:
motion_connective1_18m

                                        stimulus        he       she
12      Mr. Smith wandered to Miss Smith because  0.557470  0.442530
13         The man wandered to the woman because  0.398014  0.601986
14                 John wandered to Mary because  0.517344  0.482656
15                 Bob wandered to Alice because  0.679237  0.320763
16     The actor wandered to the actress because  0.117227  0.882773
17          The boy wandered to the girl because  0.317292  0.682708
18   Mr. William wandered to Mrs. Taylor because  0.352873  0.647127
19                David wandered to Emma because  0.322305  0.677695
20   The prince wandered to the princess because  0.456936  0.543064
21              Robert wandered to Sarah because  0.376458  0.623542
22  Mr. Taylor wandered to Mrs. Williams because  0.185587  0.814413
23                Paul wandered to Emily because  0.377310  0.622690

In [294]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_18m,'she'))

P('subj-pron'|subj=male) =  0.3881710122028987
P('non-subj-pron'|subj=male) =  0.6118289977312088

In [295]:
c1_average_subj_male_subj_pron['wandered'] = compute_average(motion_connective1_18m,'he')
c1_average_subj_male_obj_pron['wandered'] = compute_average(motion_connective1_18m,'she')

## Summary of Results

In [296]:
c1_results_fsubj_subjpron = pd.DataFrame(list(c1_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c1_results_fsubj_objpron = pd.DataFrame(list(c1_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c1_results_fsubj = c1_results_fsubj_subjpron.merge(c1_results_fsubj_objpron)
c1_results_fsubj

         verb  subj_ref_female_subj  obj_ref_female_subj
0        flew              0.804599             0.195401
1      walked              0.822963             0.177037
2         ran              0.822877             0.177123
3        swam              0.786753             0.213247
4       drove              0.700502             0.299498
5      jogged              0.704613             0.295387
6      bolted              0.818802             0.181198
7     crawled              0.846124             0.153876
8      limped              0.846174             0.153826
9    lumbered              0.835029             0.164971
10    marched              0.761789             0.238211
11  meandered              0.846856             0.153144
12    pranced              0.743941             0.256059
13      raced              0.813028             0.186972
14  staggered              0.809700             0.190300
15   strolled              0.739969             0.260031
16    trotted              0.779199             0.220801
17   wandered              0.819128             0.180872

In [297]:
c1_results_msubj_subjpron = pd.DataFrame(list(c1_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c1_results_msubj_objpron = pd.DataFrame(list(c1_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c1_results_msubj = c1_results_msubj_subjpron.merge(c1_results_msubj_objpron)
c1_results_msubj

         verb  subj_ref_male_subj  obj_ref_male_subj
0        flew            0.417633           0.582367
1      walked            0.427728           0.572272
2         ran            0.396531           0.603469
3        swam            0.533055           0.466945
4       drove            0.396750           0.603251
5      jogged            0.373367           0.626633
6      bolted            0.464749           0.535251
7     crawled            0.502719           0.497281
8      limped            0.469666           0.530334
9    lumbered            0.481714           0.518286
10    marched            0.421436           0.578564
11  meandered            0.399386           0.600614
12    pranced            0.437412           0.562588
13      raced            0.467693           0.532307
14  staggered            0.436054           0.563946
15   strolled            0.413853           0.586147
16    trotted            0.365961           0.634039
17   wandered            0.388171           0.611829

In [298]:
c1_results = c1_results_fsubj.merge(c1_results_msubj)
c1_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,flew,0.804599,0.195401,0.417633,0.582367
1,walked,0.822963,0.177037,0.427728,0.572272
2,ran,0.822877,0.177123,0.396531,0.603469
3,swam,0.786753,0.213247,0.533055,0.466945
4,drove,0.700502,0.299498,0.396750,0.603251
5,jogged,0.704613,0.295387,0.373367,0.626633
6,bolted,0.818802,0.181198,0.464749,0.535251
7,crawled,0.846124,0.153876,0.502719,0.497281
8,limped,0.846174,0.153826,0.469666,0.530334
9,lumbered,0.835029,0.164971,0.481714,0.518286
10,marched,0.761789,0.238211,0.421436,0.578564
11,meandered,0.846856,0.153144,0.399386,0.600614
12,pranced,0.743941,0.256059,0.437412,0.562588
13,raced,0.813028,0.186972,0.467693,0.532307
14,staggered,0.809700,0.190300,0.436054,0.563946
15,strolled,0.739969,0.260031,0.413853,0.586147
16,trotted,0.779199,0.220801,0.365961,0.634039
17,wandered,0.819128,0.180872,0.388171,0.611829

In [299]:
print("P(subj_reference |subj=female)", compute_average(c1_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c1_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.7945580331401693
P(obj_reference |subj=female) 0.2054419705290692

In [300]:
print("P(subj_reference |subj=male)", compute_average(c1_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c1_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.43299324634588426
P(obj_reference |subj=male) 0.5670067580002878

## Connective: "and, as a result"

In [301]:
c2_average_subj_female_subj_pron = {}
c2_average_subj_female_obj_pron = {}
c2_average_subj_male_subj_pron = {}
c2_average_subj_male_obj_pron = {}

### verb: "flew"

In [302]:
motion_connective2_1 = pd.read_csv("../results/transfoxl/motion/connective2/1.csv")
motion_connective2_1.head()

                                          stimulus        he       she
0   Miss Smith flew to Mr. Smith and, as a result,  0.280156  0.719844
1      The woman flew to the man and, as a result,  0.572794  0.427206
2              Mary flew to John and, as a result,  0.409119  0.590881
3              Alice flew to Bob and, as a result,  0.593004  0.406996
4  The actress flew to the actor and, as a result,  0.656443  0.343557

In [303]:
# female subject
motion_connective2_1f = motion_connective2_1[0:12]
motion_connective2_1f = motion_connective2_1f[["stimulus","she","he"]]
# male subject
motion_connective2_1m = motion_connective2_1[12:24]

#### female subject

In [304]:
motion_connective2_1f

                                             stimulus       she        he
0      Miss Smith flew to Mr. Smith and, as a result,  0.719844  0.280156
1         The woman flew to the man and, as a result,  0.427206  0.572794
2                 Mary flew to John and, as a result,  0.590881  0.409119
3                 Alice flew to Bob and, as a result,  0.406996  0.593004
4     The actress flew to the actor and, as a result,  0.343557  0.656443
5          The girl flew to the boy and, as a result,  0.354411  0.645589
6   Mrs. Taylor flew to Mr. Williams and, as a res...  0.525268  0.474732
7                Emma flew to David and, as a result,  0.631145  0.368855
8   The princess flew to the prince and, as a result,  0.613404  0.386596
9              Sarah flew to Robert and, as a result,  0.425860  0.574140
10  Mrs. Williams flew to Mr. Taylor and, as a res...  0.521020  0.478980
11               Emily flew to Paul and, as a result,  0.571660  0.428340

In [305]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_1f,'he'))

P('subj-pron'|subj=female) =  0.5109377304712931
P('non-subj-pron'|subj=female) =  0.48906226456165314

In [306]:
c2_average_subj_female_subj_pron['flew'] = compute_average(motion_connective2_1f,'she')
c2_average_subj_female_obj_pron['flew'] = compute_average(motion_connective2_1f,'he')

#### male subject

In [307]:
motion_connective2_1m

                                             stimulus        he       she
12     Mr. Smith flew to Miss Smith and, as a result,  0.555892  0.444108
13        The man flew to the woman and, as a result,  0.704931  0.295069
14                John flew to Mary and, as a result,  0.409214  0.590786
15                Bob flew to Alice and, as a result,  0.921213  0.078787
16    The actor flew to the actress and, as a result,  0.801836  0.198164
17         The boy flew to the girl and, as a result,  0.900262  0.099738
18  Mr. William flew to Mrs. Taylor and, as a result,  0.434785  0.565215
19               David flew to Emma and, as a result,  0.599851  0.400149
20  The prince flew to the princess and, as a result,  0.688104  0.311896
21             Robert flew to Sarah and, as a result,  0.813802  0.186198
22  Mr. Taylor flew to Mrs. Williams and, as a res...  0.365911  0.634089
23               Paul flew to Emily and, as a result,  0.651846  0.348154

In [308]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_1m,'she'))

P('subj-pron'|subj=male) =  0.6539705221851667
P('non-subj-pron'|subj=male) =  0.3460294809192419

In [309]:
c2_average_subj_male_subj_pron['flew'] = compute_average(motion_connective2_1m,'he')
c2_average_subj_male_obj_pron['flew'] = compute_average(motion_connective2_1m,'she')

### verb: "walked"

In [310]:
motion_connective2_2 = pd.read_csv("../results/transfoxl/motion/connective2/2.csv")
motion_connective2_2.head()

                                            stimulus        he       she
0   Miss Smith walked to Mr. Smith and, as a result,  0.228663  0.771337
1      The woman walked to the man and, as a result,  0.542243  0.457757
2              Mary walked to John and, as a result,  0.308960  0.691040
3              Alice walked to Bob and, as a result,  0.416278  0.583722
4  The actress walked to the actor and, as a result,  0.528391  0.471609

In [311]:
# female subject
motion_connective2_2f = motion_connective2_2[0:12]
motion_connective2_2f = motion_connective2_2f[["stimulus","she","he"]]
# male subject
motion_connective2_2m = motion_connective2_2[12:24]

#### female subject

In [312]:
motion_connective2_2f

                                             stimulus       she        he
0    Miss Smith walked to Mr. Smith and, as a result,  0.771337  0.228663
1       The woman walked to the man and, as a result,  0.457757  0.542243
2               Mary walked to John and, as a result,  0.691040  0.308960
3               Alice walked to Bob and, as a result,  0.583722  0.416278
4   The actress walked to the actor and, as a result,  0.471609  0.528391
5        The girl walked to the boy and, as a result,  0.462910  0.537090
6   Mrs. Taylor walked to Mr. Williams and, as a r...  0.553452  0.446548
7              Emma walked to David and, as a result,  0.751373  0.248627
8   The princess walked to the prince and, as a re...  0.525563  0.474437
9            Sarah walked to Robert and, as a result,  0.567209  0.432791
10  Mrs. Williams walked to Mr. Taylor and, as a r...  0.617024  0.382976
11             Emily walked to Paul and, as a result,  0.713924  0.286076

In [313]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_2f,'he'))

P('subj-pron'|subj=female) =  0.5972432419657707
P('non-subj-pron'|subj=female) =  0.40275677169362706

In [314]:
c2_average_subj_female_subj_pron['walked'] = compute_average(motion_connective2_2f,'she')
c2_average_subj_female_obj_pron['walked'] = compute_average(motion_connective2_2f,'he')

#### male subject

In [315]:
motion_connective2_2m

                                             stimulus        he       she
12   Mr. Smith walked to Miss Smith and, as a result,  0.354024  0.645976
13      The man walked to the woman and, as a result,  0.497227  0.502774
14              John walked to Mary and, as a result,  0.310685  0.689315
15              Bob walked to Alice and, as a result,  0.811782  0.188218
16  The actor walked to the actress and, as a result,  0.686329  0.313671
17       The boy walked to the girl and, as a result,  0.691445  0.308555
18  Mr. William walked to Mrs. Taylor and, as a re...  0.354175  0.645825
19             David walked to Emma and, as a result,  0.275194  0.724806
20  The prince walked to the princess and, as a re...  0.426459  0.573541
21           Robert walked to Sarah and, as a result,  0.443321  0.556679
22  Mr. Taylor walked to Mrs. Williams and, as a r...  0.306943  0.693057
23             Paul walked to Emily and, as a result,  0.342113  0.657887

In [316]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_2m,'she'))

P('subj-pron'|subj=male) =  0.458308145403862
P('non-subj-pron'|subj=male) =  0.5416918694972992

In [317]:
c2_average_subj_male_subj_pron['walked'] = compute_average(motion_connective2_2m,'he')
c2_average_subj_male_obj_pron['walked'] = compute_average(motion_connective2_2m,'she')

### verb: "ran"

In [318]:
motion_connective2_3 = pd.read_csv("../results/transfoxl/motion/connective2/3.csv")
motion_connective2_3.head()

                                         stimulus        he       she
0   Miss Smith ran to Mr. Smith and, as a result,  0.275252  0.724748
1      The woman ran to the man and, as a result,  0.692768  0.307232
2              Mary ran to John and, as a result,  0.353917  0.646083
3              Alice ran to Bob and, as a result,  0.447766  0.552234
4  The actress ran to the actor and, as a result,  0.683930  0.316070

In [319]:
# female subject
motion_connective2_3f = motion_connective2_3[0:12]
motion_connective2_3f = motion_connective2_3f[["stimulus","she","he"]]
# male subject
motion_connective2_3m = motion_connective2_3[12:24]

#### female subject

In [320]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_3f,'he'))

P('subj-pron'|subj=female) =  0.5409169793128967
P('non-subj-pron'|subj=female) =  0.45908302068710327

In [321]:
c2_average_subj_female_subj_pron['ran'] = compute_average(motion_connective2_3f,'she')
c2_average_subj_female_obj_pron['ran'] = compute_average(motion_connective2_3f,'he')

#### male subject

In [322]:
motion_connective2_3m

                                             stimulus        he       she
12      Mr. Smith ran to Miss Smith and, as a result,  0.251631  0.748369
13         The man ran to the woman and, as a result,  0.405808  0.594192
14                 John ran to Mary and, as a result,  0.270919  0.729081
15                 Bob ran to Alice and, as a result,  0.620601  0.379400
16     The actor ran to the actress and, as a result,  0.416336  0.583664
17          The boy ran to the girl and, as a result,  0.671091  0.328909
18   Mr. William ran to Mrs. Taylor and, as a result,  0.270446  0.729554
19                David ran to Emma and, as a result,  0.167231  0.832769
20   The prince ran to the princess and, as a result,  0.283427  0.716573
21              Robert ran to Sarah and, as a result,  0.222498  0.777502
22  Mr. Taylor ran to Mrs. Williams and, as a result,  0.231753  0.768247
23                Paul ran to Emily and, as a result,  0.253629  0.746371

In [323]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_3m,'she'))

P('subj-pron'|subj=male) =  0.3387807533144951
P('non-subj-pron'|subj=male) =  0.6612192417184511

In [324]:
c2_average_subj_male_subj_pron['ran'] = compute_average(motion_connective2_3m,'he')
c2_average_subj_male_obj_pron['ran'] = compute_average(motion_connective2_3m,'she')

### verb: "swam"

In [325]:
motion_connective2_4 = pd.read_csv("../results/transfoxl/motion/connective2/4.csv")
motion_connective2_4.head()

                                          stimulus        he       she
0   Miss Smith swam to Mr. Smith and, as a result,  0.210215  0.789785
1      The woman swam to the man and, as a result,  0.433127  0.566873
2              Mary swam to John and, as a result,  0.252037  0.747963
3              Alice swam to Bob and, as a result,  0.397680  0.602319
4  The actress swam to the actor and, as a result,  0.522282  0.477718

In [326]:
# female subject
motion_connective2_4f = motion_connective2_4[0:12]
motion_connective2_4f = motion_connective2_4f[["stimulus","she","he"]]
# male subject
motion_connective2_4m = motion_connective2_4[12:24]

#### female subject

In [327]:
motion_connective2_4f

                                             stimulus       she        he
0      Miss Smith swam to Mr. Smith and, as a result,  0.789785  0.210215
1         The woman swam to the man and, as a result,  0.566873  0.433127
2                 Mary swam to John and, as a result,  0.747963  0.252037
3                 Alice swam to Bob and, as a result,  0.602319  0.397680
4     The actress swam to the actor and, as a result,  0.477718  0.522282
5          The girl swam to the boy and, as a result,  0.488720  0.511280
6   Mrs. Taylor swam to Mr. Williams and, as a res...  0.649942  0.350058
7                Emma swam to David and, as a result,  0.751810  0.248190
8   The princess swam to the prince and, as a result,  0.639065  0.360935
9              Sarah swam to Robert and, as a result,  0.510504  0.489496
10  Mrs. Williams swam to Mr. Taylor and, as a res...  0.688870  0.311130
11               Emily swam to Paul and, as a result,  0.749190  0.250810

In [328]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_4f,'he'))

P('subj-pron'|subj=female) =  0.6385632455348969
P('non-subj-pron'|subj=female) =  0.36143675694863003

In [329]:
c2_average_subj_female_subj_pron['swam'] = compute_average(motion_connective2_4f,'she')
c2_average_subj_female_obj_pron['swam'] = compute_average(motion_connective2_4f,'he')

#### male subject

In [330]:
motion_connective2_4m

                                             stimulus        he       she
12     Mr. Smith swam to Miss Smith and, as a result,  0.397459  0.602541
13        The man swam to the woman and, as a result,  0.621834  0.378166
14                John swam to Mary and, as a result,  0.442559  0.557441
15                Bob swam to Alice and, as a result,  0.905979  0.094021
16    The actor swam to the actress and, as a result,  0.782249  0.217751
17         The boy swam to the girl and, as a result,  0.809429  0.190571
18  Mr. William swam to Mrs. Taylor and, as a result,  0.467461  0.532539
19               David swam to Emma and, as a result,  0.500018  0.499982
20  The prince swam to the princess and, as a result,  0.503551  0.496449
21             Robert swam to Sarah and, as a result,  0.698745  0.301255
22  Mr. Taylor swam to Mrs. Williams and, as a res...  0.386745  0.613255
23               Paul swam to Emily and, as a result,  0.576405  0.423595

In [331]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_4m,'she'))

P('subj-pron'|subj=male) =  0.5910361756881078
P('non-subj-pron'|subj=male) =  0.4089638218283653

In [332]:
c2_average_subj_male_subj_pron['swam'] = compute_average(motion_connective2_4m,'he')
c2_average_subj_male_obj_pron['swam'] = compute_average(motion_connective2_4m,'she')

### verb: "rolled"

In [333]:
motion_connective2_5 = pd.read_csv("../results/transfoxl/motion/connective2/5.csv")
motion_connective2_5.head()

                                           stimulus        he       she
0   Miss Smith drove to Mr. Smith and, as a result,  0.259638  0.740362
1      The woman drove to the man and, as a result,  0.590636  0.409364
2              Mary drove to John and, as a result,  0.369075  0.630925
3              Alice drove to Bob and, as a result,  0.474266  0.525734
4  The actress drove to the actor and, as a result,  0.563432  0.436568

In [334]:
# female subject
motion_connective2_5f = motion_connective2_5[0:12]
motion_connective2_5f = motion_connective2_5[["stimulus","she","he"]]
# male subject
motion_connective2_5m = motion_connective2_5[12:24]

#### female subject

In [335]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_5f,'he'))

P('subj-pron'|subj=female) =  0.5508217327296734
P('non-subj-pron'|subj=female) =  0.4491782660285632

In [336]:
c2_average_subj_female_subj_pron['drove'] = compute_average(motion_connective2_5f,'she')
c2_average_subj_female_obj_pron['drove'] = compute_average(motion_connective2_5f,'he')

#### male subject

In [337]:
motion_connective2_5m

                                             stimulus        he       she
12    Mr. Smith drove to Miss Smith and, as a result,  0.356248  0.643752
13       The man drove to the woman and, as a result,  0.532023  0.467977
14               John drove to Mary and, as a result,  0.342280  0.657720
15               Bob drove to Alice and, as a result,  0.807172  0.192828
16   The actor drove to the actress and, as a result,  0.621141  0.378859
17        The boy drove to the girl and, as a result,  0.753425  0.246576
18  Mr. William drove to Mrs. Taylor and, as a res...  0.365862  0.634138
19              David drove to Emma and, as a result,  0.282166  0.717834
20  The prince drove to the princess and, as a res...  0.443284  0.556716
21            Robert drove to Sarah and, as a result,  0.429449  0.570551
22  Mr. Taylor drove to Mrs. Williams and, as a re...  0.316431  0.683569
23              Paul drove to Emily and, as a result,  0.337728  0.662272

In [338]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_5m,'she'))

P('subj-pron'|subj=male) =  0.4656009053190549
P('non-subj-pron'|subj=male) =  0.5343990822633108

In [339]:
c2_average_subj_male_subj_pron['drove'] = compute_average(motion_connective2_5m,'he')
c2_average_subj_male_obj_pron['drove'] = compute_average(motion_connective2_5m,'she')

### verb: "jogged"

In [340]:
motion_connective2_6 = pd.read_csv("../results/transfoxl/motion/connective2/6.csv")
motion_connective2_6.head()

                                            stimulus        he       she
0   Miss Smith jogged to Mr. Smith and, as a result,  0.310164  0.689836
1      The woman jogged to the man and, as a result,  0.639443  0.360557
2              Mary jogged to John and, as a result,  0.396470  0.603530
3              Alice jogged to Bob and, as a result,  0.596463  0.403537
4  The actress jogged to the actor and, as a result,  0.684315  0.315685

In [341]:
# female subject
motion_connective2_6f = motion_connective2_6[0:12]
motion_connective2_6f = motion_connective2_6[["stimulus","she","he"]]
# male subject
motion_connective2_6m = motion_connective2_6[12:24]

#### female subject

In [342]:
motion_connective2_6f

                                             stimulus       she        he
0    Miss Smith jogged to Mr. Smith and, as a result,  0.689836  0.310164
1       The woman jogged to the man and, as a result,  0.360557  0.639443
2               Mary jogged to John and, as a result,  0.603530  0.396470
3               Alice jogged to Bob and, as a result,  0.403537  0.596463
4   The actress jogged to the actor and, as a result,  0.315685  0.684315
5        The girl jogged to the boy and, as a result,  0.362694  0.637306
6   Mrs. Taylor jogged to Mr. Williams and, as a r...  0.593149  0.406852
7              Emma jogged to David and, as a result,  0.659160  0.340840
8   The princess jogged to the prince and, as a re...  0.503579  0.496421
9            Sarah jogged to Robert and, as a result,  0.386725  0.613275
10  Mrs. Williams jogged to Mr. Taylor and, as a r...  0.646569  0.353430
11             Emily jogged to Paul and, as a result,  0.586364  0.413636
12   Mr. Smith jogged to Miss Smith and, as a result,  0.573537  0.426463
13      The man jogged to the woman and, as a result,  0.316766  0.683234
14              John jogged to Mary and, as a result,  0.562054  0.437946
15              Bob jogged to Alice and, as a result,  0.147357  0.852643
16  The actor jogged to the actress and, as a result,  0.275459  0.724541
17       The boy jogged to the girl and, as a result,  0.160187  0.839813
18  Mr. William jogged to Mrs. Taylor and, as a re...  0.578016  0.421984
19             David jogged to Emma and, as a result,  0.688577  0.311423
20  The prince jogged to the princess and, as a re...  0.472755  0.527245
21           Robert jogged to Sarah and, as a result,  0.440677  0.559323
22  Mr. Taylor jogged to Mrs. Williams and, as a r...  0.644583  0.355417
23             Paul jogged to Emily and, as a result,  0.590038  0.409962

In [343]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_6f,'he'))

P('subj-pron'|subj=female) =  0.4817244919637839
P('non-subj-pron'|subj=female) =  0.5182755117615064

In [344]:
c2_average_subj_female_subj_pron['jogged'] = compute_average(motion_connective2_6f,'she')
c2_average_subj_female_obj_pron['jogged'] = compute_average(motion_connective2_6f,'he')

#### male subject

In [345]:
motion_connective2_6m

                                             stimulus        he       she
12   Mr. Smith jogged to Miss Smith and, as a result,  0.426463  0.573537
13      The man jogged to the woman and, as a result,  0.683234  0.316766
14              John jogged to Mary and, as a result,  0.437946  0.562054
15              Bob jogged to Alice and, as a result,  0.852643  0.147357
16  The actor jogged to the actress and, as a result,  0.724541  0.275459
17       The boy jogged to the girl and, as a result,  0.839813  0.160187
18  Mr. William jogged to Mrs. Taylor and, as a re...  0.421984  0.578016
19             David jogged to Emma and, as a result,  0.311423  0.688577
20  The prince jogged to the princess and, as a re...  0.527245  0.472755
21           Robert jogged to Sarah and, as a result,  0.559323  0.440677
22  Mr. Taylor jogged to Mrs. Williams and, as a r...  0.355417  0.644583
23             Paul jogged to Emily and, as a result,  0.409962  0.590038

In [346]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_6m,'she'))

P('subj-pron'|subj=male) =  0.5458330363035202
P('non-subj-pron'|subj=male) =  0.4541669761141141

In [347]:
c2_average_subj_male_subj_pron['jogged'] = compute_average(motion_connective2_6m,'he')
c2_average_subj_male_obj_pron['jogged'] = compute_average(motion_connective2_6m,'she')

### verb: "bolted"

In [348]:
motion_connective2_7 = pd.read_csv("../results/transfoxl/motion/connective2/7.csv")
motion_connective2_7.head()

                                            stimulus        he       she
0   Miss Smith bolted to Mr. Smith and, as a result,  0.293250  0.706750
1      The woman bolted to the man and, as a result,  0.616068  0.383933
2              Mary bolted to John and, as a result,  0.409118  0.590882
3              Alice bolted to Bob and, as a result,  0.521257  0.478743
4  The actress bolted to the actor and, as a result,  0.708364  0.291636

In [349]:
# female subject
motion_connective2_7f = motion_connective2_7[0:12]
motion_connective2_7f = motion_connective2_7f[["stimulus","she","he"]]
# male subject
motion_connective2_7m = motion_connective2_7[12:24]

#### female subject

In [350]:
motion_connective2_7f

                                             stimulus       she        he
0    Miss Smith bolted to Mr. Smith and, as a result,  0.706750  0.293250
1       The woman bolted to the man and, as a result,  0.383933  0.616068
2               Mary bolted to John and, as a result,  0.590882  0.409118
3               Alice bolted to Bob and, as a result,  0.478743  0.521257
4   The actress bolted to the actor and, as a result,  0.291636  0.708364
5        The girl bolted to the boy and, as a result,  0.432744  0.567256
6   Mrs. Taylor bolted to Mr. Williams and, as a r...  0.591907  0.408093
7              Emma bolted to David and, as a result,  0.690067  0.309933
8   The princess bolted to the prince and, as a re...  0.585699  0.414301
9            Sarah bolted to Robert and, as a result,  0.419152  0.580848
10  Mrs. Williams bolted to Mr. Taylor and, as a r...  0.614329  0.385671
11             Emily bolted to Paul and, as a result,  0.595654  0.404346

In [351]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_7f,'he'))

P('subj-pron'|subj=female) =  0.5317912722627322
P('non-subj-pron'|subj=female) =  0.4682087351878484

In [352]:
c2_average_subj_female_subj_pron['bolted'] = compute_average(motion_connective2_7f,'she')
c2_average_subj_female_obj_pron['bolted'] = compute_average(motion_connective2_7f,'he')

#### male subject

In [353]:
motion_connective2_7m

                                             stimulus        he       she
12   Mr. Smith bolted to Miss Smith and, as a result,  0.500607  0.499393
13      The man bolted to the woman and, as a result,  0.785215  0.214785
14              John bolted to Mary and, as a result,  0.518670  0.481330
15              Bob bolted to Alice and, as a result,  0.874044  0.125956
16  The actor bolted to the actress and, as a result,  0.802224  0.197776
17       The boy bolted to the girl and, as a result,  0.906712  0.093288
18  Mr. William bolted to Mrs. Taylor and, as a re...  0.530863  0.469137
19             David bolted to Emma and, as a result,  0.482943  0.517057
20  The prince bolted to the princess and, as a re...  0.493514  0.506486
21           Robert bolted to Sarah and, as a result,  0.812212  0.187789
22  Mr. Taylor bolted to Mrs. Williams and, as a r...  0.361604  0.638396
23             Paul bolted to Emily and, as a result,  0.704254  0.295746

In [354]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_7m,'she'))

P('subj-pron'|subj=male) =  0.6477382083733877
P('non-subj-pron'|subj=male) =  0.35226179907719296

In [355]:
c2_average_subj_male_subj_pron['bolted'] = compute_average(motion_connective2_7m,'he')
c2_average_subj_male_obj_pron['bolted'] = compute_average(motion_connective2_7m,'she')

### verb: "crawled"

In [356]:
motion_connective2_8 = pd.read_csv("../results/transfoxl/motion/connective2/8.csv")
motion_connective2_8.head()

                                            stimulus        he       she
0  Miss Smith crawled to Mr. Smith and, as a result,  0.256995  0.743005
1     The woman crawled to the man and, as a result,  0.532084  0.467917
2             Mary crawled to John and, as a result,  0.356701  0.643299
3             Alice crawled to Bob and, as a result,  0.533388  0.466612
4  The actress crawled to the actor and, as a res...  0.610310  0.389690

In [357]:
# female subject
motion_connective2_8f = motion_connective2_8[0:12]
motion_connective2_8f = motion_connective2_8f[["stimulus","she","he"]]
# male subject
motion_connective2_8m = motion_connective2_8[12:24]

In [358]:
motion_connective2_8f

                                             stimulus       she        he
0   Miss Smith crawled to Mr. Smith and, as a result,  0.743005  0.256995
1      The woman crawled to the man and, as a result,  0.467917  0.532084
2              Mary crawled to John and, as a result,  0.643299  0.356701
3              Alice crawled to Bob and, as a result,  0.466612  0.533388
4   The actress crawled to the actor and, as a res...  0.389690  0.610310
5       The girl crawled to the boy and, as a result,  0.398880  0.601120
6   Mrs. Taylor crawled to Mr. Williams and, as a ...  0.587803  0.412196
7             Emma crawled to David and, as a result,  0.710172  0.289828
8   The princess crawled to the prince and, as a r...  0.576066  0.423934
9           Sarah crawled to Robert and, as a result,  0.468638  0.531362
10  Mrs. Williams crawled to Mr. Taylor and, as a ...  0.636613  0.363387
11            Emily crawled to Paul and, as a result,  0.674004  0.325996

In [359]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_8f,'he'))

P('subj-pron'|subj=female) =  0.5635581612586975
P('non-subj-pron'|subj=female) =  0.4364418511589368

In [360]:
c2_average_subj_female_subj_pron['crawled'] = compute_average(motion_connective2_8f,'she')
c2_average_subj_female_obj_pron['crawled'] = compute_average(motion_connective2_8f,'he')

#### male subject

In [361]:
motion_connective2_8m

                                             stimulus        he       she
12  Mr. Smith crawled to Miss Smith and, as a result,  0.323997  0.676003
13     The man crawled to the woman and, as a result,  0.622026  0.377974
14             John crawled to Mary and, as a result,  0.380779  0.619221
15             Bob crawled to Alice and, as a result,  0.869558  0.130442
16  The actor crawled to the actress and, as a res...  0.705859  0.294141
17      The boy crawled to the girl and, as a result,  0.801684  0.198316
18  Mr. William crawled to Mrs. Taylor and, as a r...  0.429856  0.570144
19            David crawled to Emma and, as a result,  0.271604  0.728396
20  The prince crawled to the princess and, as a r...  0.424017  0.575983
21          Robert crawled to Sarah and, as a result,  0.585412  0.414588
22  Mr. Taylor crawled to Mrs. Williams and, as a ...  0.358131  0.641869
23            Paul crawled to Emily and, as a result,  0.326203  0.673797

In [362]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_8m,'she'))

P('subj-pron'|subj=male) =  0.5082603618502617
P('non-subj-pron'|subj=male) =  0.49173962076505023

In [363]:
c2_average_subj_male_subj_pron['crawled'] = compute_average(motion_connective2_8m,'he')
c2_average_subj_male_obj_pron['crawled'] = compute_average(motion_connective2_8m,'she')

### verb: "limped"

In [364]:
motion_connective2_9 = pd.read_csv("../results/transfoxl/motion/connective2/9.csv")
motion_connective2_9.head()

                                            stimulus        he       she
0   Miss Smith limped to Mr. Smith and, as a result,  0.238537  0.761463
1      The woman limped to the man and, as a result,  0.573202  0.426798
2              Mary limped to John and, as a result,  0.351483  0.648517
3              Alice limped to Bob and, as a result,  0.511655  0.488345
4  The actress limped to the actor and, as a result,  0.552035  0.447965

In [365]:
# female subject
motion_connective2_9f = motion_connective2_9[0:12]
motion_connective2_9f = motion_connective2_9f[["stimulus","she","he"]]
# male subject
motion_connective2_9m = motion_connective2_9[12:24]

#### female subject

In [366]:
motion_connective2_9f

                                             stimulus       she        he
0    Miss Smith limped to Mr. Smith and, as a result,  0.761463  0.238537
1       The woman limped to the man and, as a result,  0.426798  0.573202
2               Mary limped to John and, as a result,  0.648517  0.351483
3               Alice limped to Bob and, as a result,  0.488345  0.511655
4   The actress limped to the actor and, as a result,  0.447965  0.552035
5        The girl limped to the boy and, as a result,  0.362794  0.637206
6   Mrs. Taylor limped to Mr. Williams and, as a r...  0.604771  0.395229
7              Emma limped to David and, as a result,  0.660467  0.339533
8   The princess limped to the prince and, as a re...  0.552603  0.447397
9            Sarah limped to Robert and, as a result,  0.442859  0.557141
10  Mrs. Williams limped to Mr. Taylor and, as a r...  0.651717  0.348283
11             Emily limped to Paul and, as a result,  0.645154  0.354846

In [367]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_9f,'he'))

P('subj-pron'|subj=female) =  0.5577876543005308
P('non-subj-pron'|subj=female) =  0.4422123519082864

In [368]:
c2_average_subj_female_subj_pron['limped'] = compute_average(motion_connective2_9f,'she')
c2_average_subj_female_obj_pron['limped'] = compute_average(motion_connective2_9f,'he')

#### male subject

In [369]:
motion_connective2_9m

                                             stimulus        he       she
12   Mr. Smith limped to Miss Smith and, as a result,  0.373323  0.626677
13      The man limped to the woman and, as a result,  0.632715  0.367285
14              John limped to Mary and, as a result,  0.413319  0.586681
15              Bob limped to Alice and, as a result,  0.872685  0.127315
16  The actor limped to the actress and, as a result,  0.725298  0.274702
17       The boy limped to the girl and, as a result,  0.811783  0.188217
18  Mr. William limped to Mrs. Taylor and, as a re...  0.395059  0.604941
19             David limped to Emma and, as a result,  0.373103  0.626897
20  The prince limped to the princess and, as a re...  0.458544  0.541456
21           Robert limped to Sarah and, as a result,  0.684397  0.315603
22  Mr. Taylor limped to Mrs. Williams and, as a r...  0.307425  0.692575
23             Paul limped to Emily and, as a result,  0.418965  0.581035

In [370]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_9m,'she'))

P('subj-pron'|subj=male) =  0.5388845354318619
P('non-subj-pron'|subj=male) =  0.461115475744009

In [371]:
c2_average_subj_male_subj_pron['limped'] = compute_average(motion_connective2_9m,'he')
c2_average_subj_male_obj_pron['limped'] = compute_average(motion_connective2_9m,'she')

### verb: "lumbered"

In [372]:
motion_connective2_10 = pd.read_csv("../results/transfoxl/motion/connective2/10.csv")
motion_connective2_10.head()

                                            stimulus        he       she
0  Miss Smith lumbered to Mr. Smith and, as a res...  0.287037  0.712963
1    The woman lumbered to the man and, as a result,  0.494975  0.505025
2            Mary lumbered to John and, as a result,  0.364107  0.635893
3            Alice lumbered to Bob and, as a result,  0.581467  0.418533
4  The actress lumbered to the actor and, as a re...  0.620166  0.379834

In [373]:
# female subject
motion_connective2_10f = motion_connective2_10[0:12]
motion_connective2_10f = motion_connective2_10f[["stimulus","she","he"]]
# male subject
motion_connective2_10m = motion_connective2_10[12:24]

### female subject

In [374]:
motion_connective2_10f

                                             stimulus       she        he
0   Miss Smith lumbered to Mr. Smith and, as a res...  0.712963  0.287037
1     The woman lumbered to the man and, as a result,  0.505025  0.494975
2             Mary lumbered to John and, as a result,  0.635893  0.364107
3             Alice lumbered to Bob and, as a result,  0.418533  0.581467
4   The actress lumbered to the actor and, as a re...  0.379834  0.620166
5      The girl lumbered to the boy and, as a result,  0.450168  0.549832
6   Mrs. Taylor lumbered to Mr. Williams and, as a...  0.557445  0.442555
7            Emma lumbered to David and, as a result,  0.674652  0.325348
8   The princess lumbered to the prince and, as a ...  0.613052  0.386948
9          Sarah lumbered to Robert and, as a result,  0.384806  0.615194
10  Mrs. Williams lumbered to Mr. Taylor and, as a...  0.627007  0.372993
11           Emily lumbered to Paul and, as a result,  0.673815  0.326185

In [375]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_10f,'he'))

P('subj-pron'|subj=female) =  0.5527660995721817
P('non-subj-pron'|subj=female) =  0.4472338830431302

In [376]:
c2_average_subj_female_subj_pron['lumbered'] = compute_average(motion_connective2_10f,'she')
c2_average_subj_female_obj_pron['lumbered'] = compute_average(motion_connective2_10f,'he')

#### male subject

In [377]:
motion_connective2_10m

                                             stimulus        he       she
12  Mr. Smith lumbered to Miss Smith and, as a res...  0.325574  0.674426
13    The man lumbered to the woman and, as a result,  0.618248  0.381752
14            John lumbered to Mary and, as a result,  0.360742  0.639258
15            Bob lumbered to Alice and, as a result,  0.848778  0.151222
16  The actor lumbered to the actress and, as a re...  0.744023  0.255977
17     The boy lumbered to the girl and, as a result,  0.833418  0.166582
18  Mr. William lumbered to Mrs. Taylor and, as a ...  0.473531  0.526469
19           David lumbered to Emma and, as a result,  0.285857  0.714143
20  The prince lumbered to the princess and, as a ...  0.509694  0.490306
21         Robert lumbered to Sarah and, as a result,  0.664493  0.335507
22  Mr. Taylor lumbered to Mrs. Williams and, as a...  0.392261  0.607739
23           Paul lumbered to Emily and, as a result,  0.347611  0.652389

In [378]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_10m,'she'))

P('subj-pron'|subj=male) =  0.5336857860287031
P('non-subj-pron'|subj=male) =  0.46631421769658726

In [379]:
c2_average_subj_male_subj_pron['lumbered'] = compute_average(motion_connective2_10m,'he')
c2_average_subj_male_obj_pron['lumbered'] = compute_average(motion_connective2_10m,'she')

### verb: "marched"

In [380]:
motion_connective2_11 = pd.read_csv("../results/transfoxl/motion/connective2/11.csv")
motion_connective2_11.head()

                                            stimulus        he       she
0  Miss Smith marched to Mr. Smith and, as a result,  0.207885  0.792115
1     The woman marched to the man and, as a result,  0.494767  0.505233
2             Mary marched to John and, as a result,  0.272960  0.727040
3             Alice marched to Bob and, as a result,  0.423201  0.576799
4  The actress marched to the actor and, as a res...  0.588979  0.411021

In [381]:
# female subject
motion_connective2_11f = motion_connective2_11[0:12]
motion_connective2_11f = motion_connective2_11f[["stimulus","she","he"]]
# male subject
motion_connective2_11m = motion_connective2_11[12:24]

#### female subject

In [382]:
motion_connective2_11f

                                             stimulus       she        he
0   Miss Smith marched to Mr. Smith and, as a result,  0.792115  0.207885
1      The woman marched to the man and, as a result,  0.505233  0.494767
2              Mary marched to John and, as a result,  0.727040  0.272960
3              Alice marched to Bob and, as a result,  0.576799  0.423201
4   The actress marched to the actor and, as a res...  0.411021  0.588979
5       The girl marched to the boy and, as a result,  0.538774  0.461226
6   Mrs. Taylor marched to Mr. Williams and, as a ...  0.589036  0.410964
7             Emma marched to David and, as a result,  0.808068  0.191932
8   The princess marched to the prince and, as a r...  0.623500  0.376500
9           Sarah marched to Robert and, as a result,  0.631492  0.368508
10  Mrs. Williams marched to Mr. Taylor and, as a ...  0.675761  0.324239
11            Emily marched to Paul and, as a result,  0.749519  0.250481

In [383]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_11f,'he'))

P('subj-pron'|subj=female) =  0.6356964930891991
P('non-subj-pron'|subj=female) =  0.36430348828434944

In [384]:
c2_average_subj_female_subj_pron['marched'] = compute_average(motion_connective2_11f,'she')
c2_average_subj_female_obj_pron['marched'] = compute_average(motion_connective2_11f,'he')

#### male subject

In [385]:
motion_connective2_11m

                                             stimulus        he       she
12  Mr. Smith marched to Miss Smith and, as a result,  0.294095  0.705905
13     The man marched to the woman and, as a result,  0.463866  0.536134
14             John marched to Mary and, as a result,  0.231359  0.768641
15             Bob marched to Alice and, as a result,  0.899049  0.100951
16  The actor marched to the actress and, as a res...  0.672689  0.327311
17      The boy marched to the girl and, as a result,  0.673890  0.326110
18  Mr. William marched to Mrs. Taylor and, as a r...  0.342643  0.657357
19            David marched to Emma and, as a result,  0.268386  0.731614
20  The prince marched to the princess and, as a r...  0.330067  0.669933
21          Robert marched to Sarah and, as a result,  0.618568  0.381432
22  Mr. Taylor marched to Mrs. Williams and, as a ...  0.310398  0.689602
23            Paul marched to Emily and, as a result,  0.439560  0.560440

In [386]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_11m,'she'))

P('subj-pron'|subj=male) =  0.46204738443096477
P('non-subj-pron'|subj=male) =  0.5379526012887558

In [387]:
c2_average_subj_male_subj_pron['marched'] = compute_average(motion_connective2_11m,'he')
c2_average_subj_male_obj_pron['marched'] = compute_average(motion_connective2_11m,'she')

### verb: "meandered"

In [388]:
motion_connective2_12 = pd.read_csv("../results/transfoxl/motion/connective2/12.csv")
motion_connective2_12.head()

                                            stimulus        he       she
0  Miss Smith meandered to Mr. Smith and, as a re...  0.231141  0.768859
1   The woman meandered to the man and, as a result,  0.533111  0.466889
2           Mary meandered to John and, as a result,  0.264041  0.735959
3           Alice meandered to Bob and, as a result,  0.468625  0.531375
4  The actress meandered to the actor and, as a r...  0.641634  0.358366

In [389]:
# female subject
motion_connective2_12f = motion_connective2_12[0:12]
motion_connective2_12f = motion_connective2_12f[["stimulus","she","he"]]
# male subject
motion_connective2_12m = motion_connective2_12[12:24]

#### female subject

In [390]:
motion_noprompt_12f

                                  stimulus       She        He
0       Miss Smith meandered to Mr. Smith.  0.799070  0.200930
1          The woman meandered to the man.  0.208259  0.791741
2                  Mary meandered to John.  0.489010  0.510990
3                  Alice meandered to Bob.  0.657897  0.342103
4      The actress meandered to the actor.  0.170423  0.829577
5           The girl meandered to the boy.  0.194168  0.805832
6   Mrs. Taylor meandered to Mr. Williams.  0.821660  0.178340
7                 Emma meandered to David.  0.926119  0.073881
8    The princess meandered to the prince.  0.187658  0.812342
9               Sarah meandered to Robert.  0.715807  0.284193
10  Mrs. Williams meandered to Mr. Taylor.  0.724233  0.275767
11                Emily meandered to Paul.  0.743824  0.256176

In [391]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_12f,'he'))

P('subj-pron'|subj=female) =  0.5977282548944155
P('non-subj-pron'|subj=female) =  0.4022717426220576

In [392]:
c2_average_subj_female_subj_pron['meandered'] = compute_average(motion_connective2_12f,'she')
c2_average_subj_female_obj_pron['meandered'] = compute_average(motion_connective2_12f,'he')

#### male subject

In [393]:
motion_connective2_12m

                                             stimulus        he       she
12  Mr. Smith meandered to Miss Smith and, as a re...  0.313611  0.686389
13   The man meandered to the woman and, as a result,  0.591582  0.408418
14           John meandered to Mary and, as a result,  0.351040  0.648960
15           Bob meandered to Alice and, as a result,  0.799912  0.200088
16  The actor meandered to the actress and, as a r...  0.724388  0.275612
17    The boy meandered to the girl and, as a result,  0.767611  0.232389
18  Mr. William meandered to Mrs. Taylor and, as a...  0.496571  0.503429
19          David meandered to Emma and, as a result,  0.352008  0.647993
20  The prince meandered to the princess and, as a...  0.515145  0.484855
21        Robert meandered to Sarah and, as a result,  0.740448  0.259552
22  Mr. Taylor meandered to Mrs. Williams and, as ...  0.304584  0.695416
23          Paul meandered to Emily and, as a result,  0.419223  0.580777

In [394]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_12m,'she'))

P('subj-pron'|subj=male) =  0.5313435842593511
P('non-subj-pron'|subj=male) =  0.4686564269165198

In [395]:
c2_average_subj_male_subj_pron['meandered'] = compute_average(motion_connective2_12m,'he')
c2_average_subj_male_obj_pron['meandered'] = compute_average(motion_connective2_12m,'she')

### verb: "pranced"

In [396]:
motion_connective2_13 = pd.read_csv("../results/transfoxl/motion/connective2/13.csv")
motion_connective2_13.head()

                                            stimulus        he       she
0  Miss Smith pranced to Mr. Smith and, as a result,  0.330416  0.669584
1     The woman pranced to the man and, as a result,  0.596117  0.403883
2             Mary pranced to John and, as a result,  0.298773  0.701227
3             Alice pranced to Bob and, as a result,  0.508483  0.491517
4  The actress pranced to the actor and, as a res...  0.745583  0.254417

In [397]:
# female subject
motion_connective2_13f = motion_connective2_13[0:12]
motion_connective2_13f = motion_connective2_13f[["stimulus","she","he"]]
# male subject
motion_connective2_13m = motion_connective2_13[12:24]

#### female subject

In [398]:
motion_connective2_13f

                                             stimulus       she        he
0   Miss Smith pranced to Mr. Smith and, as a result,  0.669584  0.330416
1      The woman pranced to the man and, as a result,  0.403883  0.596117
2              Mary pranced to John and, as a result,  0.701227  0.298773
3              Alice pranced to Bob and, as a result,  0.491517  0.508483
4   The actress pranced to the actor and, as a res...  0.254417  0.745583
5       The girl pranced to the boy and, as a result,  0.366779  0.633221
6   Mrs. Taylor pranced to Mr. Williams and, as a ...  0.561716  0.438284
7             Emma pranced to David and, as a result,  0.676191  0.323809
8   The princess pranced to the prince and, as a r...  0.527009  0.472991
9           Sarah pranced to Robert and, as a result,  0.531637  0.468363
10  Mrs. Williams pranced to Mr. Taylor and, as a ...  0.622668  0.377333
11            Emily pranced to Paul and, as a result,  0.704188  0.295812

In [399]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_13f,'he'))

P('subj-pron'|subj=female) =  0.5425679634014765
P('non-subj-pron'|subj=female) =  0.4574320465326309

In [400]:
c2_average_subj_female_subj_pron['pranced'] = compute_average(motion_connective2_13f,'she')
c2_average_subj_female_obj_pron['pranced'] = compute_average(motion_connective2_13f,'he')

#### male subject

In [401]:
motion_connective2_13m

                                             stimulus        he       she
12  Mr. Smith pranced to Miss Smith and, as a result,  0.375982  0.624018
13     The man pranced to the woman and, as a result,  0.697167  0.302833
14             John pranced to Mary and, as a result,  0.354723  0.645277
15             Bob pranced to Alice and, as a result,  0.748331  0.251669
16  The actor pranced to the actress and, as a res...  0.791989  0.208011
17      The boy pranced to the girl and, as a result,  0.859547  0.140453
18  Mr. William pranced to Mrs. Taylor and, as a r...  0.430937  0.569063
19            David pranced to Emma and, as a result,  0.283704  0.716296
20  The prince pranced to the princess and, as a r...  0.509839  0.490162
21          Robert pranced to Sarah and, as a result,  0.522184  0.477816
22  Mr. Taylor pranced to Mrs. Williams and, as a ...  0.347911  0.652089
23            Paul pranced to Emily and, as a result,  0.370185  0.629815

In [402]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_13m,'she'))

P('subj-pron'|subj=male) =  0.5243748451272646
P('non-subj-pron'|subj=male) =  0.4756251474221547

In [403]:
c2_average_subj_male_subj_pron['pranced'] = compute_average(motion_connective2_13m,'he')
c2_average_subj_male_obj_pron['pranced'] = compute_average(motion_connective2_13m,'she')

### verb: "raced"

In [404]:
motion_connective2_14 = pd.read_csv("../results/transfoxl/motion/connective2/14.csv")
motion_connective2_14.head()

                                           stimulus        he       she
0   Miss Smith raced to Mr. Smith and, as a result,  0.247269  0.752731
1      The woman raced to the man and, as a result,  0.540832  0.459168
2              Mary raced to John and, as a result,  0.319931  0.680069
3              Alice raced to Bob and, as a result,  0.386509  0.613491
4  The actress raced to the actor and, as a result,  0.549213  0.450787

In [405]:
# female subject
motion_connective2_14f = motion_connective2_14[0:12]
motion_connective2_14f = motion_connective2_14f[["stimulus","she","he"]]
# male subject
motion_connective2_14m = motion_connective2_14[12:24]

#### female subject

In [406]:
motion_connective2_14f

                                             stimulus       she        he
0     Miss Smith raced to Mr. Smith and, as a result,  0.752731  0.247269
1        The woman raced to the man and, as a result,  0.459168  0.540832
2                Mary raced to John and, as a result,  0.680069  0.319931
3                Alice raced to Bob and, as a result,  0.613491  0.386509
4    The actress raced to the actor and, as a result,  0.450787  0.549213
5         The girl raced to the boy and, as a result,  0.503255  0.496745
6   Mrs. Taylor raced to Mr. Williams and, as a re...  0.611649  0.388351
7               Emma raced to David and, as a result,  0.746611  0.253389
8   The princess raced to the prince and, as a res...  0.576179  0.423821
9             Sarah raced to Robert and, as a result,  0.605161  0.394839
10  Mrs. Williams raced to Mr. Taylor and, as a re...  0.690772  0.309228
11              Emily raced to Paul and, as a result,  0.721394  0.278605

In [407]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_14f,'he'))

P('subj-pron'|subj=female) =  0.6176055471102396
P('non-subj-pron'|subj=female) =  0.3823944504062335

In [408]:
c2_average_subj_female_subj_pron['raced'] = compute_average(motion_connective2_14f,'she')
c2_average_subj_female_obj_pron['raced'] = compute_average(motion_connective2_14f,'he')

#### male subject

In [409]:
motion_connective2_14m

                                             stimulus        he       she
12    Mr. Smith raced to Miss Smith and, as a result,  0.272933  0.727067
13       The man raced to the woman and, as a result,  0.466682  0.533317
14               John raced to Mary and, as a result,  0.280107  0.719893
15               Bob raced to Alice and, as a result,  0.884733  0.115267
16   The actor raced to the actress and, as a result,  0.548476  0.451524
17        The boy raced to the girl and, as a result,  0.674347  0.325653
18  Mr. William raced to Mrs. Taylor and, as a res...  0.312911  0.687089
19              David raced to Emma and, as a result,  0.291935  0.708065
20  The prince raced to the princess and, as a res...  0.320267  0.679734
21            Robert raced to Sarah and, as a result,  0.524463  0.475537
22  Mr. Taylor raced to Mrs. Williams and, as a re...  0.292888  0.707112
23              Paul raced to Emily and, as a result,  0.361860  0.638140

In [410]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_14m,'she'))

P('subj-pron'|subj=male) =  0.43596675743659336
P('non-subj-pron'|subj=male) =  0.5640332289040089

In [411]:
c2_average_subj_male_subj_pron['raced'] = compute_average(motion_connective2_14m,'he')
c2_average_subj_male_obj_pron['raced'] = compute_average(motion_connective2_14m,'she')

### verb: "staggered"

In [412]:
motion_connective2_15 = pd.read_csv("../results/transfoxl/motion/connective2/15.csv")
motion_connective2_15.head()

                                            stimulus        he       she
0  Miss Smith staggered to Mr. Smith and, as a re...  0.211870  0.788130
1   The woman staggered to the man and, as a result,  0.586696  0.413304
2           Mary staggered to John and, as a result,  0.350909  0.649091
3           Alice staggered to Bob and, as a result,  0.501263  0.498737
4  The actress staggered to the actor and, as a r...  0.634867  0.365133

In [413]:
# female subject
motion_connective2_15f = motion_connective2_15[0:12]
motion_connective2_15f = motion_connective2_15f[["stimulus","she","he"]]
# male subject
motion_connective2_15m = motion_connective2_15[12:24]

In [414]:
motion_connective2_15f

                                             stimulus       she        he
0   Miss Smith staggered to Mr. Smith and, as a re...  0.788130  0.211870
1    The woman staggered to the man and, as a result,  0.413304  0.586696
2            Mary staggered to John and, as a result,  0.649091  0.350909
3            Alice staggered to Bob and, as a result,  0.498737  0.501263
4   The actress staggered to the actor and, as a r...  0.365133  0.634867
5     The girl staggered to the boy and, as a result,  0.421244  0.578756
6   Mrs. Taylor staggered to Mr. Williams and, as ...  0.653199  0.346801
7           Emma staggered to David and, as a result,  0.719141  0.280859
8   The princess staggered to the prince and, as a...  0.552123  0.447877
9         Sarah staggered to Robert and, as a result,  0.503410  0.496590
10  Mrs. Williams staggered to Mr. Taylor and, as ...  0.689838  0.310162
11          Emily staggered to Paul and, as a result,  0.720909  0.279091

In [415]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_15f,'he'))

P('subj-pron'|subj=female) =  0.5811882068713506
P('non-subj-pron'|subj=female) =  0.41881180678804714

In [416]:
c2_average_subj_female_subj_pron['staggered'] = compute_average(motion_connective2_15f,'she')
c2_average_subj_female_obj_pron['staggered'] = compute_average(motion_connective2_15f,'he')

#### male subject

In [417]:
motion_connective2_15m

                                             stimulus        he       she
12  Mr. Smith staggered to Miss Smith and, as a re...  0.259916  0.740084
13   The man staggered to the woman and, as a result,  0.520915  0.479085
14           John staggered to Mary and, as a result,  0.327760  0.672240
15           Bob staggered to Alice and, as a result,  0.809293  0.190707
16  The actor staggered to the actress and, as a r...  0.532177  0.467823
17    The boy staggered to the girl and, as a result,  0.757865  0.242135
18  Mr. William staggered to Mrs. Taylor and, as a...  0.319554  0.680446
19          David staggered to Emma and, as a result,  0.247425  0.752575
20  The prince staggered to the princess and, as a...  0.398365  0.601635
21        Robert staggered to Sarah and, as a result,  0.362488  0.637512
22  Mr. Taylor staggered to Mrs. Williams and, as ...  0.243688  0.756312
23          Paul staggered to Emily and, as a result,  0.286208  0.713792

In [418]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_15m,'she'))

P('subj-pron'|subj=male) =  0.42213786765933037
P('non-subj-pron'|subj=male) =  0.5778621310989062

In [419]:
c2_average_subj_male_subj_pron['staggered'] = compute_average(motion_connective2_15m,'he')
c2_average_subj_male_obj_pron['staggered'] = compute_average(motion_connective2_15m,'she')

### verb: "strolled"

In [420]:
motion_connective2_16 = pd.read_csv("../results/transfoxl/motion/connective2/16.csv")
motion_connective2_16.head()

                                            stimulus        he       she
0  Miss Smith strolled to Mr. Smith and, as a res...  0.251517  0.748483
1    The woman strolled to the man and, as a result,  0.519003  0.480997
2            Mary strolled to John and, as a result,  0.318104  0.681896
3            Alice strolled to Bob and, as a result,  0.512662  0.487338
4  The actress strolled to the actor and, as a re...  0.635592  0.364408

In [421]:
# female subject
motion_connective2_16f = motion_connective2_16[0:12]
motion_connective2_16f = motion_connective2_16f[["stimulus","she","he"]]
# male subject
motion_connective2_16m = motion_connective2_16[12:24]

#### female subject

In [422]:
motion_connective2_16f

                                             stimulus       she        he
0   Miss Smith strolled to Mr. Smith and, as a res...  0.748483  0.251517
1     The woman strolled to the man and, as a result,  0.480997  0.519003
2             Mary strolled to John and, as a result,  0.681896  0.318104
3             Alice strolled to Bob and, as a result,  0.487338  0.512662
4   The actress strolled to the actor and, as a re...  0.364408  0.635592
5      The girl strolled to the boy and, as a result,  0.466159  0.533841
6   Mrs. Taylor strolled to Mr. Williams and, as a...  0.583176  0.416824
7            Emma strolled to David and, as a result,  0.723753  0.276247
8   The princess strolled to the prince and, as a ...  0.556477  0.443523
9          Sarah strolled to Robert and, as a result,  0.436784  0.563216
10  Mrs. Williams strolled to Mr. Taylor and, as a...  0.632230  0.367770
11           Emily strolled to Paul and, as a result,  0.676244  0.323756

In [423]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_16f,'he'))

P('subj-pron'|subj=female) =  0.5698289250334104
P('non-subj-pron'|subj=female) =  0.43017108738422394

In [424]:
c2_average_subj_female_subj_pron['strolled'] = compute_average(motion_connective2_16f,'she')
c2_average_subj_female_obj_pron['strolled'] = compute_average(motion_connective2_16f,'he')

#### male subject

In [425]:
motion_connective2_16m

                                             stimulus        he       she
12  Mr. Smith strolled to Miss Smith and, as a res...  0.326251  0.673749
13    The man strolled to the woman and, as a result,  0.529137  0.470863
14            John strolled to Mary and, as a result,  0.332840  0.667160
15            Bob strolled to Alice and, as a result,  0.840233  0.159767
16  The actor strolled to the actress and, as a re...  0.676208  0.323792
17     The boy strolled to the girl and, as a result,  0.748633  0.251367
18  Mr. William strolled to Mrs. Taylor and, as a ...  0.348118  0.651882
19           David strolled to Emma and, as a result,  0.233830  0.766170
20  The prince strolled to the princess and, as a ...  0.466027  0.533973
21         Robert strolled to Sarah and, as a result,  0.493033  0.506967
22  Mr. Taylor strolled to Mrs. Williams and, as a...  0.286517  0.713482
23           Paul strolled to Emily and, as a result,  0.327479  0.672521

In [426]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_16m,'she'))

P('subj-pron'|subj=male) =  0.46735887974500656
P('non-subj-pron'|subj=male) =  0.5326411028703054

In [427]:
c2_average_subj_male_subj_pron['strolled'] = compute_average(motion_connective2_16m,'he')
c2_average_subj_male_obj_pron['strolled'] = compute_average(motion_connective2_16m,'she')

#### verb: "trotted"

In [428]:
motion_connective2_17 = pd.read_csv("../results/transfoxl/motion/connective2/17.csv")
motion_connective2_17.head()

                                            stimulus        he       she
0  Miss Smith trotted to Mr. Smith and, as a result,  0.303998  0.696002
1     The woman trotted to the man and, as a result,  0.519489  0.480511
2             Mary trotted to John and, as a result,  0.338822  0.661178
3             Alice trotted to Bob and, as a result,  0.490511  0.509489
4  The actress trotted to the actor and, as a res...  0.575418  0.424582

In [429]:
# female subject
motion_connective2_17f = motion_connective2_17[0:12]
motion_connective2_17f = motion_connective2_17f[["stimulus","she","he"]]
# male subject
motion_connective2_17m = motion_connective2_17[12:24]

#### female subject

In [430]:
motion_connective2_17f

                                             stimulus       she        he
0   Miss Smith trotted to Mr. Smith and, as a result,  0.696002  0.303998
1      The woman trotted to the man and, as a result,  0.480511  0.519489
2              Mary trotted to John and, as a result,  0.661178  0.338822
3              Alice trotted to Bob and, as a result,  0.509489  0.490511
4   The actress trotted to the actor and, as a res...  0.424582  0.575418
5       The girl trotted to the boy and, as a result,  0.412002  0.587998
6   Mrs. Taylor trotted to Mr. Williams and, as a ...  0.561921  0.438079
7             Emma trotted to David and, as a result,  0.695763  0.304237
8   The princess trotted to the prince and, as a r...  0.530524  0.469476
9           Sarah trotted to Robert and, as a result,  0.415765  0.584235
10  Mrs. Williams trotted to Mr. Taylor and, as a ...  0.628115  0.371885
11            Emily trotted to Paul and, as a result,  0.639409  0.360591

In [431]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_17f,'he'))

P('subj-pron'|subj=female) =  0.5546051636338234
P('non-subj-pron'|subj=female) =  0.4453948438167572

In [432]:
c2_average_subj_female_subj_pron['trotted'] = compute_average(motion_connective2_17f,'she')
c2_average_subj_female_obj_pron['trotted'] = compute_average(motion_connective2_17f,'he')

#### male subject

In [433]:
motion_connective2_17m

                                             stimulus        he       she
12  Mr. Smith trotted to Miss Smith and, as a result,  0.325159  0.674841
13     The man trotted to the woman and, as a result,  0.497738  0.502262
14             John trotted to Mary and, as a result,  0.292709  0.707291
15             Bob trotted to Alice and, as a result,  0.762625  0.237375
16  The actor trotted to the actress and, as a res...  0.616297  0.383703
17      The boy trotted to the girl and, as a result,  0.696954  0.303046
18  Mr. William trotted to Mrs. Taylor and, as a r...  0.332099  0.667901
19            David trotted to Emma and, as a result,  0.237109  0.762890
20  The prince trotted to the princess and, as a r...  0.432518  0.567482
21          Robert trotted to Sarah and, as a result,  0.423774  0.576226
22  Mr. Taylor trotted to Mrs. Williams and, as a ...  0.297706  0.702294
23            Paul trotted to Emily and, as a result,  0.341239  0.658761

In [434]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_17m,'she'))

P('subj-pron'|subj=male) =  0.43799394617478055
P('non-subj-pron'|subj=male) =  0.562006072451671

In [435]:
c2_average_subj_male_subj_pron['trotted'] = compute_average(motion_connective2_17m,'he')
c2_average_subj_male_obj_pron['trotted'] = compute_average(motion_connective2_17m,'she')

### verb: "wandered"

In [436]:
motion_connective2_18 = pd.read_csv("../results/transfoxl/motion/connective2/18.csv")
motion_connective2_18.head()

                                            stimulus        he       she
0  Miss Smith wandered to Mr. Smith and, as a res...  0.178468  0.821532
1    The woman wandered to the man and, as a result,  0.491107  0.508893
2            Mary wandered to John and, as a result,  0.289158  0.710842
3            Alice wandered to Bob and, as a result,  0.532559  0.467441
4  The actress wandered to the actor and, as a re...  0.634308  0.365692

In [437]:
# female subject
motion_connective2_18f = motion_connective2_18[0:12]
motion_connective2_18f = motion_connective2_18f[["stimulus","she","he"]]
# male subject
motion_connective2_18m = motion_connective2_18[12:24]

#### female subject

In [438]:
motion_connective2_18f

                                             stimulus       she        he
0   Miss Smith wandered to Mr. Smith and, as a res...  0.821532  0.178468
1     The woman wandered to the man and, as a result,  0.508893  0.491107
2             Mary wandered to John and, as a result,  0.710842  0.289158
3             Alice wandered to Bob and, as a result,  0.467441  0.532559
4   The actress wandered to the actor and, as a re...  0.365692  0.634308
5      The girl wandered to the boy and, as a result,  0.466031  0.533969
6   Mrs. Taylor wandered to Mr. Williams and, as a...  0.568132  0.431868
7            Emma wandered to David and, as a result,  0.698382  0.301618
8   The princess wandered to the prince and, as a ...  0.583716  0.416284
9          Sarah wandered to Robert and, as a result,  0.404207  0.595793
10  Mrs. Williams wandered to Mr. Taylor and, as a...  0.631212  0.368788
11           Emily wandered to Paul and, as a result,  0.689526  0.310474

In [439]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_18f,'he'))

P('subj-pron'|subj=female) =  0.5763004447023073
P('non-subj-pron'|subj=female) =  0.4236995515724023

In [440]:
c2_average_subj_female_subj_pron['wandered'] = compute_average(motion_connective2_18f,'she')
c2_average_subj_female_obj_pron['wandered'] = compute_average(motion_connective2_18f,'he')

#### male subject

In [441]:
motion_connective2_18m

                                             stimulus        he       she
12  Mr. Smith wandered to Miss Smith and, as a res...  0.349442  0.650558
13    The man wandered to the woman and, as a result,  0.563431  0.436569
14            John wandered to Mary and, as a result,  0.317916  0.682084
15            Bob wandered to Alice and, as a result,  0.864023  0.135977
16  The actor wandered to the actress and, as a re...  0.772454  0.227546
17     The boy wandered to the girl and, as a result,  0.810837  0.189163
18  Mr. William wandered to Mrs. Taylor and, as a ...  0.387862  0.612138
19           David wandered to Emma and, as a result,  0.356231  0.643769
20  The prince wandered to the princess and, as a ...  0.503397  0.496603
21         Robert wandered to Sarah and, as a result,  0.744409  0.255591
22  Mr. Taylor wandered to Mrs. Williams and, as a...  0.295048  0.704952
23           Paul wandered to Emily and, as a result,  0.442362  0.557638

In [442]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_18m,'she'))

P('subj-pron'|subj=male) =  0.5339510465661684
P('non-subj-pron'|subj=male) =  0.4660489422579606

In [443]:
c2_average_subj_male_subj_pron['wandered'] = compute_average(motion_connective2_18m,'he')
c2_average_subj_male_obj_pron['wandered'] = compute_average(motion_connective2_18m,'she')

## Summary of Results

In [444]:
c2_results_fsubj_subjpron = pd.DataFrame(list(c2_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c2_results_fsubj_objpron = pd.DataFrame(list(c2_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c2_results_fsubj = c2_results_fsubj_subjpron.merge(c2_results_fsubj_objpron)
c2_results_fsubj

         verb  subj_ref_female_subj  obj_ref_female_subj
0        flew              0.510938             0.489062
1      walked              0.597243             0.402757
2         ran              0.540917             0.459083
3        swam              0.638563             0.361437
4       drove              0.550822             0.449178
5      jogged              0.481724             0.518276
6      bolted              0.531791             0.468209
7     crawled              0.563558             0.436442
8      limped              0.557788             0.442212
9    lumbered              0.552766             0.447234
10    marched              0.635696             0.364303
11  meandered              0.597728             0.402272
12    pranced              0.542568             0.457432
13      raced              0.617606             0.382394
14  staggered              0.581188             0.418812
15   strolled              0.569829             0.430171
16    trotted              0.554605             0.445395
17   wandered              0.576300             0.423700

In [445]:
c2_results_msubj_subjpron = pd.DataFrame(list(c2_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c2_results_msubj_objpron = pd.DataFrame(list(c2_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c2_results_msubj = c2_results_msubj_subjpron.merge(c2_results_msubj_objpron)
c2_results_msubj

         verb  subj_ref_male_subj  obj_ref_male_subj
0        flew            0.653971           0.346029
1      walked            0.458308           0.541692
2         ran            0.338781           0.661219
3        swam            0.591036           0.408964
4       drove            0.465601           0.534399
5      jogged            0.545833           0.454167
6      bolted            0.647738           0.352262
7     crawled            0.508260           0.491740
8      limped            0.538885           0.461115
9    lumbered            0.533686           0.466314
10    marched            0.462047           0.537953
11  meandered            0.531344           0.468656
12    pranced            0.524375           0.475625
13      raced            0.435967           0.564033
14  staggered            0.422138           0.577862
15   strolled            0.467359           0.532641
16    trotted            0.437994           0.562006
17   wandered            0.533951           0.466049

In [446]:
c2_results = c2_results_fsubj.merge(c2_results_msubj)
c2_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,flew,0.510938,0.489062,0.653971,0.346029
1,walked,0.597243,0.402757,0.458308,0.541692
2,ran,0.540917,0.459083,0.338781,0.661219
3,swam,0.638563,0.361437,0.591036,0.408964
4,drove,0.550822,0.449178,0.465601,0.534399
5,jogged,0.481724,0.518276,0.545833,0.454167
6,bolted,0.531791,0.468209,0.647738,0.352262
7,crawled,0.563558,0.436442,0.508260,0.491740
8,limped,0.557788,0.442212,0.538885,0.461115
9,lumbered,0.552766,0.447234,0.533686,0.466314
10,marched,0.635696,0.364303,0.462047,0.537953
11,meandered,0.597728,0.402272,0.531344,0.468656
12,pranced,0.542568,0.457432,0.524375,0.475625
13,raced,0.617606,0.382394,0.435967,0.564033
14,staggered,0.581188,0.418812,0.422138,0.577862
15,strolled,0.569829,0.430171,0.467359,0.532641
16,trotted,0.554605,0.445395,0.437994,0.562006
17,wandered,0.576300,0.423700,0.533951,0.466049

In [447]:
print("P(subj_reference |subj=female)", compute_average(c2_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c2_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.5667573115615933
P(obj_reference |subj=female) 0.43324269057699927

In [448]:
print("P(subj_reference |subj=male)", compute_average(c2_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c2_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.5054040411832156
P(obj_reference |subj=male) 0.4945959577129948

In [449]:
# save results to csv
col_headers = ['verb','subj_ref_female_subj','obj_ref_female_subj','subj_ref_male_subj','obj_ref_male_subj']
np_results.to_csv("../results/transfoxl/summary/motion-noprompt.csv",index=False,header=col_headers)
c1_results.to_csv("../results/transfoxl/summary/motion-connective1.csv",index=False,header=col_headers)
c2_results.to_csv("../results/transfoxl/summary/motion-connective2.csv",index=False,header=col_headers)