In [1]:
import pandas as pd
import numpy as np

In [2]:
def compute_average(df,col):
    return np.mean(df[col].values)

## No-prompt

In [3]:
np_average_subj_female_subj_pron = {}
np_average_subj_female_obj_pron = {}
np_average_subj_male_subj_pron = {}
np_average_subj_male_obj_pron = {}

### Verb: "flew"

In [4]:
motion_noprompt_1 = pd.read_csv("../results/motion/no-prompt/1.csv")
motion_noprompt_1.head()

                         stimulus        He       She
0   Miss Smith flew to Mr. Smith.  0.758990  0.241010
1      The woman flew to the man.  0.784776  0.215224
2              Mary flew to John.  0.656987  0.343013
3              Alice flew to Bob.  0.613324  0.386676
4  The actress flew to the actor.  0.825839  0.174161

In [5]:
# female subject
motion_noprompt_1f = motion_noprompt_1[0:12]
motion_noprompt_1f = motion_noprompt_1f[["stimulus","She","He"]]
# male subject
motion_noprompt_1m = motion_noprompt_1[12:24]

#### female subject

In [6]:
motion_noprompt_1f

                             stimulus       She        He
0       Miss Smith flew to Mr. Smith.  0.241010  0.758990
1          The woman flew to the man.  0.215224  0.784776
2                  Mary flew to John.  0.343013  0.656987
3                  Alice flew to Bob.  0.386676  0.613324
4      The actress flew to the actor.  0.174161  0.825839
5           The girl flew to the boy.  0.217677  0.782324
6   Mrs. Taylor flew to Mr. Williams.  0.232389  0.767611
7                 Emma flew to David.  0.267430  0.732570
8    The princess flew to the prince.  0.199302  0.800698
9               Sarah flew to Robert.  0.544982  0.455018
10  Mrs. Williams flew to Mr. Taylor.  0.222612  0.777389
11                Emily flew to Paul.  0.520748  0.479252

In [7]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_1f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_1f,'He'))

P('subj-pron'|subj=female) =  0.29710186769564945
P('non-subj-pron'|subj=female) =  0.7028981298208237

In [8]:
np_average_subj_female_subj_pron['flew'] = compute_average(motion_noprompt_1f,'She')
np_average_subj_female_obj_pron['flew'] = compute_average(motion_noprompt_1f,'He')

#### male subject

In [9]:
motion_noprompt_1m

                             stimulus        He       She
12      Mr. Smith flew to Miss Smith.  0.814515  0.185485
13         The man flew to the woman.  0.854575  0.145425
14                 John flew to Mary.  0.826698  0.173302
15                 Bob flew to Alice.  0.899818  0.100182
16     The actor flew to the actress.  0.857795  0.142205
17          The boy flew to the girl.  0.840364  0.159636
18   Mr. William flew to Mrs. Taylor.  0.839110  0.160890
19                David flew to Emma.  0.183993  0.816007
20   The prince flew to the princess.  0.856129  0.143871
21              Robert flew to Sarah.  0.682544  0.317456
22  Mr. Taylor flew to Mrs. Williams.  0.823710  0.176290
23                Paul flew to Emily.  0.816646  0.183354

In [10]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_1m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_1m,'She'))

P('subj-pron'|subj=male) =  0.7746580416957537
P('non-subj-pron'|subj=male) =  0.22534195892512798

In [11]:
np_average_subj_male_subj_pron['flew'] = compute_average(motion_noprompt_1m,'He')
np_average_subj_male_obj_pron['flew'] = compute_average(motion_noprompt_1m,'She')

### Verb: "walked"

In [12]:
motion_noprompt_2 = pd.read_csv("../results/motion/no-prompt/2.csv")
motion_noprompt_2.head()

                           stimulus        He       She
0   Miss Smith walked to Mr. Smith.  0.754658  0.245342
1      The woman walked to the man.  0.783206  0.216794
2              Mary walked to John.  0.639252  0.360748
3              Alice walked to Bob.  0.434756  0.565244
4  The actress walked to the actor.  0.803638  0.196362

In [13]:
# female subject
motion_noprompt_2f = motion_noprompt_2[0:12]
motion_noprompt_2f = motion_noprompt_2f[["stimulus","She","He"]]
# male subject
motion_noprompt_2m = motion_noprompt_2[12:24]

#### female subject

In [14]:
motion_noprompt_2f

                               stimulus       She        He
0       Miss Smith walked to Mr. Smith.  0.245342  0.754658
1          The woman walked to the man.  0.216794  0.783206
2                  Mary walked to John.  0.360748  0.639252
3                  Alice walked to Bob.  0.565244  0.434756
4      The actress walked to the actor.  0.196362  0.803638
5           The girl walked to the boy.  0.211321  0.788679
6   Mrs. Taylor walked to Mr. Williams.  0.230175  0.769825
7                 Emma walked to David.  0.952695  0.047305
8    The princess walked to the prince.  0.199704  0.800296
9               Sarah walked to Robert.  0.634780  0.365220
10  Mrs. Williams walked to Mr. Taylor.  0.215857  0.784143
11                Emily walked to Paul.  0.647851  0.352149

In [15]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_2f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_2f,'He'))

P('subj-pron'|subj=female) =  0.38973933085799217
P('non-subj-pron'|subj=female) =  0.610260653619965

In [16]:
np_average_subj_female_subj_pron['walked'] = compute_average(motion_noprompt_2f,'She')
np_average_subj_female_obj_pron['walked'] = compute_average(motion_noprompt_2f,'He')

#### male subject

In [17]:
motion_noprompt_2m

                               stimulus        He       She
12      Mr. Smith walked to Miss Smith.  0.820279  0.179721
13         The man walked to the woman.  0.862888  0.137112
14                 John walked to Mary.  0.833905  0.166095
15                 Bob walked to Alice.  0.662289  0.337711
16     The actor walked to the actress.  0.860797  0.139203
17          The boy walked to the girl.  0.854156  0.145844
18   Mr. William walked to Mrs. Taylor.  0.847539  0.152461
19                David walked to Emma.  0.108534  0.891466
20   The prince walked to the princess.  0.863860  0.136140
21              Robert walked to Sarah.  0.303139  0.696861
22  Mr. Taylor walked to Mrs. Williams.  0.828805  0.171195
23                Paul walked to Emily.  0.826109  0.173891

In [18]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_2m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_2m,'She'))

P('subj-pron'|subj=male) =  0.72269167813162
P('non-subj-pron'|subj=male) =  0.27730832745631534

In [19]:
np_average_subj_male_subj_pron['walked'] = compute_average(motion_noprompt_2m,'He')
np_average_subj_male_obj_pron['walked'] = compute_average(motion_noprompt_2m,'She')

### Verb: "ran"

In [20]:
motion_noprompt_3 = pd.read_csv("../results/motion/no-prompt/3.csv")
motion_noprompt_3.head()

                        stimulus        He       She
0   Miss Smith ran to Mr. Smith.  0.759406  0.240594
1      The woman ran to the man.  0.785314  0.214686
2              Mary ran to John.  0.664343  0.335657
3              Alice ran to Bob.  0.331298  0.668702
4  The actress ran to the actor.  0.801715  0.198285

In [21]:
# female subject
motion_noprompt_3f = motion_noprompt_3[0:12]
motion_noprompt_3f = motion_noprompt_3f[["stimulus","She","He"]]
# male subject
motion_noprompt_3m = motion_noprompt_3[12:24]

#### female subject

In [22]:
motion_noprompt_3f

                            stimulus       She        He
0       Miss Smith ran to Mr. Smith.  0.240594  0.759406
1          The woman ran to the man.  0.214686  0.785314
2                  Mary ran to John.  0.335657  0.664343
3                  Alice ran to Bob.  0.668702  0.331298
4      The actress ran to the actor.  0.198285  0.801715
5           The girl ran to the boy.  0.209363  0.790637
6   Mrs. Taylor ran to Mr. Williams.  0.230840  0.769160
7                 Emma ran to David.  0.921814  0.078186
8    The princess ran to the prince.  0.198703  0.801297
9               Sarah ran to Robert.  0.699248  0.300752
10  Mrs. Williams ran to Mr. Taylor.  0.215290  0.784710
11                Emily ran to Paul.  0.409164  0.590836

In [23]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_3f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_3f,'He'))

P('subj-pron'|subj=female) =  0.3785289426644643
P('non-subj-pron'|subj=female) =  0.6214710411926111

In [24]:
np_average_subj_female_subj_pron['ran'] = compute_average(motion_noprompt_3f,'She')
np_average_subj_female_obj_pron['ran'] = compute_average(motion_noprompt_3f,'He')

#### male subject

In [25]:
motion_noprompt_3m

                            stimulus        He       She
12      Mr. Smith ran to Miss Smith.  0.823107  0.176893
13         The man ran to the woman.  0.863241  0.136759
14                 John ran to Mary.  0.838524  0.161476
15                 Bob ran to Alice.  0.254448  0.745552
16     The actor ran to the actress.  0.865666  0.134334
17          The boy ran to the girl.  0.858868  0.141132
18   Mr. William ran to Mrs. Taylor.  0.851517  0.148483
19                David ran to Emma.  0.053240  0.946760
20   The prince ran to the princess.  0.868596  0.131404
21              Robert ran to Sarah.  0.111783  0.888217
22  Mr. Taylor ran to Mrs. Williams.  0.831650  0.168350
23                Paul ran to Emily.  0.827167  0.172833

In [26]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_3m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_3m,'She'))

P('subj-pron'|subj=male) =  0.6706505349526802
P('non-subj-pron'|subj=male) =  0.32934946318467456

In [27]:
np_average_subj_male_subj_pron['ran'] = compute_average(motion_noprompt_3m,'He')
np_average_subj_male_obj_pron['ran'] = compute_average(motion_noprompt_3m,'She')

### verb: "swam"

In [28]:
motion_noprompt_4 = pd.read_csv("../results/motion/no-prompt/4.csv")
motion_noprompt_4.head()

                         stimulus        He       She
0   Miss Smith swam to Mr. Smith.  0.759702  0.240298
1      The woman swam to the man.  0.788506  0.211494
2              Mary swam to John.  0.360251  0.639749
3              Alice swam to Bob.  0.290111  0.709889
4  The actress swam to the actor.  0.821673  0.178327

In [29]:
# female subject
motion_noprompt_4f = motion_noprompt_4[0:12]
motion_noprompt_4f = motion_noprompt_4f[["stimulus","She","He"]]
# male subject
motion_noprompt_4m = motion_noprompt_4[12:24]

#### female subject

In [30]:
motion_noprompt_4f

                             stimulus       She        He
0       Miss Smith swam to Mr. Smith.  0.240298  0.759702
1          The woman swam to the man.  0.211494  0.788506
2                  Mary swam to John.  0.639749  0.360251
3                  Alice swam to Bob.  0.709889  0.290111
4      The actress swam to the actor.  0.178327  0.821673
5           The girl swam to the boy.  0.204331  0.795669
6   Mrs. Taylor swam to Mr. Williams.  0.229834  0.770166
7                 Emma swam to David.  0.251865  0.748135
8    The princess swam to the prince.  0.192794  0.807206
9               Sarah swam to Robert.  0.663044  0.336956
10  Mrs. Williams swam to Mr. Taylor.  0.216629  0.783371
11                Emily swam to Paul.  0.647697  0.352303

In [31]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_4f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_4f,'He'))

P('subj-pron'|subj=female) =  0.3654959922035535
P('non-subj-pron'|subj=female) =  0.634503997862339

In [32]:
np_average_subj_female_subj_pron['swam'] = compute_average(motion_noprompt_4f,'She')
np_average_subj_female_obj_pron['swam'] = compute_average(motion_noprompt_4f,'He')

#### male subject

In [33]:
motion_noprompt_4m

                             stimulus        He       She
12      Mr. Smith swam to Miss Smith.  0.822604  0.177396
13         The man swam to the woman.  0.859690  0.140310
14                 John swam to Mary.  0.832208  0.167792
15                 Bob swam to Alice.  0.889916  0.110084
16     The actor swam to the actress.  0.856787  0.143213
17          The boy swam to the girl.  0.847087  0.152913
18   Mr. William swam to Mrs. Taylor.  0.847035  0.152965
19                David swam to Emma.  0.289774  0.710226
20   The prince swam to the princess.  0.858006  0.141994
21              Robert swam to Sarah.  0.599594  0.400406
22  Mr. Taylor swam to Mrs. Williams.  0.833640  0.166360
23                Paul swam to Emily.  0.827138  0.172862

In [34]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_4m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_4m,'She'))

P('subj-pron'|subj=male) =  0.7802898113926252
P('non-subj-pron'|subj=male) =  0.21971018984913826

In [35]:
np_average_subj_male_subj_pron['swam'] = compute_average(motion_noprompt_4m,'He')
np_average_subj_male_obj_pron['swam'] = compute_average(motion_noprompt_4m,'She')

### verb: "drove"

In [36]:
motion_noprompt_5 = pd.read_csv("../results/motion/no-prompt/5.csv")
motion_noprompt_5.head()

                          stimulus        He       She
0   Miss Smith drove to Mr. Smith.  0.755144  0.244856
1      The woman drove to the man.  0.781475  0.218524
2              Mary drove to John.  0.650550  0.349450
3              Alice drove to Bob.  0.368687  0.631313
4  The actress drove to the actor.  0.815184  0.184816

In [37]:
# female subject
motion_noprompt_5f = motion_noprompt_5[0:12]
motion_noprompt_5f = motion_noprompt_5f[["stimulus","She","He"]]
# male subject
motion_noprompt_5m = motion_noprompt_5[12:24]

#### female subject

In [38]:
motion_noprompt_5f

                              stimulus       She        He
0       Miss Smith drove to Mr. Smith.  0.244856  0.755144
1          The woman drove to the man.  0.218524  0.781475
2                  Mary drove to John.  0.349450  0.650550
3                  Alice drove to Bob.  0.631313  0.368687
4      The actress drove to the actor.  0.184816  0.815184
5           The girl drove to the boy.  0.219071  0.780929
6   Mrs. Taylor drove to Mr. Williams.  0.237469  0.762531
7                 Emma drove to David.  0.950269  0.049731
8    The princess drove to the prince.  0.206283  0.793717
9               Sarah drove to Robert.  0.650389  0.349611
10  Mrs. Williams drove to Mr. Taylor.  0.224978  0.775022
11                Emily drove to Paul.  0.631305  0.368695

In [39]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_5f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_5f,'He'))

P('subj-pron'|subj=female) =  0.3957268421848615
P('non-subj-pron'|subj=female) =  0.6042731450870633

In [40]:
np_average_subj_female_subj_pron['drove'] = compute_average(motion_noprompt_5f,'She')
np_average_subj_female_obj_pron['drove'] = compute_average(motion_noprompt_5f,'He')

#### male subject

In [41]:
motion_noprompt_5m

                              stimulus        He       She
12      Mr. Smith drove to Miss Smith.  0.817684  0.182316
13         The man drove to the woman.  0.860604  0.139396
14                 John drove to Mary.  0.832064  0.167936
15                 Bob drove to Alice.  0.765717  0.234283
16     The actor drove to the actress.  0.859923  0.140077
17          The boy drove to the girl.  0.851860  0.148140
18   Mr. William drove to Mrs. Taylor.  0.844491  0.155509
19                David drove to Emma.  0.138575  0.861425
20   The prince drove to the princess.  0.860692  0.139308
21              Robert drove to Sarah.  0.419330  0.580670
22  Mr. Taylor drove to Mrs. Williams.  0.827596  0.172404
23                Paul drove to Emily.  0.821254  0.178746

In [42]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_5m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_5m,'She'))

P('subj-pron'|subj=male) =  0.7416490962107977
P('non-subj-pron'|subj=male) =  0.2583509162068367

In [43]:
np_average_subj_male_subj_pron['drove'] = compute_average(motion_noprompt_5m,'He')
np_average_subj_male_obj_pron['drove'] = compute_average(motion_noprompt_5m,'She')

### verb: "jogged"

In [44]:
motion_noprompt_6 = pd.read_csv("../results/motion/no-prompt/6.csv")
motion_noprompt_6.head()

                           stimulus        He       She
0   Miss Smith jogged to Mr. Smith.  0.769379  0.230621
1      The woman jogged to the man.  0.790054  0.209946
2              Mary jogged to John.  0.464148  0.535852
3              Alice jogged to Bob.  0.283975  0.716025
4  The actress jogged to the actor.  0.820111  0.179889

In [45]:
# female subject
motion_noprompt_6f = motion_noprompt_6[0:12]
motion_noprompt_6f = motion_noprompt_6f[["stimulus","She","He"]]
# male subject
motion_noprompt_6m = motion_noprompt_6[12:24]

#### female subject

In [46]:
motion_noprompt_6f

                               stimulus       She        He
0       Miss Smith jogged to Mr. Smith.  0.230621  0.769379
1          The woman jogged to the man.  0.209946  0.790054
2                  Mary jogged to John.  0.535852  0.464148
3                  Alice jogged to Bob.  0.716025  0.283975
4      The actress jogged to the actor.  0.179889  0.820111
5           The girl jogged to the boy.  0.202516  0.797484
6   Mrs. Taylor jogged to Mr. Williams.  0.222034  0.777966
7                 Emma jogged to David.  0.247344  0.752656
8    The princess jogged to the prince.  0.191659  0.808341
9               Sarah jogged to Robert.  0.653484  0.346516
10  Mrs. Williams jogged to Mr. Taylor.  0.208075  0.791925
11                Emily jogged to Paul.  0.569181  0.430819

In [47]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_6f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_6f,'He'))

P('subj-pron'|subj=female) =  0.34721878667672473
P('non-subj-pron'|subj=female) =  0.6527812207738558

In [48]:
np_average_subj_female_subj_pron['jogged'] = compute_average(motion_noprompt_6f,'She')
np_average_subj_female_obj_pron['jogged'] = compute_average(motion_noprompt_6f,'He')

#### male subject

In [49]:
motion_noprompt_6m

                               stimulus        He       She
12      Mr. Smith jogged to Miss Smith.  0.823077  0.176923
13         The man jogged to the woman.  0.859303  0.140697
14                 John jogged to Mary.  0.835379  0.164621
15                 Bob jogged to Alice.  0.703664  0.296336
16     The actor jogged to the actress.  0.857538  0.142462
17          The boy jogged to the girl.  0.852611  0.147389
18   Mr. William jogged to Mrs. Taylor.  0.845781  0.154219
19                David jogged to Emma.  0.130953  0.869047
20   The prince jogged to the princess.  0.861170  0.138830
21              Robert jogged to Sarah.  0.386753  0.613247
22  Mr. Taylor jogged to Mrs. Williams.  0.833399  0.166602
23                Paul jogged to Emily.  0.827447  0.172553

In [50]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_6m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_6m,'She'))

P('subj-pron'|subj=male) =  0.7347562698026499
P('non-subj-pron'|subj=male) =  0.2652437351644039

In [51]:
np_average_subj_male_subj_pron['jogged'] = compute_average(motion_noprompt_6m,'He')
np_average_subj_male_obj_pron['jogged'] = compute_average(motion_noprompt_6m,'She')

## Summary of Results

In [52]:
np_results_fsubj_subjpron = pd.DataFrame(list(np_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
np_results_fsubj_objpron = pd.DataFrame(list(np_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
np_results_fsubj = np_results_fsubj_subjpron.merge(np_results_fsubj_objpron)
np_results_fsubj

     verb  subj_ref_female_subj  obj_ref_female_subj
0    flew              0.297102             0.702898
1  walked              0.389739             0.610261
2     ran              0.378529             0.621471
3    swam              0.365496             0.634504
4   drove              0.395727             0.604273
5  jogged              0.347219             0.652781

In [53]:
np_results_msubj_subjpron = pd.DataFrame(list(np_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
np_results_msubj_objpron = pd.DataFrame(list(np_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
np_results_msubj = np_results_msubj_subjpron.merge(np_results_msubj_objpron)
np_results_msubj

     verb  subj_ref_male_subj  obj_ref_male_subj
0    flew            0.774658           0.225342
1  walked            0.722692           0.277308
2     ran            0.670651           0.329349
3    swam            0.780290           0.219710
4   drove            0.741649           0.258351
5  jogged            0.734756           0.265244

In [54]:
np_results = np_results_fsubj.merge(np_results_msubj)
np_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,flew,0.297102,0.702898,0.774658,0.225342
1,walked,0.389739,0.610261,0.722692,0.277308
2,ran,0.378529,0.621471,0.670651,0.329349
3,swam,0.365496,0.634504,0.780290,0.219710
4,drove,0.395727,0.604273,0.741649,0.258351
5,jogged,0.347219,0.652781,0.734756,0.265244

In [55]:
print("P(subj_reference |subj=female)", compute_average(np_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(np_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.3623019603805409
P(obj_reference |subj=female) 0.6376980313927764

In [56]:
print("P(subj_reference |subj=male)", compute_average(np_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(np_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.7374492386976877
P(obj_reference |subj=male) 0.2625507651310828

## Connective: "because"

In [57]:
c1_average_subj_female_subj_pron = {}
c1_average_subj_female_obj_pron = {}
c1_average_subj_male_subj_pron = {}
c1_average_subj_male_obj_pron = {}

### verb: "flew"

In [58]:
motion_connective1_1 = pd.read_csv("../results/motion/connective1/1.csv")
motion_connective1_1.head()

                                stimulus        he       she
0   Miss Smith flew to Mr. Smith because  0.135334  0.864666
1      The woman flew to the man because  0.364666  0.635334
2              Mary flew to John because  0.080697  0.919303
3              Alice flew to Bob because  0.047785  0.952215
4  The actress flew to the actor because  0.222974  0.777026

In [59]:
# female subject
motion_connective1_1f = motion_connective1_1[0:12]
motion_connective1_1f = motion_connective1_1f[["stimulus","she","he"]]
# male subject
motion_connective1_1m = motion_connective1_1[12:24]

#### female subject

In [60]:
motion_connective1_1f

                                    stimulus       she        he
0       Miss Smith flew to Mr. Smith because  0.864666  0.135334
1          The woman flew to the man because  0.635334  0.364666
2                  Mary flew to John because  0.919303  0.080697
3                  Alice flew to Bob because  0.952215  0.047785
4      The actress flew to the actor because  0.777026  0.222974
5           The girl flew to the boy because  0.765824  0.234176
6   Mrs. Taylor flew to Mr. Williams because  0.879078  0.120922
7                 Emma flew to David because  0.976895  0.023105
8    The princess flew to the prince because  0.629602  0.370398
9               Sarah flew to Robert because  0.947607  0.052393
10  Mrs. Williams flew to Mr. Taylor because  0.854541  0.145459
11                Emily flew to Paul because  0.927423  0.072577

In [61]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_1f,'he'))

P('subj-pron'|subj=female) =  0.8441260308027267
P('non-subj-pron'|subj=female) =  0.15587396966293454

In [62]:
c1_average_subj_female_subj_pron['flew'] = compute_average(motion_connective1_1f,'she')
c1_average_subj_female_obj_pron['flew'] = compute_average(motion_connective1_1f,'he')

#### male subject

In [63]:
motion_connective1_1m

                                    stimulus        he       she
12      Mr. Smith flew to Miss Smith because  0.576699  0.423301
13         The man flew to the woman because  0.361184  0.638816
14                 John flew to Mary because  0.457618  0.542382
15                 Bob flew to Alice because  0.884480  0.115520
16     The actor flew to the actress because  0.114845  0.885155
17          The boy flew to the girl because  0.226781  0.773219
18   Mr. William flew to Mrs. Taylor because  0.293114  0.706886
19                David flew to Emma because  0.488226  0.511774
20   The prince flew to the princess because  0.387422  0.612578
21              Robert flew to Sarah because  0.520307  0.479693
22  Mr. Taylor flew to Mrs. Williams because  0.164008  0.835992
23                Paul flew to Emily because  0.527942  0.472058

In [64]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_1m,'she'))

P('subj-pron'|subj=male) =  0.4168856218457222
P('non-subj-pron'|subj=male) =  0.5831143949180841

In [65]:
c1_average_subj_male_subj_pron['flew'] = compute_average(motion_connective1_1m,'he')
c1_average_subj_male_obj_pron['flew'] = compute_average(motion_connective1_1m,'she')

### verb: "walked"

In [66]:
motion_connective1_2 = pd.read_csv("../results/motion/connective1/2.csv")
motion_connective1_2.head()

                                  stimulus        he       she
0   Miss Smith walked to Mr. Smith because  0.187570  0.812430
1      The woman walked to the man because  0.357116  0.642885
2              Mary walked to John because  0.086483  0.913517
3              Alice walked to Bob because  0.040943  0.959056
4  The actress walked to the actor because  0.157915  0.842085

In [67]:
# female subject
motion_connective1_2f = motion_connective1_2[0:12]
motion_connective1_2f = motion_connective1_2f[["stimulus","she","he"]]
# male subject
motion_connective1_2m = motion_connective1_2[12:24]

#### female subject

In [68]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_2f,'he'))

P('subj-pron'|subj=female) =  0.8400037437677383
P('non-subj-pron'|subj=female) =  0.15999628494804105

In [69]:
c1_average_subj_female_subj_pron['walked'] = compute_average(motion_connective1_2f,'she')
c1_average_subj_female_obj_pron['walked'] = compute_average(motion_connective1_2f,'he')

#### male subject

In [70]:
motion_connective1_2m

                                      stimulus        he       she
12      Mr. Smith walked to Miss Smith because  0.608399  0.391601
13         The man walked to the woman because  0.497973  0.502027
14                 John walked to Mary because  0.622767  0.377233
15                 Bob walked to Alice because  0.687837  0.312163
16     The actor walked to the actress because  0.138482  0.861517
17          The boy walked to the girl because  0.427671  0.572329
18   Mr. William walked to Mrs. Taylor because  0.317278  0.682722
19                David walked to Emma because  0.357152  0.642848
20   The prince walked to the princess because  0.483196  0.516804
21              Robert walked to Sarah because  0.406579  0.593421
22  Mr. Taylor walked to Mrs. Williams because  0.192510  0.807490
23                Paul walked to Emily because  0.416375  0.583625

In [71]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_2m,'she'))

P('subj-pron'|subj=male) =  0.429684912165006
P('non-subj-pron'|subj=male) =  0.5703150853514671

In [72]:
c1_average_subj_male_subj_pron['walked'] = compute_average(motion_connective1_2m,'he')
c1_average_subj_male_obj_pron['walked'] = compute_average(motion_connective1_2m,'she')

### verb: "ran"

In [73]:
motion_connective1_3 = pd.read_csv("../results/motion/connective1/3.csv")
motion_connective1_3.head()

                               stimulus        he       she
0   Miss Smith ran to Mr. Smith because  0.180584  0.819416
1      The woman ran to the man because  0.382058  0.617942
2              Mary ran to John because  0.143053  0.856947
3              Alice ran to Bob because  0.041758  0.958242
4  The actress ran to the actor because  0.174855  0.825145

In [74]:
# female subject
motion_connective1_3f = motion_connective1_3[0:12]
motion_connective1_3f = motion_connective1_3f[["stimulus","she","he"]]
# male subject
motion_connective1_3m = motion_connective1_3[12:24]

#### female subject

In [75]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_3f,'he'))

P('subj-pron'|subj=female) =  0.8254143098990122
P('non-subj-pron'|subj=female) =  0.1745856994142135

In [76]:
c1_average_subj_female_subj_pron['ran'] = compute_average(motion_connective1_3f,'she')
c1_average_subj_female_obj_pron['ran'] = compute_average(motion_connective1_3f,'he')

#### male subject

In [77]:
motion_connective1_3m

                                   stimulus        he       she
12      Mr. Smith ran to Miss Smith because  0.555781  0.444219
13         The man ran to the woman because  0.491516  0.508484
14                 John ran to Mary because  0.639015  0.360985
15                 Bob ran to Alice because  0.475832  0.524168
16     The actor ran to the actress because  0.181974  0.818026
17          The boy ran to the girl because  0.445530  0.554470
18   Mr. William ran to Mrs. Taylor because  0.276370  0.723630
19                David ran to Emma because  0.370981  0.629019
20   The prince ran to the princess because  0.505834  0.494166
21              Robert ran to Sarah because  0.262935  0.737065
22  Mr. Taylor ran to Mrs. Williams because  0.140226  0.859774
23                Paul ran to Emily because  0.430578  0.569422

In [78]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_3m,'she'))

P('subj-pron'|subj=male) =  0.39804769804080326
P('non-subj-pron'|subj=male) =  0.6019523069262505

In [79]:
c1_average_subj_male_subj_pron['ran'] = compute_average(motion_connective1_3m,'he')
c1_average_subj_male_obj_pron['ran'] = compute_average(motion_connective1_3m,'she')

### verb: "swam"

In [80]:
motion_connective1_4 = pd.read_csv("../results/motion/connective1/4.csv")
motion_connective1_4.head()

                                stimulus        he       she
0   Miss Smith swam to Mr. Smith because  0.187041  0.812959
1      The woman swam to the man because  0.378967  0.621033
2              Mary swam to John because  0.062425  0.937575
3              Alice swam to Bob because  0.087824  0.912176
4  The actress swam to the actor because  0.217342  0.782658

In [81]:
# female subject
motion_connective1_4f = motion_connective1_4[0:12]
motion_connective1_4f = motion_connective1_4f[["stimulus","she","he"]]
# male subject
motion_connective1_4m = motion_connective1_4[12:24]

#### female subject

In [82]:
motion_connective1_4f

                                    stimulus       she        he
0       Miss Smith swam to Mr. Smith because  0.812959  0.187041
1          The woman swam to the man because  0.621033  0.378967
2                  Mary swam to John because  0.937575  0.062425
3                  Alice swam to Bob because  0.912176  0.087824
4      The actress swam to the actor because  0.782658  0.217342
5           The girl swam to the boy because  0.774596  0.225404
6   Mrs. Taylor swam to Mr. Williams because  0.861228  0.138772
7                 Emma swam to David because  0.962239  0.037761
8    The princess swam to the prince because  0.618043  0.381957
9               Sarah swam to Robert because  0.847776  0.152224
10  Mrs. Williams swam to Mr. Taylor because  0.815084  0.184916
11                Emily swam to Paul because  0.814877  0.185123

In [83]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_4f,'he'))

P('subj-pron'|subj=female) =  0.8133537918329239
P('non-subj-pron'|subj=female) =  0.18664619730164608

In [84]:
c1_average_subj_female_subj_pron['swam'] = compute_average(motion_connective1_4f,'she')
c1_average_subj_female_obj_pron['swam'] = compute_average(motion_connective1_4f,'he')

#### male subject

In [85]:
motion_connective1_4m

                                    stimulus        he       she
12      Mr. Smith swam to Miss Smith because  0.665454  0.334546
13         The man swam to the woman because  0.567950  0.432050
14                 John swam to Mary because  0.692425  0.307575
15                 Bob swam to Alice because  0.839377  0.160623
16     The actor swam to the actress because  0.220827  0.779173
17          The boy swam to the girl because  0.497897  0.502103
18   Mr. William swam to Mrs. Taylor because  0.382467  0.617533
19                David swam to Emma because  0.582331  0.417669
20   The prince swam to the princess because  0.598237  0.401763
21              Robert swam to Sarah because  0.524702  0.475298
22  Mr. Taylor swam to Mrs. Williams because  0.251577  0.748423
23                Paul swam to Emily because  0.594019  0.405981

In [86]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_4m,'she'))

P('subj-pron'|subj=male) =  0.5347719043493271
P('non-subj-pron'|subj=male) =  0.46522808944185573

In [87]:
c1_average_subj_male_subj_pron['swam'] = compute_average(motion_connective1_4m,'he')
c1_average_subj_male_obj_pron['swam'] = compute_average(motion_connective1_4m,'she')

### verb: "drove"

In [88]:
motion_connective1_5 = pd.read_csv("../results/motion/connective1/5.csv")
motion_connective1_5.head()

                                 stimulus        he       she
0   Miss Smith drove to Mr. Smith because  0.223246  0.776754
1      The woman drove to the man because  0.345383  0.654617
2              Mary drove to John because  0.154437  0.845563
3              Alice drove to Bob because  0.054535  0.945465
4  The actress drove to the actor because  0.156021  0.843979

In [89]:
# female subject
motion_connective1_5f = motion_connective1_5[0:12]
motion_connective1_5f = motion_connective1_5[["stimulus","she","he"]]
# male subject
motion_connective1_5m = motion_connective1_5[12:24]

#### female subject

In [90]:
motion_connective1_5f

                                     stimulus       she        he
0       Miss Smith drove to Mr. Smith because  0.776754  0.223246
1          The woman drove to the man because  0.654617  0.345383
2                  Mary drove to John because  0.845563  0.154437
3                  Alice drove to Bob because  0.945465  0.054535
4      The actress drove to the actor because  0.843979  0.156021
5           The girl drove to the boy because  0.764448  0.235552
6   Mrs. Taylor drove to Mr. Williams because  0.778625  0.221375
7                 Emma drove to David because  0.969569  0.030431
8    The princess drove to the prince because  0.646410  0.353590
9               Sarah drove to Robert because  0.912074  0.087926
10  Mrs. Williams drove to Mr. Taylor because  0.761572  0.238428
11                Emily drove to Paul because  0.833996  0.166004
12      Mr. Smith drove to Miss Smith because  0.480065  0.519935
13         The man drove to the woman because  0.577182  0.422818
14                 John drove to Mary because  0.468988  0.531012
15                 Bob drove to Alice because  0.296461  0.703539
16     The actor drove to the actress because  0.880292  0.119708
17          The boy drove to the girl because  0.623751  0.376249
18   Mr. William drove to Mrs. Taylor because  0.733575  0.266425
19                David drove to Emma because  0.574299  0.425701
20   The prince drove to the princess because  0.561570  0.438430
21              Robert drove to Sarah because  0.634212  0.365788
22  Mr. Taylor drove to Mrs. Williams because  0.849463  0.150537
23                Paul drove to Emily because  0.576675  0.423325

In [91]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_5f,'he'))

P('subj-pron'|subj=female) =  0.7079001603027185
P('non-subj-pron'|subj=female) =  0.29209983977489173

In [92]:
c1_average_subj_female_subj_pron['drove'] = compute_average(motion_connective1_5f,'she')
c1_average_subj_female_obj_pron['drove'] = compute_average(motion_connective1_5f,'he')

#### male subject

In [93]:
motion_connective1_5m

                                     stimulus        he       she
12      Mr. Smith drove to Miss Smith because  0.519935  0.480065
13         The man drove to the woman because  0.422818  0.577182
14                 John drove to Mary because  0.531012  0.468988
15                 Bob drove to Alice because  0.703539  0.296461
16     The actor drove to the actress because  0.119708  0.880292
17          The boy drove to the girl because  0.376249  0.623751
18   Mr. William drove to Mrs. Taylor because  0.266425  0.733575
19                David drove to Emma because  0.425701  0.574299
20   The prince drove to the princess because  0.438430  0.561570
21              Robert drove to Sarah because  0.365788  0.634212
22  Mr. Taylor drove to Mrs. Williams because  0.150537  0.849463
23                Paul drove to Emily because  0.423325  0.576675

In [94]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_5m,'she'))

P('subj-pron'|subj=male) =  0.3952889734258254
P('non-subj-pron'|subj=male) =  0.6047110284368197

In [95]:
c1_average_subj_male_subj_pron['drove'] = compute_average(motion_connective1_5m,'he')
c1_average_subj_male_obj_pron['drove'] = compute_average(motion_connective1_5m,'she')

### verb: "threw"

In [96]:
motion_connective1_6 = pd.read_csv("../results/motion/connective1/6.csv")
motion_connective1_6.head()

                                  stimulus        he       she
0   Miss Smith jogged to Mr. Smith because  0.159465  0.840535
1      The woman jogged to the man because  0.429963  0.570037
2              Mary jogged to John because  0.164067  0.835933
3              Alice jogged to Bob because  0.080606  0.919394
4  The actress jogged to the actor because  0.163285  0.836715

In [97]:
# female subject
motion_connective1_6f = motion_connective1_6[0:12]
motion_connective1_6f = motion_connective1_6[["stimulus","she","he"]]
# male subject
motion_connective1_6m = motion_connective1_6[12:24]

#### female subject

In [98]:
motion_connective1_6f

                                      stimulus       she        he
0       Miss Smith jogged to Mr. Smith because  0.840535  0.159465
1          The woman jogged to the man because  0.570037  0.429963
2                  Mary jogged to John because  0.835933  0.164067
3                  Alice jogged to Bob because  0.919394  0.080606
4      The actress jogged to the actor because  0.836715  0.163285
5           The girl jogged to the boy because  0.729182  0.270818
6   Mrs. Taylor jogged to Mr. Williams because  0.785844  0.214156
7                 Emma jogged to David because  0.939141  0.060859
8    The princess jogged to the prince because  0.606151  0.393849
9               Sarah jogged to Robert because  0.857412  0.142588
10  Mrs. Williams jogged to Mr. Taylor because  0.744464  0.255536
11                Emily jogged to Paul because  0.804687  0.195313
12      Mr. Smith jogged to Miss Smith because  0.431843  0.568157
13         The man jogged to the woman because  0.556038  0.443962
14                 John jogged to Mary because  0.508204  0.491797
15                 Bob jogged to Alice because  0.424443  0.575557
16     The actor jogged to the actress because  0.855068  0.144932
17          The boy jogged to the girl because  0.644660  0.355340
18   Mr. William jogged to Mrs. Taylor because  0.750758  0.249242
19                David jogged to Emma because  0.711699  0.288301
20   The prince jogged to the princess because  0.554493  0.445507
21              Robert jogged to Sarah because  0.684864  0.315136
22  Mr. Taylor jogged to Mrs. Williams because  0.850542  0.149458
23                Paul jogged to Emily because  0.630454  0.369546

In [99]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_6f,'he'))

P('subj-pron'|subj=female) =  0.7113566982249419
P('non-subj-pron'|subj=female) =  0.28864330518990755

In [100]:
c1_average_subj_female_subj_pron['jogged'] = compute_average(motion_connective1_6f,'she')
c1_average_subj_female_obj_pron['jogged'] = compute_average(motion_connective1_6f,'he')

#### male subject

In [101]:
motion_connective1_6m

                                      stimulus        he       she
12      Mr. Smith jogged to Miss Smith because  0.568157  0.431843
13         The man jogged to the woman because  0.443962  0.556038
14                 John jogged to Mary because  0.491797  0.508204
15                 Bob jogged to Alice because  0.575557  0.424443
16     The actor jogged to the actress because  0.144932  0.855068
17          The boy jogged to the girl because  0.355340  0.644660
18   Mr. William jogged to Mrs. Taylor because  0.249242  0.750758
19                David jogged to Emma because  0.288301  0.711699
20   The prince jogged to the princess because  0.445507  0.554493
21              Robert jogged to Sarah because  0.315136  0.684864
22  Mr. Taylor jogged to Mrs. Williams because  0.149458  0.850542
23                Paul jogged to Emily because  0.369546  0.630454

In [102]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_6m,'she'))

P('subj-pron'|subj=male) =  0.3664112500846386
P('non-subj-pron'|subj=male) =  0.6335887586077055

In [103]:
c1_average_subj_male_subj_pron['jogged'] = compute_average(motion_connective1_6m,'he')
c1_average_subj_male_obj_pron['jogged'] = compute_average(motion_connective1_6m,'she')

## Summary of Results

In [104]:
c1_results_fsubj_subjpron = pd.DataFrame(list(c1_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c1_results_fsubj_objpron = pd.DataFrame(list(c1_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c1_results_fsubj = c1_results_fsubj_subjpron.merge(c1_results_fsubj_objpron)
c1_results_fsubj

     verb  subj_ref_female_subj  obj_ref_female_subj
0    flew              0.844126             0.155874
1  walked              0.840004             0.159996
2     ran              0.825414             0.174586
3    swam              0.813354             0.186646
4   drove              0.707900             0.292100
5  jogged              0.711357             0.288643

In [105]:
c1_results_msubj_subjpron = pd.DataFrame(list(c1_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c1_results_msubj_objpron = pd.DataFrame(list(c1_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c1_results_msubj = c1_results_msubj_subjpron.merge(c1_results_msubj_objpron)
c1_results_msubj

     verb  subj_ref_male_subj  obj_ref_male_subj
0    flew            0.416886           0.583114
1  walked            0.429685           0.570315
2     ran            0.398048           0.601952
3    swam            0.534772           0.465228
4   drove            0.395289           0.604711
5  jogged            0.366411           0.633589

In [106]:
c1_results = c1_results_fsubj.merge(c1_results_msubj)
c1_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,flew,0.844126,0.155874,0.416886,0.583114
1,walked,0.840004,0.159996,0.429685,0.570315
2,ran,0.825414,0.174586,0.398048,0.601952
3,swam,0.813354,0.186646,0.534772,0.465228
4,drove,0.707900,0.292100,0.395289,0.604711
5,jogged,0.711357,0.288643,0.366411,0.633589

In [107]:
print("P(subj_reference |subj=female)", compute_average(c1_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c1_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.790359122471677
P(obj_reference |subj=female) 0.2096408827152724

In [108]:
print("P(subj_reference |subj=male)", compute_average(c1_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c1_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.42351505998522043
P(obj_reference |subj=male) 0.5764849439470304

## Connective: "and, as a result"

In [109]:
c2_average_subj_female_subj_pron = {}
c2_average_subj_female_obj_pron = {}
c2_average_subj_male_subj_pron = {}
c2_average_subj_male_obj_pron = {}

### verb: "flew"

In [110]:
motion_connective2_1 = pd.read_csv("../results/motion/connective2/1.csv")
motion_connective2_1.head()

                                          stimulus        he       she
0   Miss Smith flew to Mr. Smith and, as a result,  0.272546  0.727453
1      The woman flew to the man and, as a result,  0.572794  0.427206
2              Mary flew to John and, as a result,  0.409119  0.590881
3              Alice flew to Bob and, as a result,  0.593004  0.406996
4  The actress flew to the actor and, as a result,  0.656443  0.343557

In [111]:
# female subject
motion_connective2_1f = motion_connective2_1[0:12]
motion_connective2_1f = motion_connective2_1f[["stimulus","she","he"]]
# male subject
motion_connective2_1m = motion_connective2_1[12:24]

#### female subject

In [112]:
motion_connective2_1f

                                             stimulus       she        he
0      Miss Smith flew to Mr. Smith and, as a result,  0.727453  0.272546
1         The woman flew to the man and, as a result,  0.427206  0.572794
2                 Mary flew to John and, as a result,  0.590881  0.409119
3                 Alice flew to Bob and, as a result,  0.406996  0.593004
4     The actress flew to the actor and, as a result,  0.343557  0.656443
5          The girl flew to the boy and, as a result,  0.354411  0.645589
6   Mrs. Taylor flew to Mr. Williams and, as a res...  0.684197  0.315803
7                Emma flew to David and, as a result,  0.631145  0.368855
8   The princess flew to the prince and, as a result,  0.613404  0.386596
9              Sarah flew to Robert and, as a result,  0.425860  0.574140
10  Mrs. Williams flew to Mr. Taylor and, as a res...  0.675693  0.324307
11               Emily flew to Paul and, as a result,  0.571660  0.428340

In [113]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_1f,'he'))

P('subj-pron'|subj=female) =  0.5377053320407867
P('non-subj-pron'|subj=female) =  0.46229466299215954

In [114]:
c2_average_subj_female_subj_pron['flew'] = compute_average(motion_connective2_1f,'she')
c2_average_subj_female_obj_pron['flew'] = compute_average(motion_connective2_1f,'he')

#### male subject

In [115]:
motion_connective2_1m

                                             stimulus        he       she
12     Mr. Smith flew to Miss Smith and, as a result,  0.566708  0.433292
13        The man flew to the woman and, as a result,  0.704931  0.295069
14                John flew to Mary and, as a result,  0.409214  0.590786
15                Bob flew to Alice and, as a result,  0.921213  0.078787
16    The actor flew to the actress and, as a result,  0.801836  0.198164
17         The boy flew to the girl and, as a result,  0.900262  0.099738
18  Mr. William flew to Mrs. Taylor and, as a result,  0.425124  0.574876
19               David flew to Emma and, as a result,  0.599851  0.400149
20  The prince flew to the princess and, as a result,  0.688104  0.311896
21             Robert flew to Sarah and, as a result,  0.813802  0.186198
22  Mr. Taylor flew to Mrs. Williams and, as a res...  0.488505  0.511495
23               Paul flew to Emily and, as a result,  0.651846  0.348154

In [116]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_1m,'she'))

P('subj-pron'|subj=male) =  0.6642828633387884
P('non-subj-pron'|subj=male) =  0.33571713728209335

In [117]:
c2_average_subj_male_subj_pron['flew'] = compute_average(motion_connective2_1m,'he')
c2_average_subj_male_obj_pron['flew'] = compute_average(motion_connective2_1m,'she')

### verb: "walked"

In [118]:
motion_connective2_2 = pd.read_csv("../results/motion/connective2/2.csv")
motion_connective2_2.head()

                                            stimulus        he       she
0   Miss Smith walked to Mr. Smith and, as a result,  0.332232  0.667768
1      The woman walked to the man and, as a result,  0.542243  0.457757
2              Mary walked to John and, as a result,  0.308960  0.691040
3              Alice walked to Bob and, as a result,  0.416278  0.583722
4  The actress walked to the actor and, as a result,  0.528391  0.471609

In [119]:
# female subject
motion_connective2_2f = motion_connective2_2[0:12]
motion_connective2_2f = motion_connective2_2f[["stimulus","she","he"]]
# male subject
motion_connective2_2m = motion_connective2_2[12:24]

#### female subject

In [120]:
motion_connective2_2f

                                             stimulus       she        he
0    Miss Smith walked to Mr. Smith and, as a result,  0.667768  0.332232
1       The woman walked to the man and, as a result,  0.457757  0.542243
2               Mary walked to John and, as a result,  0.691040  0.308960
3               Alice walked to Bob and, as a result,  0.583722  0.416278
4   The actress walked to the actor and, as a result,  0.471609  0.528391
5        The girl walked to the boy and, as a result,  0.462910  0.537090
6   Mrs. Taylor walked to Mr. Williams and, as a r...  0.651650  0.348350
7              Emma walked to David and, as a result,  0.751373  0.248627
8   The princess walked to the prince and, as a re...  0.525563  0.474437
9            Sarah walked to Robert and, as a result,  0.567209  0.432791
10  Mrs. Williams walked to Mr. Taylor and, as a r...  0.616354  0.383646
11             Emily walked to Paul and, as a result,  0.713924  0.286076

In [121]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_2f,'he'))

P('subj-pron'|subj=female) =  0.5967399155100187
P('non-subj-pron'|subj=female) =  0.40326008573174477

In [122]:
c2_average_subj_female_subj_pron['walked'] = compute_average(motion_connective2_2f,'she')
c2_average_subj_female_obj_pron['walked'] = compute_average(motion_connective2_2f,'he')

#### male subject

In [123]:
motion_connective2_2m

                                             stimulus        he       she
12   Mr. Smith walked to Miss Smith and, as a result,  0.324353  0.675647
13      The man walked to the woman and, as a result,  0.497227  0.502774
14              John walked to Mary and, as a result,  0.310685  0.689315
15              Bob walked to Alice and, as a result,  0.811782  0.188218
16  The actor walked to the actress and, as a result,  0.686329  0.313671
17       The boy walked to the girl and, as a result,  0.691445  0.308555
18  Mr. William walked to Mrs. Taylor and, as a re...  0.215103  0.784896
19             David walked to Emma and, as a result,  0.275194  0.724806
20  The prince walked to the princess and, as a re...  0.426459  0.573541
21           Robert walked to Sarah and, as a result,  0.443321  0.556679
22  Mr. Taylor walked to Mrs. Williams and, as a r...  0.226436  0.773564
23             Paul walked to Emily and, as a result,  0.342113  0.657887

In [124]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_2m,'she'))

P('subj-pron'|subj=male) =  0.4375372864305973
P('non-subj-pron'|subj=male) =  0.5624627222617468

In [125]:
c2_average_subj_male_subj_pron['walked'] = compute_average(motion_connective2_2m,'he')
c2_average_subj_male_obj_pron['walked'] = compute_average(motion_connective2_2m,'she')

### verb: "ran"

In [126]:
motion_connective2_3 = pd.read_csv("../results/motion/connective2/3.csv")
motion_connective2_3.head()

                                         stimulus        he       she
0   Miss Smith ran to Mr. Smith and, as a result,  0.453572  0.546428
1      The woman ran to the man and, as a result,  0.692768  0.307232
2              Mary ran to John and, as a result,  0.353917  0.646083
3              Alice ran to Bob and, as a result,  0.447766  0.552234
4  The actress ran to the actor and, as a result,  0.683930  0.316070

In [127]:
# female subject
motion_connective2_3f = motion_connective2_3[0:12]
motion_connective2_3f = motion_connective2_3f[["stimulus","she","he"]]
# male subject
motion_connective2_3m = motion_connective2_3[12:24]

#### female subject

In [128]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_3f,'he'))

P('subj-pron'|subj=female) =  0.5056198587020239
P('non-subj-pron'|subj=female) =  0.4943801388144493

In [129]:
c2_average_subj_female_subj_pron['ran'] = compute_average(motion_connective2_3f,'she')
c2_average_subj_female_obj_pron['ran'] = compute_average(motion_connective2_3f,'he')

#### male subject

In [130]:
motion_connective2_3m

                                             stimulus        he       she
12      Mr. Smith ran to Miss Smith and, as a result,  0.267955  0.732045
13         The man ran to the woman and, as a result,  0.405808  0.594192
14                 John ran to Mary and, as a result,  0.270919  0.729081
15                 Bob ran to Alice and, as a result,  0.620601  0.379400
16     The actor ran to the actress and, as a result,  0.416336  0.583664
17          The boy ran to the girl and, as a result,  0.671091  0.328909
18   Mr. William ran to Mrs. Taylor and, as a result,  0.124639  0.875361
19                David ran to Emma and, as a result,  0.167231  0.832769
20   The prince ran to the princess and, as a result,  0.283427  0.716573
21              Robert ran to Sarah and, as a result,  0.222498  0.777502
22  Mr. Taylor ran to Mrs. Williams and, as a result,  0.104133  0.895867
23                Paul ran to Emily and, as a result,  0.253629  0.746371

In [131]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_3m,'she'))

P('subj-pron'|subj=male) =  0.3173554688692093
P('non-subj-pron'|subj=male) =  0.6826445187131563

In [132]:
c2_average_subj_male_subj_pron['ran'] = compute_average(motion_connective2_3m,'he')
c2_average_subj_male_obj_pron['ran'] = compute_average(motion_connective2_3m,'she')

### verb: "swam"

In [133]:
motion_connective2_4 = pd.read_csv("../results/motion/connective2/4.csv")
motion_connective2_4.head()

                                          stimulus        he       she
0   Miss Smith swam to Mr. Smith and, as a result,  0.263410  0.736590
1      The woman swam to the man and, as a result,  0.433127  0.566873
2              Mary swam to John and, as a result,  0.252037  0.747963
3              Alice swam to Bob and, as a result,  0.397680  0.602319
4  The actress swam to the actor and, as a result,  0.522282  0.477718

In [134]:
# female subject
motion_connective2_4f = motion_connective2_4[0:12]
motion_connective2_4f = motion_connective2_4f[["stimulus","she","he"]]
# male subject
motion_connective2_4m = motion_connective2_4[12:24]

#### female subject

In [135]:
motion_connective2_4f

                                             stimulus       she        he
0      Miss Smith swam to Mr. Smith and, as a result,  0.736590  0.263410
1         The woman swam to the man and, as a result,  0.566873  0.433127
2                 Mary swam to John and, as a result,  0.747963  0.252037
3                 Alice swam to Bob and, as a result,  0.602319  0.397680
4     The actress swam to the actor and, as a result,  0.477718  0.522282
5          The girl swam to the boy and, as a result,  0.488720  0.511280
6   Mrs. Taylor swam to Mr. Williams and, as a res...  0.783100  0.216900
7                Emma swam to David and, as a result,  0.751810  0.248190
8   The princess swam to the prince and, as a result,  0.639065  0.360935
9              Sarah swam to Robert and, as a result,  0.510504  0.489496
10  Mrs. Williams swam to Mr. Taylor and, as a res...  0.762582  0.237418
11               Emily swam to Paul and, as a result,  0.749190  0.250810

In [136]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_4f,'he'))

P('subj-pron'|subj=female) =  0.651369551817576
P('non-subj-pron'|subj=female) =  0.34863045811653137

In [137]:
c2_average_subj_female_subj_pron['swam'] = compute_average(motion_connective2_4f,'she')
c2_average_subj_female_obj_pron['swam'] = compute_average(motion_connective2_4f,'he')

#### male subject

In [138]:
motion_connective1_4m

                                    stimulus        he       she
12      Mr. Smith swam to Miss Smith because  0.665454  0.334546
13         The man swam to the woman because  0.567950  0.432050
14                 John swam to Mary because  0.692425  0.307575
15                 Bob swam to Alice because  0.839377  0.160623
16     The actor swam to the actress because  0.220827  0.779173
17          The boy swam to the girl because  0.497897  0.502103
18   Mr. William swam to Mrs. Taylor because  0.382467  0.617533
19                David swam to Emma because  0.582331  0.417669
20   The prince swam to the princess because  0.598237  0.401763
21              Robert swam to Sarah because  0.524702  0.475298
22  Mr. Taylor swam to Mrs. Williams because  0.251577  0.748423
23                Paul swam to Emily because  0.594019  0.405981

In [139]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_4m,'she'))

P('subj-pron'|subj=male) =  0.5828959718346596
P('non-subj-pron'|subj=male) =  0.4171040231982867

In [140]:
c2_average_subj_male_subj_pron['swam'] = compute_average(motion_connective2_4m,'he')
c2_average_subj_male_obj_pron['swam'] = compute_average(motion_connective2_4m,'she')

### verb: "rolled"

In [141]:
motion_connective2_5 = pd.read_csv("../results/motion/connective2/5.csv")
motion_connective2_5.head()

                                           stimulus        he       she
0   Miss Smith drove to Mr. Smith and, as a result,  0.333011  0.666989
1      The woman drove to the man and, as a result,  0.590636  0.409364
2              Mary drove to John and, as a result,  0.369075  0.630925
3              Alice drove to Bob and, as a result,  0.474266  0.525734
4  The actress drove to the actor and, as a result,  0.563432  0.436568

In [142]:
# female subject
motion_connective2_5f = motion_connective2_5[0:12]
motion_connective2_5f = motion_connective2_5[["stimulus","she","he"]]
# male subject
motion_connective2_5m = motion_connective2_5[12:24]

#### female subject

In [143]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_5f,'he'))

P('subj-pron'|subj=female) =  0.5596290665368239
P('non-subj-pron'|subj=female) =  0.44037093470493954

In [144]:
c2_average_subj_female_subj_pron['drove'] = compute_average(motion_connective2_5f,'she')
c2_average_subj_female_obj_pron['drove'] = compute_average(motion_connective2_5f,'he')

#### male subject

In [145]:
motion_connective2_5m

                                             stimulus        he       she
12    Mr. Smith drove to Miss Smith and, as a result,  0.330816  0.669184
13       The man drove to the woman and, as a result,  0.532023  0.467977
14               John drove to Mary and, as a result,  0.342280  0.657720
15               Bob drove to Alice and, as a result,  0.807172  0.192828
16   The actor drove to the actress and, as a result,  0.621141  0.378859
17        The boy drove to the girl and, as a result,  0.753425  0.246576
18  Mr. William drove to Mrs. Taylor and, as a res...  0.262314  0.737686
19              David drove to Emma and, as a result,  0.282166  0.717834
20  The prince drove to the princess and, as a res...  0.443284  0.556716
21            Robert drove to Sarah and, as a result,  0.429449  0.570551
22  Mr. Taylor drove to Mrs. Williams and, as a re...  0.233661  0.766339
23              Paul drove to Emily and, as a result,  0.337728  0.662272

In [146]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_5m,'she'))

P('subj-pron'|subj=male) =  0.44795502970616025
P('non-subj-pron'|subj=male) =  0.5520449678103129

In [147]:
c2_average_subj_male_subj_pron['drove'] = compute_average(motion_connective2_5m,'he')
c2_average_subj_male_obj_pron['drove'] = compute_average(motion_connective2_5m,'she')

### verb: "jogged"

In [148]:
motion_connective2_6 = pd.read_csv("../results/motion/connective2/6.csv")
motion_connective2_6.head()

                                            stimulus        he       she
0   Miss Smith jogged to Mr. Smith and, as a result,  0.385017  0.614983
1      The woman jogged to the man and, as a result,  0.639443  0.360557
2              Mary jogged to John and, as a result,  0.396470  0.603530
3              Alice jogged to Bob and, as a result,  0.596463  0.403537
4  The actress jogged to the actor and, as a result,  0.684315  0.315685

In [149]:
# female subject
motion_connective2_6f = motion_connective2_6[0:12]
motion_connective2_6f = motion_connective2_6[["stimulus","she","he"]]
# male subject
motion_connective2_6m = motion_connective2_6[12:24]

#### female subject

In [150]:
motion_connective2_6f

                                             stimulus       she        he
0    Miss Smith jogged to Mr. Smith and, as a result,  0.614983  0.385017
1       The woman jogged to the man and, as a result,  0.360557  0.639443
2               Mary jogged to John and, as a result,  0.603530  0.396470
3               Alice jogged to Bob and, as a result,  0.403537  0.596463
4   The actress jogged to the actor and, as a result,  0.315685  0.684315
5        The girl jogged to the boy and, as a result,  0.362694  0.637306
6   Mrs. Taylor jogged to Mr. Williams and, as a r...  0.614512  0.385488
7              Emma jogged to David and, as a result,  0.659160  0.340840
8   The princess jogged to the prince and, as a re...  0.503579  0.496421
9            Sarah jogged to Robert and, as a result,  0.386725  0.613275
10  Mrs. Williams jogged to Mr. Taylor and, as a r...  0.598865  0.401135
11             Emily jogged to Paul and, as a result,  0.586364  0.413636
12   Mr. Smith jogged to Miss Smith and, as a result,  0.531846  0.468154
13      The man jogged to the woman and, as a result,  0.316766  0.683234
14              John jogged to Mary and, as a result,  0.562054  0.437946
15              Bob jogged to Alice and, as a result,  0.147357  0.852643
16  The actor jogged to the actress and, as a result,  0.275459  0.724541
17       The boy jogged to the girl and, as a result,  0.160187  0.839813
18  Mr. William jogged to Mrs. Taylor and, as a re...  0.656265  0.343735
19             David jogged to Emma and, as a result,  0.688577  0.311423
20  The prince jogged to the princess and, as a re...  0.472755  0.527245
21           Robert jogged to Sarah and, as a result,  0.440677  0.559323
22  Mr. Taylor jogged to Mrs. Williams and, as a r...  0.661271  0.338729
23             Paul jogged to Emily and, as a result,  0.590038  0.409962

In [151]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_6f,'he'))

P('subj-pron'|subj=female) =  0.4797266982495785
P('non-subj-pron'|subj=female) =  0.5202733067174753

In [152]:
c2_average_subj_female_subj_pron['jogged'] = compute_average(motion_connective2_6f,'she')
c2_average_subj_female_obj_pron['jogged'] = compute_average(motion_connective2_6f,'he')

#### male subject

In [153]:
motion_connective2_6m

                                             stimulus        he       she
12   Mr. Smith jogged to Miss Smith and, as a result,  0.468154  0.531846
13      The man jogged to the woman and, as a result,  0.683234  0.316766
14              John jogged to Mary and, as a result,  0.437946  0.562054
15              Bob jogged to Alice and, as a result,  0.852643  0.147357
16  The actor jogged to the actress and, as a result,  0.724541  0.275459
17       The boy jogged to the girl and, as a result,  0.839813  0.160187
18  Mr. William jogged to Mrs. Taylor and, as a re...  0.343735  0.656265
19             David jogged to Emma and, as a result,  0.311423  0.688577
20  The prince jogged to the princess and, as a re...  0.527245  0.472755
21           Robert jogged to Sarah and, as a result,  0.559323  0.440677
22  Mr. Taylor jogged to Mrs. Williams and, as a r...  0.338729  0.661271
23             Paul jogged to Emily and, as a result,  0.409962  0.590038

In [154]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_6m,'she'))

P('subj-pron'|subj=male) =  0.5413958430290222
P('non-subj-pron'|subj=male) =  0.45860417435566586

In [155]:
c2_average_subj_male_subj_pron['jogged'] = compute_average(motion_connective2_6m,'he')
c2_average_subj_male_obj_pron['jogged'] = compute_average(motion_connective2_6m,'she')

## Summary of Results

In [156]:
c2_results_fsubj_subjpron = pd.DataFrame(list(c2_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c2_results_fsubj_objpron = pd.DataFrame(list(c2_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c2_results_fsubj = c2_results_fsubj_subjpron.merge(c2_results_fsubj_objpron)
c2_results_fsubj

     verb  subj_ref_female_subj  obj_ref_female_subj
0    flew              0.537705             0.462295
1  walked              0.596740             0.403260
2     ran              0.505620             0.494380
3    swam              0.651370             0.348630
4   drove              0.559629             0.440371
5  jogged              0.479727             0.520273

In [157]:
c2_results_msubj_subjpron = pd.DataFrame(list(c2_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c2_results_msubj_objpron = pd.DataFrame(list(c2_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c2_results_msubj = c2_results_msubj_subjpron.merge(c2_results_msubj_objpron)
c2_results_msubj

     verb  subj_ref_male_subj  obj_ref_male_subj
0    flew            0.664283           0.335717
1  walked            0.437537           0.562463
2     ran            0.317355           0.682645
3    swam            0.582896           0.417104
4   drove            0.447955           0.552045
5  jogged            0.541396           0.458604

In [158]:
c2_results = c2_results_fsubj.merge(c2_results_msubj)
c2_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,flew,0.537705,0.462295,0.664283,0.335717
1,walked,0.596740,0.403260,0.437537,0.562463
2,ran,0.505620,0.494380,0.317355,0.682645
3,swam,0.651370,0.348630,0.582896,0.417104
4,drove,0.559629,0.440371,0.447955,0.552045
5,jogged,0.479727,0.520273,0.541396,0.458604

In [159]:
print("P(subj_reference |subj=female)", compute_average(c2_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c2_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.5551317371428013
P(obj_reference |subj=female) 0.44486826451288336

In [160]:
print("P(subj_reference |subj=male)", compute_average(c2_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c2_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.4985704105347395
P(obj_reference |subj=male) 0.5014295906035436

In [161]:
# save results to csv
col_headers = ['verb','subj_ref_female_subj','obj_ref_female_subj','subj_ref_male_subj','obj_ref_male_subj']
np_results.to_csv("../results/summary/motion-noprompt.csv",index=False,header=col_headers)
c1_results.to_csv("../results/summary/motion-connective1.csv",index=False,header=col_headers)
c2_results.to_csv("../results/summary/motion-connective2.csv",index=False,header=col_headers)