In [1]:
import pandas as pd
import numpy as np

In [2]:
def compute_average(df,col):
    return np.mean(df[col].values)

## No-prompt

In [3]:
np_average_subj_female_subj_pron = {}
np_average_subj_female_obj_pron = {}
np_average_subj_male_subj_pron = {}
np_average_subj_male_obj_pron = {}

### Verb: "assisted"

In [4]:
IC2_noprompt_1 = pd.read_csv("../results/IC2/no-prompt/1.csv")
IC2_noprompt_1.head()

                          stimulus        He       She
0   Miss Smith assisted Mr. Smith.  0.734209  0.265791
1      The woman assisted the man.  0.751174  0.248826
2              Mary assisted John.  0.667080  0.332920
3              Alice assisted Bob.  0.470959  0.529041
4  The actress assisted the actor.  0.801396  0.198604

In [5]:
# female subject
IC2_noprompt_1f = IC2_noprompt_1[0:12]
IC2_noprompt_1f = IC2_noprompt_1f[["stimulus","She","He"]]
# male subject
IC2_noprompt_1m = IC2_noprompt_1[12:24]

#### female subject

In [6]:
IC2_noprompt_1f

                              stimulus       She        He
0       Miss Smith assisted Mr. Smith.  0.265791  0.734209
1          The woman assisted the man.  0.248826  0.751174
2                  Mary assisted John.  0.332920  0.667080
3                  Alice assisted Bob.  0.529041  0.470959
4      The actress assisted the actor.  0.198604  0.801396
5           The girl assisted the boy.  0.235977  0.764023
6   Mrs. Taylor assisted Mr. Williams.  0.262089  0.737911
7                 Emma assisted David.  0.903210  0.096790
8    The princess assisted the prince.  0.213669  0.786331
9               Sarah assisted Robert.  0.577858  0.422142
10  Mrs. Williams assisted Mr. Taylor.  0.235081  0.764919
11                Emily assisted Paul.  0.800940  0.199060

In [7]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_1f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_1f,'He'))

P('subj-pron'|subj=female) =  0.40033382053176564
P('non-subj-pron'|subj=female) =  0.5996661726385355

In [8]:
np_average_subj_female_subj_pron['assisted'] = compute_average(IC2_noprompt_1f,'She')
np_average_subj_female_obj_pron['assisted'] = compute_average(IC2_noprompt_1f,'He')

#### male subject

In [9]:
IC2_noprompt_1m

                              stimulus        He       She
12      Mr. Smith assisted Miss Smith.  0.334347  0.665653
13         The man assisted the woman.  0.431062  0.568938
14                 John assisted Mary.  0.500064  0.499936
15                 Bob assisted Alice.  0.297900  0.702100
16     The actor assisted the actress.  0.176839  0.823161
17          The boy assisted the girl.  0.613741  0.386259
18   Mr. William assisted Mrs. Taylor.  0.831809  0.168191
19                David assisted Emma.  0.052101  0.947899
20   The prince assisted the princess.  0.855669  0.144331
21              Robert assisted Sarah.  0.249300  0.750700
22  Mr. Taylor assisted Mrs. Williams.  0.805058  0.194942
23                Paul assisted Emily.  0.812212  0.187788

In [10]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_1m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_1m,'She'))

P('subj-pron'|subj=male) =  0.49667518710096675
P('non-subj-pron'|subj=male) =  0.5033248042066892

In [11]:
np_average_subj_male_subj_pron['assisted'] = compute_average(IC2_noprompt_1m,'He')
np_average_subj_male_obj_pron['assisted'] = compute_average(IC2_noprompt_1m,'She')

### Verb: "blames"

In [12]:
IC2_noprompt_2 = pd.read_csv("../results/IC2/no-prompt/2.csv")
IC2_noprompt_2.head()

                        stimulus        He       She
0   Miss Smith blames Mr. Smith.  0.715907  0.284093
1      The woman blames the man.  0.750757  0.249243
2              Mary blames John.  0.636544  0.363456
3              Alice blames Bob.  0.373835  0.626165
4  The actress blames the actor.  0.805236  0.194764

In [13]:
# female subject
IC2_noprompt_2f = IC2_noprompt_2[0:12]
IC2_noprompt_2f = IC2_noprompt_2f[["stimulus","She","He"]]
# male subject
IC2_noprompt_2m = IC2_noprompt_2[12:24]

#### female subject

In [14]:
IC2_noprompt_2f

                            stimulus       She        He
0       Miss Smith blames Mr. Smith.  0.284093  0.715907
1          The woman blames the man.  0.249243  0.750757
2                  Mary blames John.  0.363456  0.636544
3                  Alice blames Bob.  0.626165  0.373835
4      The actress blames the actor.  0.194764  0.805236
5           The girl blames the boy.  0.243267  0.756733
6   Mrs. Taylor blames Mr. Williams.  0.274107  0.725893
7                 Emma blames David.  0.851615  0.148385
8    The princess blames the prince.  0.215080  0.784920
9               Sarah blames Robert.  0.459179  0.540821
10  Mrs. Williams blames Mr. Taylor.  0.248608  0.751392
11                Emily blames Paul.  0.736275  0.263725

In [15]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_2f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_2f,'He'))

P('subj-pron'|subj=female) =  0.39548780396580696
P('non-subj-pron'|subj=female) =  0.6045121935506662

In [16]:
np_average_subj_female_subj_pron['blames'] = compute_average(IC2_noprompt_2f,'She')
np_average_subj_female_obj_pron['blames'] = compute_average(IC2_noprompt_2f,'He')

#### male subject

In [17]:
IC2_noprompt_2m

                            stimulus        He       She
12      Mr. Smith blames Miss Smith.  0.799179  0.200821
13         The man blames the woman.  0.828947  0.171053
14                 John blames Mary.  0.789216  0.210784
15                 Bob blames Alice.  0.235264  0.764736
16     The actor blames the actress.  0.632381  0.367619
17          The boy blames the girl.  0.848938  0.151062
18   Mr. William blames Mrs. Taylor.  0.838261  0.161739
19                David blames Emma.  0.178860  0.821140
20   The prince blames the princess.  0.854832  0.145168
21              Robert blames Sarah.  0.296947  0.703053
22  Mr. Taylor blames Mrs. Williams.  0.812705  0.187295
23                Paul blames Emily.  0.826360  0.173640

In [18]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_2m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_2m,'She'))

P('subj-pron'|subj=male) =  0.6618242350717386
P('non-subj-pron'|subj=male) =  0.33817577362060547

In [19]:
np_average_subj_male_subj_pron['blames'] = compute_average(IC2_noprompt_2m,'He')
np_average_subj_male_obj_pron['blames'] = compute_average(IC2_noprompt_2m,'She')

### Verb: "comforted"

In [20]:
IC2_noprompt_3 = pd.read_csv("../results/IC2/no-prompt/3.csv")
IC2_noprompt_3.head()

                           stimulus        He       She
0   Miss Smith comforted Mr. Smith.  0.711591  0.288409
1      The woman comforted the man.  0.744118  0.255882
2              Mary comforted John.  0.468706  0.531294
3              Alice comforted Bob.  0.527309  0.472691
4  The actress comforted the actor.  0.804675  0.195325

In [21]:
# female subject
IC2_noprompt_3f = IC2_noprompt_3[0:12]
IC2_noprompt_3f = IC2_noprompt_3f[["stimulus","She","He"]]
# male subject
IC2_noprompt_3m = IC2_noprompt_3[12:24]

#### female subject

In [22]:
IC2_noprompt_3f

                                   stimulus       She        He
0           Miss Smith comforted Mr. Smith.  0.288409  0.711591
1              The woman comforted the man.  0.255882  0.744118
2                      Mary comforted John.  0.531294  0.468706
3                      Alice comforted Bob.  0.472691  0.527309
4          The actress comforted the actor.  0.195325  0.804675
5               The girl comforted the boy.  0.246942  0.753058
6   Mrs. Taylor comforted the Mr. Williams.  0.222655  0.777345
7                     Emma comforted David.  0.942585  0.057415
8        The princess comforted the prince.  0.224636  0.775364
9                   Sarah comforted Robert.  0.668609  0.331391
10      Mrs. Williams comforted Mr. Taylor.  0.260302  0.739698
11                    Emily comforted Paul.  0.665213  0.334787

In [23]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_3f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_3f,'He'))

P('subj-pron'|subj=female) =  0.41454528520504635
P('non-subj-pron'|subj=female) =  0.5854547157262763

In [24]:
np_average_subj_female_subj_pron['comforted'] = compute_average(IC2_noprompt_3f,'She')
np_average_subj_female_obj_pron['comforted'] = compute_average(IC2_noprompt_3f,'He')

#### male subject

In [25]:
IC2_noprompt_3m

                               stimulus        He       She
12      Mr. Smith comforted Miss Smith.  0.784205  0.215795
13         The man comforted the woman.  0.853194  0.146806
14                 John comforted Mary.  0.826695  0.173305
15                 Bob comforted Alice.  0.198594  0.801406
16     The actor comforted the actress.  0.843589  0.156411
17          The boy comforted the girl.  0.842465  0.157535
18   Mr. William comforted Mrs. Taylor.  0.822272  0.177728
19                David comforted Emma.  0.041188  0.958812
20   The prince comforted the princess.  0.849768  0.150232
21              Robert comforted Sarah.  0.066957  0.933043
22  Mr. Taylor comforted Mrs. Williams.  0.795267  0.204733
23                Paul comforted Emily.  0.816956  0.183045

In [26]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_3m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_3m,'She'))

P('subj-pron'|subj=male) =  0.6450957236811519
P('non-subj-pron'|subj=male) =  0.35490426669518155

In [27]:
np_average_subj_male_subj_pron['comforted'] = compute_average(IC2_noprompt_3m,'He')
np_average_subj_male_obj_pron['comforted'] = compute_average(IC2_noprompt_3m,'She')

### verb: "congratulated"

In [28]:
IC2_noprompt_4 = pd.read_csv("../results/IC2/no-prompt/4.csv")
IC2_noprompt_4.head()

                               stimulus        He       She
0   Miss Smith congratulated Mr. Smith.  0.712894  0.287106
1      The woman congratulated the man.  0.744651  0.255349
2              Mary congratulated John.  0.694382  0.305618
3              Alice congratulated Bob.  0.704096  0.295904
4  The actress congratulated the actor.  0.802265  0.197735

In [29]:
# female subject
IC2_noprompt_4f = IC2_noprompt_4[0:12]
IC2_noprompt_4f = IC2_noprompt_4f[["stimulus","She","He"]]
# male subject
IC2_noprompt_4m = IC2_noprompt_4[12:24]

#### female subject

In [30]:
IC2_noprompt_4f

                                   stimulus       She        He
0       Miss Smith congratulated Mr. Smith.  0.287106  0.712894
1          The woman congratulated the man.  0.255349  0.744651
2                  Mary congratulated John.  0.305618  0.694382
3                  Alice congratulated Bob.  0.295904  0.704096
4      The actress congratulated the actor.  0.197735  0.802265
5           The girl congratulated the boy.  0.243204  0.756796
6   Mrs. Taylor congratulated Mr. Williams.  0.272965  0.727035
7                 Emma congratulated David.  0.898200  0.101800
8    The princess congratulated the prince.  0.223215  0.776785
9               Sarah congratulated Robert.  0.470894  0.529106
10  Mrs. Williams congratulated Mr. Taylor.  0.252677  0.747323
11                Emily congratulated Paul.  0.654071  0.345929

In [31]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_4f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_4f,'He'))

P('subj-pron'|subj=female) =  0.36307814717292786
P('non-subj-pron'|subj=female) =  0.6369218596567711

In [32]:
np_average_subj_female_subj_pron['congratulated'] = compute_average(IC2_noprompt_4f,'She')
np_average_subj_female_obj_pron['congratulated'] = compute_average(IC2_noprompt_4f,'He')

#### male subject

In [33]:
IC2_noprompt_4m

                                   stimulus        He       She
12      Mr. Smith congratulated Miss Smith.  0.369651  0.630349
13         The man congratulated the woman.  0.854829  0.145171
14                 John congratulated Mary.  0.482536  0.517464
15                 Bob congratulated Alice.  0.176137  0.823863
16     The actor congratulated the actress.  0.841406  0.158594
17          The boy congratulated the girl.  0.843230  0.156770
18   Mr. William congratulated Mrs. Taylor.  0.829204  0.170796
19                David congratulated Emma.  0.039800  0.960200
20   The prince congratulated the princess.  0.850329  0.149671
21              Robert congratulated Sarah.  0.097489  0.902511
22  Mr. Taylor congratulated Mrs. Williams.  0.803022  0.196978
23                Paul congratulated Emily.  0.807523  0.192477

In [34]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_4m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_4m,'She'))

P('subj-pron'|subj=male) =  0.5829296509424845
P('non-subj-pron'|subj=male) =  0.41707036023338634

In [35]:
np_average_subj_male_subj_pron['congratulated'] = compute_average(IC2_noprompt_4m,'He')
np_average_subj_male_obj_pron['congratulated'] = compute_average(IC2_noprompt_4m,'She')

### verb: "corrected"

In [36]:
IC2_noprompt_5 = pd.read_csv("../results/IC2/no-prompt/5.csv")
IC2_noprompt_5.head()

                           stimulus        He       She
0   Miss Smith corrected Mr. Smith.  0.725193  0.274807
1      The woman corrected the man.  0.749363  0.250636
2              Mary corrected John.  0.658887  0.341113
3              Alice corrected Bob.  0.526492  0.473508
4  The actress corrected the actor.  0.807655  0.192345

In [37]:
# female subject
IC2_noprompt_5f = IC2_noprompt_5[0:12]
IC2_noprompt_5f = IC2_noprompt_5f[["stimulus","She","He"]]
# male subject
IC2_noprompt_5m = IC2_noprompt_5[12:24]

#### female subject

In [38]:
IC2_noprompt_5f

                               stimulus       She        He
0       Miss Smith corrected Mr. Smith.  0.274807  0.725193
1          The woman corrected the man.  0.250636  0.749363
2                  Mary corrected John.  0.341113  0.658887
3                  Alice corrected Bob.  0.473508  0.526492
4      The actress corrected the actor.  0.192345  0.807655
5           The girl corrected the boy.  0.237956  0.762044
6   Mrs. Taylor corrected Mr. Williams.  0.262959  0.737041
7                 Emma corrected David.  0.855738  0.144262
8    The princess corrected the prince.  0.213042  0.786958
9               Sarah corrected Robert.  0.489738  0.510262
10  Mrs. Williams corrected Mr. Taylor.  0.240301  0.759699
11                Emily corrected Paul.  0.700984  0.299016

In [39]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_5f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_5f,'He'))

P('subj-pron'|subj=female) =  0.37776067728797597
P('non-subj-pron'|subj=female) =  0.6222393165032069

In [40]:
np_average_subj_female_subj_pron['corrected'] = compute_average(IC2_noprompt_5f,'She')
np_average_subj_female_obj_pron['corrected'] = compute_average(IC2_noprompt_5f,'He')

#### male subject

In [41]:
IC2_noprompt_5m

                               stimulus        He       She
12      Mr. Smith corrected Miss Smith.  0.789472  0.210528
13         The man corrected the woman.  0.852261  0.147739
14                 John corrected Mary.  0.825409  0.174591
15                 Bob corrected Alice.  0.490352  0.509648
16     The actor corrected the actress.  0.845566  0.154434
17          The boy corrected the girl.  0.841880  0.158120
18   Mr. William corrected Mrs. Taylor.  0.831064  0.168936
19                David corrected Emma.  0.139406  0.860594
20   The prince corrected the princess.  0.849408  0.150592
21              Robert corrected Sarah.  0.259434  0.740566
22  Mr. Taylor corrected Mrs. Williams.  0.814357  0.185643
23                Paul corrected Emily.  0.820157  0.179843

In [42]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_5m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_5m,'She'))

P('subj-pron'|subj=male) =  0.6965637442966303
P('non-subj-pron'|subj=male) =  0.3034362494945526

In [43]:
np_average_subj_male_subj_pron['corrected'] = compute_average(IC2_noprompt_5m,'He')
np_average_subj_male_obj_pron['corrected'] = compute_average(IC2_noprompt_5m,'She')

### verb: "detests"

In [44]:
IC2_noprompt_6 = pd.read_csv("../results/IC2/no-prompt/6.csv")
IC2_noprompt_6.head()

                         stimulus        He       She
0   Miss Smith detests Mr. Smith.  0.719725  0.280275
1      The woman detests the man.  0.740350  0.259650
2              Mary detests John.  0.442250  0.557750
3              Alice detests Bob.  0.104362  0.895638
4  The actress detests the actor.  0.799911  0.200089

In [45]:
# female subject
IC2_noprompt_6f = IC2_noprompt_6[0:12]
IC2_noprompt_6f = IC2_noprompt_6f[["stimulus","She","He"]]
# male subject
IC2_noprompt_6m = IC2_noprompt_6[12:24]

#### female subject

In [46]:
IC2_noprompt_6f

                             stimulus       She        He
0       Miss Smith detests Mr. Smith.  0.280275  0.719725
1          The woman detests the man.  0.259650  0.740350
2                  Mary detests John.  0.557750  0.442250
3                  Alice detests Bob.  0.895638  0.104362
4      The actress detests the actor.  0.200089  0.799911
5           The girl detests the boy.  0.243949  0.756051
6   Mrs. Taylor detests Mr. Williams.  0.269638  0.730362
7                 Emma detests David.  0.263645  0.736355
8    The princess detests the prince.  0.217935  0.782065
9               Sarah detests Robert.  0.639159  0.360841
10  Mrs. Williams detests Mr. Taylor.  0.248362  0.751638
11                Emily detests Paul.  0.257593  0.742407

In [47]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_6f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_6f,'He'))

P('subj-pron'|subj=female) =  0.3611403554677963
P('non-subj-pron'|subj=female) =  0.6388596470157305

In [48]:
np_average_subj_female_subj_pron['detests'] = compute_average(IC2_noprompt_6f,'She')
np_average_subj_female_obj_pron['detests'] = compute_average(IC2_noprompt_6f,'He')

In [49]:
IC2_noprompt_6m

                             stimulus        He       She
12      Mr. Smith detests Miss Smith.  0.791993  0.208007
13         The man detests the woman.  0.858212  0.141788
14                 John detests Mary.  0.832628  0.167372
15                 Bob detests Alice.  0.825396  0.174604
16     The actor detests the actress.  0.846793  0.153207
17          The boy detests the girl.  0.849835  0.150165
18   Mr. William detests Mrs. Taylor.  0.827363  0.172637
19                David detests Emma.  0.358548  0.641452
20   The prince detests the princess.  0.853758  0.146242
21              Robert detests Sarah.  0.430058  0.569941
22  Mr. Taylor detests Mrs. Williams.  0.805305  0.194695
23                Paul detests Emily.  0.824409  0.175591

In [50]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_6m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_6m,'She'))

P('subj-pron'|subj=male) =  0.7586914499600729
P('non-subj-pron'|subj=male) =  0.2413085401058197

In [51]:
np_average_subj_male_subj_pron['detests'] = compute_average(IC2_noprompt_6m,'He')
np_average_subj_male_obj_pron['detests'] = compute_average(IC2_noprompt_6m,'She')

### verb: "fears"

In [52]:
IC2_noprompt_7 = pd.read_csv("../results/IC2/no-prompt/7.csv")
IC2_noprompt_7.head()

                       stimulus        He       She
0   Miss Smith fears Mr. Smith.  0.702019  0.297981
1      The woman fears the man.  0.740557  0.259443
2              Mary fears John.  0.672357  0.327643
3              Alice fears Bob.  0.377789  0.622211
4  The actress fears the actor.  0.791831  0.208169

In [53]:
# female subject
IC2_noprompt_7f = IC2_noprompt_7[0:12]
IC2_noprompt_7f = IC2_noprompt_7f[["stimulus","She","He"]]
# male subject
IC2_noprompt_7m = IC2_noprompt_7[12:24]

#### female subject

In [54]:
IC2_noprompt_7f

                           stimulus       She        He
0       Miss Smith fears Mr. Smith.  0.297981  0.702019
1          The woman fears the man.  0.259443  0.740557
2                  Mary fears John.  0.327643  0.672357
3                  Alice fears Bob.  0.622211  0.377789
4      The actress fears the actor.  0.208169  0.791831
5           The girl fears the boy.  0.252027  0.747973
6   Mrs. Taylor fears Mr. Williams.  0.274258  0.725742
7                 Emma fears David.  0.896567  0.103433
8    The princess fears the prince.  0.229244  0.770756
9               Sarah fears Robert.  0.503381  0.496619
10  Mrs. Williams fears Mr. Taylor.  0.250557  0.749443
11                Emily fears Paul.  0.533884  0.466116

In [55]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_7f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_7f,'He'))

P('subj-pron'|subj=female) =  0.3879471073547999
P('non-subj-pron'|subj=female) =  0.6120528833319744

In [56]:
np_average_subj_female_subj_pron['fears'] = compute_average(IC2_noprompt_7f,'She')
np_average_subj_female_obj_pron['fears'] = compute_average(IC2_noprompt_7f,'He')

#### male subject

In [57]:
IC2_noprompt_7m

                           stimulus        He       She
12      Mr. Smith fears Miss Smith.  0.746286  0.253714
13         The man fears the woman.  0.874325  0.125675
14                 John fears Mary.  0.763035  0.236965
15                 Bob fears Alice.  0.379726  0.620274
16     The actor fears the actress.  0.722110  0.277890
17          The boy fears the girl.  0.854712  0.145288
18   Mr. William fears Mrs. Taylor.  0.836667  0.163333
19                David fears Emma.  0.077955  0.922045
20   The prince fears the princess.  0.860228  0.139772
21              Robert fears Sarah.  0.299142  0.700858
22  Mr. Taylor fears Mrs. Williams.  0.810331  0.189669
23                Paul fears Emily.  0.822591  0.177409

In [58]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_7m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_7m,'She'))

P('subj-pron'|subj=male) =  0.6705923173576593
P('non-subj-pron'|subj=male) =  0.3294076770544052

In [59]:
np_average_subj_male_subj_pron['fears'] = compute_average(IC2_noprompt_7m,'He')
np_average_subj_male_obj_pron['fears'] = compute_average(IC2_noprompt_7m,'She')

### verb: "envies"

In [60]:
IC2_noprompt_8 = pd.read_csv("../results/IC2/no-prompt/8.csv")
IC2_noprompt_8.head()

                        stimulus        He       She
0   Miss Smith envies Mr. Smith.  0.713292  0.286709
1      The woman envies the man.  0.737648  0.262352
2              Mary envies John.  0.443953  0.556047
3              Alice envies Bob.  0.164404  0.835596
4  The actress envies the actor.  0.799556  0.200444

In [61]:
# female subject
IC2_noprompt_8f = IC2_noprompt_8[0:12]
IC2_noprompt_8f = IC2_noprompt_8f[["stimulus","She","He"]]
# male subject
IC2_noprompt_8m = IC2_noprompt_8[12:24]

#### female subject

In [62]:
IC2_noprompt_8f

                            stimulus       She        He
0       Miss Smith envies Mr. Smith.  0.286709  0.713292
1          The woman envies the man.  0.262352  0.737648
2                  Mary envies John.  0.556047  0.443953
3                  Alice envies Bob.  0.835596  0.164404
4      The actress envies the actor.  0.200444  0.799556
5           The girl envies the boy.  0.248716  0.751284
6   Mrs. Taylor envies Mr. Williams.  0.276959  0.723041
7                 Emma envies David.  0.272079  0.727921
8    The princess envies the prince.  0.221550  0.778450
9               Sarah envies Robert.  0.618282  0.381718
10  Mrs. Williams envies Mr. Taylor.  0.253040  0.746960
11                Emily envies Paul.  0.265810  0.734190

In [63]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_8f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_8f,'He'))

P('subj-pron'|subj=female) =  0.3581320320566495
P('non-subj-pron'|subj=female) =  0.6418679617345333

In [64]:
np_average_subj_female_subj_pron['envies'] = compute_average(IC2_noprompt_8f,'She')
np_average_subj_female_obj_pron['envies'] = compute_average(IC2_noprompt_8f,'He')

#### male subject

In [65]:
IC2_noprompt_8m

                            stimulus        He       She
12      Mr. Smith envies Miss Smith.  0.795143  0.204856
13         The man envies the woman.  0.859962  0.140038
14                 John envies Mary.  0.833691  0.166309
15                 Bob envies Alice.  0.561487  0.438513
16     The actor envies the actress.  0.851069  0.148931
17          The boy envies the girl.  0.852391  0.147609
18   Mr. William envies Mrs. Taylor.  0.831822  0.168179
19                David envies Emma.  0.143563  0.856437
20   The prince envies the princess.  0.858482  0.141518
21              Robert envies Sarah.  0.345599  0.654401
22  Mr. Taylor envies Mrs. Williams.  0.809068  0.190932
23                Paul envies Emily.  0.824618  0.175382

In [66]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_8m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_8m,'She'))

P('subj-pron'|subj=male) =  0.7139079061647257
P('non-subj-pron'|subj=male) =  0.2860920963188012

In [67]:
np_average_subj_male_subj_pron['envies'] = compute_average(IC2_noprompt_8m,'He')
np_average_subj_male_obj_pron['envies'] = compute_average(IC2_noprompt_8m,'She')

### verb: "hates"

In [68]:
IC2_noprompt_9 = pd.read_csv("../results/IC2/no-prompt/9.csv")
IC2_noprompt_9.head()

                       stimulus        He       She
0   Miss Smith hates Mr. Smith.  0.713673  0.286327
1      The woman hates the man.  0.739602  0.260398
2              Mary hates John.  0.437894  0.562106
3              Alice hates Bob.  0.189572  0.810428
4  The actress hates the actor.  0.796706  0.203294

In [69]:
# female subject
IC2_noprompt_9f = IC2_noprompt_9[0:12]
IC2_noprompt_9f = IC2_noprompt_9f[["stimulus","She","He"]]
# male subject
IC2_noprompt_9m = IC2_noprompt_9[12:24]

#### female: "hates"

In [70]:
IC2_noprompt_9f

                           stimulus       She        He
0       Miss Smith hates Mr. Smith.  0.286327  0.713673
1          The woman hates the man.  0.260398  0.739602
2                  Mary hates John.  0.562106  0.437894
3                  Alice hates Bob.  0.810428  0.189572
4      The actress hates the actor.  0.203294  0.796706
5           The girl hates the boy.  0.245363  0.754637
6   Mrs. Taylor hates Mr. Williams.  0.276741  0.723259
7                 Emma hates David.  0.263132  0.736868
8    The princess hates the prince.  0.219948  0.780052
9               Sarah hates Robert.  0.557619  0.442382
10  Mrs. Williams hates Mr. Taylor.  0.255606  0.744394
11                Emily hates Paul.  0.252795  0.747205

In [71]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_9f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_9f,'He'))

P('subj-pron'|subj=female) =  0.34947974358995754
P('non-subj-pron'|subj=female) =  0.6505202489594618

In [72]:
np_average_subj_female_subj_pron['hates'] = compute_average(IC2_noprompt_9f,'She')
np_average_subj_female_obj_pron['hates'] = compute_average(IC2_noprompt_9f,'He')

#### male subject

In [73]:
IC2_noprompt_9m

                           stimulus        He       She
12      Mr. Smith hates Miss Smith.  0.791010  0.208990
13         The man hates the woman.  0.860033  0.139967
14                 John hates Mary.  0.834316  0.165684
15                 Bob hates Alice.  0.573729  0.426271
16     The actor hates the actress.  0.848649  0.151351
17          The boy hates the girl.  0.851237  0.148763
18   Mr. William hates Mrs. Taylor.  0.824662  0.175338
19                David hates Emma.  0.159271  0.840729
20   The prince hates the princess.  0.854428  0.145572
21              Robert hates Sarah.  0.372737  0.627263
22  Mr. Taylor hates Mrs. Williams.  0.803714  0.196286
23                Paul hates Emily.  0.824297  0.175703

In [74]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_9m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_9m,'She'))

P('subj-pron'|subj=male) =  0.7165068959196409
P('non-subj-pron'|subj=male) =  0.2834931053221226

In [75]:
np_average_subj_male_subj_pron['hates'] = compute_average(IC2_noprompt_9m,'He')
np_average_subj_male_obj_pron['hates'] = compute_average(IC2_noprompt_9m,'She')

### verb: "helped"

In [76]:
IC2_noprompt_10 = pd.read_csv("../results/IC2/no-prompt/10.csv")
IC2_noprompt_10.head()

                        stimulus        He       She
0   Miss Smith helped Mr. Smith.  0.174379  0.825621
1      The woman helped the man.  0.531975  0.468025
2              Mary helped John.  0.660512  0.339488
3              Alice helped Bob.  0.640063  0.359937
4  The actress helped the actor.  0.219667  0.780333

In [77]:
# female subject
IC2_noprompt_10f = IC2_noprompt_10[0:12]
IC2_noprompt_10f = IC2_noprompt_10f[["stimulus","She","He"]]
# male subject
IC2_noprompt_10m = IC2_noprompt_10[12:24]

#### female subject

In [78]:
IC2_noprompt_10f

                            stimulus       She        He
0       Miss Smith helped Mr. Smith.  0.825621  0.174379
1          The woman helped the man.  0.468025  0.531975
2                  Mary helped John.  0.339488  0.660512
3                  Alice helped Bob.  0.359937  0.640063
4      The actress helped the actor.  0.780333  0.219667
5           The girl helped the boy.  0.561188  0.438812
6   Mrs. Taylor helped Mr. Williams.  0.240630  0.759370
7                 Emma helped David.  0.830539  0.169461
8    The princess helped the prince.  0.735814  0.264186
9               Sarah helped Robert.  0.664551  0.335449
10  Mrs. Williams helped Mr. Taylor.  0.796709  0.203291
11                Emily helped Paul.  0.564360  0.435640

In [79]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_10f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_10f,'He'))

P('subj-pron'|subj=female) =  0.5972662145892779
P('non-subj-pron'|subj=female) =  0.40273377920190495

In [80]:
np_average_subj_female_subj_pron['helped'] = compute_average(IC2_noprompt_10f,'She')
np_average_subj_female_obj_pron['helped'] = compute_average(IC2_noprompt_10f,'He')

In [81]:
IC2_noprompt_10m

                            stimulus        He       She
12      Mr. Smith helped Miss Smith.  0.194574  0.805426
13         The man helped the woman.  0.302724  0.697276
14                 John helped Mary.  0.462130  0.537870
15                 Bob helped Alice.  0.273791  0.726209
16     The actor helped the actress.  0.149275  0.850725
17          The boy helped the girl.  0.332040  0.667960
18   Mr. William helped Mrs. Taylor.  0.110562  0.889438
19                David helped Emma.  0.039375  0.960625
20   The prince helped the princess.  0.533792  0.466208
21              Robert helped Sarah.  0.177477  0.822523
22  Mr. Taylor helped Mrs. Williams.  0.816553  0.183447
23                Paul helped Emily.  0.200690  0.799310

In [82]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_10m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_10m,'She'))

P('subj-pron'|subj=male) =  0.2994153508916497
P('non-subj-pron'|subj=male) =  0.7005846674243609

In [83]:
np_average_subj_male_subj_pron['helped'] = compute_average(IC2_noprompt_10m,'He')
np_average_subj_male_obj_pron['helped'] = compute_average(IC2_noprompt_10m,'She')

### verb: "mocked"

In [84]:
IC2_noprompt_11 = pd.read_csv("../results/IC2/no-prompt/11.csv")
IC2_noprompt_11.head()

                        stimulus        He       She
0   Miss Smith mocked Mr. Smith.  0.726011  0.273989
1      The woman mocked the man.  0.749346  0.250654
2              Mary mocked John.  0.793614  0.206386
3              Alice mocked Bob.  0.647249  0.352751
4  The actress mocked the actor.  0.807610  0.192390

In [85]:
# female subject
IC2_noprompt_11f = IC2_noprompt_11[0:12]
IC2_noprompt_11f = IC2_noprompt_11f[["stimulus","She","He"]]
# male subject
IC2_noprompt_11m = IC2_noprompt_11[12:24]

#### female subject

In [86]:
IC2_noprompt_11f

                            stimulus       She        He
0       Miss Smith mocked Mr. Smith.  0.273989  0.726011
1          The woman mocked the man.  0.250654  0.749346
2                  Mary mocked John.  0.206386  0.793614
3                  Alice mocked Bob.  0.352751  0.647249
4      The actress mocked the actor.  0.192390  0.807610
5           The girl mocked the boy.  0.234415  0.765585
6   Mrs. Taylor mocked Mr. Williams.  0.262646  0.737354
7                 Emma mocked David.  0.950581  0.049419
8    The princess mocked the prince.  0.213364  0.786636
9               Sarah mocked Robert.  0.311389  0.688611
10  Mrs. Williams mocked Mr. Taylor.  0.240858  0.759142
11                Emily mocked Paul.  0.515607  0.484393

In [87]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_11f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_11f,'He'))

P('subj-pron'|subj=female) =  0.333752378821373
P('non-subj-pron'|subj=female) =  0.666247612486283

In [88]:
np_average_subj_female_subj_pron['mocked'] = compute_average(IC2_noprompt_11f,'She')
np_average_subj_female_obj_pron['mocked'] = compute_average(IC2_noprompt_11f,'He')

#### male subject

In [89]:
IC2_noprompt_11m

                            stimulus        He       She
12      Mr. Smith mocked Miss Smith.  0.787755  0.212245
13         The man mocked the woman.  0.859733  0.140267
14                 John mocked Mary.  0.583412  0.416588
15                 Bob mocked Alice.  0.157138  0.842862
16     The actor mocked the actress.  0.848544  0.151456
17          The boy mocked the girl.  0.850145  0.149855
18   Mr. William mocked Mrs. Taylor.  0.828638  0.171362
19                David mocked Emma.  0.043949  0.956051
20   The prince mocked the princess.  0.856119  0.143882
21              Robert mocked Sarah.  0.136798  0.863202
22  Mr. Taylor mocked Mrs. Williams.  0.807661  0.192339
23                Paul mocked Emily.  0.822774  0.177226

In [90]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_11m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_11m,'She'))

P('subj-pron'|subj=male) =  0.63188871430854
P('non-subj-pron'|subj=male) =  0.3681112863123417

In [91]:
np_average_subj_male_subj_pron['mocked'] = compute_average(IC2_noprompt_11m,'He')
np_average_subj_male_obj_pron['mocked'] = compute_average(IC2_noprompt_11m,'She')

#### verb: "noticed"

In [92]:
IC2_noprompt_12 = pd.read_csv("../results/IC2/no-prompt/12.csv")
IC2_noprompt_12.head()

                         stimulus        He       She
0   Miss Smith noticed Mr. Smith.  0.071141  0.928859
1      The woman noticed the man.  0.743514  0.256486
2              Mary noticed John.  0.713626  0.286374
3              Alice noticed Bob.  0.605243  0.394757
4  The actress noticed the actor.  0.802738  0.197262

In [93]:
# female subject
IC2_noprompt_12f = IC2_noprompt_12[0:12]
IC2_noprompt_12f = IC2_noprompt_12f[["stimulus","She","He"]]
# male subject
IC2_noprompt_12m = IC2_noprompt_12[12:24]

#### female subject

In [94]:
IC2_noprompt_12f

                             stimulus       She        He
0       Miss Smith noticed Mr. Smith.  0.928859  0.071141
1          The woman noticed the man.  0.256486  0.743514
2                  Mary noticed John.  0.286374  0.713626
3                  Alice noticed Bob.  0.394757  0.605243
4      The actress noticed the actor.  0.197262  0.802738
5           The girl noticed the boy.  0.244222  0.755778
6   Mrs. Taylor noticed Mr. Williams.  0.269436  0.730564
7                 Emma noticed David.  0.859845  0.140155
8    The princess noticed the prince.  0.227793  0.772207
9               Sarah noticed Robert.  0.343859  0.656141
10  Mrs. Williams noticed Mr. Taylor.  0.917009  0.082991
11                Emily noticed Paul.  0.510074  0.489926

In [95]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_12f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_12f,'He'))

P('subj-pron'|subj=female) =  0.4529979849855105
P('non-subj-pron'|subj=female) =  0.5470020317782959

In [96]:
np_average_subj_female_subj_pron['noticed'] = compute_average(IC2_noprompt_12f,'She')
np_average_subj_female_obj_pron['noticed'] = compute_average(IC2_noprompt_12f,'He')

#### male subject

In [97]:
IC2_noprompt_12m

                             stimulus        He       She
12      Mr. Smith noticed Miss Smith.  0.644307  0.355693
13         The man noticed the woman.  0.772139  0.227861
14                 John noticed Mary.  0.866862  0.133138
15                 Bob noticed Alice.  0.425470  0.574530
16     The actor noticed the actress.  0.673526  0.326474
17          The boy noticed the girl.  0.847527  0.152473
18   Mr. William noticed Mrs. Taylor.  0.819889  0.180111
19                David noticed Emma.  0.135251  0.864749
20   The prince noticed the princess.  0.856330  0.143670
21              Robert noticed Sarah.  0.388014  0.611986
22  Mr. Taylor noticed Mrs. Williams.  0.795084  0.204917
23                Paul noticed Emily.  0.506931  0.493069

In [98]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_12m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_12m,'She'))

P('subj-pron'|subj=male) =  0.6442774956425031
P('non-subj-pron'|subj=male) =  0.35572249939044315

In [99]:
np_average_subj_male_subj_pron['noticed'] = compute_average(IC2_noprompt_12m,'He')
np_average_subj_male_obj_pron['noticed'] = compute_average(IC2_noprompt_12m,'She')

### verb: "pacified"

In [100]:
IC2_noprompt_13 = pd.read_csv("../results/IC2/no-prompt/13.csv")
IC2_noprompt_13.head()

                          stimulus        He       She
0   Miss Smith pacified Mr. Smith.  0.728188  0.271812
1      The woman pacified the man.  0.747241  0.252759
2              Mary pacified John.  0.726583  0.273417
3              Alice pacified Bob.  0.724397  0.275603
4  The actress pacified the actor.  0.809702  0.190298

In [101]:
# female subject
IC2_noprompt_13f = IC2_noprompt_13[0:12]
IC2_noprompt_13f = IC2_noprompt_13f[["stimulus","She","He"]]
# male subject
IC2_noprompt_13m = IC2_noprompt_13[12:24]

#### female subject

In [102]:
IC2_noprompt_13f

                              stimulus       She        He
0       Miss Smith pacified Mr. Smith.  0.271812  0.728188
1          The woman pacified the man.  0.252759  0.747241
2                  Mary pacified John.  0.273417  0.726583
3                  Alice pacified Bob.  0.275603  0.724397
4      The actress pacified the actor.  0.190298  0.809702
5           The girl pacified the boy.  0.237057  0.762943
6   Mrs. Taylor pacified Mr. Williams.  0.268797  0.731203
7                 Emma pacified David.  0.801098  0.198901
8    The princess pacified the prince.  0.209171  0.790829
9               Sarah pacified Robert.  0.382249  0.617751
10  Mrs. Williams pacified Mr. Taylor.  0.251613  0.748387
11                Emily pacified Paul.  0.587695  0.412305

In [103]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_13f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_13f,'He'))

P('subj-pron'|subj=female) =  0.3334641754627228
P('non-subj-pron'|subj=female) =  0.6665358456472555

In [104]:
np_average_subj_female_subj_pron['pacified'] = compute_average(IC2_noprompt_13f,'She')
np_average_subj_female_obj_pron['pacified'] = compute_average(IC2_noprompt_13f,'He')

#### male subject

In [105]:
IC2_noprompt_13m

                              stimulus        He       She
12      Mr. Smith pacified Miss Smith.  0.791803  0.208197
13         The man pacified the woman.  0.860475  0.139525
14                 John pacified Mary.  0.826877  0.173123
15                 Bob pacified Alice.  0.435078  0.564922
16     The actor pacified the actress.  0.855905  0.144095
17          The boy pacified the girl.  0.853713  0.146287
18   Mr. William pacified Mrs. Taylor.  0.829584  0.170416
19                David pacified Emma.  0.174286  0.825714
20   The prince pacified the princess.  0.860570  0.139430
21              Robert pacified Sarah.  0.381237  0.618763
22  Mr. Taylor pacified Mrs. Williams.  0.807944  0.192056
23                Paul pacified Emily.  0.823971  0.176029

In [106]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_13m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_13m,'She'))

P('subj-pron'|subj=male) =  0.708453580737114
P('non-subj-pron'|subj=male) =  0.29154642795523006

In [107]:
np_average_subj_male_subj_pron['pacified'] = compute_average(IC2_noprompt_13m,'He')
np_average_subj_male_obj_pron['pacified'] = compute_average(IC2_noprompt_13m,'She')

### verb: "praised"

In [108]:
IC2_noprompt_14 = pd.read_csv("../results/IC2/no-prompt/14.csv")
IC2_noprompt_14.head()

                         stimulus        He       She
0   Miss Smith praised Mr. Smith.  0.713311  0.286689
1      The woman praised the man.  0.746884  0.253116
2              Mary praised John.  0.731048  0.268952
3              Alice praised Bob.  0.593500  0.406500
4  The actress praised the actor.  0.782301  0.217699

In [109]:
# female subject
IC2_noprompt_14f = IC2_noprompt_14[0:12]
IC2_noprompt_14f = IC2_noprompt_14f[["stimulus","She","He"]]
# male subject
IC2_noprompt_14m = IC2_noprompt_14[12:24]

#### female subject

In [110]:
IC2_noprompt_14f

                             stimulus       She        He
0       Miss Smith praised Mr. Smith.  0.286689  0.713311
1          The woman praised the man.  0.253116  0.746884
2                  Mary praised John.  0.268952  0.731048
3                  Alice praised Bob.  0.406500  0.593500
4      The actress praised the actor.  0.217699  0.782301
5           The girl praised the boy.  0.243261  0.756739
6   Mrs. Taylor praised Mr. Williams.  0.268583  0.731417
7                 Emma praised David.  0.926631  0.073369
8    The princess praised the prince.  0.233448  0.766552
9               Sarah praised Robert.  0.377317  0.622683
10  Mrs. Williams praised Mr. Taylor.  0.250743  0.749257
11                Emily praised Paul.  0.692695  0.307305

In [111]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_14f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_14f,'He'))

P('subj-pron'|subj=female) =  0.3688028044998646
P('non-subj-pron'|subj=female) =  0.6311971843242645

In [112]:
np_average_subj_female_subj_pron['praised'] = compute_average(IC2_noprompt_14f,'She')
np_average_subj_female_obj_pron['praised'] = compute_average(IC2_noprompt_14f,'He')

#### male subject

In [113]:
IC2_noprompt_14m

                             stimulus        He       She
12      Mr. Smith praised Miss Smith.  0.795525  0.204475
13         The man praised the woman.  0.859418  0.140582
14                 John praised Mary.  0.726943  0.273057
15                 Bob praised Alice.  0.400418  0.599582
16     The actor praised the actress.  0.850003  0.149997
17          The boy praised the girl.  0.858455  0.141545
18   Mr. William praised Mrs. Taylor.  0.833599  0.166401
19                David praised Emma.  0.058583  0.941417
20   The prince praised the princess.  0.862114  0.137886
21              Robert praised Sarah.  0.237487  0.762513
22  Mr. Taylor praised Mrs. Williams.  0.804239  0.195761
23                Paul praised Emily.  0.829278  0.170722

In [114]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_14m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_14m,'She'))

P('subj-pron'|subj=male) =  0.6763385642940799
P('non-subj-pron'|subj=male) =  0.3236614329119523

In [115]:
np_average_subj_male_subj_pron['praised'] = compute_average(IC2_noprompt_14m,'He')
np_average_subj_male_obj_pron['praised'] = compute_average(IC2_noprompt_14m,'She')

### verb: "reproached"

In [116]:
IC2_noprompt_15 = pd.read_csv("../results/IC2/no-prompt/15.csv")
IC2_noprompt_15.head()

                            stimulus        He       She
0   Miss Smith reproached Mr. Smith.  0.701830  0.298170
1      The woman reproached the man.  0.732611  0.267389
2              Mary reproached John.  0.673092  0.326908
3              Alice reproached Bob.  0.515215  0.484785
4  The actress reproached the actor.  0.789678  0.210322

In [117]:
# female subject
IC2_noprompt_15f = IC2_noprompt_15[0:12]
IC2_noprompt_15f = IC2_noprompt_15f[["stimulus","She","He"]]
# male subject
IC2_noprompt_15m = IC2_noprompt_15[12:24]

#### female subject

In [118]:
IC2_noprompt_15f

                                stimulus       She        He
0       Miss Smith reproached Mr. Smith.  0.298170  0.701830
1          The woman reproached the man.  0.267389  0.732611
2                  Mary reproached John.  0.326908  0.673092
3                  Alice reproached Bob.  0.484785  0.515215
4      The actress reproached the actor.  0.210322  0.789678
5           The girl reproached the boy.  0.258211  0.741789
6   Mrs. Taylor reproached Mr. Williams.  0.284513  0.715487
7                 Emma reproached David.  0.892250  0.107750
8    The princess reproached the prince.  0.233814  0.766186
9               Sarah reproached Robert.  0.599871  0.400129
10  Mrs. Williams reproached Mr. Taylor.  0.901499  0.098501
11                Emily reproached Paul.  0.615612  0.384388

In [119]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_15f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_15f,'He'))

P('subj-pron'|subj=female) =  0.4477786396940549
P('non-subj-pron'|subj=female) =  0.552221347267429

In [120]:
np_average_subj_female_subj_pron['reproached'] = compute_average(IC2_noprompt_15f,'She')
np_average_subj_female_obj_pron['reproached'] = compute_average(IC2_noprompt_15f,'He')

#### male subject

In [121]:
IC2_noprompt_15m

                                stimulus        He       She
12      Mr. Smith reproached Miss Smith.  0.231758  0.768242
13         The man reproached the woman.  0.854353  0.145647
14                 John reproached Mary.  0.396229  0.603771
15                 Bob reproached Alice.  0.099263  0.900737
16     The actor reproached the actress.  0.845638  0.154362
17          The boy reproached the girl.  0.844369  0.155631
18   Mr. William reproached Mrs. Taylor.  0.823806  0.176194
19                David reproached Emma.  0.030341  0.969659
20   The prince reproached the princess.  0.851208  0.148792
21              Robert reproached Sarah.  0.095315  0.904685
22  Mr. Taylor reproached Mrs. Williams.  0.794571  0.205429
23                Paul reproached Emily.  0.284492  0.715508

In [122]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_15m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_15m,'She'))

P('subj-pron'|subj=male) =  0.5126118382128576
P('non-subj-pron'|subj=male) =  0.4873881625632445

In [123]:
np_average_subj_male_subj_pron['reproached'] = compute_average(IC2_noprompt_15m,'He')
np_average_subj_male_obj_pron['reproached'] = compute_average(IC2_noprompt_15m,'She')

### verb: "scolded"

In [124]:
IC2_noprompt_16 = pd.read_csv("../results/IC2/no-prompt/16.csv")
IC2_noprompt_16.head()

                         stimulus        He       She
0   Miss Smith scolded Mr. Smith.  0.700760  0.299240
1      The woman scolded the man.  0.730125  0.269875
2              Mary scolded John.  0.611417  0.388583
3              Alice scolded Bob.  0.418566  0.581434
4  The actress scolded the actor.  0.789515  0.210485

In [125]:
# female subject
IC2_noprompt_16f = IC2_noprompt_16[0:12]
IC2_noprompt_16f = IC2_noprompt_16f[["stimulus","She","He"]]
# male subject
IC2_noprompt_16m = IC2_noprompt_16[12:24]

#### female subject

In [126]:
IC2_noprompt_16f

                             stimulus       She        He
0       Miss Smith scolded Mr. Smith.  0.299240  0.700760
1          The woman scolded the man.  0.269875  0.730125
2                  Mary scolded John.  0.388583  0.611417
3                  Alice scolded Bob.  0.581434  0.418566
4      The actress scolded the actor.  0.210485  0.789515
5           The girl scolded the boy.  0.260402  0.739598
6   Mrs. Taylor scolded Mr. Williams.  0.288025  0.711975
7                 Emma scolded David.  0.910845  0.089155
8    The princess scolded the prince.  0.233605  0.766395
9               Sarah scolded Robert.  0.690467  0.309533
10  Mrs. Williams scolded Mr. Taylor.  0.264930  0.735070
11                Emily scolded Paul.  0.708946  0.291054

In [127]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_16f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_16f,'He'))

P('subj-pron'|subj=female) =  0.4255697950720787
P('non-subj-pron'|subj=female) =  0.574430218587319

In [128]:
np_average_subj_female_subj_pron['scolded'] = compute_average(IC2_noprompt_16f,'She')
np_average_subj_female_obj_pron['scolded'] = compute_average(IC2_noprompt_16f,'He')

#### male subject

In [129]:
IC2_noprompt_16m

                             stimulus        He       She
12      Mr. Smith scolded Miss Smith.  0.262486  0.737514
13         The man scolded the woman.  0.632939  0.367061
14                 John scolded Mary.  0.430597  0.569403
15                 Bob scolded Alice.  0.115700  0.884300
16     The actor scolded the actress.  0.506930  0.493070
17          The boy scolded the girl.  0.843852  0.156148
18   Mr. William scolded Mrs. Taylor.  0.822690  0.177310
19                David scolded Emma.  0.041484  0.958516
20   The prince scolded the princess.  0.850968  0.149033
21              Robert scolded Sarah.  0.111707  0.888293
22  Mr. Taylor scolded Mrs. Williams.  0.794137  0.205863
23                Paul scolded Emily.  0.326622  0.673378

In [130]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_16m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_16m,'She'))

P('subj-pron'|subj=male) =  0.478342621276776
P('non-subj-pron'|subj=male) =  0.5216573799649874

In [131]:
np_average_subj_male_subj_pron['scolded'] = compute_average(IC2_noprompt_16m,'He')
np_average_subj_male_obj_pron['scolded'] = compute_average(IC2_noprompt_16m,'She')

### verb: "stared"

In [132]:
IC2_noprompt_17 = pd.read_csv("../results/IC2/no-prompt/17.csv")
IC2_noprompt_17.head()

                           stimulus        He       She
0   Miss Smith stared at Mr. Smith.  0.769454  0.230546
1      The woman stared at the man.  0.791424  0.208576
2              Mary stared at John.  0.472193  0.527807
3              Alice stared at Bob.  0.424171  0.575829
4  The actress stared at the actor.  0.831245  0.168755

In [133]:
# female subject
IC2_noprompt_17f = IC2_noprompt_17[0:12]
IC2_noprompt_17f = IC2_noprompt_17f[["stimulus","She","He"]]
# male subject
IC2_noprompt_17m = IC2_noprompt_17[12:24]

#### male subject

In [134]:
IC2_noprompt_17f

                               stimulus       She        He
0       Miss Smith stared at Mr. Smith.  0.230546  0.769454
1          The woman stared at the man.  0.208576  0.791424
2                  Mary stared at John.  0.527807  0.472193
3                  Alice stared at Bob.  0.575829  0.424171
4      The actress stared at the actor.  0.168755  0.831245
5           The girl stared at the boy.  0.203036  0.796964
6   Mrs. Taylor stared at Mr. Williams.  0.222623  0.777377
7                 Emma stared at David.  0.236082  0.763918
8    The princess stared at the prince.  0.190764  0.809236
9               Sarah stared at Robert.  0.589816  0.410184
10  Mrs. Williams stared at Mr. Taylor.  0.208171  0.791829
11                Emily stared at Paul.  0.769285  0.230715

In [135]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_17f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_17f,'He'))

P('subj-pron'|subj=female) =  0.3442741086085637
P('non-subj-pron'|subj=female) =  0.6557258814573288

In [136]:
np_average_subj_female_subj_pron['stared'] = compute_average(IC2_noprompt_17f,'She')
np_average_subj_female_obj_pron['stared'] = compute_average(IC2_noprompt_17f,'He')

#### female subject

In [137]:
IC2_noprompt_17m

                               stimulus        He       She
12      Mr. Smith stared at Miss Smith.  0.824349  0.175651
13         The man stared at the woman.  0.865552  0.134448
14                 John stared at Mary.  0.842592  0.157408
15                 Bob stared at Alice.  0.358932  0.641068
16     The actor stared at the actress.  0.861250  0.138750
17          The boy stared at the girl.  0.860842  0.139158
18   Mr. William stared at Mrs. Taylor.  0.847733  0.152267
19                David stared at Emma.  0.072297  0.927702
20   The prince stared at the princess.  0.864865  0.135135
21              Robert stared at Sarah.  0.089870  0.910130
22  Mr. Taylor stared at Mrs. Williams.  0.833287  0.166713
23                Paul stared at Emily.  0.835390  0.164610

In [138]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_17m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_17m,'She'))

P('subj-pron'|subj=male) =  0.6797466482967138
P('non-subj-pron'|subj=male) =  0.32025333493947983

In [139]:
np_average_subj_male_subj_pron['stared'] = compute_average(IC2_noprompt_17m,'He')
np_average_subj_male_obj_pron['stared'] = compute_average(IC2_noprompt_17m,'She')

### verb: "thanked"

In [140]:
IC2_noprompt_18 = pd.read_csv("../results/IC2/no-prompt/18.csv")
IC2_noprompt_18.head()

                         stimulus        He       She
0   Miss Smith thanked Mr. Smith.  0.215586  0.784414
1      The woman thanked the man.  0.744047  0.255953
2              Mary thanked John.  0.646407  0.353593
3              Alice thanked Bob.  0.812115  0.187885
4  The actress thanked the actor.  0.800052  0.199948

In [141]:
# female subject
IC2_noprompt_18f = IC2_noprompt_18[0:12]
IC2_noprompt_18f = IC2_noprompt_18f[["stimulus","She","He"]]
# male subject
IC2_noprompt_18m = IC2_noprompt_18[12:24]

#### female subject

In [142]:
IC2_noprompt_18f

                             stimulus       She        He
0       Miss Smith thanked Mr. Smith.  0.784414  0.215586
1          The woman thanked the man.  0.255953  0.744047
2                  Mary thanked John.  0.353593  0.646407
3                  Alice thanked Bob.  0.187885  0.812115
4      The actress thanked the actor.  0.199948  0.800052
5           The girl thanked the boy.  0.244287  0.755713
6   Mrs. Taylor thanked Mr. Williams.  0.272048  0.727952
7                 Emma thanked David.  0.866347  0.133653
8    The princess thanked the prince.  0.219881  0.780119
9               Sarah thanked Robert.  0.463057  0.536943
10  Mrs. Williams thanked Mr. Taylor.  0.783292  0.216708
11                Emily thanked Paul.  0.548065  0.451935

In [143]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_18f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_18f,'He'))

P('subj-pron'|subj=female) =  0.43156418825189274
P('non-subj-pron'|subj=female) =  0.5684357980887095

In [144]:
np_average_subj_female_subj_pron['thanked'] = compute_average(IC2_noprompt_18f,'She')
np_average_subj_female_obj_pron['thanked'] = compute_average(IC2_noprompt_18f,'He')

In [145]:
IC2_noprompt_18m

                             stimulus        He       She
12      Mr. Smith thanked Miss Smith.  0.379429  0.620571
13         The man thanked the woman.  0.855808  0.144192
14                 John thanked Mary.  0.634171  0.365829
15                 Bob thanked Alice.  0.222519  0.777481
16     The actor thanked the actress.  0.847602  0.152398
17          The boy thanked the girl.  0.846222  0.153778
18   Mr. William thanked Mrs. Taylor.  0.835526  0.164474
19                David thanked Emma.  0.074932  0.925068
20   The prince thanked the princess.  0.853802  0.146198
21              Robert thanked Sarah.  0.111791  0.888209
22  Mr. Taylor thanked Mrs. Williams.  0.808922  0.191078
23                Paul thanked Emily.  0.479249  0.520751

In [146]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_18m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_18m,'She'))

P('subj-pron'|subj=male) =  0.5791644559552273
P('non-subj-pron'|subj=male) =  0.4208355372150739

In [147]:
np_average_subj_male_subj_pron['thanked'] = compute_average(IC2_noprompt_18m,'He')
np_average_subj_male_obj_pron['thanked'] = compute_average(IC2_noprompt_18m,'She')

### verb: "trusts"

In [148]:
IC2_noprompt_19 = pd.read_csv("../results/IC2/no-prompt/19.csv")
IC2_noprompt_19.head()

                        stimulus        He       She
0   Miss Smith trusts Mr. Smith.  0.697569  0.302431
1      The woman trusts the man.  0.733220  0.266780
2              Mary trusts John.  0.604658  0.395342
3              Alice trusts Bob.  0.480933  0.519067
4  The actress trusts the actor.  0.791809  0.208191

In [149]:
# female subject
IC2_noprompt_19f = IC2_noprompt_19[0:12]
IC2_noprompt_19f = IC2_noprompt_19f[["stimulus","She","He"]]
# male subject
IC2_noprompt_19m = IC2_noprompt_19[12:24]

#### female subject

In [150]:
IC2_noprompt_19f

                            stimulus       She        He
0       Miss Smith trusts Mr. Smith.  0.302431  0.697569
1          The woman trusts the man.  0.266780  0.733220
2                  Mary trusts John.  0.395342  0.604658
3                  Alice trusts Bob.  0.519067  0.480933
4      The actress trusts the actor.  0.208191  0.791809
5           The girl trusts the boy.  0.250841  0.749159
6   Mrs. Taylor trusts Mr. Williams.  0.284920  0.715080
7                 Emma trusts David.  0.961250  0.038750
8    The princess trusts the prince.  0.227129  0.772871
9               Sarah trusts Robert.  0.712245  0.287756
10  Mrs. Williams trusts Mr. Taylor.  0.266299  0.733701
11                Emily trusts Paul.  0.700486  0.299514

In [151]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_19f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_19f,'He'))

P('subj-pron'|subj=female) =  0.4245816767215729
P('non-subj-pron'|subj=female) =  0.5754183251410723

In [152]:
np_average_subj_female_subj_pron['trusts'] = compute_average(IC2_noprompt_19f,'She')
np_average_subj_female_obj_pron['trusts'] = compute_average(IC2_noprompt_19f,'He')

#### male subject

In [153]:
IC2_noprompt_19m

                            stimulus        He       She
12      Mr. Smith trusts Miss Smith.  0.797252  0.202748
13         The man trusts the woman.  0.860568  0.139432
14                 John trusts Mary.  0.848879  0.151121
15                 Bob trusts Alice.  0.304603  0.695397
16     The actor trusts the actress.  0.859179  0.140821
17          The boy trusts the girl.  0.852695  0.147305
18   Mr. William trusts Mrs. Taylor.  0.835184  0.164816
19                David trusts Emma.  0.062961  0.937039
20   The prince trusts the princess.  0.860731  0.139269
21              Robert trusts Sarah.  0.211925  0.788075
22  Mr. Taylor trusts Mrs. Williams.  0.806745  0.193255
23                Paul trusts Emily.  0.819295  0.180705

In [154]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_19m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_19m,'She'))

P('subj-pron'|subj=male) =  0.6766679628441731
P('non-subj-pron'|subj=male) =  0.3233320551613967

In [155]:
np_average_subj_male_subj_pron['trusts'] = compute_average(IC2_noprompt_19m,'He')
np_average_subj_male_obj_pron['trusts'] = compute_average(IC2_noprompt_19m,'She')

### verb: "values"

In [156]:
IC2_noprompt_20 = pd.read_csv("../results/IC2/no-prompt/20.csv")
IC2_noprompt_20.head()

                        stimulus        He       She
0   Miss Smith values Mr. Smith.  0.701555  0.298445
1      The woman values the man.  0.723594  0.276406
2              Mary values John.  0.718046  0.281954
3              Alice values Bob.  0.339915  0.660085
4  The actress values the actor.  0.765434  0.234566

In [157]:
# female subject
IC2_noprompt_20f = IC2_noprompt_20[0:12]
IC2_noprompt_20f = IC2_noprompt_20f[["stimulus","She","He"]]
# male subject
IC2_noprompt_20m = IC2_noprompt_20[12:24]

#### female subject

In [158]:
IC2_noprompt_20f

                            stimulus       She        He
0       Miss Smith values Mr. Smith.  0.298445  0.701555
1          The woman values the man.  0.276406  0.723594
2                  Mary values John.  0.281954  0.718046
3                  Alice values Bob.  0.660085  0.339915
4      The actress values the actor.  0.234566  0.765434
5           The girl values the boy.  0.263989  0.736011
6   Mrs. Taylor values Mr. Williams.  0.288921  0.711079
7                 Emma values David.  0.933532  0.066468
8    The princess values the prince.  0.250440  0.749560
9               Sarah values Robert.  0.447906  0.552094
10  Mrs. Williams values Mr. Taylor.  0.269542  0.730458
11                Emily values Paul.  0.807801  0.192199

In [159]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_noprompt_20f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_noprompt_20f,'He'))

P('subj-pron'|subj=female) =  0.4177989177405834
P('non-subj-pron'|subj=female) =  0.5822010698417822

In [160]:
np_average_subj_female_subj_pron['values'] = compute_average(IC2_noprompt_20f,'She')
np_average_subj_female_obj_pron['values'] = compute_average(IC2_noprompt_20f,'He')

#### male subject

In [161]:
IC2_noprompt_20m

                            stimulus        He       She
12      Mr. Smith values Miss Smith.  0.810289  0.189711
13         The man values the woman.  0.866951  0.133049
14                 John values Mary.  0.850949  0.149051
15                 Bob values Alice.  0.595159  0.404842
16     The actor values the actress.  0.866219  0.133781
17          The boy values the girl.  0.861887  0.138113
18   Mr. William values Mrs. Taylor.  0.843537  0.156463
19                David values Emma.  0.095608  0.904392
20   The prince values the princess.  0.870345  0.129655
21              Robert values Sarah.  0.415279  0.584720
22  Mr. Taylor values Mrs. Williams.  0.824981  0.175019
23                Paul values Emily.  0.834628  0.165372

In [162]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_noprompt_20m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_noprompt_20m,'She'))

P('subj-pron'|subj=male) =  0.7279859073460102
P('non-subj-pron'|subj=male) =  0.2720140852034092

In [163]:
np_average_subj_male_subj_pron['values'] = compute_average(IC2_noprompt_20m,'He')
np_average_subj_male_obj_pron['values'] = compute_average(IC2_noprompt_20m,'She')

## Summary of Results

In [164]:
np_results_fsubj_subjpron = pd.DataFrame(list(np_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
np_results_fsubj_objpron = pd.DataFrame(list(np_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
np_results_fsubj = np_results_fsubj_subjpron.merge(np_results_fsubj_objpron)
np_results_fsubj

             verb  subj_ref_female_subj  obj_ref_female_subj
0        assisted              0.400334             0.599666
1          blames              0.395488             0.604512
2       comforted              0.414545             0.585455
3   congratulated              0.363078             0.636922
4       corrected              0.377761             0.622239
5         detests              0.361140             0.638860
6           fears              0.387947             0.612053
7          envies              0.358132             0.641868
8           hates              0.349480             0.650520
9          helped              0.597266             0.402734
10         mocked              0.333752             0.666248
11        noticed              0.452998             0.547002
12       pacified              0.333464             0.666536
13        praised              0.368803             0.631197
14     reproached              0.447779             0.552221
15        scolded              0.425570             0.574430
16         stared              0.344274             0.655726
17        thanked              0.431564             0.568436
18         trusts              0.424582             0.575418
19         values              0.417799             0.582201

In [165]:
np_results_msubj_subjpron = pd.DataFrame(list(np_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
np_results_msubj_objpron = pd.DataFrame(list(np_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
np_results_msubj = np_results_msubj_subjpron.merge(np_results_msubj_objpron)
np_results_msubj

             verb  subj_ref_male_subj  obj_ref_male_subj
0        assisted            0.496675           0.503325
1          blames            0.661824           0.338176
2       comforted            0.645096           0.354904
3   congratulated            0.582930           0.417070
4       corrected            0.696564           0.303436
5         detests            0.758691           0.241309
6           fears            0.670592           0.329408
7          envies            0.713908           0.286092
8           hates            0.716507           0.283493
9          helped            0.299415           0.700585
10         mocked            0.631889           0.368111
11        noticed            0.644277           0.355722
12       pacified            0.708454           0.291546
13        praised            0.676339           0.323661
14     reproached            0.512612           0.487388
15        scolded            0.478343           0.521657
16         stared            0.679747           0.320253
17        thanked            0.579164           0.420836
18         trusts            0.676668           0.323332
19         values            0.727986           0.272014

In [166]:
np_results = np_results_fsubj.merge(np_results_msubj)
np_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,assisted,0.400334,0.599666,0.496675,0.503325
1,blames,0.395488,0.604512,0.661824,0.338176
2,comforted,0.414545,0.585455,0.645096,0.354904
3,congratulated,0.363078,0.636922,0.582930,0.417070
4,corrected,0.377761,0.622239,0.696564,0.303436
5,detests,0.361140,0.638860,0.758691,0.241309
6,fears,0.387947,0.612053,0.670592,0.329408
7,envies,0.358132,0.641868,0.713908,0.286092
8,hates,0.349480,0.650520,0.716507,0.283493
9,helped,0.597266,0.402734,0.299415,0.700585
10,mocked,0.333752,0.666248,0.631889,0.368111
11,noticed,0.452998,0.547002,0.644277,0.355722
12,pacified,0.333464,0.666536,0.708454,0.291546
13,praised,0.368803,0.631197,0.676339,0.323661
14,reproached,0.447779,0.552221,0.512612,0.487388
15,scolded,0.425570,0.574430,0.478343,0.521657
16,stared,0.344274,0.655726,0.679747,0.320253
17,thanked,0.431564,0.568436,0.579164,0.420836
18,trusts,0.424582,0.575418,0.676668,0.323332
19,values,0.417799,0.582201,0.727986,0.272014

In [167]:
print("P(subj_reference |subj=female)", compute_average(np_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(np_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.39928779285401106
P(obj_reference |subj=female) 0.60071220464694

In [168]:
print("P(subj_reference |subj=male)", compute_average(np_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(np_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.6278840125150358
P(obj_reference |subj=male) 0.37211598710467414

## Connective: "because"

In [169]:
c1_average_subj_female_subj_pron = {}
c1_average_subj_female_obj_pron = {}
c1_average_subj_male_subj_pron = {}
c1_average_subj_male_obj_pron = {}

### verb: "assisted"

In [170]:
IC2_connective1_1 = pd.read_csv("../results/IC2/connective1/1.csv")
IC2_connective1_1.head()

                                 stimulus        he       she
0   Miss Smith assisted Mr. Smith because  0.255546  0.744454
1      The woman assisted the man because  0.402598  0.597402
2              Mary assisted John because  0.207730  0.792270
3              Alice assisted Bob because  0.231846  0.768154
4  The actress assisted the actor because  0.163075  0.836925

In [171]:
# female subject
IC2_connective1_1f = IC2_connective1_1[0:12]
IC2_connective1_1f = IC2_connective1_1f[["stimulus","she","he"]]
# male subject
IC2_connective1_1m = IC2_connective1_1[12:24]

#### female subject

In [172]:
IC2_connective1_1f

                                     stimulus       she        he
0       Miss Smith assisted Mr. Smith because  0.744454  0.255546
1          The woman assisted the man because  0.597402  0.402598
2                  Mary assisted John because  0.792270  0.207730
3                  Alice assisted Bob because  0.768154  0.231846
4      The actress assisted the actor because  0.836925  0.163075
5           The girl assisted the boy because  0.605719  0.394281
6   Mrs. Taylor assisted Mr. Williams because  0.740729  0.259271
7                 Emma assisted David because  0.912685  0.087315
8    The princess assisted the prince because  0.485937  0.514063
9               Sarah assisted Robert because  0.790855  0.209145
10  Mrs. Williams assisted Mr. Taylor because  0.726298  0.273702
11                Emily assisted Paul because  0.821761  0.178238

In [173]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_1f,'he'))

P('subj-pron'|subj=female) =  0.7352657889326414
P('non-subj-pron'|subj=female) =  0.2647342203805844

In [174]:
c1_average_subj_female_subj_pron['assisted'] = compute_average(IC2_connective1_1f,'she')
c1_average_subj_female_obj_pron['assisted'] = compute_average(IC2_connective1_1f,'he')

#### male subject

In [175]:
IC2_connective1_1m

                                     stimulus        he       she
12      Mr. Smith assisted Miss Smith because  0.339813  0.660186
13         The man assisted the woman because  0.376158  0.623842
14                 John assisted Mary because  0.391814  0.608186
15                 Bob assisted Alice because  0.157607  0.842393
16     The actor assisted the actress because  0.169331  0.830669
17          The boy assisted the girl because  0.342614  0.657386
18   Mr. William assisted Mrs. Taylor because  0.159229  0.840772
19                David assisted Emma because  0.322535  0.677465
20   The prince assisted the princess because  0.443268  0.556732
21              Robert assisted Sarah because  0.259857  0.740143
22  Mr. Taylor assisted Mrs. Williams because  0.081037  0.918963
23                Paul assisted Emily because  0.305975  0.694025

In [176]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_1m,'she'))

P('subj-pron'|subj=male) =  0.2791032592455546
P('non-subj-pron'|subj=male) =  0.7208967457214991

In [177]:
c1_average_subj_male_subj_pron['assisted'] = compute_average(IC2_connective1_1m,'he')
c1_average_subj_male_obj_pron['assisted'] = compute_average(IC2_connective1_1m,'she')

### verb: "blames"

In [178]:
IC2_connective1_2 = pd.read_csv("../results/IC2/connective1/2.csv")
IC2_connective1_2.head()

                               stimulus        he       she
0   Miss Smith blames Mr. Smith because  0.437414  0.562586
1      The woman blames the man because  0.508223  0.491777
2              Mary blames John because  0.448550  0.551450
3              Alice blames Bob because  0.320501  0.679499
4  The actress blames the actor because  0.522983  0.477017

In [179]:
# female subject
IC2_connective1_2f = IC2_connective1_2[0:12]
IC2_connective1_2f = IC2_connective1_2f[["stimulus","she","he"]]
# male subject
IC2_connective1_2m = IC2_connective1_2[12:24]

#### female subject

In [180]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_2f,'he'))

P('subj-pron'|subj=female) =  0.579810676475366
P('non-subj-pron'|subj=female) =  0.4201893185575803

In [181]:
c1_average_subj_female_subj_pron['blames'] = compute_average(IC2_connective1_2f,'she')
c1_average_subj_female_obj_pron['blames'] = compute_average(IC2_connective1_2f,'he')

#### male subject

In [182]:
IC2_connective1_2m

                                   stimulus        he       she
12      Mr. Smith blames Miss Smith because  0.408462  0.591538
13         The man blames the woman because  0.423418  0.576582
14                 John blames Mary because  0.362707  0.637293
15                 Bob blames Alice because  0.181759  0.818241
16     The actor blames the actress because  0.238430  0.761570
17          The boy blames the girl because  0.443417  0.556583
18   Mr. William blames Mrs. Taylor because  0.174199  0.825801
19                David blames Emma because  0.357770  0.642230
20   The prince blames the princess because  0.388788  0.611212
21              Robert blames Sarah because  0.166290  0.833710
22  Mr. Taylor blames Mrs. Williams because  0.140677  0.859323
23                Paul blames Emily because  0.338123  0.661877

In [183]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_2m,'she'))

P('subj-pron'|subj=male) =  0.3020034891863664
P('non-subj-pron'|subj=male) =  0.6979965269565582

In [184]:
c1_average_subj_male_subj_pron['blames'] = compute_average(IC2_connective1_2m,'he')
c1_average_subj_male_obj_pron['blames'] = compute_average(IC2_connective1_2m,'she')

### verb: "comforted"

In [185]:
IC2_connective1_3 = pd.read_csv("../results/IC2/connective1/3.csv")
IC2_connective1_3.head()

                                  stimulus        he       she
0   Miss Smith comforted Mr. Smith because  0.653035  0.346965
1      The woman comforted the man because  0.570677  0.429323
2              Mary comforted John because  0.561189  0.438811
3              Alice comforted Bob because  0.640813  0.359187
4  The actress comforted the actor because  0.623428  0.376572

In [186]:
# female subject
IC2_connective1_3f = IC2_connective1_3[0:12]
IC2_connective1_3f = IC2_connective1_3f[["stimulus","she","he"]]
# male subject
IC2_connective1_3m = IC2_connective1_3[12:24]

#### female subject

In [187]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_3f,'he'))

P('subj-pron'|subj=female) =  0.44498567779858905
P('non-subj-pron'|subj=female) =  0.5550143544872602

In [188]:
c1_average_subj_female_subj_pron['comforted'] = compute_average(IC2_connective1_3f,'she')
c1_average_subj_female_obj_pron['comforted'] = compute_average(IC2_connective1_3f,'he')

#### male subject

In [189]:
IC2_connective1_3m

                                      stimulus        he       she
12      Mr. Smith comforted Miss Smith because  0.364815  0.635185
13         The man comforted the woman because  0.627549  0.372451
14                 John comforted Mary because  0.460484  0.539516
15                 Bob comforted Alice because  0.145750  0.854250
16     The actor comforted the actress because  0.261497  0.738503
17          The boy comforted the girl because  0.607962  0.392038
18   Mr. William comforted Mrs. Taylor because  0.199743  0.800257
19                David comforted Emma because  0.243577  0.756423
20   The prince comforted the princess because  0.588235  0.411765
21              Robert comforted Sarah because  0.110052  0.889948
22  Mr. Taylor comforted Mrs. Williams because  0.117407  0.882593
23                Paul comforted Emily because  0.265037  0.734963

In [190]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_3m,'she'))

P('subj-pron'|subj=male) =  0.332675709699591
P('non-subj-pron'|subj=male) =  0.6673242971301079

In [191]:
c1_average_subj_male_subj_pron['comforted'] = compute_average(IC2_connective1_3m,'he')
c1_average_subj_male_obj_pron['comforted'] = compute_average(IC2_connective1_3m,'she')

### verb: "congratulated"

In [192]:
IC2_connective1_4 = pd.read_csv("../results/IC2/connective1/4.csv")
IC2_connective1_4.head()

                                      stimulus        he       she
0   Miss Smith congratulated Mr. Smith because  0.517872  0.482128
1      The woman congratulated the man because  0.545204  0.454796
2              Mary congratulated John because  0.526383  0.473617
3              Alice congratulated Bob because  0.538091  0.461909
4  The actress congratulated the actor because  0.540752  0.459248

In [193]:
# female subject
IC2_connective1_4f = IC2_connective1_4[0:12]
IC2_connective1_4f = IC2_connective1_4f[["stimulus","she","he"]]
# male subject
IC2_connective1_4m = IC2_connective1_4[12:24]

#### female subject

In [194]:
IC2_connective1_4f

                                          stimulus       she        he
0       Miss Smith congratulated Mr. Smith because  0.482128  0.517872
1          The woman congratulated the man because  0.454796  0.545204
2                  Mary congratulated John because  0.473617  0.526383
3                  Alice congratulated Bob because  0.461909  0.538091
4      The actress congratulated the actor because  0.459248  0.540752
5           The girl congratulated the boy because  0.474379  0.525621
6   Mrs. Taylor congratulated Mr. Williams because  0.526439  0.473561
7                 Emma congratulated David because  0.685505  0.314495
8    The princess congratulated the prince because  0.390560  0.609440
9               Sarah congratulated Robert because  0.577149  0.422851
10  Mrs. Williams congratulated Mr. Taylor because  0.522432  0.477568
11                Emily congratulated Paul because  0.538846  0.461154

In [195]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_4f,'he'))

P('subj-pron'|subj=female) =  0.5039172718922297
P('non-subj-pron'|subj=female) =  0.49608272562424344

In [196]:
c1_average_subj_female_subj_pron['annoyded'] = compute_average(IC2_connective1_4f,'she')
c1_average_subj_female_obj_pron['congratulated'] = compute_average(IC2_connective1_4f,'he')

#### male subject

In [197]:
IC2_connective1_4m

                                          stimulus        he       she
12      Mr. Smith congratulated Miss Smith because  0.423484  0.576516
13         The man congratulated the woman because  0.397005  0.602996
14                 John congratulated Mary because  0.358869  0.641131
15                 Bob congratulated Alice because  0.188306  0.811694
16     The actor congratulated the actress because  0.183809  0.816191
17          The boy congratulated the girl because  0.420641  0.579359
18   Mr. William congratulated Mrs. Taylor because  0.209491  0.790509
19                David congratulated Emma because  0.327733  0.672267
20   The prince congratulated the princess because  0.385189  0.614811
21              Robert congratulated Sarah because  0.146068  0.853932
22  Mr. Taylor congratulated Mrs. Williams because  0.130116  0.869883
23                Paul congratulated Emily because  0.335221  0.664779

In [198]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_4m,'she'))

P('subj-pron'|subj=male) =  0.29216086988647777
P('non-subj-pron'|subj=male) =  0.7078391363223394

In [199]:
c1_average_subj_male_subj_pron['congratulated'] = compute_average(IC2_connective1_4m,'he')
c1_average_subj_male_obj_pron['congratulated'] = compute_average(IC2_connective1_4m,'she')

### verb: "corrected"

In [200]:
IC2_connective1_5 = pd.read_csv("../results/IC2/connective1/5.csv")
IC2_connective1_5.head()

                                  stimulus        he       she
0   Miss Smith corrected Mr. Smith because  0.475973  0.524027
1      The woman corrected the man because  0.347357  0.652643
2              Mary corrected John because  0.272618  0.727382
3              Alice corrected Bob because  0.328828  0.671172
4  The actress corrected the actor because  0.245158  0.754842

In [201]:
# female subject
IC2_connective1_5f = IC2_connective1_5[0:12]
IC2_connective1_5f = IC2_connective1_5[["stimulus","she","he"]]
# male subject
IC2_connective1_5m = IC2_connective1_5[12:24]

#### female subject

In [202]:
IC2_connective1_5f

                                      stimulus       she        he
0       Miss Smith corrected Mr. Smith because  0.524027  0.475973
1          The woman corrected the man because  0.652643  0.347357
2                  Mary corrected John because  0.727382  0.272618
3                  Alice corrected Bob because  0.671172  0.328828
4      The actress corrected the actor because  0.754842  0.245158
5           The girl corrected the boy because  0.697285  0.302715
6   Mrs. Taylor corrected Mr. Williams because  0.600990  0.399010
7                 Emma corrected David because  0.860187  0.139813
8    The princess corrected the prince because  0.675635  0.324365
9               Sarah corrected Robert because  0.796969  0.203031
10  Mrs. Williams corrected Mr. Taylor because  0.556528  0.443472
11                Emily corrected Paul because  0.750151  0.249849
12      Mr. Smith corrected Miss Smith because  0.542998  0.457002
13         The man corrected the woman because  0.481406  0.518594
14                 John corrected Mary because  0.440394  0.559606
15                 Bob corrected Alice because  0.718888  0.281112
16     The actor corrected the actress because  0.710343  0.289657
17          The boy corrected the girl because  0.428992  0.571008
18   Mr. William corrected Mrs. Taylor because  0.756151  0.243849
19                David corrected Emma because  0.626174  0.373826
20   The prince corrected the princess because  0.411265  0.588735
21              Robert corrected Sarah because  0.673604  0.326396
22  Mr. Taylor corrected Mrs. Williams because  0.834122  0.165878
23                Paul corrected Emily because  0.569337  0.430663

In [203]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_5f,'he'))

P('subj-pron'|subj=female) =  0.6442286235590776
P('non-subj-pron'|subj=female) =  0.3557713944464922

In [204]:
c1_average_subj_female_subj_pron['corrected'] = compute_average(IC2_connective1_5f,'she')
c1_average_subj_female_obj_pron['corrected'] = compute_average(IC2_connective1_5f,'he')

#### male subject

In [205]:
IC2_connective1_5m

                                      stimulus        he       she
12      Mr. Smith corrected Miss Smith because  0.457002  0.542998
13         The man corrected the woman because  0.518594  0.481406
14                 John corrected Mary because  0.559606  0.440394
15                 Bob corrected Alice because  0.281112  0.718888
16     The actor corrected the actress because  0.289657  0.710343
17          The boy corrected the girl because  0.571008  0.428992
18   Mr. William corrected Mrs. Taylor because  0.243849  0.756151
19                David corrected Emma because  0.373826  0.626174
20   The prince corrected the princess because  0.588735  0.411265
21              Robert corrected Sarah because  0.326396  0.673604
22  Mr. Taylor corrected Mrs. Williams because  0.165878  0.834122
23                Paul corrected Emily because  0.430663  0.569337

In [206]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_5m,'she'))

P('subj-pron'|subj=male) =  0.4005269855260849
P('non-subj-pron'|subj=male) =  0.5994730318586031

In [207]:
c1_average_subj_male_subj_pron['corrected'] = compute_average(IC2_connective1_5m,'he')
c1_average_subj_male_obj_pron['corrected'] = compute_average(IC2_connective1_5m,'she')

### verb: "detests"

In [208]:
IC2_connective1_6 = pd.read_csv("../results/IC2/connective1/6.csv")
IC2_connective1_6.head()

                                stimulus        he       she
0   Miss Smith detests Mr. Smith because  0.446488  0.553512
1      The woman detests the man because  0.558253  0.441747
2              Mary detests John because  0.388593  0.611407
3              Alice detests Bob because  0.343856  0.656144
4  The actress detests the actor because  0.462296  0.537704

In [209]:
# female subject
IC2_connective1_6f = IC2_connective1_6[0:12]
IC2_connective1_6f = IC2_connective1_6[["stimulus","she","he"]]
# male subject
IC2_connective1_6m = IC2_connective1_6[12:24]

#### female subject

In [210]:
IC2_connective1_6f

                                    stimulus       she        he
0       Miss Smith detests Mr. Smith because  0.553512  0.446488
1          The woman detests the man because  0.441747  0.558253
2                  Mary detests John because  0.611407  0.388593
3                  Alice detests Bob because  0.656144  0.343856
4      The actress detests the actor because  0.537704  0.462296
5           The girl detests the boy because  0.527229  0.472771
6   Mrs. Taylor detests Mr. Williams because  0.535177  0.464824
7                 Emma detests David because  0.658126  0.341874
8    The princess detests the prince because  0.346762  0.653238
9               Sarah detests Robert because  0.551434  0.448566
10  Mrs. Williams detests Mr. Taylor because  0.493301  0.506699
11                Emily detests Paul because  0.610631  0.389369
12      Mr. Smith detests Miss Smith because  0.602378  0.397622
13         The man detests the woman because  0.588676  0.411324
14                 John detests Mary because  0.668265  0.331735
15                 Bob detests Alice because  0.803897  0.196103
16     The actor detests the actress because  0.772777  0.227223
17          The boy detests the girl because  0.557488  0.442512
18   Mr. William detests Mrs. Taylor because  0.823706  0.176294
19                David detests Emma because  0.702360  0.297640
20   The prince detests the princess because  0.684905  0.315095
21              Robert detests Sarah because  0.712448  0.287552
22  Mr. Taylor detests Mrs. Williams because  0.892522  0.107478
23                Paul detests Emily because  0.696068  0.303932

In [211]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_6f,'he'))

P('subj-pron'|subj=female) =  0.6261943417290846
P('non-subj-pron'|subj=female) =  0.37380567751824856

In [212]:
c1_average_subj_female_subj_pron['detests'] = compute_average(IC2_connective1_6f,'she')
c1_average_subj_female_obj_pron['detests'] = compute_average(IC2_connective1_6f,'he')

#### male subject

In [213]:
IC2_connective1_6m

                                    stimulus        he       she
12      Mr. Smith detests Miss Smith because  0.397622  0.602378
13         The man detests the woman because  0.411324  0.588676
14                 John detests Mary because  0.331735  0.668265
15                 Bob detests Alice because  0.196103  0.803897
16     The actor detests the actress because  0.227223  0.772777
17          The boy detests the girl because  0.442512  0.557488
18   Mr. William detests Mrs. Taylor because  0.176294  0.823706
19                David detests Emma because  0.297640  0.702360
20   The prince detests the princess because  0.315095  0.684905
21              Robert detests Sarah because  0.287552  0.712448
22  Mr. Taylor detests Mrs. Williams because  0.107478  0.892522
23                Paul detests Emily because  0.303932  0.696068

In [214]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_6m,'she'))

P('subj-pron'|subj=male) =  0.29120904331405956
P('non-subj-pron'|subj=male) =  0.7087909628947576

In [215]:
c1_average_subj_male_subj_pron['detests'] = compute_average(IC2_connective1_6m,'he')
c1_average_subj_male_obj_pron['detests'] = compute_average(IC2_connective1_6m,'she')

### verb: "fears"

In [216]:
IC2_connective1_7 = pd.read_csv("../results/IC2/connective1/7.csv")
IC2_connective1_7.head()

                              stimulus        he       she
0   Miss Smith fears Mr. Smith because  0.375807  0.624193
1      The woman fears the man because  0.489136  0.510864
2              Mary fears John because  0.364854  0.635146
3              Alice fears Bob because  0.293830  0.706170
4  The actress fears the actor because  0.373597  0.626403

In [217]:
# female subject
IC2_connective1_7f = IC2_connective1_7[0:12]
IC2_connective1_7f = IC2_connective1_7f[["stimulus","she","he"]]
# male subject
IC2_connective1_7m = IC2_connective1_7[12:24]

#### female subject

In [218]:
IC2_connective1_7f

                                  stimulus       she        he
0       Miss Smith fears Mr. Smith because  0.624193  0.375807
1          The woman fears the man because  0.510864  0.489136
2                  Mary fears John because  0.635146  0.364854
3                  Alice fears Bob because  0.706170  0.293830
4      The actress fears the actor because  0.626403  0.373597
5           The girl fears the boy because  0.633234  0.366766
6   Mrs. Taylor fears Mr. Williams because  0.638039  0.361961
7                 Emma fears David because  0.765124  0.234876
8    The princess fears the prince because  0.455028  0.544972
9               Sarah fears Robert because  0.752161  0.247839
10  Mrs. Williams fears Mr. Taylor because  0.608822  0.391178
11                Emily fears Paul because  0.613295  0.386705

In [219]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_7f,'he'))

P('subj-pron'|subj=female) =  0.630706583460172
P('non-subj-pron'|subj=female) =  0.3692934215068817

In [220]:
c1_average_subj_female_subj_pron['fears'] = compute_average(IC2_connective1_7f,'she')
c1_average_subj_female_obj_pron['fears'] = compute_average(IC2_connective1_7f,'he')

#### male subject

In [221]:
IC2_connective1_7m

                                  stimulus        he       she
12      Mr. Smith fears Miss Smith because  0.481464  0.518536
13         The man fears the woman because  0.563255  0.436745
14                 John fears Mary because  0.427870  0.572130
15                 Bob fears Alice because  0.168269  0.831731
16     The actor fears the actress because  0.452081  0.547919
17          The boy fears the girl because  0.651211  0.348789
18   Mr. William fears Mrs. Taylor because  0.318211  0.681789
19                David fears Emma because  0.312602  0.687398
20   The prince fears the princess because  0.547293  0.452707
21              Robert fears Sarah because  0.281198  0.718802
22  Mr. Taylor fears Mrs. Williams because  0.182450  0.817550
23                Paul fears Emily because  0.363581  0.636419

In [222]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_7m,'she'))

P('subj-pron'|subj=male) =  0.3957901361087958
P('non-subj-pron'|subj=male) =  0.6042098502318064

In [223]:
c1_average_subj_male_subj_pron['fears'] = compute_average(IC2_connective1_7m,'he')
c1_average_subj_male_obj_pron['fears'] = compute_average(IC2_connective1_7m,'she')

### verb: "envies"

In [224]:
IC2_connective1_8 = pd.read_csv("../results/IC2/connective1/8.csv")
IC2_connective1_8.head()

                               stimulus        he       she
0   Miss Smith envies Mr. Smith because  0.437019  0.562981
1      The woman envies the man because  0.525749  0.474251
2              Mary envies John because  0.409911  0.590088
3              Alice envies Bob because  0.351879  0.648121
4  The actress envies the actor because  0.544894  0.455106

In [225]:
# female subject
IC2_connective1_8f = IC2_connective1_8[0:12]
IC2_connective1_8f = IC2_connective1_8f[["stimulus","she","he"]]
# male subject
IC2_connective1_8m = IC2_connective1_8[12:24]

#### female subject

In [226]:
IC2_connective1_8f

                                   stimulus       she        he
0       Miss Smith envies Mr. Smith because  0.562981  0.437019
1          The woman envies the man because  0.474251  0.525749
2                  Mary envies John because  0.590088  0.409911
3                  Alice envies Bob because  0.648121  0.351879
4      The actress envies the actor because  0.455106  0.544894
5           The girl envies the boy because  0.569755  0.430245
6   Mrs. Taylor envies Mr. Williams because  0.539934  0.460066
7                 Emma envies David because  0.710438  0.289562
8    The princess envies the prince because  0.369886  0.630114
9               Sarah envies Robert because  0.540631  0.459369
10  Mrs. Williams envies Mr. Taylor because  0.506746  0.493254
11                Emily envies Paul because  0.664313  0.335687

In [227]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_8f,'he'))

P('subj-pron'|subj=female) =  0.5526876697937647
P('non-subj-pron'|subj=female) =  0.44731231530507404

In [228]:
c1_average_subj_female_subj_pron['envies'] = compute_average(IC2_connective1_8f,'she')
c1_average_subj_female_obj_pron['envies'] = compute_average(IC2_connective1_8f,'he')

#### male subject

In [229]:
IC2_connective1_8m

                                   stimulus        he       she
12      Mr. Smith envies Miss Smith because  0.426034  0.573966
13         The man envies the woman because  0.503609  0.496391
14                 John envies Mary because  0.353661  0.646339
15                 Bob envies Alice because  0.251621  0.748379
16     The actor envies the actress because  0.466772  0.533228
17          The boy envies the girl because  0.504466  0.495534
18   Mr. William envies Mrs. Taylor because  0.219782  0.780218
19                David envies Emma because  0.384187  0.615813
20   The prince envies the princess because  0.390958  0.609042
21              Robert envies Sarah because  0.370198  0.629802
22  Mr. Taylor envies Mrs. Williams because  0.131130  0.868870
23                Paul envies Emily because  0.346117  0.653883

In [230]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_8m,'she'))

P('subj-pron'|subj=male) =  0.3623779242237409
P('non-subj-pron'|subj=male) =  0.6376220608750979

In [231]:
c1_average_subj_male_subj_pron['envies'] = compute_average(IC2_connective1_8m,'he')
c1_average_subj_male_obj_pron['envies'] = compute_average(IC2_connective1_8m,'she')

### verb: "hates"

In [232]:
IC2_connective1_9 = pd.read_csv("../results/IC2/connective1/9.csv")
IC2_connective1_9.head()

                              stimulus        he       she
0   Miss Smith hates Mr. Smith because  0.467682  0.532318
1      The woman hates the man because  0.593715  0.406285
2              Mary hates John because  0.473696  0.526304
3              Alice hates Bob because  0.394467  0.605533
4  The actress hates the actor because  0.530813  0.469187

In [233]:
# female subject
IC2_connective1_9f = IC2_connective1_9[0:12]
IC2_connective1_9f = IC2_connective1_9f[["stimulus","she","he"]]
# male subject
IC2_connective1_9m = IC2_connective1_9[12:24]

#### female subject

In [234]:
IC2_connective1_9f

                                  stimulus       she        he
0       Miss Smith hates Mr. Smith because  0.532318  0.467682
1          The woman hates the man because  0.406285  0.593715
2                  Mary hates John because  0.526304  0.473696
3                  Alice hates Bob because  0.605533  0.394467
4      The actress hates the actor because  0.469187  0.530813
5           The girl hates the boy because  0.439564  0.560436
6   Mrs. Taylor hates Mr. Williams because  0.519006  0.480994
7                 Emma hates David because  0.638407  0.361593
8    The princess hates the prince because  0.313033  0.686967
9               Sarah hates Robert because  0.497131  0.502869
10  Mrs. Williams hates Mr. Taylor because  0.490385  0.509615
11                Emily hates Paul because  0.550595  0.449405

In [235]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_9f,'he'))

P('subj-pron'|subj=female) =  0.4989789252479871
P('non-subj-pron'|subj=female) =  0.501021072268486

In [236]:
c1_average_subj_female_subj_pron['hates'] = compute_average(IC2_connective1_9f,'she')
c1_average_subj_female_obj_pron['hates'] = compute_average(IC2_connective1_9f,'he')

#### male subject

In [237]:
IC2_connective1_9m

                                  stimulus        he       she
12      Mr. Smith hates Miss Smith because  0.345663  0.654337
13         The man hates the woman because  0.429634  0.570366
14                 John hates Mary because  0.304344  0.695656
15                 Bob hates Alice because  0.143692  0.856308
16     The actor hates the actress because  0.217210  0.782790
17          The boy hates the girl because  0.442715  0.557285
18   Mr. William hates Mrs. Taylor because  0.157290  0.842710
19                David hates Emma because  0.255234  0.744766
20   The prince hates the princess because  0.326003  0.673997
21              Robert hates Sarah because  0.266133  0.733867
22  Mr. Taylor hates Mrs. Williams because  0.103297  0.896703
23                Paul hates Emily because  0.253704  0.746296

In [238]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_9m,'she'))

P('subj-pron'|subj=male) =  0.27040982743104297
P('non-subj-pron'|subj=male) =  0.7295901924371719

In [239]:
c1_average_subj_male_subj_pron['hates'] = compute_average(IC2_connective1_9m,'he')
c1_average_subj_male_obj_pron['hates'] = compute_average(IC2_connective1_9m,'she')

### verb: "helped"

In [240]:
IC2_connective1_10 = pd.read_csv("../results/IC2/connective1/10.csv")
IC2_connective1_10.head()

                               stimulus        he       she
0   Miss Smith helped Mr. Smith because  0.264733  0.735267
1      The woman helped the man because  0.420509  0.579491
2              Mary helped John because  0.286400  0.713600
3              Alice helped Bob because  0.335128  0.664872
4  The actress helped the actor because  0.127656  0.872344

In [241]:
# female subject
IC2_connective1_10f = IC2_connective1_10[0:12]
IC2_connective1_10f = IC2_connective1_10f[["stimulus","she","he"]]
# male subject
IC2_connective1_10m = IC2_connective1_10[12:24]

#### female subject

In [242]:
IC2_connective1_10f

                                   stimulus       she        he
0       Miss Smith helped Mr. Smith because  0.735267  0.264733
1          The woman helped the man because  0.579491  0.420509
2                  Mary helped John because  0.713600  0.286400
3                  Alice helped Bob because  0.664872  0.335128
4      The actress helped the actor because  0.872344  0.127656
5           The girl helped the boy because  0.657178  0.342822
6   Mrs. Taylor helped Mr. Williams because  0.718252  0.281748
7                 Emma helped David because  0.870023  0.129977
8    The princess helped the prince because  0.592689  0.407311
9               Sarah helped Robert because  0.741202  0.258797
10  Mrs. Williams helped Mr. Taylor because  0.702911  0.297089
11                Emily helped Paul because  0.724684  0.275316

In [243]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_10f,'he'))

P('subj-pron'|subj=female) =  0.7143760025501251
P('non-subj-pron'|subj=female) =  0.2856239825487137

In [244]:
c1_average_subj_female_subj_pron['helped'] = compute_average(IC2_connective1_10f,'she')
c1_average_subj_female_obj_pron['helped'] = compute_average(IC2_connective1_10f,'he')

#### male subject

In [245]:
IC2_connective1_10m

                                   stimulus        he       she
12      Mr. Smith helped Miss Smith because  0.323632  0.676368
13         The man helped the woman because  0.476883  0.523117
14                 John helped Mary because  0.375553  0.624447
15                 Bob helped Alice because  0.106737  0.893263
16     The actor helped the actress because  0.272480  0.727519
17          The boy helped the girl because  0.447274  0.552726
18   Mr. William helped Mrs. Taylor because  0.147951  0.852049
19                David helped Emma because  0.252953  0.747047
20   The prince helped the princess because  0.520020  0.479980
21              Robert helped Sarah because  0.182645  0.817355
22  Mr. Taylor helped Mrs. Williams because  0.078614  0.921386
23                Paul helped Emily because  0.273372  0.726628

In [246]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_10m,'she'))

P('subj-pron'|subj=male) =  0.2881761509925127
P('non-subj-pron'|subj=male) =  0.7118238508701324

In [247]:
c1_average_subj_male_subj_pron['helped'] = compute_average(IC2_connective1_10m,'he')
c1_average_subj_male_obj_pron['helped'] = compute_average(IC2_connective1_10m,'she')

### verb: "mocked"

In [248]:
IC2_connective1_11 = pd.read_csv("../results/IC2/connective1/11.csv")
IC2_connective1_11.head()

                               stimulus        he       she
0   Miss Smith mocked Mr. Smith because  0.409049  0.590950
1      The woman mocked the man because  0.503949  0.496051
2              Mary mocked John because  0.392812  0.607188
3              Alice mocked Bob because  0.355171  0.644829
4  The actress mocked the actor because  0.622752  0.377248

In [249]:
# female subject
IC2_connective1_11f = IC2_connective1_11[0:12]
IC2_connective1_11f = IC2_connective1_11f[["stimulus","she","he"]]
# male subject
IC2_connective1_11m = IC2_connective1_11[12:24]

#### female subject

In [250]:
IC2_connective1_11f

                                   stimulus       she        he
0       Miss Smith mocked Mr. Smith because  0.590950  0.409049
1          The woman mocked the man because  0.496051  0.503949
2                  Mary mocked John because  0.607188  0.392812
3                  Alice mocked Bob because  0.644829  0.355171
4      The actress mocked the actor because  0.377248  0.622752
5           The girl mocked the boy because  0.514305  0.485695
6   Mrs. Taylor mocked Mr. Williams because  0.515687  0.484313
7                 Emma mocked David because  0.689875  0.310125
8    The princess mocked the prince because  0.356052  0.643948
9               Sarah mocked Robert because  0.500794  0.499206
10  Mrs. Williams mocked Mr. Taylor because  0.509698  0.490302
11                Emily mocked Paul because  0.563686  0.436314

In [251]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_11f,'he'))

P('subj-pron'|subj=female) =  0.5305303161342939
P('non-subj-pron'|subj=female) =  0.46946968883275986

In [252]:
c1_average_subj_female_subj_pron['mocked'] = compute_average(IC2_connective1_11f,'she')
c1_average_subj_female_obj_pron['mocked'] = compute_average(IC2_connective1_11f,'he')

#### male subject

In [253]:
IC2_connective1_11m

                                   stimulus        he       she
12      Mr. Smith mocked Miss Smith because  0.472466  0.527534
13         The man mocked the woman because  0.602761  0.397239
14                 John mocked Mary because  0.421526  0.578474
15                 Bob mocked Alice because  0.243553  0.756447
16     The actor mocked the actress because  0.383139  0.616861
17          The boy mocked the girl because  0.625795  0.374205
18   Mr. William mocked Mrs. Taylor because  0.226656  0.773344
19                David mocked Emma because  0.463406  0.536594
20   The prince mocked the princess because  0.391108  0.608892
21              Robert mocked Sarah because  0.471559  0.528441
22  Mr. Taylor mocked Mrs. Williams because  0.110250  0.889750
23                Paul mocked Emily because  0.426915  0.573085

In [254]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_11m,'she'))

P('subj-pron'|subj=male) =  0.4032611238459746
P('non-subj-pron'|subj=male) =  0.5967388823628426

In [255]:
c1_average_subj_male_subj_pron['mocked'] = compute_average(IC2_connective1_11m,'he')
c1_average_subj_male_obj_pron['mocked'] = compute_average(IC2_connective1_11m,'she')

### verb: "noticed"

In [256]:
IC2_connective1_12 = pd.read_csv("../results/IC2/connective1/12.csv")
IC2_connective1_12.head()

                                stimulus        he       she
0   Miss Smith noticed Mr. Smith because  0.442225  0.557775
1      The woman noticed the man because  0.514006  0.485994
2              Mary noticed John because  0.440823  0.559177
3              Alice noticed Bob because  0.400893  0.599107
4  The actress noticed the actor because  0.505167  0.494833

In [257]:
# female subject
IC2_connective1_12f = IC2_connective1_12[0:12]
IC2_connective1_12f = IC2_connective1_12f[["stimulus","she","he"]]
# male subject
IC2_connective1_12m = IC2_connective1_12[12:24]

#### female subject

In [258]:
IC2_connective1_12f

                                    stimulus       she        he
0       Miss Smith noticed Mr. Smith because  0.557775  0.442225
1          The woman noticed the man because  0.485994  0.514006
2                  Mary noticed John because  0.559177  0.440823
3                  Alice noticed Bob because  0.599107  0.400893
4      The actress noticed the actor because  0.494833  0.505167
5           The girl noticed the boy because  0.531203  0.468797
6   Mrs. Taylor noticed Mr. Williams because  0.554669  0.445331
7                 Emma noticed David because  0.654445  0.345555
8    The princess noticed the prince because  0.416317  0.583683
9               Sarah noticed Robert because  0.654319  0.345681
10  Mrs. Williams noticed Mr. Taylor because  0.569665  0.430335
11                Emily noticed Paul because  0.538067  0.461933

In [259]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_12f,'he'))

P('subj-pron'|subj=female) =  0.551297627389431
P('non-subj-pron'|subj=female) =  0.4487023626764615

In [260]:
c1_average_subj_female_subj_pron['noticed'] = compute_average(IC2_connective1_12f,'she')
c1_average_subj_female_obj_pron['noticed'] = compute_average(IC2_connective1_12f,'he')

#### male subject

In [261]:
IC2_connective1_12m

                                    stimulus        he       she
12      Mr. Smith noticed Miss Smith because  0.369371  0.630629
13         The man noticed the woman because  0.515666  0.484334
14                 John noticed Mary because  0.487413  0.512587
15                 Bob noticed Alice because  0.165530  0.834470
16     The actor noticed the actress because  0.204882  0.795118
17          The boy noticed the girl because  0.492390  0.507610
18   Mr. William noticed Mrs. Taylor because  0.162061  0.837939
19                David noticed Emma because  0.274039  0.725961
20   The prince noticed the princess because  0.468831  0.531169
21              Robert noticed Sarah because  0.264731  0.735269
22  Mr. Taylor noticed Mrs. Williams because  0.096902  0.903098
23                Paul noticed Emily because  0.303559  0.696441

In [262]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_12m,'she'))

P('subj-pron'|subj=male) =  0.31711460277438164
P('non-subj-pron'|subj=male) =  0.6828853935003281

In [263]:
c1_average_subj_male_subj_pron['noticed'] = compute_average(IC2_connective1_12m,'he')
c1_average_subj_male_obj_pron['noticed'] = compute_average(IC2_connective1_12m,'she')

### verb: "pacified"

In [264]:
IC2_connective1_13 = pd.read_csv("../results/IC2/connective1/13.csv")
IC2_connective1_13.head()

                                 stimulus        he       she
0   Miss Smith pacified Mr. Smith because  0.486259  0.513741
1      The woman pacified the man because  0.542657  0.457343
2              Mary pacified John because  0.440318  0.559682
3              Alice pacified Bob because  0.550594  0.449406
4  The actress pacified the actor because  0.434340  0.565660

In [265]:
# female subject
IC2_connective1_13f = IC2_connective1_13[0:12]
IC2_connective1_13f = IC2_connective1_13f[["stimulus","she","he"]]
# male subject
IC2_connective1_13m = IC2_connective1_13[12:24]

#### female subject

In [266]:
IC2_connective1_13f

                                     stimulus       she        he
0       Miss Smith pacified Mr. Smith because  0.513741  0.486259
1          The woman pacified the man because  0.457343  0.542657
2                  Mary pacified John because  0.559682  0.440318
3                  Alice pacified Bob because  0.449406  0.550594
4      The actress pacified the actor because  0.565660  0.434340
5           The girl pacified the boy because  0.468763  0.531237
6   Mrs. Taylor pacified Mr. Williams because  0.580032  0.419969
7                 Emma pacified David because  0.647127  0.352873
8    The princess pacified the prince because  0.390334  0.609666
9               Sarah pacified Robert because  0.535621  0.464379
10  Mrs. Williams pacified Mr. Taylor because  0.540928  0.459072
11                Emily pacified Paul because  0.464900  0.535100

In [267]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_13f,'he'))

P('subj-pron'|subj=female) =  0.514461395641168
P('non-subj-pron'|subj=female) =  0.48553860435883206

In [268]:
c1_average_subj_female_subj_pron['pacified'] = compute_average(IC2_connective1_13f,'she')
c1_average_subj_female_obj_pron['pacified'] = compute_average(IC2_connective1_13f,'he')

#### male subject

In [269]:
IC2_connective1_13m

                                     stimulus        he       she
12      Mr. Smith pacified Miss Smith because  0.506186  0.493814
13         The man pacified the woman because  0.455712  0.544288
14                 John pacified Mary because  0.475734  0.524266
15                 Bob pacified Alice because  0.303603  0.696397
16     The actor pacified the actress because  0.254314  0.745686
17          The boy pacified the girl because  0.479469  0.520531
18   Mr. William pacified Mrs. Taylor because  0.237623  0.762377
19                David pacified Emma because  0.392081  0.607919
20   The prince pacified the princess because  0.448404  0.551596
21              Robert pacified Sarah because  0.314386  0.685614
22  Mr. Taylor pacified Mrs. Williams because  0.164145  0.835855
23                Paul pacified Emily because  0.419439  0.580561

In [270]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_13m,'she'))

P('subj-pron'|subj=male) =  0.37092460443576175
P('non-subj-pron'|subj=male) =  0.6290754203995069

In [271]:
c1_average_subj_male_subj_pron['pacified'] = compute_average(IC2_connective1_13m,'he')
c1_average_subj_male_obj_pron['pacified'] = compute_average(IC2_connective1_13m,'she')

### verb: "praised"

In [272]:
IC2_connective1_14 = pd.read_csv("../results/IC2/connective1/14.csv")
IC2_connective1_14.head()

                                stimulus        he       she
0   Miss Smith praised Mr. Smith because  0.510870  0.489130
1      The woman praised the man because  0.421238  0.578762
2              Mary praised John because  0.400628  0.599373
3              Alice praised Bob because  0.360108  0.639892
4  The actress praised the actor because  0.344398  0.655602

In [273]:
# female subject
IC2_connective1_14f = IC2_connective1_14[0:12]
IC2_connective1_14f = IC2_connective1_14f[["stimulus","she","he"]]
# male subject
IC2_connective1_14m = IC2_connective1_14[12:24]

#### female subject

In [274]:
IC2_connective1_14f

                                    stimulus       she        he
0       Miss Smith praised Mr. Smith because  0.489130  0.510870
1          The woman praised the man because  0.578762  0.421238
2                  Mary praised John because  0.599373  0.400628
3                  Alice praised Bob because  0.639892  0.360108
4      The actress praised the actor because  0.655602  0.344398
5           The girl praised the boy because  0.559581  0.440419
6   Mrs. Taylor praised Mr. Williams because  0.511257  0.488743
7                 Emma praised David because  0.717660  0.282340
8    The princess praised the prince because  0.309476  0.690524
9               Sarah praised Robert because  0.629294  0.370706
10  Mrs. Williams praised Mr. Taylor because  0.508716  0.491284
11                Emily praised Paul because  0.522855  0.477145

In [275]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_14f,'he'))

P('subj-pron'|subj=female) =  0.5601329853137335
P('non-subj-pron'|subj=female) =  0.4398670196533203

In [276]:
c1_average_subj_female_subj_pron['praised'] = compute_average(IC2_connective1_14f,'she')
c1_average_subj_female_obj_pron['praised'] = compute_average(IC2_connective1_14f,'he')

#### male subject

In [277]:
IC2_connective1_14m

                                    stimulus        he       she
12      Mr. Smith praised Miss Smith because  0.350269  0.649731
13         The man praised the woman because  0.401345  0.598655
14                 John praised Mary because  0.363118  0.636882
15                 Bob praised Alice because  0.224666  0.775334
16     The actor praised the actress because  0.174648  0.825352
17          The boy praised the girl because  0.346905  0.653095
18   Mr. William praised Mrs. Taylor because  0.167203  0.832797
19                David praised Emma because  0.272731  0.727269
20   The prince praised the princess because  0.299412  0.700588
21              Robert praised Sarah because  0.312346  0.687654
22  Mr. Taylor praised Mrs. Williams because  0.092571  0.907429
23                Paul praised Emily because  0.366674  0.633326

In [278]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_14m,'she'))

P('subj-pron'|subj=male) =  0.2809906539817651
P('non-subj-pron'|subj=male) =  0.7190093596776327

In [279]:
c1_average_subj_male_subj_pron['praised'] = compute_average(IC2_connective1_14m,'he')
c1_average_subj_male_obj_pron['praised'] = compute_average(IC2_connective1_14m,'she')

### verb: "reproached"

In [280]:
IC2_connective1_15 = pd.read_csv("../results/IC2/connective1/15.csv")
IC2_connective1_15.head()

                                   stimulus        he       she
0   Miss Smith reproached Mr. Smith because  0.559863  0.440137
1      The woman reproached the man because  0.622461  0.377539
2              Mary reproached John because  0.485965  0.514035
3              Alice reproached Bob because  0.523447  0.476553
4  The actress reproached the actor because  0.592407  0.407593

In [281]:
# female subject
IC2_connective1_15f = IC2_connective1_15[0:12]
IC2_connective1_15f = IC2_connective1_15f[["stimulus","she","he"]]
# male subject
IC2_connective1_15m = IC2_connective1_15[12:24]

#### female subject

In [282]:
IC2_connective1_15f

                                       stimulus       she        he
0       Miss Smith reproached Mr. Smith because  0.440137  0.559863
1          The woman reproached the man because  0.377539  0.622461
2                  Mary reproached John because  0.514035  0.485965
3                  Alice reproached Bob because  0.476553  0.523447
4      The actress reproached the actor because  0.407593  0.592407
5           The girl reproached the boy because  0.438083  0.561917
6   Mrs. Taylor reproached Mr. Williams because  0.426106  0.573894
7                 Emma reproached David because  0.632881  0.367119
8    The princess reproached the prince because  0.356997  0.643003
9               Sarah reproached Robert because  0.622939  0.377061
10  Mrs. Williams reproached Mr. Taylor because  0.450770  0.549230
11                Emily reproached Paul because  0.627396  0.372604

In [283]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_15f,'he'))

P('subj-pron'|subj=female) =  0.48091913263003033
P('non-subj-pron'|subj=female) =  0.5190808648864428

In [284]:
c1_average_subj_female_subj_pron['reproached'] = compute_average(IC2_connective1_15f,'she')
c1_average_subj_female_obj_pron['reproached'] = compute_average(IC2_connective1_15f,'he')

#### male subject

In [285]:
IC2_connective1_15m

                                       stimulus        he       she
12      Mr. Smith reproached Miss Smith because  0.225885  0.774115
13         The man reproached the woman because  0.482217  0.517783
14                 John reproached Mary because  0.271672  0.728328
15                 Bob reproached Alice because  0.149459  0.850541
16     The actor reproached the actress because  0.275760  0.724240
17          The boy reproached the girl because  0.442747  0.557253
18   Mr. William reproached Mrs. Taylor because  0.130332  0.869668
19                David reproached Emma because  0.348175  0.651825
20   The prince reproached the princess because  0.379916  0.620084
21              Robert reproached Sarah because  0.188575  0.811425
22  Mr. Taylor reproached Mrs. Williams because  0.060873  0.939127
23                Paul reproached Emily because  0.270340  0.729660

In [286]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_15m,'she'))

P('subj-pron'|subj=male) =  0.26882927895834047
P('non-subj-pron'|subj=male) =  0.7311707139015198

In [287]:
c1_average_subj_male_subj_pron['reproached'] = compute_average(IC2_connective1_15m,'he')
c1_average_subj_male_obj_pron['reproached'] = compute_average(IC2_connective1_15m,'she')

### verb: "scolded"

In [288]:
IC2_connective1_16 = pd.read_csv("../results/IC2/connective1/16.csv")
IC2_connective1_16.head()

                                stimulus        he       she
0   Miss Smith scolded Mr. Smith because  0.539193  0.460807
1      The woman scolded the man because  0.615259  0.384741
2              Mary scolded John because  0.454617  0.545383
3              Alice scolded Bob because  0.483940  0.516060
4  The actress scolded the actor because  0.557593  0.442407

In [289]:
# female subject
IC2_connective1_16f = IC2_connective1_16[0:12]
IC2_connective1_16f = IC2_connective1_16f[["stimulus","she","he"]]
# male subject
IC2_connective1_16m = IC2_connective1_16[12:24]

#### female subject

In [290]:
IC2_connective1_16f

                                    stimulus       she        he
0       Miss Smith scolded Mr. Smith because  0.460807  0.539193
1          The woman scolded the man because  0.384741  0.615259
2                  Mary scolded John because  0.545383  0.454617
3                  Alice scolded Bob because  0.516060  0.483940
4      The actress scolded the actor because  0.442407  0.557593
5           The girl scolded the boy because  0.464199  0.535801
6   Mrs. Taylor scolded Mr. Williams because  0.462246  0.537754
7                 Emma scolded David because  0.664212  0.335788
8    The princess scolded the prince because  0.385733  0.614267
9               Sarah scolded Robert because  0.645389  0.354611
10  Mrs. Williams scolded Mr. Taylor because  0.487967  0.512033
11                Emily scolded Paul because  0.661082  0.338918

In [291]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_16f,'he'))

P('subj-pron'|subj=female) =  0.5100188851356506
P('non-subj-pron'|subj=female) =  0.4899811198314031

In [292]:
c1_average_subj_female_subj_pron['scolded'] = compute_average(IC2_connective1_16f,'she')
c1_average_subj_female_obj_pron['scolded'] = compute_average(IC2_connective1_16f,'he')

#### male subject

In [293]:
IC2_connective1_16m

                                    stimulus        he       she
12      Mr. Smith scolded Miss Smith because  0.238687  0.761313
13         The man scolded the woman because  0.523467  0.476533
14                 John scolded Mary because  0.303579  0.696421
15                 Bob scolded Alice because  0.161596  0.838404
16     The actor scolded the actress because  0.315136  0.684864
17          The boy scolded the girl because  0.472378  0.527622
18   Mr. William scolded Mrs. Taylor because  0.151933  0.848067
19                David scolded Emma because  0.355876  0.644124
20   The prince scolded the princess because  0.431688  0.568312
21              Robert scolded Sarah because  0.236100  0.763900
22  Mr. Taylor scolded Mrs. Williams because  0.067948  0.932051
23                Paul scolded Emily because  0.280385  0.719615

In [294]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_16m,'she'))

P('subj-pron'|subj=male) =  0.2948976115634044
P('non-subj-pron'|subj=male) =  0.7051023840904236

In [295]:
c1_average_subj_male_subj_pron['scolded'] = compute_average(IC2_connective1_16m,'he')
c1_average_subj_male_obj_pron['scolded'] = compute_average(IC2_connective1_16m,'she')

### verb: "stared"

In [296]:
IC2_connective1_17 = pd.read_csv("../results/IC2/connective1/17.csv")
IC2_connective1_17.head()

                                  stimulus        he       she
0   Miss Smith stared at Mr. Smith because  0.419033  0.580967
1      The woman stared at the man because  0.554717  0.445283
2              Mary stared at John because  0.497959  0.502041
3              Alice stared at Bob because  0.470719  0.529280
4  The actress stared at the actor because  0.496132  0.503868

In [297]:
# female subject
IC2_connective1_17f = IC2_connective1_17[0:12]
IC2_connective1_17f = IC2_connective1_17f[["stimulus","she","he"]]
# male subject
IC2_connective1_17m = IC2_connective1_17[12:24]

#### female subject

In [298]:
IC2_connective1_17f

                                      stimulus       she        he
0       Miss Smith stared at Mr. Smith because  0.580967  0.419033
1          The woman stared at the man because  0.445283  0.554717
2                  Mary stared at John because  0.502041  0.497959
3                  Alice stared at Bob because  0.529280  0.470719
4      The actress stared at the actor because  0.503868  0.496132
5           The girl stared at the boy because  0.552943  0.447057
6   Mrs. Taylor stared at Mr. Williams because  0.534306  0.465694
7                 Emma stared at David because  0.573876  0.426124
8    The princess stared at the prince because  0.407910  0.592089
9               Sarah stared at Robert because  0.588915  0.411085
10  Mrs. Williams stared at Mr. Taylor because  0.511863  0.488137
11                Emily stared at Paul because  0.480884  0.519116

In [299]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_17f,'he'))

P('subj-pron'|subj=female) =  0.5176780646046003
P('non-subj-pron'|subj=female) =  0.48232194284598034

In [300]:
c1_average_subj_female_subj_pron['stared'] = compute_average(IC2_connective1_17f,'she')
c1_average_subj_female_obj_pron['stared'] = compute_average(IC2_connective1_17f,'he')

#### male subject

In [301]:
IC2_connective1_17m

                                      stimulus        he       she
12      Mr. Smith stared at Miss Smith because  0.483329  0.516671
13         The man stared at the woman because  0.563438  0.436561
14                 John stared at Mary because  0.461178  0.538822
15                 Bob stared at Alice because  0.159080  0.840920
16     The actor stared at the actress because  0.273557  0.726443
17          The boy stared at the girl because  0.581291  0.418709
18   Mr. William stared at Mrs. Taylor because  0.186214  0.813786
19                David stared at Emma because  0.310537  0.689463
20   The prince stared at the princess because  0.494129  0.505871
21              Robert stared at Sarah because  0.168730  0.831270
22  Mr. Taylor stared at Mrs. Williams because  0.114796  0.885204
23                Paul stared at Emily because  0.276814  0.723186

In [302]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_17m,'she'))

P('subj-pron'|subj=male) =  0.339424350609382
P('non-subj-pron'|subj=male) =  0.6605756382147471

In [303]:
c1_average_subj_male_subj_pron['stared'] = compute_average(IC2_connective1_17m,'he')
c1_average_subj_male_obj_pron['stared'] = compute_average(IC2_connective1_17m,'she')

### verb: "thanked"

In [304]:
IC2_connective1_18 = pd.read_csv("../results/IC2/connective1/18.csv")
IC2_connective1_18.head()

                                stimulus        he       she
0   Miss Smith thanked Mr. Smith because  0.514503  0.485497
1      The woman thanked the man because  0.544472  0.455528
2              Mary thanked John because  0.377112  0.622887
3              Alice thanked Bob because  0.428918  0.571082
4  The actress thanked the actor because  0.486891  0.513109

In [305]:
# female subject
IC2_connective1_18f = IC2_connective1_18[0:12]
IC2_connective1_18f = IC2_connective1_18f[["stimulus","she","he"]]
# male subject
IC2_connective1_18m = IC2_connective1_18[12:24]

#### female subject

In [306]:
IC2_connective1_18f

                                    stimulus       she        he
0       Miss Smith thanked Mr. Smith because  0.485497  0.514503
1          The woman thanked the man because  0.455528  0.544472
2                  Mary thanked John because  0.622887  0.377112
3                  Alice thanked Bob because  0.571082  0.428918
4      The actress thanked the actor because  0.513109  0.486891
5           The girl thanked the boy because  0.481613  0.518387
6   Mrs. Taylor thanked Mr. Williams because  0.513493  0.486507
7                 Emma thanked David because  0.763479  0.236521
8    The princess thanked the prince because  0.359255  0.640745
9               Sarah thanked Robert because  0.698932  0.301068
10  Mrs. Williams thanked Mr. Taylor because  0.474532  0.525468
11                Emily thanked Paul because  0.707397  0.292603

In [307]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_18f,'he'))

P('subj-pron'|subj=female) =  0.5539003486434618
P('non-subj-pron'|subj=female) =  0.4460996612906456

In [308]:
c1_average_subj_female_subj_pron['thanked'] = compute_average(IC2_connective1_18f,'she')
c1_average_subj_female_obj_pron['thanked'] = compute_average(IC2_connective1_18f,'he')

#### male subject

In [309]:
IC2_connective1_18m

                                    stimulus        he       she
12      Mr. Smith thanked Miss Smith because  0.457603  0.542397
13         The man thanked the woman because  0.372171  0.627829
14                 John thanked Mary because  0.389783  0.610217
15                 Bob thanked Alice because  0.223935  0.776065
16     The actor thanked the actress because  0.262469  0.737531
17          The boy thanked the girl because  0.439421  0.560579
18   Mr. William thanked Mrs. Taylor because  0.304244  0.695755
19                David thanked Emma because  0.342177  0.657823
20   The prince thanked the princess because  0.371834  0.628166
21              Robert thanked Sarah because  0.170593  0.829407
22  Mr. Taylor thanked Mrs. Williams because  0.175670  0.824330
23                Paul thanked Emily because  0.293417  0.706583

In [310]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_18m,'she'))

P('subj-pron'|subj=male) =  0.3169431413213412
P('non-subj-pron'|subj=male) =  0.6830568710962931

In [311]:
c1_average_subj_male_subj_pron['thanked'] = compute_average(IC2_connective1_18m,'he')
c1_average_subj_male_obj_pron['thanked'] = compute_average(IC2_connective1_18m,'she')

### verb: "trusts"

In [312]:
IC2_connective1_19 = pd.read_csv("../results/IC2/connective1/19.csv")
IC2_connective1_19.head()

                               stimulus        he       she
0   Miss Smith trusts Mr. Smith because  0.522402  0.477598
1      The woman trusts the man because  0.405211  0.594789
2              Mary trusts John because  0.438778  0.561222
3              Alice trusts Bob because  0.476314  0.523686
4  The actress trusts the actor because  0.358076  0.641924

In [313]:
# female subject
IC2_connective1_19f = IC2_connective1_19[0:12]
IC2_connective1_19f = IC2_connective1_19f[["stimulus","she","he"]]
# male subject
IC2_connective1_19m = IC2_connective1_19[12:24]

#### female subject

In [314]:
IC2_connective1_19f

                                   stimulus       she        he
0       Miss Smith trusts Mr. Smith because  0.477598  0.522402
1          The woman trusts the man because  0.594789  0.405211
2                  Mary trusts John because  0.561222  0.438778
3                  Alice trusts Bob because  0.523686  0.476314
4      The actress trusts the actor because  0.641924  0.358076
5           The girl trusts the boy because  0.596041  0.403959
6   Mrs. Taylor trusts Mr. Williams because  0.512353  0.487647
7                 Emma trusts David because  0.799999  0.200001
8    The princess trusts the prince because  0.424971  0.575029
9               Sarah trusts Robert because  0.648623  0.351377
10  Mrs. Williams trusts Mr. Taylor because  0.487653  0.512347
11                Emily trusts Paul because  0.622257  0.377743

In [315]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_19f,'he'))

P('subj-pron'|subj=female) =  0.5742596412698427
P('non-subj-pron'|subj=female) =  0.4257403425872326

In [316]:
c1_average_subj_female_subj_pron['trusts'] = compute_average(IC2_connective1_19f,'she')
c1_average_subj_female_obj_pron['trusts'] = compute_average(IC2_connective1_19f,'he')

#### male subject

In [317]:
IC2_connective1_19m

                                   stimulus        he       she
12      Mr. Smith trusts Miss Smith because  0.520021  0.479979
13         The man trusts the woman because  0.626228  0.373772
14                 John trusts Mary because  0.434486  0.565514
15                 Bob trusts Alice because  0.288552  0.711448
16     The actor trusts the actress because  0.631183  0.368817
17          The boy trusts the girl because  0.679498  0.320502
18   Mr. William trusts Mrs. Taylor because  0.383949  0.616051
19                David trusts Emma because  0.442503  0.557497
20   The prince trusts the princess because  0.640418  0.359582
21              Robert trusts Sarah because  0.332307  0.667693
22  Mr. Taylor trusts Mrs. Williams because  0.257067  0.742934
23                Paul trusts Emily because  0.482423  0.517577

In [318]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_19m,'she'))

P('subj-pron'|subj=male) =  0.47655298312505084
P('non-subj-pron'|subj=male) =  0.5234470268090566

In [319]:
c1_average_subj_male_subj_pron['trusts'] = compute_average(IC2_connective1_19m,'he')
c1_average_subj_male_obj_pron['trusts'] = compute_average(IC2_connective1_19m,'she')

### verb: "values"

In [320]:
IC2_connective1_20 = pd.read_csv("../results/IC2/connective1/20.csv")
IC2_connective1_20.head()

                               stimulus        he       she
0   Miss Smith values Mr. Smith because  0.430182  0.569818
1      The woman values the man because  0.448057  0.551943
2              Mary values John because  0.307811  0.692189
3              Alice values Bob because  0.211269  0.788731
4  The actress values the actor because  0.338239  0.661762

In [321]:
# female subject
IC2_connective1_20f = IC2_connective1_20[0:12]
IC2_connective1_20f = IC2_connective1_20f[["stimulus","she","he"]]
# male subject
IC2_connective1_20m = IC2_connective1_20[12:24]

#### female subject

In [322]:
IC2_connective1_20f

                                   stimulus       she        he
0       Miss Smith values Mr. Smith because  0.569818  0.430182
1          The woman values the man because  0.551943  0.448057
2                  Mary values John because  0.692189  0.307811
3                  Alice values Bob because  0.788731  0.211269
4      The actress values the actor because  0.661762  0.338239
5           The girl values the boy because  0.694113  0.305887
6   Mrs. Taylor values Mr. Williams because  0.601362  0.398638
7                 Emma values David because  0.762454  0.237546
8    The princess values the prince because  0.352189  0.647811
9               Sarah values Robert because  0.743071  0.256929
10  Mrs. Williams values Mr. Taylor because  0.566968  0.433032
11                Emily values Paul because  0.645327  0.354673

In [323]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective1_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective1_20f,'he'))

P('subj-pron'|subj=female) =  0.6358271613717079
P('non-subj-pron'|subj=female) =  0.3641728435953458

In [324]:
c1_average_subj_female_subj_pron['values'] = compute_average(IC2_connective1_20f,'she')
c1_average_subj_female_obj_pron['values'] = compute_average(IC2_connective1_20f,'he')

#### male subject

In [325]:
IC2_connective1_20m

                                   stimulus        he       she
12      Mr. Smith values Miss Smith because  0.482139  0.517861
13         The man values the woman because  0.502744  0.497256
14                 John values Mary because  0.341730  0.658270
15                 Bob values Alice because  0.230944  0.769056
16     The actor values the actress because  0.287313  0.712687
17          The boy values the girl because  0.628847  0.371153
18   Mr. William values Mrs. Taylor because  0.267759  0.732241
19                David values Emma because  0.238747  0.761253
20   The prince values the princess because  0.368236  0.631764
21              Robert values Sarah because  0.414519  0.585482
22  Mr. Taylor values Mrs. Williams because  0.222889  0.777111
23                Paul values Emily because  0.286665  0.713335

In [326]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective1_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective1_20m,'she'))

P('subj-pron'|subj=male) =  0.3560441806912422
P('non-subj-pron'|subj=male) =  0.6439558217922846

In [327]:
c1_average_subj_male_subj_pron['values'] = compute_average(IC2_connective1_20m,'he')
c1_average_subj_male_obj_pron['values'] = compute_average(IC2_connective1_20m,'she')

## Summary of Results

In [328]:
c1_results_fsubj_subjpron = pd.DataFrame(list(c1_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c1_results_fsubj_objpron = pd.DataFrame(list(c1_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c1_results_fsubj = c1_results_fsubj_subjpron.merge(c1_results_fsubj_objpron)
c1_results_fsubj

          verb  subj_ref_female_subj  obj_ref_female_subj
0     assisted              0.735266             0.264734
1       blames              0.579811             0.420189
2    comforted              0.444986             0.555014
3    corrected              0.644229             0.355771
4      detests              0.626194             0.373806
5        fears              0.630707             0.369293
6       envies              0.552688             0.447312
7        hates              0.498979             0.501021
8       helped              0.714376             0.285624
9       mocked              0.530530             0.469470
10     noticed              0.551298             0.448702
11    pacified              0.514461             0.485539
12     praised              0.560133             0.439867
13  reproached              0.480919             0.519081
14     scolded              0.510019             0.489981
15      stared              0.517678             0.482322
16     thanked              0.553900             0.446100
17      trusts              0.574260             0.425740
18      values              0.635827             0.364173

In [329]:
c1_results_msubj_subjpron = pd.DataFrame(list(c1_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c1_results_msubj_objpron = pd.DataFrame(list(c1_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c1_results_msubj = c1_results_msubj_subjpron.merge(c1_results_msubj_objpron)
c1_results_msubj

             verb  subj_ref_male_subj  obj_ref_male_subj
0        assisted            0.279103           0.720897
1          blames            0.302003           0.697997
2       comforted            0.332676           0.667324
3   congratulated            0.292161           0.707839
4       corrected            0.400527           0.599473
5         detests            0.291209           0.708791
6           fears            0.395790           0.604210
7          envies            0.362378           0.637622
8           hates            0.270410           0.729590
9          helped            0.288176           0.711824
10         mocked            0.403261           0.596739
11        noticed            0.317115           0.682885
12       pacified            0.370925           0.629075
13        praised            0.280991           0.719009
14     reproached            0.268829           0.731171
15        scolded            0.294898           0.705102
16         stared            0.339424           0.660576
17        thanked            0.316943           0.683057
18         trusts            0.476553           0.523447
19         values            0.356044           0.643956

In [330]:
c1_results = c1_results_fsubj.merge(c1_results_msubj)
c1_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,assisted,0.735266,0.264734,0.279103,0.720897
1,blames,0.579811,0.420189,0.302003,0.697997
2,comforted,0.444986,0.555014,0.332676,0.667324
3,corrected,0.644229,0.355771,0.400527,0.599473
4,detests,0.626194,0.373806,0.291209,0.708791
5,fears,0.630707,0.369293,0.395790,0.604210
6,envies,0.552688,0.447312,0.362378,0.637622
7,hates,0.498979,0.501021,0.270410,0.729590
8,helped,0.714376,0.285624,0.288176,0.711824
9,mocked,0.530530,0.469470,0.403261,0.596739
10,noticed,0.551298,0.448702,0.317115,0.682885
11,pacified,0.514461,0.485539,0.370925,0.629075
12,praised,0.560133,0.439867,0.280991,0.719009
13,reproached,0.480919,0.519081,0.268829,0.731171
14,scolded,0.510019,0.489981,0.294898,0.705102
15,stared,0.517678,0.482322,0.339424,0.660576
16,thanked,0.553900,0.446100,0.316943,0.683057
17,trusts,0.574260,0.425740,0.476553,0.523447
18,values,0.635827,0.364173,0.356044,0.643956

In [331]:
print("P(subj_reference |subj=female)", compute_average(c1_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c1_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.5713820972463539
P(obj_reference |subj=female) 0.42861790566198665

In [332]:
print("P(subj_reference |subj=male)", compute_average(c1_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c1_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.3340660556333891
P(obj_reference |subj=male) 0.6659339489905457

## Connective: "and, as a result"

In [333]:
c2_average_subj_female_subj_pron = {}
c2_average_subj_female_obj_pron = {}
c2_average_subj_male_subj_pron = {}
c2_average_subj_male_obj_pron = {}

### verb: "assisted"

In [334]:
IC2_connective2_1 = pd.read_csv("../results/IC2/connective2/1.csv")
IC2_connective2_1.head()

                                           stimulus        he       she
0   Miss Smith assisted Mr. Smith and, as a result,  0.441139  0.558861
1      The woman assisted the man and, as a result,  0.696214  0.303786
2              Mary assisted John and, as a result,  0.375126  0.624875
3              Alice assisted Bob and, as a result,  0.626091  0.373909
4  The actress assisted the actor and, as a result,  0.774313  0.225687

In [335]:
# female subject
IC2_connective2_1f = IC2_connective2_1[0:12]
IC2_connective2_1f = IC2_connective2_1f[["stimulus","she","he"]]
# male subject
IC2_connective2_1m = IC2_connective2_1[12:24]

#### female subject

In [336]:
IC2_connective2_1f

                                             stimulus       she        he
0     Miss Smith assisted Mr. Smith and, as a result,  0.558861  0.441139
1        The woman assisted the man and, as a result,  0.303786  0.696214
2                Mary assisted John and, as a result,  0.624875  0.375126
3                Alice assisted Bob and, as a result,  0.373909  0.626091
4    The actress assisted the actor and, as a result,  0.225687  0.774313
5         The girl assisted the boy and, as a result,  0.216423  0.783576
6   Mrs. Taylor assisted Mr. Williams and, as a re...  0.663660  0.336340
7               Emma assisted David and, as a result,  0.659464  0.340536
8   The princess assisted the prince and, as a res...  0.386390  0.613610
9             Sarah assisted Robert and, as a result,  0.414806  0.585194
10  Mrs. Williams assisted Mr. Taylor and, as a re...  0.640967  0.359033
11              Emily assisted Paul and, as a result,  0.634302  0.365698

In [337]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_1f,'he'))

P('subj-pron'|subj=female) =  0.47526079788804054
P('non-subj-pron'|subj=female) =  0.5247392108043035

In [338]:
c2_average_subj_female_subj_pron['assisted'] = compute_average(IC2_connective2_1f,'she')
c2_average_subj_female_obj_pron['assisted'] = compute_average(IC2_connective2_1f,'he')

#### male subject

In [339]:
IC2_connective2_1m

                                             stimulus        he       she
12    Mr. Smith assisted Miss Smith and, as a result,  0.362462  0.637538
13       The man assisted the woman and, as a result,  0.418425  0.581575
14               John assisted Mary and, as a result,  0.223294  0.776707
15               Bob assisted Alice and, as a result,  0.283377  0.716623
16   The actor assisted the actress and, as a result,  0.523913  0.476087
17        The boy assisted the girl and, as a result,  0.433063  0.566937
18  Mr. William assisted Mrs. Taylor and, as a res...  0.277226  0.722774
19              David assisted Emma and, as a result,  0.254327  0.745673
20  The prince assisted the princess and, as a res...  0.280332  0.719667
21            Robert assisted Sarah and, as a result,  0.432577  0.567423
22  Mr. Taylor assisted Mrs. Williams and, as a re...  0.236211  0.763789
23              Paul assisted Emily and, as a result,  0.259674  0.740326

In [340]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_1m,'she'))

P('subj-pron'|subj=male) =  0.3320734029014905
P('non-subj-pron'|subj=male) =  0.6679266020655632

In [341]:
c2_average_subj_male_subj_pron['assisted'] = compute_average(IC2_connective2_1m,'he')
c2_average_subj_male_obj_pron['assisted'] = compute_average(IC2_connective2_1m,'she')

### verb: "blames"

In [342]:
IC2_connective2_2 = pd.read_csv("../results/IC2/connective2/2.csv")
IC2_connective2_2.head()

                                         stimulus        he       she
0   Miss Smith blames Mr. Smith and, as a result,  0.383437  0.616562
1      The woman blames the man and, as a result,  0.532761  0.467239
2              Mary blames John and, as a result,  0.229316  0.770684
3              Alice blames Bob and, as a result,  0.395610  0.604390
4  The actress blames the actor and, as a result,  0.807390  0.192610

In [343]:
# female subject
IC2_connective2_2f = IC2_connective2_2[0:12]
IC2_connective2_2f = IC2_connective2_2f[["stimulus","she","he"]]
# male subject
IC2_connective2_2m = IC2_connective2_2[12:24]

#### female subject

In [344]:
IC2_connective2_2f

                                             stimulus       she        he
0       Miss Smith blames Mr. Smith and, as a result,  0.616562  0.383437
1          The woman blames the man and, as a result,  0.467239  0.532761
2                  Mary blames John and, as a result,  0.770684  0.229316
3                  Alice blames Bob and, as a result,  0.604390  0.395610
4      The actress blames the actor and, as a result,  0.192610  0.807390
5           The girl blames the boy and, as a result,  0.482016  0.517984
6   Mrs. Taylor blames Mr. Williams and, as a result,  0.704074  0.295927
7                 Emma blames David and, as a result,  0.654492  0.345508
8    The princess blames the prince and, as a result,  0.501915  0.498086
9               Sarah blames Robert and, as a result,  0.632538  0.367462
10  Mrs. Williams blames Mr. Taylor and, as a result,  0.719909  0.280091
11                Emily blames Paul and, as a result,  0.666661  0.333339

In [345]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_2f,'he'))

P('subj-pron'|subj=female) =  0.5844241740802923
P('non-subj-pron'|subj=female) =  0.4155758060514927

In [346]:
c2_average_subj_female_subj_pron['blames'] = compute_average(IC2_connective2_2f,'she')
c2_average_subj_female_obj_pron['blames'] = compute_average(IC2_connective2_2f,'he')

#### male subject

In [347]:
IC2_connective2_2m

                                             stimulus        he       she
12      Mr. Smith blames Miss Smith and, as a result,  0.625224  0.374776
13         The man blames the woman and, as a result,  0.826448  0.173552
14                 John blames Mary and, as a result,  0.535172  0.464828
15                 Bob blames Alice and, as a result,  0.483139  0.516861
16     The actor blames the actress and, as a result,  0.920841  0.079159
17          The boy blames the girl and, as a result,  0.867616  0.132383
18   Mr. William blames Mrs. Taylor and, as a result,  0.398509  0.601491
19                David blames Emma and, as a result,  0.455647  0.544353
20   The prince blames the princess and, as a result,  0.631178  0.368822
21              Robert blames Sarah and, as a result,  0.378460  0.621540
22  Mr. Taylor blames Mrs. Williams and, as a result,  0.329922  0.670078
23                Paul blames Emily and, as a result,  0.435443  0.564557

In [348]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_2m,'she'))

P('subj-pron'|subj=male) =  0.5739666695396105
P('non-subj-pron'|subj=male) =  0.4260333509494861

In [349]:
c2_average_subj_male_subj_pron['blames'] = compute_average(IC2_connective2_2m,'he')
c2_average_subj_male_obj_pron['blames'] = compute_average(IC2_connective2_2m,'she')

### verb: "comforted"

In [350]:
IC2_connective2_3 = pd.read_csv("../results/IC2/connective2/3.csv")
IC2_connective2_3.head()

                                            stimulus        he       she
0   Miss Smith comforted Mr. Smith and, as a result,  0.682561  0.317439
1      The woman comforted the man and, as a result,  0.664711  0.335289
2              Mary comforted John and, as a result,  0.553063  0.446937
3              Alice comforted Bob and, as a result,  0.845377  0.154623
4  The actress comforted the actor and, as a result,  0.877330  0.122670

In [351]:
# female subject
IC2_connective2_3f = IC2_connective2_3[0:12]
IC2_connective2_3f = IC2_connective2_3f[["stimulus","she","he"]]
# male subject
IC2_connective2_3m = IC2_connective2_3[12:24]

#### female subject

In [352]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_3f,'he'))

P('subj-pron'|subj=female) =  0.36958862468600273
P('non-subj-pron'|subj=female) =  0.6304113740722338

In [353]:
c2_average_subj_female_subj_pron['comforted'] = compute_average(IC2_connective2_3f,'she')
c2_average_subj_female_obj_pron['comforted'] = compute_average(IC2_connective2_3f,'he')

#### male subject

In [354]:
IC2_connective2_3m

                                             stimulus        he       she
12   Mr. Smith comforted Miss Smith and, as a result,  0.166807  0.833193
13      The man comforted the woman and, as a result,  0.417162  0.582838
14              John comforted Mary and, as a result,  0.233849  0.766151
15              Bob comforted Alice and, as a result,  0.237698  0.762302
16  The actor comforted the actress and, as a result,  0.354252  0.645748
17       The boy comforted the girl and, as a result,  0.424107  0.575893
18  Mr. William comforted Mrs. Taylor and, as a re...  0.099517  0.900483
19             David comforted Emma and, as a result,  0.124770  0.875230
20  The prince comforted the princess and, as a re...  0.267505  0.732495
21           Robert comforted Sarah and, as a result,  0.180294  0.819706
22  Mr. Taylor comforted Mrs. Williams and, as a r...  0.080555  0.919445
23             Paul comforted Emily and, as a result,  0.178606  0.821394

In [355]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_3m,'she'))

P('subj-pron'|subj=male) =  0.23042676287392774
P('non-subj-pron'|subj=male) =  0.7695732365051905

In [356]:
c2_average_subj_male_subj_pron['comforted'] = compute_average(IC2_connective2_3m,'he')
c2_average_subj_male_obj_pron['comforted'] = compute_average(IC2_connective2_3m,'she')

### verb: "congratulated"

In [357]:
IC2_connective2_4 = pd.read_csv("../results/IC2/connective2/4.csv")
IC2_connective2_4.head()

                                            stimulus        he       she
0  Miss Smith congratulated Mr. Smith and, as a r...  0.655694  0.344306
1  The woman congratulated the man and, as a result,  0.824306  0.175694
2          Mary congratulated John and, as a result,  0.571428  0.428572
3          Alice congratulated Bob and, as a result,  0.877372  0.122628
4  The actress congratulated the actor and, as a ...  0.914217  0.085783

In [358]:
# female subject
IC2_connective2_4f = IC2_connective2_4[0:12]
IC2_connective2_4f = IC2_connective2_4f[["stimulus","she","he"]]
# male subject
IC2_connective2_4m = IC2_connective2_4[12:24]

#### female subject

In [359]:
IC2_connective2_4f

                                             stimulus       she        he
0   Miss Smith congratulated Mr. Smith and, as a r...  0.344306  0.655694
1   The woman congratulated the man and, as a result,  0.175694  0.824306
2           Mary congratulated John and, as a result,  0.428572  0.571428
3           Alice congratulated Bob and, as a result,  0.122628  0.877372
4   The actress congratulated the actor and, as a ...  0.085783  0.914217
5    The girl congratulated the boy and, as a result,  0.167534  0.832466
6   Mrs. Taylor congratulated Mr. Williams and, as...  0.445647  0.554353
7          Emma congratulated David and, as a result,  0.475742  0.524258
8   The princess congratulated the prince and, as ...  0.178614  0.821386
9        Sarah congratulated Robert and, as a result,  0.215693  0.784307
10  Mrs. Williams congratulated Mr. Taylor and, as...  0.456272  0.543728
11         Emily congratulated Paul and, as a result,  0.437371  0.562629

In [360]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_4f,'he'))

P('subj-pron'|subj=female) =  0.29448808419207734
P('non-subj-pron'|subj=female) =  0.7055118978023529

In [361]:
c2_average_subj_female_subj_pron['congratulated'] = compute_average(IC2_connective2_4f,'she')
c2_average_subj_female_obj_pron['congratulated'] = compute_average(IC2_connective2_4f,'he')

#### male subject

In [362]:
IC2_connective1_4m

                                          stimulus        he       she
12      Mr. Smith congratulated Miss Smith because  0.423484  0.576516
13         The man congratulated the woman because  0.397005  0.602996
14                 John congratulated Mary because  0.358869  0.641131
15                 Bob congratulated Alice because  0.188306  0.811694
16     The actor congratulated the actress because  0.183809  0.816191
17          The boy congratulated the girl because  0.420641  0.579359
18   Mr. William congratulated Mrs. Taylor because  0.209491  0.790509
19                David congratulated Emma because  0.327733  0.672267
20   The prince congratulated the princess because  0.385189  0.614811
21              Robert congratulated Sarah because  0.146068  0.853932
22  Mr. Taylor congratulated Mrs. Williams because  0.130116  0.869883
23                Paul congratulated Emily because  0.335221  0.664779

In [363]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_4m,'she'))

P('subj-pron'|subj=male) =  0.2561314341922601
P('non-subj-pron'|subj=male) =  0.7438685695330302

In [364]:
c2_average_subj_male_subj_pron['congratulated'] = compute_average(IC2_connective2_4m,'he')
c2_average_subj_male_obj_pron['congratulated'] = compute_average(IC2_connective2_4m,'she')

### verb: "corrected"

In [365]:
IC2_connective2_5 = pd.read_csv("../results/IC2/connective2/5.csv")
IC2_connective2_5.head()

                                            stimulus        he       she
0   Miss Smith corrected Mr. Smith and, as a result,  0.503391  0.496609
1      The woman corrected the man and, as a result,  0.568104  0.431896
2              Mary corrected John and, as a result,  0.470856  0.529144
3              Alice corrected Bob and, as a result,  0.739485  0.260515
4  The actress corrected the actor and, as a result,  0.810374  0.189626

In [366]:
# female subject
IC2_connective2_5f = IC2_connective2_5[0:12]
IC2_connective2_5f = IC2_connective2_5[["stimulus","she","he"]]
# male subject
IC2_connective2_5m = IC2_connective2_5[12:24]

#### female subject

In [367]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_5f,'he'))

P('subj-pron'|subj=female) =  0.40335301992793876
P('non-subj-pron'|subj=female) =  0.5966469819347063

In [368]:
c2_average_subj_female_subj_pron['corrected'] = compute_average(IC2_connective2_5f,'she')
c2_average_subj_female_obj_pron['corrected'] = compute_average(IC2_connective2_5f,'he')

#### male subject

In [369]:
IC2_connective2_5m

                                             stimulus        he       she
12   Mr. Smith corrected Miss Smith and, as a result,  0.670773  0.329227
13      The man corrected the woman and, as a result,  0.580007  0.419993
14              John corrected Mary and, as a result,  0.692524  0.307476
15              Bob corrected Alice and, as a result,  0.792735  0.207265
16  The actor corrected the actress and, as a result,  0.672311  0.327689
17       The boy corrected the girl and, as a result,  0.726028  0.273972
18  Mr. William corrected Mrs. Taylor and, as a re...  0.499057  0.500943
19             David corrected Emma and, as a result,  0.616520  0.383480
20  The prince corrected the princess and, as a re...  0.428050  0.571950
21           Robert corrected Sarah and, as a result,  0.721825  0.278175
22  Mr. Taylor corrected Mrs. Williams and, as a r...  0.499457  0.500543
23             Paul corrected Emily and, as a result,  0.645702  0.354298

In [370]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_5m,'she'))

P('subj-pron'|subj=male) =  0.6287490601340929
P('non-subj-pron'|subj=male) =  0.3712509435911973

In [371]:
c2_average_subj_male_subj_pron['corrected'] = compute_average(IC2_connective2_5m,'he')
c2_average_subj_male_obj_pron['corrected'] = compute_average(IC2_connective2_5m,'she')

### verb: "detests"

In [372]:
IC2_connective2_6 = pd.read_csv("../results/IC2/connective2/6.csv")
IC2_connective2_6.head()

                                          stimulus        he       she
0   Miss Smith detests Mr. Smith and, as a result,  0.154308  0.845692
1      The woman detests the man and, as a result,  0.383732  0.616268
2              Mary detests John and, as a result,  0.137706  0.862294
3              Alice detests Bob and, as a result,  0.235516  0.764484
4  The actress detests the actor and, as a result,  0.649190  0.350810

In [373]:
# female subject
IC2_connective2_6f = IC2_connective2_6[0:12]
IC2_connective2_6f = IC2_connective2_6[["stimulus","she","he"]]
# male subject
IC2_connective2_6m = IC2_connective2_6[12:24]

#### female subject

In [374]:
IC2_connective2_6f

                                             stimulus       she        he
0      Miss Smith detests Mr. Smith and, as a result,  0.845692  0.154308
1         The woman detests the man and, as a result,  0.616268  0.383732
2                 Mary detests John and, as a result,  0.862294  0.137706
3                 Alice detests Bob and, as a result,  0.764484  0.235516
4     The actress detests the actor and, as a result,  0.350810  0.649190
5          The girl detests the boy and, as a result,  0.646444  0.353556
6   Mrs. Taylor detests Mr. Williams and, as a res...  0.841616  0.158384
7                Emma detests David and, as a result,  0.810906  0.189094
8   The princess detests the prince and, as a result,  0.752241  0.247759
9              Sarah detests Robert and, as a result,  0.702088  0.297912
10  Mrs. Williams detests Mr. Taylor and, as a res...  0.859537  0.140463
11               Emily detests Paul and, as a result,  0.875191  0.124809
12     Mr. Smith detests Miss Smith and, as a result,  0.309724  0.690276
13        The man detests the woman and, as a result,  0.064376  0.935624
14                John detests Mary and, as a result,  0.189764  0.810236
15                Bob detests Alice and, as a result,  0.196820  0.803180
16    The actor detests the actress and, as a result,  0.030320  0.969680
17         The boy detests the girl and, as a result,  0.039354  0.960646
18  Mr. William detests Mrs. Taylor and, as a result,  0.303630  0.696370
19               David detests Emma and, as a result,  0.425808  0.574192
20  The prince detests the princess and, as a result,  0.126353  0.873647
21             Robert detests Sarah and, as a result,  0.275261  0.724739
22  Mr. Taylor detests Mrs. Williams and, as a res...  0.474955  0.525045
23               Paul detests Emily and, as a result,  0.304551  0.695449

In [375]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_6f,'he'))

P('subj-pron'|subj=female) =  0.48618690529838204
P('non-subj-pron'|subj=female) =  0.5138130877166986

In [376]:
c2_average_subj_female_subj_pron['detests'] = compute_average(IC2_connective2_6f,'she')
c2_average_subj_female_obj_pron['detests'] = compute_average(IC2_connective2_6f,'he')

#### male subject

In [377]:
IC2_connective2_6m

                                             stimulus        he       she
12     Mr. Smith detests Miss Smith and, as a result,  0.690276  0.309724
13        The man detests the woman and, as a result,  0.935624  0.064376
14                John detests Mary and, as a result,  0.810236  0.189764
15                Bob detests Alice and, as a result,  0.803180  0.196820
16    The actor detests the actress and, as a result,  0.969680  0.030320
17         The boy detests the girl and, as a result,  0.960646  0.039354
18  Mr. William detests Mrs. Taylor and, as a result,  0.696370  0.303630
19               David detests Emma and, as a result,  0.574192  0.425808
20  The prince detests the princess and, as a result,  0.873647  0.126353
21             Robert detests Sarah and, as a result,  0.724739  0.275261
22  Mr. Taylor detests Mrs. Williams and, as a res...  0.525045  0.474955
23               Paul detests Emily and, as a result,  0.695449  0.304551

In [378]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_6m,'she'))

P('subj-pron'|subj=male) =  0.7715905358393987
P('non-subj-pron'|subj=male) =  0.22840946136663356

In [379]:
c2_average_subj_male_subj_pron['detests'] = compute_average(IC2_connective2_6m,'he')
c2_average_subj_male_obj_pron['detests'] = compute_average(IC2_connective2_6m,'she')

### verb: "fears"

In [380]:
IC2_connective2_7 = pd.read_csv("../results/IC2/connective2/7.csv")
IC2_connective2_7.head()

                                        stimulus        he       she
0   Miss Smith fears Mr. Smith and, as a result,  0.204481  0.795519
1      The woman fears the man and, as a result,  0.366095  0.633905
2              Mary fears John and, as a result,  0.209142  0.790858
3              Alice fears Bob and, as a result,  0.361478  0.638522
4  The actress fears the actor and, as a result,  0.744617  0.255383

In [381]:
# female subject
IC2_connective2_7f = IC2_connective2_7[0:12]
IC2_connective2_7f = IC2_connective2_7f[["stimulus","she","he"]]
# male subject
IC2_connective2_7m = IC2_connective2_7[12:24]

#### female subject

In [382]:
IC2_connective2_7f

                                            stimulus       she        he
0       Miss Smith fears Mr. Smith and, as a result,  0.795519  0.204481
1          The woman fears the man and, as a result,  0.633905  0.366095
2                  Mary fears John and, as a result,  0.790858  0.209142
3                  Alice fears Bob and, as a result,  0.638522  0.361478
4      The actress fears the actor and, as a result,  0.255383  0.744617
5           The girl fears the boy and, as a result,  0.623508  0.376492
6   Mrs. Taylor fears Mr. Williams and, as a result,  0.843861  0.156139
7                 Emma fears David and, as a result,  0.745775  0.254225
8    The princess fears the prince and, as a result,  0.729629  0.270371
9               Sarah fears Robert and, as a result,  0.676474  0.323526
10  Mrs. Williams fears Mr. Taylor and, as a result,  0.850390  0.149610
11                Emily fears Paul and, as a result,  0.630825  0.369175

In [383]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_7f,'he'))

P('subj-pron'|subj=female) =  0.6845542887846628
P('non-subj-pron'|subj=female) =  0.3154457074900468

In [384]:
c2_average_subj_female_subj_pron['fears'] = compute_average(IC2_connective2_7f,'she')
c2_average_subj_female_obj_pron['fears'] = compute_average(IC2_connective2_7f,'he')

#### male subject

In [385]:
IC2_connective2_7m

                                            stimulus        he       she
12      Mr. Smith fears Miss Smith and, as a result,  0.901681  0.098318
13         The man fears the woman and, as a result,  0.958130  0.041870
14                 John fears Mary and, as a result,  0.790822  0.209178
15                 Bob fears Alice and, as a result,  0.728390  0.271610
16     The actor fears the actress and, as a result,  0.972620  0.027380
17          The boy fears the girl and, as a result,  0.970219  0.029781
18   Mr. William fears Mrs. Taylor and, as a result,  0.862996  0.137004
19                David fears Emma and, as a result,  0.779404  0.220596
20   The prince fears the princess and, as a result,  0.940915  0.059085
21              Robert fears Sarah and, as a result,  0.835298  0.164702
22  Mr. Taylor fears Mrs. Williams and, as a result,  0.797745  0.202255
23                Paul fears Emily and, as a result,  0.784776  0.215224

In [386]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_7m,'she'))

P('subj-pron'|subj=male) =  0.8602497229973475
P('non-subj-pron'|subj=male) =  0.1397502856949965

In [387]:
c2_average_subj_male_subj_pron['fears'] = compute_average(IC2_connective2_7m,'he')
c2_average_subj_male_obj_pron['fears'] = compute_average(IC2_connective2_7m,'she')

#### verb: "envies"

In [388]:
IC2_connective2_8 = pd.read_csv("../results/IC2/connective2/8.csv")
IC2_connective2_8.head()

                                         stimulus        he       she
0   Miss Smith envies Mr. Smith and, as a result,  0.159261  0.840739
1      The woman envies the man and, as a result,  0.330758  0.669242
2              Mary envies John and, as a result,  0.114672  0.885328
3              Alice envies Bob and, as a result,  0.279613  0.720387
4  The actress envies the actor and, as a result,  0.734248  0.265752

In [389]:
# female subject
IC2_connective2_8f = IC2_connective2_8[0:12]
IC2_connective2_8f = IC2_connective2_8f[["stimulus","she","he"]]
# male subject
IC2_connective2_8m = IC2_connective2_8[12:24]

#### female subject

In [390]:
IC2_connective2_8f

                                             stimulus       she        he
0       Miss Smith envies Mr. Smith and, as a result,  0.840739  0.159261
1          The woman envies the man and, as a result,  0.669242  0.330758
2                  Mary envies John and, as a result,  0.885328  0.114672
3                  Alice envies Bob and, as a result,  0.720387  0.279613
4      The actress envies the actor and, as a result,  0.265752  0.734248
5           The girl envies the boy and, as a result,  0.671063  0.328937
6   Mrs. Taylor envies Mr. Williams and, as a result,  0.835113  0.164887
7                 Emma envies David and, as a result,  0.797268  0.202732
8    The princess envies the prince and, as a result,  0.764296  0.235704
9               Sarah envies Robert and, as a result,  0.633345  0.366655
10  Mrs. Williams envies Mr. Taylor and, as a result,  0.848560  0.151440
11                Emily envies Paul and, as a result,  0.868982  0.131017

In [391]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_8f,'he'))

P('subj-pron'|subj=female) =  0.7333396747708321
P('non-subj-pron'|subj=female) =  0.26666033392151195

In [392]:
c2_average_subj_female_subj_pron['envies'] = compute_average(IC2_connective2_8f,'she')
c2_average_subj_female_obj_pron['envies'] = compute_average(IC2_connective2_8f,'he')

#### male subject

In [393]:
IC2_connective2_8m

                                             stimulus        he       she
12      Mr. Smith envies Miss Smith and, as a result,  0.613083  0.386917
13         The man envies the woman and, as a result,  0.920974  0.079026
14                 John envies Mary and, as a result,  0.675917  0.324083
15                 Bob envies Alice and, as a result,  0.699473  0.300527
16     The actor envies the actress and, as a result,  0.966588  0.033412
17          The boy envies the girl and, as a result,  0.950881  0.049119
18   Mr. William envies Mrs. Taylor and, as a result,  0.602525  0.397475
19                David envies Emma and, as a result,  0.482217  0.517783
20   The prince envies the princess and, as a result,  0.815487  0.184513
21              Robert envies Sarah and, as a result,  0.653874  0.346126
22  Mr. Taylor envies Mrs. Williams and, as a result,  0.425925  0.574075
23                Paul envies Emily and, as a result,  0.619708  0.380292

In [394]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_8m,'she'))

P('subj-pron'|subj=male) =  0.7022211104631424
P('non-subj-pron'|subj=male) =  0.2977788836384813

In [395]:
c2_average_subj_male_subj_pron['envies'] = compute_average(IC2_connective2_8m,'he')
c2_average_subj_male_obj_pron['envies'] = compute_average(IC2_connective2_8m,'she')

### verb: "hates"

In [396]:
IC2_connective2_9 = pd.read_csv("../results/IC2/connective2/9.csv")
IC2_connective2_9.head()

                                        stimulus        he       she
0   Miss Smith hates Mr. Smith and, as a result,  0.198616  0.801384
1      The woman hates the man and, as a result,  0.473545  0.526455
2              Mary hates John and, as a result,  0.226825  0.773175
3              Alice hates Bob and, as a result,  0.435377  0.564623
4  The actress hates the actor and, as a result,  0.744754  0.255246

In [397]:
# female subject
IC2_connective2_9f = IC2_connective2_9[0:12]
IC2_connective2_9f = IC2_connective2_9f[["stimulus","she","he"]]
# male subject
IC2_connective2_9m = IC2_connective2_9[12:24]

#### female subject

In [398]:
IC2_connective2_9f

                                            stimulus       she        he
0       Miss Smith hates Mr. Smith and, as a result,  0.801384  0.198616
1          The woman hates the man and, as a result,  0.526455  0.473545
2                  Mary hates John and, as a result,  0.773175  0.226825
3                  Alice hates Bob and, as a result,  0.564623  0.435377
4      The actress hates the actor and, as a result,  0.255246  0.744754
5           The girl hates the boy and, as a result,  0.571679  0.428321
6   Mrs. Taylor hates Mr. Williams and, as a result,  0.788452  0.211548
7                 Emma hates David and, as a result,  0.672245  0.327755
8    The princess hates the prince and, as a result,  0.722526  0.277474
9               Sarah hates Robert and, as a result,  0.485563  0.514437
10  Mrs. Williams hates Mr. Taylor and, as a result,  0.807222  0.192778
11                Emily hates Paul and, as a result,  0.734825  0.265175

In [399]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_9f,'he'))

P('subj-pron'|subj=female) =  0.6419497057795525
P('non-subj-pron'|subj=female) =  0.35805031408866245

In [400]:
c2_average_subj_female_subj_pron['hates'] = compute_average(IC2_connective2_9f,'she')
c2_average_subj_female_obj_pron['hates'] = compute_average(IC2_connective2_9f,'he')

#### male subject

In [401]:
IC2_connective2_9m

                                            stimulus        he       she
12      Mr. Smith hates Miss Smith and, as a result,  0.632705  0.367295
13         The man hates the woman and, as a result,  0.929518  0.070482
14                 John hates Mary and, as a result,  0.812451  0.187549
15                 Bob hates Alice and, as a result,  0.675412  0.324588
16     The actor hates the actress and, as a result,  0.966276  0.033724
17          The boy hates the girl and, as a result,  0.959379  0.040621
18   Mr. William hates Mrs. Taylor and, as a result,  0.640787  0.359213
19                David hates Emma and, as a result,  0.475865  0.524135
20   The prince hates the princess and, as a result,  0.846041  0.153959
21              Robert hates Sarah and, as a result,  0.692387  0.307613
22  Mr. Taylor hates Mrs. Williams and, as a result,  0.502379  0.497621
23                Paul hates Emily and, as a result,  0.567409  0.432591

In [402]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_9m,'she'))

P('subj-pron'|subj=male) =  0.725050707658132
P('non-subj-pron'|subj=male) =  0.27494928892701864

In [403]:
c2_average_subj_male_subj_pron['hates'] = compute_average(IC2_connective2_9m,'he')
c2_average_subj_male_obj_pron['hates'] = compute_average(IC2_connective2_9m,'she')

### verb: "helped"

In [404]:
IC2_connective2_10 = pd.read_csv("../results/IC2/connective2/10.csv")
IC2_connective2_10.head()

                                         stimulus        he       she
0   Miss Smith helped Mr. Smith and, as a result,  0.577032  0.422968
1      The woman helped the man and, as a result,  0.872769  0.127231
2              Mary helped John and, as a result,  0.414798  0.585202
3              Alice helped Bob and, as a result,  0.632424  0.367576
4  The actress helped the actor and, as a result,  0.796116  0.203884

In [405]:
# female subject
IC2_connective2_10f = IC2_connective2_10[0:12]
IC2_connective2_10f = IC2_connective2_10f[["stimulus","she","he"]]
# male subject
IC2_connective2_10m = IC2_connective2_10[12:24]

#### female subject

In [406]:
IC2_connective2_10f

                                             stimulus       she        he
0       Miss Smith helped Mr. Smith and, as a result,  0.422968  0.577032
1          The woman helped the man and, as a result,  0.127231  0.872769
2                  Mary helped John and, as a result,  0.585202  0.414798
3                  Alice helped Bob and, as a result,  0.367576  0.632424
4      The actress helped the actor and, as a result,  0.203884  0.796116
5           The girl helped the boy and, as a result,  0.129803  0.870197
6   Mrs. Taylor helped Mr. Williams and, as a result,  0.604530  0.395470
7                 Emma helped David and, as a result,  0.689049  0.310951
8    The princess helped the prince and, as a result,  0.322073  0.677927
9               Sarah helped Robert and, as a result,  0.379572  0.620428
10  Mrs. Williams helped Mr. Taylor and, as a result,  0.591149  0.408851
11                Emily helped Paul and, as a result,  0.635654  0.364346

In [407]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_10f,'he'))

P('subj-pron'|subj=female) =  0.42155767728885013
P('non-subj-pron'|subj=female) =  0.5784423326452574

In [408]:
c2_average_subj_female_subj_pron['helped'] = compute_average(IC2_connective2_10f,'she')
c2_average_subj_female_obj_pron['helped'] = compute_average(IC2_connective2_10f,'he')

#### male subject

In [409]:
IC2_connective2_10m

                                             stimulus        he       she
12      Mr. Smith helped Miss Smith and, as a result,  0.348108  0.651892
13         The man helped the woman and, as a result,  0.560362  0.439638
14                 John helped Mary and, as a result,  0.239062  0.760938
15                 Bob helped Alice and, as a result,  0.177061  0.822939
16     The actor helped the actress and, as a result,  0.485603  0.514397
17          The boy helped the girl and, as a result,  0.443918  0.556082
18   Mr. William helped Mrs. Taylor and, as a result,  0.239415  0.760585
19                David helped Emma and, as a result,  0.200332  0.799668
20   The prince helped the princess and, as a result,  0.352920  0.647080
21              Robert helped Sarah and, as a result,  0.343493  0.656507
22  Mr. Taylor helped Mrs. Williams and, as a result,  0.196534  0.803466
23                Paul helped Emily and, as a result,  0.184223  0.815777

In [410]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_10m,'she'))

P('subj-pron'|subj=male) =  0.31425248955686885
P('non-subj-pron'|subj=male) =  0.685747521619002

In [411]:
c2_average_subj_male_subj_pron['helped'] = compute_average(IC2_connective2_10m,'he')
c2_average_subj_male_obj_pron['helped'] = compute_average(IC2_connective2_10m,'she')

### verb: "mocked"

In [412]:
IC2_connective2_11 = pd.read_csv("../results/IC2/connective2/11.csv")
IC2_connective2_11.head()

                                         stimulus        he       she
0   Miss Smith mocked Mr. Smith and, as a result,  0.295811  0.704189
1      The woman mocked the man and, as a result,  0.709031  0.290969
2              Mary mocked John and, as a result,  0.357540  0.642460
3              Alice mocked Bob and, as a result,  0.612059  0.387941
4  The actress mocked the actor and, as a result,  0.775109  0.224891

In [413]:
# female subject
IC2_connective2_11f = IC2_connective2_11[0:12]
IC2_connective2_11f = IC2_connective2_11f[["stimulus","she","he"]]
# male subject
IC2_connective2_11m = IC2_connective2_11[12:24]

#### female subject

In [414]:
IC2_connective2_11f

                                             stimulus       she        he
0       Miss Smith mocked Mr. Smith and, as a result,  0.704189  0.295811
1          The woman mocked the man and, as a result,  0.290969  0.709031
2                  Mary mocked John and, as a result,  0.642460  0.357540
3                  Alice mocked Bob and, as a result,  0.387941  0.612059
4      The actress mocked the actor and, as a result,  0.224891  0.775109
5           The girl mocked the boy and, as a result,  0.287585  0.712415
6   Mrs. Taylor mocked Mr. Williams and, as a result,  0.682416  0.317584
7                 Emma mocked David and, as a result,  0.574071  0.425929
8    The princess mocked the prince and, as a result,  0.515180  0.484820
9               Sarah mocked Robert and, as a result,  0.428110  0.571890
10  Mrs. Williams mocked Mr. Taylor and, as a result,  0.664643  0.335357
11                Emily mocked Paul and, as a result,  0.680907  0.319093

In [415]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_11f,'he'))

P('subj-pron'|subj=female) =  0.5069470008214315
P('non-subj-pron'|subj=female) =  0.49305298924446106

In [416]:
c2_average_subj_female_subj_pron['mocked'] = compute_average(IC2_connective2_11f,'she')
c2_average_subj_female_obj_pron['mocked'] = compute_average(IC2_connective2_11f,'he')

#### male subject

In [417]:
IC2_connective2_11m

                                             stimulus        he       she
12      Mr. Smith mocked Miss Smith and, as a result,  0.587844  0.412156
13         The man mocked the woman and, as a result,  0.890262  0.109738
14                 John mocked Mary and, as a result,  0.593562  0.406438
15                 Bob mocked Alice and, as a result,  0.684627  0.315373
16     The actor mocked the actress and, as a result,  0.879551  0.120449
17          The boy mocked the girl and, as a result,  0.902738  0.097262
18   Mr. William mocked Mrs. Taylor and, as a result,  0.297207  0.702793
19                David mocked Emma and, as a result,  0.360965  0.639035
20   The prince mocked the princess and, as a result,  0.631928  0.368072
21              Robert mocked Sarah and, as a result,  0.592737  0.407263
22  Mr. Taylor mocked Mrs. Williams and, as a result,  0.287820  0.712180
23                Paul mocked Emily and, as a result,  0.384417  0.615583

In [418]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_11m,'she'))

P('subj-pron'|subj=male) =  0.5911380921800932
P('non-subj-pron'|subj=male) =  0.40886191713313264

In [419]:
c2_average_subj_male_subj_pron['mocked'] = compute_average(IC2_connective2_11m,'he')
c2_average_subj_male_obj_pron['mocked'] = compute_average(IC2_connective2_11m,'she')

### verb: "noticed"

In [420]:
IC2_connective2_12 = pd.read_csv("../results/IC2/connective2/12.csv")
IC2_connective2_12.head()

                                          stimulus        he       she
0   Miss Smith noticed Mr. Smith and, as a result,  0.161282  0.838718
1      The woman noticed the man and, as a result,  0.195412  0.804588
2              Mary noticed John and, as a result,  0.198890  0.801110
3              Alice noticed Bob and, as a result,  0.417297  0.582703
4  The actress noticed the actor and, as a result,  0.581370  0.418630

In [421]:
# female subject
IC2_connective2_12f = IC2_connective2_12[0:12]
IC2_connective2_12f = IC2_connective2_12f[["stimulus","she","he"]]
# male subject
IC2_connective2_12m = IC2_connective2_12[12:24]

#### female subject

In [422]:
IC2_connective2_12f

                                             stimulus       she        he
0      Miss Smith noticed Mr. Smith and, as a result,  0.838718  0.161282
1         The woman noticed the man and, as a result,  0.804588  0.195412
2                 Mary noticed John and, as a result,  0.801110  0.198890
3                 Alice noticed Bob and, as a result,  0.582703  0.417297
4     The actress noticed the actor and, as a result,  0.418630  0.581370
5          The girl noticed the boy and, as a result,  0.709385  0.290615
6   Mrs. Taylor noticed Mr. Williams and, as a res...  0.858272  0.141728
7                Emma noticed David and, as a result,  0.669949  0.330051
8   The princess noticed the prince and, as a result,  0.778084  0.221916
9              Sarah noticed Robert and, as a result,  0.444613  0.555387
10  Mrs. Williams noticed Mr. Taylor and, as a res...  0.870775  0.129225
11               Emily noticed Paul and, as a result,  0.757293  0.242707

In [423]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_12f,'he'))

P('subj-pron'|subj=female) =  0.7111766760547956
P('non-subj-pron'|subj=female) =  0.28882333387931186

In [424]:
c2_average_subj_female_subj_pron['noticed'] = compute_average(IC2_connective2_12f,'she')
c2_average_subj_female_obj_pron['noticed'] = compute_average(IC2_connective2_12f,'he')

#### male subject

In [425]:
IC2_connective2_12m

                                             stimulus        he       she
12     Mr. Smith noticed Miss Smith and, as a result,  0.781092  0.218908
13        The man noticed the woman and, as a result,  0.886800  0.113200
14                John noticed Mary and, as a result,  0.773156  0.226844
15                Bob noticed Alice and, as a result,  0.603429  0.396571
16    The actor noticed the actress and, as a result,  0.936224  0.063776
17         The boy noticed the girl and, as a result,  0.941296  0.058704
18  Mr. William noticed Mrs. Taylor and, as a result,  0.486145  0.513855
19               David noticed Emma and, as a result,  0.575424  0.424576
20  The prince noticed the princess and, as a result,  0.869222  0.130778
21             Robert noticed Sarah and, as a result,  0.739384  0.260616
22  Mr. Taylor noticed Mrs. Williams and, as a res...  0.483951  0.516049
23               Paul noticed Emily and, as a result,  0.584342  0.415658

In [426]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_12m,'she'))

P('subj-pron'|subj=male) =  0.7217053373654684
P('non-subj-pron'|subj=male) =  0.2782946697746714

In [427]:
c2_average_subj_male_subj_pron['noticed'] = compute_average(IC2_connective2_12m,'he')
c2_average_subj_male_obj_pron['noticed'] = compute_average(IC2_connective2_12m,'she')

### verb: "pacified"

In [428]:
IC2_connective2_13 = pd.read_csv("../results/IC2/connective2/13.csv")
IC2_connective2_13.head()

                                           stimulus        he       she
0   Miss Smith pacified Mr. Smith and, as a result,  0.502658  0.497342
1      The woman pacified the man and, as a result,  0.735546  0.264454
2              Mary pacified John and, as a result,  0.594195  0.405805
3              Alice pacified Bob and, as a result,  0.742947  0.257053
4  The actress pacified the actor and, as a result,  0.774069  0.225931

In [429]:
# female subject
IC2_connective2_13f = IC2_connective2_13[0:12]
IC2_connective2_13f = IC2_connective2_13f[["stimulus","she","he"]]
# male subject
IC2_connective2_13m = IC2_connective2_13[12:24]

#### female subject

In [430]:
IC2_connective2_13f

                                             stimulus       she        he
0     Miss Smith pacified Mr. Smith and, as a result,  0.497342  0.502658
1        The woman pacified the man and, as a result,  0.264454  0.735546
2                Mary pacified John and, as a result,  0.405805  0.594195
3                Alice pacified Bob and, as a result,  0.257053  0.742947
4    The actress pacified the actor and, as a result,  0.225931  0.774069
5         The girl pacified the boy and, as a result,  0.188073  0.811927
6   Mrs. Taylor pacified Mr. Williams and, as a re...  0.567240  0.432760
7               Emma pacified David and, as a result,  0.570056  0.429944
8   The princess pacified the prince and, as a res...  0.312226  0.687774
9             Sarah pacified Robert and, as a result,  0.225711  0.774289
10  Mrs. Williams pacified Mr. Taylor and, as a re...  0.558497  0.441503
11              Emily pacified Paul and, as a result,  0.559312  0.440688

In [431]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_13f,'he'))

P('subj-pron'|subj=female) =  0.38597503552834195
P('non-subj-pron'|subj=female) =  0.6140249868233999

In [432]:
c2_average_subj_female_subj_pron['pacified'] = compute_average(IC2_connective2_13f,'she')
c2_average_subj_female_obj_pron['pacified'] = compute_average(IC2_connective2_13f,'he')

#### male subject

In [433]:
IC2_connective2_13m

                                             stimulus        he       she
12    Mr. Smith pacified Miss Smith and, as a result,  0.290975  0.709025
13       The man pacified the woman and, as a result,  0.515609  0.484391
14               John pacified Mary and, as a result,  0.386191  0.613809
15               Bob pacified Alice and, as a result,  0.398415  0.601585
16   The actor pacified the actress and, as a result,  0.568524  0.431476
17        The boy pacified the girl and, as a result,  0.464304  0.535695
18  Mr. William pacified Mrs. Taylor and, as a res...  0.222184  0.777816
19              David pacified Emma and, as a result,  0.286531  0.713469
20  The prince pacified the princess and, as a res...  0.314786  0.685214
21            Robert pacified Sarah and, as a result,  0.472906  0.527094
22  Mr. Taylor pacified Mrs. Williams and, as a re...  0.177327  0.822673
23              Paul pacified Emily and, as a result,  0.299028  0.700972

In [434]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_13m,'she'))

P('subj-pron'|subj=male) =  0.3663984363277753
P('non-subj-pron'|subj=male) =  0.6336015487710634

In [435]:
c2_average_subj_male_subj_pron['pacified'] = compute_average(IC2_connective1_13m,'he')
c2_average_subj_male_obj_pron['pacified'] = compute_average(IC2_connective1_13m,'she')

### verb: "praised"

In [436]:
IC2_connective2_14 = pd.read_csv("../results/IC2/connective2/14.csv")
IC2_connective2_14.head()

                                          stimulus        he       she
0   Miss Smith praised Mr. Smith and, as a result,  0.555896  0.444104
1      The woman praised the man and, as a result,  0.662229  0.337771
2              Mary praised John and, as a result,  0.523545  0.476455
3              Alice praised Bob and, as a result,  0.759076  0.240924
4  The actress praised the actor and, as a result,  0.763210  0.236790

In [437]:
# female subject
IC2_connective2_14f = IC2_connective2_14[0:12]
IC2_connective2_14f = IC2_connective2_14f[["stimulus","she","he"]]
# male subject
IC2_connective2_14m = IC2_connective2_14[12:24]

#### female subject

In [438]:
IC2_connective2_14f

                                             stimulus       she        he
0      Miss Smith praised Mr. Smith and, as a result,  0.444104  0.555896
1         The woman praised the man and, as a result,  0.337771  0.662229
2                 Mary praised John and, as a result,  0.476455  0.523545
3                 Alice praised Bob and, as a result,  0.240924  0.759076
4     The actress praised the actor and, as a result,  0.236790  0.763210
5          The girl praised the boy and, as a result,  0.332442  0.667558
6   Mrs. Taylor praised Mr. Williams and, as a res...  0.457953  0.542047
7                Emma praised David and, as a result,  0.611387  0.388613
8   The princess praised the prince and, as a result,  0.285102  0.714898
9              Sarah praised Robert and, as a result,  0.338006  0.661994
10  Mrs. Williams praised Mr. Taylor and, as a res...  0.450193  0.549807
11               Emily praised Paul and, as a result,  0.454268  0.545732

In [439]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_14f,'he'))

P('subj-pron'|subj=female) =  0.388782845189174
P('non-subj-pron'|subj=female) =  0.611217143634955

In [440]:
c2_average_subj_female_subj_pron['praised'] = compute_average(IC2_connective2_14f,'she')
c2_average_subj_female_obj_pron['praised'] = compute_average(IC2_connective2_14f,'he')

#### male subject

In [441]:
IC2_connective2_14m

                                             stimulus        he       she
12     Mr. Smith praised Miss Smith and, as a result,  0.302195  0.697805
13        The man praised the woman and, as a result,  0.758829  0.241171
14                John praised Mary and, as a result,  0.362482  0.637518
15                Bob praised Alice and, as a result,  0.594769  0.405231
16    The actor praised the actress and, as a result,  0.652835  0.347165
17         The boy praised the girl and, as a result,  0.821214  0.178786
18  Mr. William praised Mrs. Taylor and, as a result,  0.139022  0.860978
19               David praised Emma and, as a result,  0.176689  0.823311
20  The prince praised the princess and, as a result,  0.489277  0.510723
21             Robert praised Sarah and, as a result,  0.341534  0.658466
22  Mr. Taylor praised Mrs. Williams and, as a res...  0.138807  0.861193
23               Paul praised Emily and, as a result,  0.311597  0.688403

In [442]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_14m,'she'))

P('subj-pron'|subj=male) =  0.42410431802272797
P('non-subj-pron'|subj=male) =  0.5758956670761108

In [443]:
c2_average_subj_male_subj_pron['praised'] = compute_average(IC2_connective2_14m,'he')
c2_average_subj_male_obj_pron['praised'] = compute_average(IC2_connective2_14m,'she')

### verb: "reproached"

In [444]:
IC2_connective2_15 = pd.read_csv("../results/IC2/connective2/15.csv")
IC2_connective2_15.head()

                                            stimulus        he       she
0  Miss Smith reproached Mr. Smith and, as a result,  0.555620  0.444380
1     The woman reproached the man and, as a result,  0.878085  0.121915
2             Mary reproached John and, as a result,  0.449014  0.550986
3             Alice reproached Bob and, as a result,  0.648696  0.351304
4  The actress reproached the actor and, as a res...  0.930101  0.069899

In [445]:
# female subject
IC2_connective2_15f = IC2_connective2_15[0:12]
IC2_connective2_15f = IC2_connective2_15f[["stimulus","she","he"]]
# male subject
IC2_connective2_15m = IC2_connective2_15[12:24]

#### female subject

In [446]:
IC2_connective2_15f

                                             stimulus       she        he
0   Miss Smith reproached Mr. Smith and, as a result,  0.444380  0.555620
1      The woman reproached the man and, as a result,  0.121915  0.878085
2              Mary reproached John and, as a result,  0.550986  0.449014
3              Alice reproached Bob and, as a result,  0.351304  0.648696
4   The actress reproached the actor and, as a res...  0.069899  0.930101
5       The girl reproached the boy and, as a result,  0.132913  0.867087
6   Mrs. Taylor reproached Mr. Williams and, as a ...  0.502496  0.497504
7             Emma reproached David and, as a result,  0.534216  0.465784
8   The princess reproached the prince and, as a r...  0.190436  0.809564
9           Sarah reproached Robert and, as a result,  0.441062  0.558938
10  Mrs. Williams reproached Mr. Taylor and, as a ...  0.535891  0.464109
11            Emily reproached Paul and, as a result,  0.610334  0.389666

In [447]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_15f,'he'))

P('subj-pron'|subj=female) =  0.3738192884872357
P('non-subj-pron'|subj=female) =  0.6261806984742483

In [448]:
c2_average_subj_female_subj_pron['reproached'] = compute_average(IC2_connective2_15f,'she')
c2_average_subj_female_obj_pron['reproached'] = compute_average(IC2_connective2_15f,'he')

#### male subject

In [449]:
IC2_connective2_15m

                                             stimulus        he       she
12  Mr. Smith reproached Miss Smith and, as a result,  0.263517  0.736483
13     The man reproached the woman and, as a result,  0.499418  0.500582
14             John reproached Mary and, as a result,  0.251808  0.748192
15             Bob reproached Alice and, as a result,  0.253851  0.746149
16  The actor reproached the actress and, as a res...  0.412198  0.587802
17      The boy reproached the girl and, as a result,  0.451588  0.548412
18  Mr. William reproached Mrs. Taylor and, as a r...  0.156723  0.843277
19            David reproached Emma and, as a result,  0.218767  0.781233
20  The prince reproached the princess and, as a r...  0.286943  0.713057
21          Robert reproached Sarah and, as a result,  0.197482  0.802518
22  Mr. Taylor reproached Mrs. Williams and, as a ...  0.139720  0.860280
23            Paul reproached Emily and, as a result,  0.188852  0.811148

In [450]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_15m,'she'))

P('subj-pron'|subj=male) =  0.2767389404277007
P('non-subj-pron'|subj=male) =  0.7232610583305359

In [451]:
c2_average_subj_male_subj_pron['reproached'] = compute_average(IC2_connective2_15m,'he')
c2_average_subj_male_obj_pron['reproached'] = compute_average(IC2_connective2_15m,'she')

### verb: "scolded"

In [452]:
IC2_connective2_16 = pd.read_csv("../results/IC2/connective2/16.csv")
IC2_connective2_16.head()

                                          stimulus        he       she
0   Miss Smith scolded Mr. Smith and, as a result,  0.499341  0.500659
1      The woman scolded the man and, as a result,  0.841611  0.158389
2              Mary scolded John and, as a result,  0.391046  0.608954
3              Alice scolded Bob and, as a result,  0.606015  0.393985
4  The actress scolded the actor and, as a result,  0.901405  0.098595

In [453]:
# female subject
IC2_connective2_16f = IC2_connective2_16[0:12]
IC2_connective2_16f = IC2_connective2_16f[["stimulus","she","he"]]
# male subject
IC2_connective2_16m = IC2_connective2_16[12:24]

#### female subject

In [454]:
IC2_connective2_16f

                                             stimulus       she        he
0      Miss Smith scolded Mr. Smith and, as a result,  0.500659  0.499341
1         The woman scolded the man and, as a result,  0.158389  0.841611
2                 Mary scolded John and, as a result,  0.608954  0.391046
3                 Alice scolded Bob and, as a result,  0.393985  0.606015
4     The actress scolded the actor and, as a result,  0.098595  0.901405
5          The girl scolded the boy and, as a result,  0.173978  0.826022
6   Mrs. Taylor scolded Mr. Williams and, as a res...  0.568649  0.431351
7                Emma scolded David and, as a result,  0.569391  0.430609
8   The princess scolded the prince and, as a result,  0.265171  0.734829
9              Sarah scolded Robert and, as a result,  0.466613  0.533387
10  Mrs. Williams scolded Mr. Taylor and, as a res...  0.592581  0.407419
11               Emily scolded Paul and, as a result,  0.653089  0.346911

In [455]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_16f,'he'))

P('subj-pron'|subj=female) =  0.42083788352708024
P('non-subj-pron'|subj=female) =  0.5791621084014574

In [456]:
c2_average_subj_female_subj_pron['scolded'] = compute_average(IC2_connective2_16f,'she')
c2_average_subj_female_obj_pron['scolded'] = compute_average(IC2_connective2_16f,'he')

#### male subject

In [457]:
IC2_connective2_16m

                                             stimulus        he       she
12     Mr. Smith scolded Miss Smith and, as a result,  0.299541  0.700459
13        The man scolded the woman and, as a result,  0.582839  0.417161
14                John scolded Mary and, as a result,  0.293324  0.706676
15                Bob scolded Alice and, as a result,  0.268840  0.731160
16    The actor scolded the actress and, as a result,  0.485393  0.514607
17         The boy scolded the girl and, as a result,  0.568645  0.431355
18  Mr. William scolded Mrs. Taylor and, as a result,  0.217383  0.782617
19               David scolded Emma and, as a result,  0.263040  0.736960
20  The prince scolded the princess and, as a result,  0.380547  0.619453
21             Robert scolded Sarah and, as a result,  0.270792  0.729208
22  Mr. Taylor scolded Mrs. Williams and, as a res...  0.189887  0.810113
23               Paul scolded Emily and, as a result,  0.227225  0.772775

In [458]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_16m,'she'))

P('subj-pron'|subj=male) =  0.33728789165616035
P('non-subj-pron'|subj=male) =  0.6627121021350225

In [459]:
c2_average_subj_male_subj_pron['scolded'] = compute_average(IC2_connective2_16m,'he')
c2_average_subj_male_obj_pron['scolded'] = compute_average(IC2_connective2_16m,'she')

### verb: "stared"

In [460]:
IC2_connective2_17 = pd.read_csv("../results/IC2/connective2/17.csv")
IC2_connective2_17.head()

                                            stimulus        he       she
0   Miss Smith stared at Mr. Smith and, as a result,  0.319937  0.680063
1      The woman stared at the man and, as a result,  0.537649  0.462351
2              Mary stared at John and, as a result,  0.313104  0.686896
3              Alice stared at Bob and, as a result,  0.496238  0.503762
4  The actress stared at the actor and, as a result,  0.677452  0.322548

In [461]:
# female subject
IC2_connective2_17f = IC2_connective2_17[0:12]
IC2_connective2_17f = IC2_connective2_17f[["stimulus","she","he"]]
# male subject
IC2_connective2_17m = IC2_connective2_17[12:24]

#### female subject

In [462]:
IC2_connective2_17f

                                             stimulus       she        he
0    Miss Smith stared at Mr. Smith and, as a result,  0.680063  0.319937
1       The woman stared at the man and, as a result,  0.462351  0.537649
2               Mary stared at John and, as a result,  0.686896  0.313104
3               Alice stared at Bob and, as a result,  0.503762  0.496238
4   The actress stared at the actor and, as a result,  0.322548  0.677452
5        The girl stared at the boy and, as a result,  0.480344  0.519656
6   Mrs. Taylor stared at Mr. Williams and, as a r...  0.719625  0.280375
7              Emma stared at David and, as a result,  0.675784  0.324216
8   The princess stared at the prince and, as a re...  0.576917  0.423083
9            Sarah stared at Robert and, as a result,  0.529496  0.470504
10  Mrs. Williams stared at Mr. Taylor and, as a r...  0.710742  0.289258
11             Emily stared at Paul and, as a result,  0.615365  0.384635

In [463]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_17f,'he'))

P('subj-pron'|subj=female) =  0.5803245380520821
P('non-subj-pron'|subj=female) =  0.41967545201381046

In [464]:
c2_average_subj_female_subj_pron['stared'] = compute_average(IC2_connective2_17f,'she')
c2_average_subj_female_obj_pron['stared'] = compute_average(IC2_connective2_17f,'he')

#### male subject

In [465]:
IC2_connective2_17m

                                             stimulus        he       she
12   Mr. Smith stared at Miss Smith and, as a result,  0.410579  0.589421
13      The man stared at the woman and, as a result,  0.765687  0.234313
14              John stared at Mary and, as a result,  0.457038  0.542962
15              Bob stared at Alice and, as a result,  0.557851  0.442149
16  The actor stared at the actress and, as a result,  0.742397  0.257603
17       The boy stared at the girl and, as a result,  0.852362  0.147638
18  Mr. William stared at Mrs. Taylor and, as a re...  0.270118  0.729882
19             David stared at Emma and, as a result,  0.232688  0.767312
20  The prince stared at the princess and, as a re...  0.590033  0.409967
21           Robert stared at Sarah and, as a result,  0.431762  0.568238
22  Mr. Taylor stared at Mrs. Williams and, as a r...  0.228895  0.771105
23             Paul stared at Emily and, as a result,  0.366303  0.633697

In [466]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_17m,'she'))

P('subj-pron'|subj=male) =  0.49214279279112816
P('non-subj-pron'|subj=male) =  0.5078572084506353

In [467]:
c2_average_subj_male_subj_pron['stared'] = compute_average(IC2_connective2_17m,'he')
c2_average_subj_male_obj_pron['stared'] = compute_average(IC2_connective2_17m,'she')

### verb: "thanked"

In [468]:
IC2_connective2_18 = pd.read_csv("../results/IC2/connective2/18.csv")
IC2_connective2_18.head()

                                          stimulus        he       she
0   Miss Smith thanked Mr. Smith and, as a result,  0.706976  0.293024
1      The woman thanked the man and, as a result,  0.810908  0.189092
2              Mary thanked John and, as a result,  0.605131  0.394869
3              Alice thanked Bob and, as a result,  0.870292  0.129708
4  The actress thanked the actor and, as a result,  0.921942  0.078058

In [469]:
# female subject
IC2_connective2_18f = IC2_connective2_18[0:12]
IC2_connective2_18f = IC2_connective2_18f[["stimulus","she","he"]]
# male subject
IC2_connective2_18m = IC2_connective2_18[12:24]

#### female subject

In [470]:
IC2_connective2_18f

                                             stimulus       she        he
0      Miss Smith thanked Mr. Smith and, as a result,  0.293024  0.706976
1         The woman thanked the man and, as a result,  0.189092  0.810908
2                 Mary thanked John and, as a result,  0.394869  0.605131
3                 Alice thanked Bob and, as a result,  0.129708  0.870292
4     The actress thanked the actor and, as a result,  0.078058  0.921942
5          The girl thanked the boy and, as a result,  0.196707  0.803293
6   Mrs. Taylor thanked Mr. Williams and, as a res...  0.363407  0.636593
7                Emma thanked David and, as a result,  0.448557  0.551443
8   The princess thanked the prince and, as a result,  0.185886  0.814114
9              Sarah thanked Robert and, as a result,  0.149318  0.850682
10  Mrs. Williams thanked Mr. Taylor and, as a res...  0.328643  0.671357
11               Emily thanked Paul and, as a result,  0.386808  0.613192

In [471]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_18f,'he'))

P('subj-pron'|subj=female) =  0.26200641815861064
P('non-subj-pron'|subj=female) =  0.7379935930172602

In [472]:
c2_average_subj_female_subj_pron['thanked'] = compute_average(IC2_connective2_18f,'she')
c2_average_subj_female_obj_pron['thanked'] = compute_average(IC2_connective2_18f,'he')

#### male subject

In [473]:
IC2_connective2_18m

                                             stimulus        he       she
12     Mr. Smith thanked Miss Smith and, as a result,  0.520491  0.479509
13        The man thanked the woman and, as a result,  0.572378  0.427622
14                John thanked Mary and, as a result,  0.380689  0.619311
15                Bob thanked Alice and, as a result,  0.396595  0.603405
16    The actor thanked the actress and, as a result,  0.420659  0.579341
17         The boy thanked the girl and, as a result,  0.624601  0.375399
18  Mr. William thanked Mrs. Taylor and, as a result,  0.320837  0.679163
19               David thanked Emma and, as a result,  0.213099  0.786901
20  The prince thanked the princess and, as a result,  0.349659  0.650341
21             Robert thanked Sarah and, as a result,  0.338473  0.661527
22  Mr. Taylor thanked Mrs. Williams and, as a res...  0.326428  0.673572
23               Paul thanked Emily and, as a result,  0.274645  0.725355

In [474]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_18m,'she'))

P('subj-pron'|subj=male) =  0.394879541049401
P('non-subj-pron'|subj=male) =  0.6051204775770506

In [475]:
c2_average_subj_male_subj_pron['thanked'] = compute_average(IC2_connective2_18m,'he')
c2_average_subj_male_obj_pron['thanked'] = compute_average(IC2_connective2_18m,'she')

### verb: "trusts"

In [476]:
IC2_connective2_19 = pd.read_csv("../results/IC2/connective2/19.csv")
IC2_connective2_19.head()

                                         stimulus        he       she
0   Miss Smith trusts Mr. Smith and, as a result,  0.460640  0.539360
1      The woman trusts the man and, as a result,  0.588833  0.411167
2              Mary trusts John and, as a result,  0.375361  0.624639
3              Alice trusts Bob and, as a result,  0.767843  0.232157
4  The actress trusts the actor and, as a result,  0.810156  0.189844

In [477]:
# female subject
IC2_connective2_19f = IC2_connective2_19[0:12]
IC2_connective2_19f = IC2_connective2_19f[["stimulus","she","he"]]
# male subject
IC2_connective2_19m = IC2_connective2_19[12:24]

#### female subject

In [478]:
IC2_connective2_19f

                                             stimulus       she        he
0       Miss Smith trusts Mr. Smith and, as a result,  0.539360  0.460640
1          The woman trusts the man and, as a result,  0.411167  0.588833
2                  Mary trusts John and, as a result,  0.624639  0.375361
3                  Alice trusts Bob and, as a result,  0.232157  0.767843
4      The actress trusts the actor and, as a result,  0.189844  0.810156
5           The girl trusts the boy and, as a result,  0.251696  0.748304
6   Mrs. Taylor trusts Mr. Williams and, as a result,  0.572267  0.427733
7                 Emma trusts David and, as a result,  0.629299  0.370701
8    The princess trusts the prince and, as a result,  0.472221  0.527779
9               Sarah trusts Robert and, as a result,  0.304420  0.695580
10  Mrs. Williams trusts Mr. Taylor and, as a result,  0.572512  0.427488
11                Emily trusts Paul and, as a result,  0.544062  0.455938

In [479]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_19f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_19f,'he'))

P('subj-pron'|subj=female) =  0.44530370831489563
P('non-subj-pron'|subj=female) =  0.5546962966521581

In [480]:
c2_average_subj_female_subj_pron['trusts'] = compute_average(IC2_connective2_19f,'she')
c2_average_subj_female_obj_pron['trusts'] = compute_average(IC2_connective2_19f,'he')

#### male subject

In [481]:
IC2_connective2_19m

                                             stimulus        he       she
12      Mr. Smith trusts Miss Smith and, as a result,  0.291170  0.708830
13         The man trusts the woman and, as a result,  0.524958  0.475042
14                 John trusts Mary and, as a result,  0.286766  0.713234
15                 Bob trusts Alice and, as a result,  0.549673  0.450327
16     The actor trusts the actress and, as a result,  0.763215  0.236785
17          The boy trusts the girl and, as a result,  0.683712  0.316288
18   Mr. William trusts Mrs. Taylor and, as a result,  0.282253  0.717747
19                David trusts Emma and, as a result,  0.556465  0.443535
20   The prince trusts the princess and, as a result,  0.468447  0.531553
21              Robert trusts Sarah and, as a result,  0.609501  0.390499
22  Mr. Taylor trusts Mrs. Williams and, as a result,  0.235707  0.764293
23                Paul trusts Emily and, as a result,  0.430026  0.569974

In [482]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_19m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_19m,'she'))

P('subj-pron'|subj=male) =  0.4734909695883592
P('non-subj-pron'|subj=male) =  0.5265090403457483

In [483]:
c2_average_subj_male_subj_pron['trusts'] = compute_average(IC2_connective2_19m,'he')
c2_average_subj_male_obj_pron['trusts'] = compute_average(IC2_connective2_19m,'she')

### verb: "values"

In [484]:
IC2_connective2_20 = pd.read_csv("../results/IC2/connective2/20.csv")
IC2_connective2_20.head()

                                         stimulus        he       she
0   Miss Smith values Mr. Smith and, as a result,  0.253284  0.746716
1      The woman values the man and, as a result,  0.467186  0.532814
2              Mary values John and, as a result,  0.303993  0.696007
3              Alice values Bob and, as a result,  0.621273  0.378727
4  The actress values the actor and, as a result,  0.735357  0.264643

In [485]:
# female subject
IC2_connective2_20f = IC2_connective2_20[0:12]
IC2_connective2_20f = IC2_connective2_20f[["stimulus","she","he"]]
# male subject
IC2_connective2_20m = IC2_connective2_20[12:24]

#### female subject

In [486]:
IC2_connective2_20f

                                             stimulus       she        he
0       Miss Smith values Mr. Smith and, as a result,  0.746716  0.253284
1          The woman values the man and, as a result,  0.532814  0.467186
2                  Mary values John and, as a result,  0.696007  0.303993
3                  Alice values Bob and, as a result,  0.378727  0.621273
4      The actress values the actor and, as a result,  0.264643  0.735357
5           The girl values the boy and, as a result,  0.475888  0.524112
6   Mrs. Taylor values Mr. Williams and, as a result,  0.734419  0.265581
7                 Emma values David and, as a result,  0.610327  0.389673
8    The princess values the prince and, as a result,  0.633299  0.366701
9               Sarah values Robert and, as a result,  0.479045  0.520955
10  Mrs. Williams values Mr. Taylor and, as a result,  0.732535  0.267465
11                Emily values Paul and, as a result,  0.578790  0.421210

In [487]:
print("P('subj-pron'|subj=female) = ", compute_average(IC2_connective2_20f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(IC2_connective2_20f,'he'))

P('subj-pron'|subj=female) =  0.5719341586033503
P('non-subj-pron'|subj=female) =  0.42806583891312283

In [488]:
c2_average_subj_female_subj_pron['values'] = compute_average(IC2_connective2_20f,'she')
c2_average_subj_female_obj_pron['values'] = compute_average(IC2_connective2_20f,'he')

#### male subject

In [489]:
IC2_connective2_20m

                                             stimulus        he       she
12      Mr. Smith values Miss Smith and, as a result,  0.540597  0.459403
13         The man values the woman and, as a result,  0.866122  0.133878
14                 John values Mary and, as a result,  0.734024  0.265976
15                 Bob values Alice and, as a result,  0.778384  0.221616
16     The actor values the actress and, as a result,  0.910839  0.089161
17          The boy values the girl and, as a result,  0.948487  0.051513
18   Mr. William values Mrs. Taylor and, as a result,  0.458870  0.541130
19                David values Emma and, as a result,  0.367447  0.632553
20   The prince values the princess and, as a result,  0.721205  0.278795
21              Robert values Sarah and, as a result,  0.794277  0.205723
22  Mr. Taylor values Mrs. Williams and, as a result,  0.407680  0.592320
23                Paul values Emily and, as a result,  0.605823  0.394177

In [490]:
print("P('subj-pron'|subj=male) = ", compute_average(IC2_connective2_20m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(IC2_connective2_20m,'she'))

P('subj-pron'|subj=male) =  0.6778127824266752
P('non-subj-pron'|subj=male) =  0.3221872054661314

In [491]:
c2_average_subj_male_subj_pron['values'] = compute_average(IC2_connective2_20m,'he')
c2_average_subj_male_obj_pron['values'] = compute_average(IC2_connective2_20m,'she')

## Summary of Results

In [492]:
c2_results_fsubj_subjpron = pd.DataFrame(list(c2_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c2_results_fsubj_objpron = pd.DataFrame(list(c2_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c2_results_fsubj = c2_results_fsubj_subjpron.merge(c2_results_fsubj_objpron)
c2_results_fsubj

             verb  subj_ref_female_subj  obj_ref_female_subj
0        assisted              0.475261             0.524739
1          blames              0.584424             0.415576
2       comforted              0.369589             0.630411
3   congratulated              0.294488             0.705512
4       corrected              0.403353             0.596647
5         detests              0.486187             0.513813
6           fears              0.684554             0.315446
7          envies              0.733340             0.266660
8           hates              0.641950             0.358050
9          helped              0.421558             0.578442
10         mocked              0.506947             0.493053
11        noticed              0.711177             0.288823
12       pacified              0.385975             0.614025
13        praised              0.388783             0.611217
14     reproached              0.373819             0.626181
15        scolded              0.420838             0.579162
16         stared              0.580325             0.419675
17        thanked              0.262006             0.737994
18         trusts              0.445304             0.554696
19         values              0.571934             0.428066

In [493]:
c2_results_msubj_subjpron = pd.DataFrame(list(c2_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c2_results_msubj_objpron = pd.DataFrame(list(c2_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c2_results_msubj = c2_results_msubj_subjpron.merge(c2_results_msubj_objpron)
c2_results_msubj

             verb  subj_ref_male_subj  obj_ref_male_subj
0        assisted            0.332073           0.667927
1          blames            0.573967           0.426033
2       comforted            0.230427           0.769573
3   congratulated            0.256131           0.743869
4       corrected            0.628749           0.371251
5         detests            0.771591           0.228409
6           fears            0.860250           0.139750
7          envies            0.702221           0.297779
8           hates            0.725051           0.274949
9          helped            0.314252           0.685748
10         mocked            0.591138           0.408862
11        noticed            0.721705           0.278295
12       pacified            0.370925           0.629075
13        praised            0.424104           0.575896
14     reproached            0.276739           0.723261
15        scolded            0.337288           0.662712
16         stared            0.492143           0.507857
17        thanked            0.394880           0.605120
18         trusts            0.473491           0.526509
19         values            0.677813           0.322187

In [494]:
c2_results = c2_results_fsubj.merge(c2_results_msubj)
c2_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,assisted,0.475261,0.524739,0.332073,0.667927
1,blames,0.584424,0.415576,0.573967,0.426033
2,comforted,0.369589,0.630411,0.230427,0.769573
3,congratulated,0.294488,0.705512,0.256131,0.743869
4,corrected,0.403353,0.596647,0.628749,0.371251
5,detests,0.486187,0.513813,0.771591,0.228409
6,fears,0.684554,0.315446,0.860250,0.139750
7,envies,0.733340,0.266660,0.702221,0.297779
8,hates,0.641950,0.358050,0.725051,0.274949
9,helped,0.421558,0.578442,0.314252,0.685748
10,mocked,0.506947,0.493053,0.591138,0.408862
11,noticed,0.711177,0.288823,0.721705,0.278295
12,pacified,0.385975,0.614025,0.370925,0.629075
13,praised,0.388783,0.611217,0.424104,0.575896
14,reproached,0.373819,0.626181,0.276739,0.723261
15,scolded,0.420838,0.579162,0.337288,0.662712
16,stared,0.580325,0.419675,0.492143,0.507857
17,thanked,0.262006,0.737994,0.394880,0.605120
18,trusts,0.445304,0.554696,0.473491,0.526509
19,values,0.571934,0.428066,0.677813,0.322187

In [495]:
print("P(subj_reference |subj=female)", compute_average(c2_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c2_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.4870905252716815
P(obj_reference |subj=female) 0.5129094743790725

In [496]:
print("P(subj_reference |subj=male)", compute_average(c2_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c2_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.5077468583049873
P(obj_reference |subj=male) 0.49225314552895727

In [497]:
# save results to csv
col_headers = ['verb','subj_ref_female_subj','obj_ref_female_subj','subj_ref_male_subj','obj_ref_male_subj']
np_results.to_csv("../results/summary/IC2-noprompt.csv",index=False,header=col_headers)
c1_results.to_csv("../results/summary/IC2-connective1.csv",index=False,header=col_headers)
c2_results.to_csv("../results/summary/IC2-connective2.csv",index=False,header=col_headers)