In [1]:
import pandas as pd
import numpy as np

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
def compute_average(df,col):
    return np.mean(df[col].values)

## No-prompt

In [3]:
np_average_subj_female_subj_pron = {}
np_average_subj_female_obj_pron = {}
np_average_subj_male_subj_pron = {}
np_average_subj_male_obj_pron = {}

### Verb: "flew"

In [4]:
motion_noprompt_1 = pd.read_csv("../results/gpt2/motion/no-prompt/1.csv")
motion_noprompt_1.head()

                         stimulus        He       She
0   Miss Smith flew to Mr. Smith.  0.365667  0.634333
1      The woman flew to the man.  0.282079  0.717921
2              Mary flew to John.  0.374731  0.625269
3              Alice flew to Bob.  0.225428  0.774572
4  The actress flew to the actor.  0.212524  0.787476

In [5]:
# female subject
motion_noprompt_1f = motion_noprompt_1[0:12]
motion_noprompt_1f = motion_noprompt_1f[["stimulus","She","He"]]
# male subject
motion_noprompt_1m = motion_noprompt_1[12:24]

#### female subject

In [6]:
motion_noprompt_1f

                             stimulus       She        He
0       Miss Smith flew to Mr. Smith.  0.634333  0.365667
1          The woman flew to the man.  0.717921  0.282079
2                  Mary flew to John.  0.625269  0.374731
3                  Alice flew to Bob.  0.774572  0.225428
4      The actress flew to the actor.  0.787476  0.212524
5           The girl flew to the boy.  0.740962  0.259038
6   Mrs. Taylor flew to Mr. Williams.  0.553995  0.446005
7                 Emma flew to David.  0.725246  0.274754
8    The princess flew to the prince.  0.782664  0.217336
9               Sarah flew to Robert.  0.646727  0.353273
10  Mrs. Williams flew to Mr. Taylor.  0.568607  0.431393
11                Emily flew to Paul.  0.761365  0.238635

In [7]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_1f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_1f,'He'))

P('subj-pron'|subj=female) =  0.693261444568634
P('non-subj-pron'|subj=female) =  0.30673854673902196

In [8]:
np_average_subj_female_subj_pron['flew'] = compute_average(motion_noprompt_1f,'She')
np_average_subj_female_obj_pron['flew'] = compute_average(motion_noprompt_1f,'He')

#### male subject

In [9]:
motion_noprompt_1m

                             stimulus        He       She
12      Mr. Smith flew to Miss Smith.  0.554876  0.445124
13         The man flew to the woman.  0.692736  0.307264
14                 John flew to Mary.  0.775056  0.224944
15                 Bob flew to Alice.  0.672436  0.327564
16     The actor flew to the actress.  0.647597  0.352403
17          The boy flew to the girl.  0.676052  0.323948
18   Mr. William flew to Mrs. Taylor.  0.599306  0.400694
19                David flew to Emma.  0.665563  0.334437
20   The prince flew to the princess.  0.658940  0.341060
21              Robert flew to Sarah.  0.653764  0.346236
22  Mr. Taylor flew to Mrs. Williams.  0.583391  0.416609
23                Paul flew to Emily.  0.653365  0.346635

In [10]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_1m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_1m,'She'))

P('subj-pron'|subj=male) =  0.6527568052212397
P('non-subj-pron'|subj=male) =  0.34724318360288936

In [11]:
np_average_subj_male_subj_pron['flew'] = compute_average(motion_noprompt_1m,'He')
np_average_subj_male_obj_pron['flew'] = compute_average(motion_noprompt_1m,'She')

### Verb: "walked"

In [12]:
motion_noprompt_2 = pd.read_csv("../results/gpt2/motion/no-prompt/2.csv")
motion_noprompt_2.head()

                           stimulus        He       She
0   Miss Smith walked to Mr. Smith.  0.448318  0.551682
1      The woman walked to the man.  0.276914  0.723086
2              Mary walked to John.  0.279268  0.720732
3              Alice walked to Bob.  0.149142  0.850859
4  The actress walked to the actor.  0.287117  0.712883

In [13]:
# female subject
motion_noprompt_2f = motion_noprompt_2[0:12]
motion_noprompt_2f = motion_noprompt_2f[["stimulus","She","He"]]
# male subject
motion_noprompt_2m = motion_noprompt_2[12:24]

#### female subject

In [14]:
motion_noprompt_2f

                               stimulus       She        He
0       Miss Smith walked to Mr. Smith.  0.551682  0.448318
1          The woman walked to the man.  0.723086  0.276914
2                  Mary walked to John.  0.720732  0.279268
3                  Alice walked to Bob.  0.850859  0.149142
4      The actress walked to the actor.  0.712883  0.287117
5           The girl walked to the boy.  0.748178  0.251822
6   Mrs. Taylor walked to Mr. Williams.  0.556695  0.443305
7                 Emma walked to David.  0.765620  0.234380
8    The princess walked to the prince.  0.882070  0.117930
9               Sarah walked to Robert.  0.676526  0.323474
10  Mrs. Williams walked to Mr. Taylor.  0.552558  0.447442
11                Emily walked to Paul.  0.842126  0.157873

In [15]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_2f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_2f,'He'))

P('subj-pron'|subj=female) =  0.71525110801061
P('non-subj-pron'|subj=female) =  0.2847488907476266

In [16]:
np_average_subj_female_subj_pron['walked'] = compute_average(motion_noprompt_2f,'She')
np_average_subj_female_obj_pron['walked'] = compute_average(motion_noprompt_2f,'He')

#### male subject

In [17]:
motion_noprompt_2m

                               stimulus        He       She
12      Mr. Smith walked to Miss Smith.  0.476402  0.523598
13         The man walked to the woman.  0.614084  0.385916
14                 John walked to Mary.  0.660786  0.339214
15                 Bob walked to Alice.  0.511479  0.488521
16     The actor walked to the actress.  0.571958  0.428042
17          The boy walked to the girl.  0.591845  0.408155
18   Mr. William walked to Mrs. Taylor.  0.557096  0.442904
19                David walked to Emma.  0.487888  0.512112
20   The prince walked to the princess.  0.662084  0.337916
21              Robert walked to Sarah.  0.559380  0.440620
22  Mr. Taylor walked to Mrs. Williams.  0.525771  0.474229
23                Paul walked to Emily.  0.515712  0.484288

In [18]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_2m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_2m,'She'))

P('subj-pron'|subj=male) =  0.561207078397274
P('non-subj-pron'|subj=male) =  0.4387929191191991

In [19]:
np_average_subj_male_subj_pron['walked'] = compute_average(motion_noprompt_2m,'He')
np_average_subj_male_obj_pron['walked'] = compute_average(motion_noprompt_2m,'She')

### Verb: "ran"

In [20]:
motion_noprompt_3 = pd.read_csv("../results/gpt2/motion/no-prompt/3.csv")
motion_noprompt_3.head()

                        stimulus        He       She
0   Miss Smith ran to Mr. Smith.  0.434293  0.565707
1      The woman ran to the man.  0.373574  0.626426
2              Mary ran to John.  0.344645  0.655355
3              Alice ran to Bob.  0.176268  0.823732
4  The actress ran to the actor.  0.323937  0.676063

In [21]:
# female subject
motion_noprompt_3f = motion_noprompt_3[0:12]
motion_noprompt_3f = motion_noprompt_3f[["stimulus","She","He"]]
# male subject
motion_noprompt_3m = motion_noprompt_3[12:24]

#### female subject

In [22]:
motion_noprompt_3f

                            stimulus       She        He
0       Miss Smith ran to Mr. Smith.  0.565707  0.434293
1          The woman ran to the man.  0.626426  0.373574
2                  Mary ran to John.  0.655355  0.344645
3                  Alice ran to Bob.  0.823732  0.176268
4      The actress ran to the actor.  0.676063  0.323937
5           The girl ran to the boy.  0.683460  0.316540
6   Mrs. Taylor ran to Mr. Williams.  0.510490  0.489510
7                 Emma ran to David.  0.768516  0.231484
8    The princess ran to the prince.  0.785506  0.214494
9               Sarah ran to Robert.  0.676780  0.323220
10  Mrs. Williams ran to Mr. Taylor.  0.532824  0.467176
11                Emily ran to Paul.  0.843562  0.156438

In [23]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_3f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_3f,'He'))

P('subj-pron'|subj=female) =  0.6790350079536438
P('non-subj-pron'|subj=female) =  0.3209649994969368

In [24]:
np_average_subj_female_subj_pron['ran'] = compute_average(motion_noprompt_3f,'She')
np_average_subj_female_obj_pron['ran'] = compute_average(motion_noprompt_3f,'He')

#### male subject

In [25]:
motion_noprompt_3m

                            stimulus        He       She
12      Mr. Smith ran to Miss Smith.  0.469341  0.530659
13         The man ran to the woman.  0.576870  0.423130
14                 John ran to Mary.  0.641942  0.358058
15                 Bob ran to Alice.  0.514953  0.485047
16     The actor ran to the actress.  0.599295  0.400705
17          The boy ran to the girl.  0.570613  0.429387
18   Mr. William ran to Mrs. Taylor.  0.511061  0.488939
19                David ran to Emma.  0.462123  0.537877
20   The prince ran to the princess.  0.597204  0.402796
21              Robert ran to Sarah.  0.512371  0.487629
22  Mr. Taylor ran to Mrs. Williams.  0.501602  0.498398
23                Paul ran to Emily.  0.468874  0.531126

In [26]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_3m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_3m,'She'))

P('subj-pron'|subj=male) =  0.5355208615461985
P('non-subj-pron'|subj=male) =  0.4644791434208552

In [27]:
np_average_subj_male_subj_pron['ran'] = compute_average(motion_noprompt_3m,'He')
np_average_subj_male_obj_pron['ran'] = compute_average(motion_noprompt_3m,'She')

### verb: "swam"

In [28]:
motion_noprompt_4 = pd.read_csv("../results/gpt2/motion/no-prompt/4.csv")
motion_noprompt_4.head()

                         stimulus        He       She
0   Miss Smith swam to Mr. Smith.  0.435594  0.564406
1      The woman swam to the man.  0.326214  0.673786
2              Mary swam to John.  0.416920  0.583080
3              Alice swam to Bob.  0.207716  0.792283
4  The actress swam to the actor.  0.250074  0.749926

In [29]:
# female subject
motion_noprompt_4f = motion_noprompt_4[0:12]
motion_noprompt_4f = motion_noprompt_4f[["stimulus","She","He"]]
# male subject
motion_noprompt_4m = motion_noprompt_4[12:24]

#### female subject

In [30]:
motion_noprompt_4f

                             stimulus       She        He
0       Miss Smith swam to Mr. Smith.  0.564406  0.435594
1          The woman swam to the man.  0.673786  0.326214
2                  Mary swam to John.  0.583080  0.416920
3                  Alice swam to Bob.  0.792283  0.207716
4      The actress swam to the actor.  0.749926  0.250074
5           The girl swam to the boy.  0.690887  0.309113
6   Mrs. Taylor swam to Mr. Williams.  0.522762  0.477238
7                 Emma swam to David.  0.722083  0.277917
8    The princess swam to the prince.  0.684075  0.315925
9               Sarah swam to Robert.  0.623279  0.376721
10  Mrs. Williams swam to Mr. Taylor.  0.538897  0.461103
11                Emily swam to Paul.  0.742383  0.257617

In [31]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_4f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_4f,'He'))

P('subj-pron'|subj=female) =  0.6573206981023153
P('non-subj-pron'|subj=female) =  0.3426793043812116

In [32]:
np_average_subj_female_subj_pron['swam'] = compute_average(motion_noprompt_4f,'She')
np_average_subj_female_obj_pron['swam'] = compute_average(motion_noprompt_4f,'He')

#### male subject

In [33]:
motion_noprompt_4m

                             stimulus        He       She
12      Mr. Smith swam to Miss Smith.  0.474430  0.525570
13         The man swam to the woman.  0.617006  0.382994
14                 John swam to Mary.  0.695922  0.304078
15                 Bob swam to Alice.  0.623447  0.376553
16     The actor swam to the actress.  0.555362  0.444638
17          The boy swam to the girl.  0.610098  0.389902
18   Mr. William swam to Mrs. Taylor.  0.528125  0.471875
19                David swam to Emma.  0.556597  0.443403
20   The prince swam to the princess.  0.589483  0.410517
21              Robert swam to Sarah.  0.529443  0.470557
22  Mr. Taylor swam to Mrs. Williams.  0.517611  0.482389
23                Paul swam to Emily.  0.494950  0.505050

In [34]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_4m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_4m,'She'))

P('subj-pron'|subj=male) =  0.5660395920276642
P('non-subj-pron'|subj=male) =  0.4339604005217552

In [35]:
np_average_subj_male_subj_pron['swam'] = compute_average(motion_noprompt_4m,'He')
np_average_subj_male_obj_pron['swam'] = compute_average(motion_noprompt_4m,'She')

### verb: "drove"

In [36]:
motion_noprompt_5 = pd.read_csv("../results/gpt2/motion/no-prompt/5.csv")
motion_noprompt_5.head()

                          stimulus        He       She
0   Miss Smith drove to Mr. Smith.  0.430173  0.569827
1      The woman drove to the man.  0.295901  0.704099
2              Mary drove to John.  0.343620  0.656380
3              Alice drove to Bob.  0.233457  0.766543
4  The actress drove to the actor.  0.278885  0.721115

In [37]:
# female subject
motion_noprompt_5f = motion_noprompt_5[0:12]
motion_noprompt_5f = motion_noprompt_5f[["stimulus","She","He"]]
# male subject
motion_noprompt_5m = motion_noprompt_5[12:24]

#### female subject

In [38]:
motion_noprompt_5f

                              stimulus       She        He
0       Miss Smith drove to Mr. Smith.  0.569827  0.430173
1          The woman drove to the man.  0.704099  0.295901
2                  Mary drove to John.  0.656380  0.343620
3                  Alice drove to Bob.  0.766543  0.233457
4      The actress drove to the actor.  0.721115  0.278885
5           The girl drove to the boy.  0.683851  0.316149
6   Mrs. Taylor drove to Mr. Williams.  0.547103  0.452897
7                 Emma drove to David.  0.726585  0.273415
8    The princess drove to the prince.  0.727968  0.272032
9               Sarah drove to Robert.  0.671967  0.328033
10  Mrs. Williams drove to Mr. Taylor.  0.551936  0.448064
11                Emily drove to Paul.  0.781437  0.218563

In [39]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_5f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_5f,'He'))

P('subj-pron'|subj=female) =  0.6757341921329498
P('non-subj-pron'|subj=female) =  0.3242658128341039

In [40]:
np_average_subj_female_subj_pron['drove'] = compute_average(motion_noprompt_5f,'She')
np_average_subj_female_obj_pron['drove'] = compute_average(motion_noprompt_5f,'He')

#### male subject

In [41]:
motion_noprompt_5m

                              stimulus        He       She
12      Mr. Smith drove to Miss Smith.  0.504020  0.495980
13         The man drove to the woman.  0.588128  0.411872
14                 John drove to Mary.  0.717920  0.282080
15                 Bob drove to Alice.  0.627966  0.372034
16     The actor drove to the actress.  0.598358  0.401642
17          The boy drove to the girl.  0.574500  0.425500
18   Mr. William drove to Mrs. Taylor.  0.556571  0.443429
19                David drove to Emma.  0.666061  0.333939
20   The prince drove to the princess.  0.541924  0.458076
21              Robert drove to Sarah.  0.628751  0.371249
22  Mr. Taylor drove to Mrs. Williams.  0.553107  0.446893
23                Paul drove to Emily.  0.603415  0.396585

In [42]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_5m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_5m,'She'))

P('subj-pron'|subj=male) =  0.5967268546422323
P('non-subj-pron'|subj=male) =  0.4032731478412946

In [43]:
np_average_subj_male_subj_pron['drove'] = compute_average(motion_noprompt_5m,'He')
np_average_subj_male_obj_pron['drove'] = compute_average(motion_noprompt_5m,'She')

### verb: "jogged"

In [44]:
motion_noprompt_6 = pd.read_csv("../results/gpt2/motion/no-prompt/6.csv")
motion_noprompt_6.head()

                           stimulus        He       She
0   Miss Smith jogged to Mr. Smith.  0.426479  0.573521
1      The woman jogged to the man.  0.309020  0.690980
2              Mary jogged to John.  0.318516  0.681484
3              Alice jogged to Bob.  0.193620  0.806380
4  The actress jogged to the actor.  0.306846  0.693154

In [45]:
# female subject
motion_noprompt_6f = motion_noprompt_6[0:12]
motion_noprompt_6f = motion_noprompt_6f[["stimulus","She","He"]]
# male subject
motion_noprompt_6m = motion_noprompt_6[12:24]

#### female subject

In [46]:
motion_noprompt_6f

                               stimulus       She        He
0       Miss Smith jogged to Mr. Smith.  0.573521  0.426479
1          The woman jogged to the man.  0.690980  0.309020
2                  Mary jogged to John.  0.681484  0.318516
3                  Alice jogged to Bob.  0.806380  0.193620
4      The actress jogged to the actor.  0.693154  0.306846
5           The girl jogged to the boy.  0.712277  0.287723
6   Mrs. Taylor jogged to Mr. Williams.  0.526395  0.473605
7                 Emma jogged to David.  0.742650  0.257350
8    The princess jogged to the prince.  0.794279  0.205721
9               Sarah jogged to Robert.  0.687843  0.312157
10  Mrs. Williams jogged to Mr. Taylor.  0.551516  0.448484
11                Emily jogged to Paul.  0.810638  0.189362

In [47]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_6f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_6f,'He'))

P('subj-pron'|subj=female) =  0.6892599860827128
P('non-subj-pron'|subj=female) =  0.31074000895023346

In [48]:
np_average_subj_female_subj_pron['jogged'] = compute_average(motion_noprompt_6f,'She')
np_average_subj_female_obj_pron['jogged'] = compute_average(motion_noprompt_6f,'He')

#### male subject

In [49]:
motion_noprompt_6m

                               stimulus        He       She
12      Mr. Smith jogged to Miss Smith.  0.473748  0.526252
13         The man jogged to the woman.  0.605556  0.394444
14                 John jogged to Mary.  0.560614  0.439386
15                 Bob jogged to Alice.  0.489145  0.510855
16     The actor jogged to the actress.  0.493904  0.506096
17          The boy jogged to the girl.  0.587216  0.412783
18   Mr. William jogged to Mrs. Taylor.  0.521848  0.478152
19                David jogged to Emma.  0.447458  0.552542
20   The prince jogged to the princess.  0.608627  0.391373
21              Robert jogged to Sarah.  0.490855  0.509145
22  Mr. Taylor jogged to Mrs. Williams.  0.509781  0.490219
23                Paul jogged to Emily.  0.448035  0.551965

In [50]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_6m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_6m,'She'))

P('subj-pron'|subj=male) =  0.519732192158699
P('non-subj-pron'|subj=male) =  0.48026780784130096

In [51]:
np_average_subj_male_subj_pron['jogged'] = compute_average(motion_noprompt_6m,'He')
np_average_subj_male_obj_pron['jogged'] = compute_average(motion_noprompt_6m,'She')

### verb: "bolted"

In [52]:
motion_noprompt_7 = pd.read_csv("../results/gpt2/motion/no-prompt/7.csv")
motion_noprompt_7.head()

                           stimulus        He       She
0   Miss Smith bolted to Mr. Smith.  0.419165  0.580835
1      The woman bolted to the man.  0.321092  0.678908
2              Mary bolted to John.  0.343981  0.656019
3              Alice bolted to Bob.  0.217695  0.782305
4  The actress bolted to the actor.  0.297231  0.702769

In [53]:
# female subject
motion_noprompt_7f = motion_noprompt_7[0:12]
motion_noprompt_7f = motion_noprompt_7f[["stimulus","She","He"]]
# male subject
motion_noprompt_7m = motion_noprompt_7[12:24]

#### female subject

In [54]:
motion_noprompt_7f

                               stimulus       She        He
0       Miss Smith bolted to Mr. Smith.  0.580835  0.419165
1          The woman bolted to the man.  0.678908  0.321092
2                  Mary bolted to John.  0.656019  0.343981
3                  Alice bolted to Bob.  0.782305  0.217695
4      The actress bolted to the actor.  0.702769  0.297231
5           The girl bolted to the boy.  0.715400  0.284600
6   Mrs. Taylor bolted to Mr. Williams.  0.520355  0.479645
7                 Emma bolted to David.  0.699550  0.300450
8    The princess bolted to the prince.  0.734628  0.265371
9               Sarah bolted to Robert.  0.635790  0.364210
10  Mrs. Williams bolted to Mr. Taylor.  0.532739  0.467261
11                Emily bolted to Paul.  0.774424  0.225576

In [55]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_7f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_7f,'He'))

P('subj-pron'|subj=female) =  0.6678103655576706
P('non-subj-pron'|subj=female) =  0.3321896220246951

In [56]:
np_average_subj_female_subj_pron['bolted'] = compute_average(motion_noprompt_7f,'She')
np_average_subj_female_obj_pron['bolted'] = compute_average(motion_noprompt_7f,'He')

#### male subject

In [57]:
motion_noprompt_7m

                               stimulus        He       She
12      Mr. Smith bolted to Miss Smith.  0.537013  0.462987
13         The man bolted to the woman.  0.614065  0.385935
14                 John bolted to Mary.  0.644060  0.355940
15                 Bob bolted to Alice.  0.641296  0.358704
16     The actor bolted to the actress.  0.660754  0.339246
17          The boy bolted to the girl.  0.607615  0.392385
18   Mr. William bolted to Mrs. Taylor.  0.579779  0.420221
19                David bolted to Emma.  0.589369  0.410631
20   The prince bolted to the princess.  0.615399  0.384601
21              Robert bolted to Sarah.  0.593518  0.406482
22  Mr. Taylor bolted to Mrs. Williams.  0.578263  0.421737
23                Paul bolted to Emily.  0.534855  0.465145

In [58]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_7m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_7m,'She'))

P('subj-pron'|subj=male) =  0.5996656566858292
P('non-subj-pron'|subj=male) =  0.40033435573180515

In [59]:
np_average_subj_male_subj_pron['bolted'] = compute_average(motion_noprompt_7m,'He')
np_average_subj_male_obj_pron['bolted'] = compute_average(motion_noprompt_7m,'She')

### verb: "crawled"

In [60]:
motion_noprompt_8 = pd.read_csv("../results/gpt2/motion/no-prompt/8.csv")
motion_noprompt_8.head()

                            stimulus        He       She
0   Miss Smith crawled to Mr. Smith.  0.372176  0.627824
1      The woman crawled to the man.  0.264950  0.735050
2              Mary crawled to John.  0.237241  0.762759
3              Alice crawled to Bob.  0.138774  0.861226
4  The actress crawled to the actor.  0.212745  0.787255

In [61]:
# female subject
motion_noprompt_8f = motion_noprompt_8[0:12]
motion_noprompt_8f = motion_noprompt_8f[["stimulus","She","He"]]
# male subject
motion_noprompt_8m = motion_noprompt_8[12:24]

In [62]:
motion_noprompt_8f

                                stimulus       She        He
0       Miss Smith crawled to Mr. Smith.  0.627824  0.372176
1          The woman crawled to the man.  0.735050  0.264950
2                  Mary crawled to John.  0.762759  0.237241
3                  Alice crawled to Bob.  0.861226  0.138774
4      The actress crawled to the actor.  0.787255  0.212745
5           The girl crawled to the boy.  0.781264  0.218736
6   Mrs. Taylor crawled to Mr. Williams.  0.582291  0.417709
7                 Emma crawled to David.  0.807994  0.192006
8    The princess crawled to the prince.  0.824318  0.175682
9               Sarah crawled to Robert.  0.730278  0.269722
10  Mrs. Williams crawled to Mr. Taylor.  0.600055  0.399945
11                Emily crawled to Paul.  0.846156  0.153844

In [63]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_8f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_8f,'He'))

P('subj-pron'|subj=female) =  0.7455391635497411
P('non-subj-pron'|subj=female) =  0.25446082775791484

In [64]:
np_average_subj_female_subj_pron['crawled'] = compute_average(motion_noprompt_8f,'She')
np_average_subj_female_obj_pron['crawled'] = compute_average(motion_noprompt_8f,'He')

#### male subject

In [65]:
motion_noprompt_8m

                                stimulus        He       She
12      Mr. Smith crawled to Miss Smith.  0.518824  0.481176
13         The man crawled to the woman.  0.658908  0.341092
14                 John crawled to Mary.  0.650751  0.349249
15                 Bob crawled to Alice.  0.592640  0.407360
16     The actor crawled to the actress.  0.641630  0.358370
17          The boy crawled to the girl.  0.623172  0.376828
18   Mr. William crawled to Mrs. Taylor.  0.573950  0.426050
19                David crawled to Emma.  0.513657  0.486343
20   The prince crawled to the princess.  0.694616  0.305384
21              Robert crawled to Sarah.  0.561770  0.438230
22  Mr. Taylor crawled to Mrs. Williams.  0.540389  0.459611
23                Paul crawled to Emily.  0.535755  0.464245

In [66]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_8m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_8m,'She'))

P('subj-pron'|subj=male) =  0.592171773314476
P('non-subj-pron'|subj=male) =  0.4078282192349434

In [67]:
np_average_subj_male_subj_pron['crawled'] = compute_average(motion_noprompt_8m,'He')
np_average_subj_male_obj_pron['crawled'] = compute_average(motion_noprompt_8m,'She')

### verb: "limped"

In [68]:
motion_noprompt_9 = pd.read_csv("../results/gpt2/motion/no-prompt/9.csv")
motion_noprompt_9.head()

                           stimulus        He       She
0   Miss Smith limped to Mr. Smith.  0.419615  0.580385
1      The woman limped to the man.  0.296960  0.703040
2              Mary limped to John.  0.313425  0.686574
3              Alice limped to Bob.  0.227858  0.772142
4  The actress limped to the actor.  0.285602  0.714398

In [69]:
# female subject
motion_noprompt_9f = motion_noprompt_9[0:12]
motion_noprompt_9f = motion_noprompt_9f[["stimulus","She","He"]]
# male subject
motion_noprompt_9m = motion_noprompt_9[12:24]

#### female subject

In [70]:
motion_noprompt_9f

                               stimulus       She        He
0       Miss Smith limped to Mr. Smith.  0.580385  0.419615
1          The woman limped to the man.  0.703040  0.296960
2                  Mary limped to John.  0.686574  0.313425
3                  Alice limped to Bob.  0.772142  0.227858
4      The actress limped to the actor.  0.714398  0.285602
5           The girl limped to the boy.  0.722789  0.277211
6   Mrs. Taylor limped to Mr. Williams.  0.535868  0.464133
7                 Emma limped to David.  0.734623  0.265376
8    The princess limped to the prince.  0.790342  0.209658
9               Sarah limped to Robert.  0.658352  0.341648
10  Mrs. Williams limped to Mr. Taylor.  0.538364  0.461636
11                Emily limped to Paul.  0.783915  0.216085

In [71]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_9f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_9f,'He'))

P('subj-pron'|subj=female) =  0.6850659002860388
P('non-subj-pron'|subj=female) =  0.3149340823292732

In [72]:
np_average_subj_female_subj_pron['limped'] = compute_average(motion_noprompt_9f,'She')
np_average_subj_female_obj_pron['limped'] = compute_average(motion_noprompt_9f,'He')

#### male subject

In [73]:
motion_noprompt_9m

                               stimulus        He       She
12      Mr. Smith limped to Miss Smith.  0.491207  0.508793
13         The man limped to the woman.  0.616017  0.383983
14                 John limped to Mary.  0.617971  0.382029
15                 Bob limped to Alice.  0.534818  0.465182
16     The actor limped to the actress.  0.569191  0.430809
17          The boy limped to the girl.  0.602822  0.397178
18   Mr. William limped to Mrs. Taylor.  0.581207  0.418793
19                David limped to Emma.  0.479212  0.520788
20   The prince limped to the princess.  0.641577  0.358423
21              Robert limped to Sarah.  0.583165  0.416835
22  Mr. Taylor limped to Mrs. Williams.  0.563546  0.436454
23                Paul limped to Emily.  0.457501  0.542499

In [74]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_9m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_9m,'She'))

P('subj-pron'|subj=male) =  0.561519630253315
P('non-subj-pron'|subj=male) =  0.43848035981257755

In [75]:
np_average_subj_male_subj_pron['limped'] = compute_average(motion_noprompt_9m,'He')
np_average_subj_male_obj_pron['limped'] = compute_average(motion_noprompt_9m,'She')

### verb: "lumbered"

In [76]:
motion_noprompt_10 = pd.read_csv("../results/gpt2/motion/no-prompt/10.csv")
motion_noprompt_10.head()

                             stimulus        He       She
0   Miss Smith lumbered to Mr. Smith.  0.449319  0.550681
1      The woman lumbered to the man.  0.291005  0.708995
2              Mary lumbered to John.  0.393364  0.606636
3              Alice lumbered to Bob.  0.244040  0.755960
4  The actress lumbered to the actor.  0.280576  0.719424

In [77]:
# female subject
motion_noprompt_10f = motion_noprompt_10[0:12]
motion_noprompt_10f = motion_noprompt_10f[["stimulus","She","He"]]
# male subject
motion_noprompt_10m = motion_noprompt_10[12:24]

### female subject

In [78]:
motion_noprompt_10f

                                 stimulus       She        He
0       Miss Smith lumbered to Mr. Smith.  0.550681  0.449319
1          The woman lumbered to the man.  0.708995  0.291005
2                  Mary lumbered to John.  0.606636  0.393364
3                  Alice lumbered to Bob.  0.755960  0.244040
4      The actress lumbered to the actor.  0.719424  0.280576
5           The girl lumbered to the boy.  0.715301  0.284699
6   Mrs. Taylor lumbered to Mr. Williams.  0.525995  0.474005
7                 Emma lumbered to David.  0.690608  0.309392
8    The princess lumbered to the prince.  0.744785  0.255215
9               Sarah lumbered to Robert.  0.644039  0.355961
10  Mrs. Williams lumbered to Mr. Taylor.  0.543863  0.456137
11                Emily lumbered to Paul.  0.766880  0.233120

In [79]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_10f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_10f,'He'))

P('subj-pron'|subj=female) =  0.6644304792086283
P('non-subj-pron'|subj=female) =  0.3355695270001888

In [80]:
np_average_subj_female_subj_pron['lumbered'] = compute_average(motion_noprompt_10f,'She')
np_average_subj_female_obj_pron['lumbered'] = compute_average(motion_noprompt_10f,'He')

#### male subject

In [81]:
motion_noprompt_10m

                                 stimulus        He       She
12      Mr. Smith lumbered to Miss Smith.  0.509633  0.490367
13         The man lumbered to the woman.  0.617286  0.382714
14                 John lumbered to Mary.  0.673028  0.326972
15                 Bob lumbered to Alice.  0.588043  0.411957
16     The actor lumbered to the actress.  0.519222  0.480778
17          The boy lumbered to the girl.  0.600221  0.399779
18   Mr. William lumbered to Mrs. Taylor.  0.560868  0.439132
19                David lumbered to Emma.  0.490939  0.509061
20   The prince lumbered to the princess.  0.592967  0.407033
21              Robert lumbered to Sarah.  0.556607  0.443393
22  Mr. Taylor lumbered to Mrs. Williams.  0.546843  0.453157
23                Paul lumbered to Emily.  0.484736  0.515264

In [82]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_10m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_10m,'She'))

P('subj-pron'|subj=male) =  0.5616994202136993
P('non-subj-pron'|subj=male) =  0.43830057978630066

In [83]:
np_average_subj_male_subj_pron['lumbered'] = compute_average(motion_noprompt_10m,'He')
np_average_subj_male_obj_pron['lumbered'] = compute_average(motion_noprompt_10m,'She')

### verb: "marched"

In [84]:
motion_noprompt_11 = pd.read_csv("../results/gpt2/motion/no-prompt/11.csv")
motion_noprompt_11.head()

                            stimulus        He       She
0   Miss Smith marched to Mr. Smith.  0.450737  0.549263
1      The woman marched to the man.  0.251118  0.748882
2              Mary marched to John.  0.397494  0.602506
3              Alice marched to Bob.  0.180685  0.819315
4  The actress marched to the actor.  0.234275  0.765725

In [85]:
# female subject
motion_noprompt_11f = motion_noprompt_11[0:12]
motion_noprompt_11f = motion_noprompt_11f[["stimulus","She","He"]]
# male subject
motion_noprompt_11m = motion_noprompt_11[12:24]

#### female subject

In [86]:
motion_noprompt_11f

                                stimulus       She        He
0       Miss Smith marched to Mr. Smith.  0.549263  0.450737
1          The woman marched to the man.  0.748882  0.251118
2                  Mary marched to John.  0.602506  0.397494
3                  Alice marched to Bob.  0.819315  0.180685
4      The actress marched to the actor.  0.765725  0.234275
5           The girl marched to the boy.  0.737692  0.262308
6   Mrs. Taylor marched to Mr. Williams.  0.510150  0.489850
7                 Emma marched to David.  0.717599  0.282401
8    The princess marched to the prince.  0.737263  0.262737
9               Sarah marched to Robert.  0.641164  0.358836
10  Mrs. Williams marched to Mr. Taylor.  0.526365  0.473635
11                Emily marched to Paul.  0.790546  0.209454

In [87]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_11f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_11f,'He'))

P('subj-pron'|subj=female) =  0.6788724809885025
P('non-subj-pron'|subj=female) =  0.3211275041103363

In [88]:
np_average_subj_female_subj_pron['marched'] = compute_average(motion_noprompt_11f,'She')
np_average_subj_female_obj_pron['marched'] = compute_average(motion_noprompt_11f,'He')

#### male subject

In [89]:
motion_noprompt_11m

                                stimulus        He       She
12      Mr. Smith marched to Miss Smith.  0.475042  0.524958
13         The man marched to the woman.  0.646018  0.353982
14                 John marched to Mary.  0.713964  0.286036
15                 Bob marched to Alice.  0.591135  0.408865
16     The actor marched to the actress.  0.623115  0.376885
17          The boy marched to the girl.  0.632456  0.367544
18   Mr. William marched to Mrs. Taylor.  0.544215  0.455785
19                David marched to Emma.  0.558961  0.441039
20   The prince marched to the princess.  0.551120  0.448880
21              Robert marched to Sarah.  0.592597  0.407403
22  Mr. Taylor marched to Mrs. Williams.  0.521286  0.478714
23                Paul marched to Emily.  0.554153  0.445847

In [90]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_11m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_11m,'She'))

P('subj-pron'|subj=male) =  0.5836717958251635
P('non-subj-pron'|subj=male) =  0.41632820665836334

In [91]:
np_average_subj_male_subj_pron['marched'] = compute_average(motion_noprompt_11m,'He')
np_average_subj_male_obj_pron['marched'] = compute_average(motion_noprompt_11m,'She')

### verb: "meandered"

In [92]:
motion_noprompt_12 = pd.read_csv("../results/gpt2/motion/no-prompt/12.csv")
motion_noprompt_12.head()

                              stimulus        He       She
0   Miss Smith meandered to Mr. Smith.  0.459786  0.540214
1      The woman meandered to the man.  0.254020  0.745980
2              Mary meandered to John.  0.421667  0.578333
3              Alice meandered to Bob.  0.318151  0.681849
4  The actress meandered to the actor.  0.209213  0.790787

In [93]:
# female subject
motion_noprompt_12f = motion_noprompt_12[0:12]
motion_noprompt_12f = motion_noprompt_12f[["stimulus","She","He"]]
# male subject
motion_noprompt_12m = motion_noprompt_12[12:24]

#### female subject

In [94]:
motion_noprompt_12f

                                  stimulus       She        He
0       Miss Smith meandered to Mr. Smith.  0.540214  0.459786
1          The woman meandered to the man.  0.745980  0.254020
2                  Mary meandered to John.  0.578333  0.421667
3                  Alice meandered to Bob.  0.681849  0.318151
4      The actress meandered to the actor.  0.790787  0.209213
5           The girl meandered to the boy.  0.725051  0.274949
6   Mrs. Taylor meandered to Mr. Williams.  0.551191  0.448809
7                 Emma meandered to David.  0.647464  0.352536
8    The princess meandered to the prince.  0.796560  0.203440
9               Sarah meandered to Robert.  0.591814  0.408186
10  Mrs. Williams meandered to Mr. Taylor.  0.565612  0.434388
11                Emily meandered to Paul.  0.710373  0.289627

In [95]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_12f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_12f,'He'))

P('subj-pron'|subj=female) =  0.6604356070359548
P('non-subj-pron'|subj=female) =  0.33956438551346463

In [96]:
np_average_subj_female_subj_pron['meandered'] = compute_average(motion_noprompt_12f,'She')
np_average_subj_female_obj_pron['meandered'] = compute_average(motion_noprompt_12f,'He')

#### male subject

In [97]:
motion_noprompt_12m

                                  stimulus        He       She
12      Mr. Smith meandered to Miss Smith.  0.517597  0.482403
13         The man meandered to the woman.  0.668846  0.331154
14                 John meandered to Mary.  0.699865  0.300135
15                 Bob meandered to Alice.  0.651389  0.348611
16     The actor meandered to the actress.  0.646378  0.353622
17          The boy meandered to the girl.  0.631125  0.368875
18   Mr. William meandered to Mrs. Taylor.  0.575637  0.424363
19                David meandered to Emma.  0.554581  0.445419
20   The prince meandered to the princess.  0.633824  0.366176
21              Robert meandered to Sarah.  0.554739  0.445261
22  Mr. Taylor meandered to Mrs. Williams.  0.612186  0.387814
23                Paul meandered to Emily.  0.500421  0.499579

In [98]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_12m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_12m,'She'))

P('subj-pron'|subj=male) =  0.6038822084665298
P('non-subj-pron'|subj=male) =  0.39611778904994327

In [99]:
np_average_subj_male_subj_pron['meandered'] = compute_average(motion_noprompt_12m,'He')
np_average_subj_male_obj_pron['meandered'] = compute_average(motion_noprompt_12m,'She')

### verb: "pranced"

In [100]:
motion_noprompt_13 = pd.read_csv("../results/gpt2/motion/no-prompt/13.csv")
motion_noprompt_13.head()

                            stimulus        He       She
0   Miss Smith pranced to Mr. Smith.  0.402967  0.597033
1      The woman pranced to the man.  0.289511  0.710489
2              Mary pranced to John.  0.409136  0.590864
3              Alice pranced to Bob.  0.206926  0.793074
4  The actress pranced to the actor.  0.213340  0.786660

In [101]:
# female subject
motion_noprompt_13f = motion_noprompt_13[0:12]
motion_noprompt_13f = motion_noprompt_13f[["stimulus","She","He"]]
# male subject
motion_noprompt_13m = motion_noprompt_13[12:24]

#### female subject

In [102]:
motion_noprompt_13f

                                stimulus       She        He
0       Miss Smith pranced to Mr. Smith.  0.597033  0.402967
1          The woman pranced to the man.  0.710489  0.289511
2                  Mary pranced to John.  0.590864  0.409136
3                  Alice pranced to Bob.  0.793074  0.206926
4      The actress pranced to the actor.  0.786660  0.213340
5           The girl pranced to the boy.  0.747646  0.252354
6   Mrs. Taylor pranced to Mr. Williams.  0.581530  0.418470
7                 Emma pranced to David.  0.724194  0.275806
8    The princess pranced to the prince.  0.714143  0.285857
9               Sarah pranced to Robert.  0.665792  0.334208
10  Mrs. Williams pranced to Mr. Taylor.  0.604375  0.395625
11                Emily pranced to Paul.  0.789721  0.210279

In [103]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_13f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_13f,'He'))

P('subj-pron'|subj=female) =  0.6921267559130987
P('non-subj-pron'|subj=female) =  0.30787326768040657

In [104]:
np_average_subj_female_subj_pron['pranced'] = compute_average(motion_noprompt_13f,'She')
np_average_subj_female_obj_pron['pranced'] = compute_average(motion_noprompt_13f,'He')

#### male subject

In [105]:
motion_noprompt_13m

                                stimulus        He       She
12      Mr. Smith pranced to Miss Smith.  0.476319  0.523681
13         The man pranced to the woman.  0.619309  0.380691
14                 John pranced to Mary.  0.629192  0.370808
15                 Bob pranced to Alice.  0.549437  0.450563
16     The actor pranced to the actress.  0.517728  0.482272
17          The boy pranced to the girl.  0.601445  0.398555
18   Mr. William pranced to Mrs. Taylor.  0.536572  0.463428
19                David pranced to Emma.  0.469907  0.530093
20   The prince pranced to the princess.  0.557265  0.442735
21              Robert pranced to Sarah.  0.505128  0.494872
22  Mr. Taylor pranced to Mrs. Williams.  0.533760  0.466240
23                Paul pranced to Emily.  0.437414  0.562586

In [106]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_13m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_13m,'She'))

P('subj-pron'|subj=male) =  0.5361229653159777
P('non-subj-pron'|subj=male) =  0.4638770172993342

In [107]:
np_average_subj_male_subj_pron['pranced'] = compute_average(motion_noprompt_13m,'He')
np_average_subj_male_obj_pron['pranced'] = compute_average(motion_noprompt_13m,'She')

### verb: "raced"

In [108]:
motion_noprompt_14 = pd.read_csv("../results/gpt2/motion/no-prompt/14.csv")
motion_noprompt_14.head()

                          stimulus        He       She
0   Miss Smith raced to Mr. Smith.  0.334029  0.665971
1      The woman raced to the man.  0.207316  0.792684
2              Mary raced to John.  0.302448  0.697552
3              Alice raced to Bob.  0.145238  0.854762
4  The actress raced to the actor.  0.201186  0.798814

In [109]:
# female subject
motion_noprompt_14f = motion_noprompt_14[0:12]
motion_noprompt_14f = motion_noprompt_14f[["stimulus","She","He"]]
# male subject
motion_noprompt_14m = motion_noprompt_14[12:24]

#### female subject

In [110]:
motion_noprompt_14f

                              stimulus       She        He
0       Miss Smith raced to Mr. Smith.  0.665971  0.334029
1          The woman raced to the man.  0.792684  0.207316
2                  Mary raced to John.  0.697552  0.302448
3                  Alice raced to Bob.  0.854762  0.145238
4      The actress raced to the actor.  0.798814  0.201186
5           The girl raced to the boy.  0.799574  0.200425
6   Mrs. Taylor raced to Mr. Williams.  0.564758  0.435242
7                 Emma raced to David.  0.801380  0.198620
8    The princess raced to the prince.  0.839907  0.160093
9               Sarah raced to Robert.  0.701529  0.298471
10  Mrs. Williams raced to Mr. Taylor.  0.597501  0.402499
11                Emily raced to Paul.  0.864053  0.135947

In [111]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_14f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_14f,'He'))

P('subj-pron'|subj=female) =  0.7482070873181025
P('non-subj-pron'|subj=female) =  0.25179290771484375

In [112]:
np_average_subj_female_subj_pron['raced'] = compute_average(motion_noprompt_14f,'She')
np_average_subj_female_obj_pron['raced'] = compute_average(motion_noprompt_14f,'He')

#### male subject

In [113]:
motion_noprompt_14m

                              stimulus        He       She
12      Mr. Smith raced to Miss Smith.  0.535297  0.464703
13         The man raced to the woman.  0.723087  0.276913
14                 John raced to Mary.  0.662134  0.337866
15                 Bob raced to Alice.  0.609105  0.390895
16     The actor raced to the actress.  0.679959  0.320041
17          The boy raced to the girl.  0.669878  0.330122
18   Mr. William raced to Mrs. Taylor.  0.620288  0.379712
19                David raced to Emma.  0.540733  0.459267
20   The prince raced to the princess.  0.688181  0.311819
21              Robert raced to Sarah.  0.550707  0.449293
22  Mr. Taylor raced to Mrs. Williams.  0.592927  0.407073
23                Paul raced to Emily.  0.483626  0.516374

In [114]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_14m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_14m,'She'))

P('subj-pron'|subj=male) =  0.6129934067527453
P('non-subj-pron'|subj=male) =  0.38700659324725467

In [115]:
np_average_subj_male_subj_pron['raced'] = compute_average(motion_noprompt_14m,'He')
np_average_subj_male_obj_pron['raced'] = compute_average(motion_noprompt_14m,'She')

### verb: "staggered"

In [116]:
motion_noprompt_15 = pd.read_csv("../results/gpt2/motion/no-prompt/15.csv")
motion_noprompt_15.head()

                              stimulus        He       She
0   Miss Smith staggered to Mr. Smith.  0.372781  0.627219
1      The woman staggered to the man.  0.288790  0.711210
2              Mary staggered to John.  0.326814  0.673186
3              Alice staggered to Bob.  0.291181  0.708819
4  The actress staggered to the actor.  0.303987  0.696013

In [117]:
# female subject
motion_noprompt_15f = motion_noprompt_15[0:12]
motion_noprompt_15f = motion_noprompt_15f[["stimulus","She","He"]]
# male subject
motion_noprompt_15m = motion_noprompt_15[12:24]

In [118]:
motion_noprompt_15f

                                  stimulus       She        He
0       Miss Smith staggered to Mr. Smith.  0.627219  0.372781
1          The woman staggered to the man.  0.711210  0.288790
2                  Mary staggered to John.  0.673186  0.326814
3                  Alice staggered to Bob.  0.708819  0.291181
4      The actress staggered to the actor.  0.696013  0.303987
5           The girl staggered to the boy.  0.731525  0.268475
6   Mrs. Taylor staggered to Mr. Williams.  0.525791  0.474209
7                 Emma staggered to David.  0.724480  0.275520
8    The princess staggered to the prince.  0.825618  0.174382
9               Sarah staggered to Robert.  0.658295  0.341705
10  Mrs. Williams staggered to Mr. Taylor.  0.543836  0.456164
11                Emily staggered to Paul.  0.797983  0.202017

In [119]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_15f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_15f,'He'))

P('subj-pron'|subj=female) =  0.6853313595056534
P('non-subj-pron'|subj=female) =  0.31466863428552944

In [120]:
np_average_subj_female_subj_pron['staggered'] = compute_average(motion_noprompt_15f,'She')
np_average_subj_female_obj_pron['staggered'] = compute_average(motion_noprompt_15f,'He')

#### male subject

In [121]:
motion_noprompt_15m

                                  stimulus        He       She
12      Mr. Smith staggered to Miss Smith.  0.519490  0.480510
13         The man staggered to the woman.  0.590847  0.409153
14                 John staggered to Mary.  0.664188  0.335812
15                 Bob staggered to Alice.  0.505641  0.494359
16     The actor staggered to the actress.  0.526401  0.473599
17          The boy staggered to the girl.  0.575401  0.424599
18   Mr. William staggered to Mrs. Taylor.  0.581994  0.418006
19                David staggered to Emma.  0.440602  0.559398
20   The prince staggered to the princess.  0.598826  0.401174
21              Robert staggered to Sarah.  0.534469  0.465531
22  Mr. Taylor staggered to Mrs. Williams.  0.560197  0.439803
23                Paul staggered to Emily.  0.521498  0.478502

In [122]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_15m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_15m,'She'))

P('subj-pron'|subj=male) =  0.5516294091939926
P('non-subj-pron'|subj=male) =  0.4483705833554268

In [123]:
np_average_subj_male_subj_pron['staggered'] = compute_average(motion_noprompt_15m,'He')
np_average_subj_male_obj_pron['staggered'] = compute_average(motion_noprompt_15m,'She')

### verb: "strolled"

In [124]:
motion_noprompt_16 = pd.read_csv("../results/gpt2/motion/no-prompt/16.csv")
motion_noprompt_16.head()

                             stimulus        He       She
0   Miss Smith strolled to Mr. Smith.  0.403006  0.596994
1      The woman strolled to the man.  0.276733  0.723267
2              Mary strolled to John.  0.318666  0.681333
3              Alice strolled to Bob.  0.164830  0.835170
4  The actress strolled to the actor.  0.278745  0.721255

In [125]:
# female subject
motion_noprompt_16f = motion_noprompt_16[0:12]
motion_noprompt_16f = motion_noprompt_16f[["stimulus","She","He"]]
# male subject
motion_noprompt_16m = motion_noprompt_16[12:24]

#### female subject

In [126]:
motion_noprompt_16f

                                 stimulus       She        He
0       Miss Smith strolled to Mr. Smith.  0.596994  0.403006
1          The woman strolled to the man.  0.723267  0.276733
2                  Mary strolled to John.  0.681333  0.318666
3                  Alice strolled to Bob.  0.835170  0.164830
4      The actress strolled to the actor.  0.721255  0.278745
5           The girl strolled to the boy.  0.722309  0.277691
6   Mrs. Taylor strolled to Mr. Williams.  0.569913  0.430087
7                 Emma strolled to David.  0.750293  0.249707
8    The princess strolled to the prince.  0.815783  0.184217
9               Sarah strolled to Robert.  0.686752  0.313248
10  Mrs. Williams strolled to Mr. Taylor.  0.591055  0.408945
11                Emily strolled to Paul.  0.814399  0.185601

In [127]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_16f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_16f,'He'))

P('subj-pron'|subj=female) =  0.7090437362591425
P('non-subj-pron'|subj=female) =  0.2909562736749649

In [128]:
np_average_subj_female_subj_pron['strolled'] = compute_average(motion_noprompt_16f,'She')
np_average_subj_female_obj_pron['strolled'] = compute_average(motion_noprompt_16f,'He')

#### male subject

In [129]:
motion_noprompt_16m

                                 stimulus        He       She
12      Mr. Smith strolled to Miss Smith.  0.495392  0.504608
13         The man strolled to the woman.  0.616203  0.383797
14                 John strolled to Mary.  0.591221  0.408779
15                 Bob strolled to Alice.  0.518520  0.481480
16     The actor strolled to the actress.  0.539409  0.460591
17          The boy strolled to the girl.  0.578286  0.421714
18   Mr. William strolled to Mrs. Taylor.  0.571367  0.428633
19                David strolled to Emma.  0.467209  0.532791
20   The prince strolled to the princess.  0.587643  0.412357
21              Robert strolled to Sarah.  0.521805  0.478195
22  Mr. Taylor strolled to Mrs. Williams.  0.549677  0.450323
23                Paul strolled to Emily.  0.462246  0.537754

In [130]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_16m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_16m,'She'))

P('subj-pron'|subj=male) =  0.5415815313657125
P('non-subj-pron'|subj=male) =  0.45841846118370694

In [131]:
np_average_subj_male_subj_pron['strolled'] = compute_average(motion_noprompt_16m,'He')
np_average_subj_male_obj_pron['strolled'] = compute_average(motion_noprompt_16m,'She')

#### verb: "trotted"

In [132]:
motion_noprompt_17 = pd.read_csv("../results/gpt2/motion/no-prompt/17.csv")
motion_noprompt_17.head()

                            stimulus        He       She
0   Miss Smith trotted to Mr. Smith.  0.406972  0.593028
1      The woman trotted to the man.  0.306621  0.693379
2              Mary trotted to John.  0.253202  0.746798
3              Alice trotted to Bob.  0.156410  0.843590
4  The actress trotted to the actor.  0.262775  0.737225

In [133]:
# female subject
motion_noprompt_17f = motion_noprompt_17[0:12]
motion_noprompt_17f = motion_noprompt_17f[["stimulus","She","He"]]
# male subject
motion_noprompt_17m = motion_noprompt_17[12:24]

#### female subject

In [134]:
motion_noprompt_17f

                                stimulus       She        He
0       Miss Smith trotted to Mr. Smith.  0.593028  0.406972
1          The woman trotted to the man.  0.693379  0.306621
2                  Mary trotted to John.  0.746798  0.253202
3                  Alice trotted to Bob.  0.843590  0.156410
4      The actress trotted to the actor.  0.737225  0.262775
5           The girl trotted to the boy.  0.731478  0.268522
6   Mrs. Taylor trotted to Mr. Williams.  0.535544  0.464456
7                 Emma trotted to David.  0.782157  0.217843
8    The princess trotted to the prince.  0.780635  0.219365
9               Sarah trotted to Robert.  0.707503  0.292497
10  Mrs. Williams trotted to Mr. Taylor.  0.569810  0.430190
11                Emily trotted to Paul.  0.846043  0.153957

In [135]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_17f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_17f,'He'))

P('subj-pron'|subj=female) =  0.7139325439929962
P('non-subj-pron'|subj=female) =  0.2860674684246381

In [136]:
np_average_subj_female_subj_pron['trotted'] = compute_average(motion_noprompt_17f,'She')
np_average_subj_female_obj_pron['trotted'] = compute_average(motion_noprompt_17f,'He')

#### male subject

In [137]:
motion_noprompt_17m

                                stimulus        He       She
12      Mr. Smith trotted to Miss Smith.  0.527037  0.472963
13         The man trotted to the woman.  0.621909  0.378091
14                 John trotted to Mary.  0.671968  0.328032
15                 Bob trotted to Alice.  0.596591  0.403409
16     The actor trotted to the actress.  0.548982  0.451018
17          The boy trotted to the girl.  0.595099  0.404901
18   Mr. William trotted to Mrs. Taylor.  0.584411  0.415589
19                David trotted to Emma.  0.503513  0.496487
20   The prince trotted to the princess.  0.587801  0.412199
21              Robert trotted to Sarah.  0.599278  0.400722
22  Mr. Taylor trotted to Mrs. Williams.  0.571979  0.428021
23                Paul trotted to Emily.  0.537215  0.462785

In [138]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_17m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_17m,'She'))

P('subj-pron'|subj=male) =  0.5788151373465856
P('non-subj-pron'|subj=male) =  0.42118485768636066

In [139]:
np_average_subj_male_subj_pron['trotted'] = compute_average(motion_noprompt_17m,'He')
np_average_subj_male_obj_pron['trotted'] = compute_average(motion_noprompt_17m,'She')

### verb: "wandered"

In [140]:
motion_noprompt_18 = pd.read_csv("../results/gpt2/motion/no-prompt/18.csv")
motion_noprompt_18.head()

                             stimulus        He       She
0   Miss Smith wandered to Mr. Smith.  0.459571  0.540429
1      The woman wandered to the man.  0.337746  0.662254
2              Mary wandered to John.  0.374118  0.625882
3              Alice wandered to Bob.  0.237612  0.762389
4  The actress wandered to the actor.  0.306026  0.693974

In [141]:
# female subject
motion_noprompt_18f = motion_noprompt_18[0:12]
motion_noprompt_18f = motion_noprompt_18f[["stimulus","She","He"]]
# male subject
motion_noprompt_18m = motion_noprompt_18[12:24]

#### female subject

In [142]:
motion_noprompt_18f

                                 stimulus       She        He
0       Miss Smith wandered to Mr. Smith.  0.540429  0.459571
1          The woman wandered to the man.  0.662254  0.337746
2                  Mary wandered to John.  0.625882  0.374118
3                  Alice wandered to Bob.  0.762389  0.237612
4      The actress wandered to the actor.  0.693974  0.306026
5           The girl wandered to the boy.  0.699523  0.300477
6   Mrs. Taylor wandered to Mr. Williams.  0.519163  0.480837
7                 Emma wandered to David.  0.672909  0.327091
8    The princess wandered to the prince.  0.699627  0.300373
9               Sarah wandered to Robert.  0.625549  0.374451
10  Mrs. Williams wandered to Mr. Taylor.  0.527556  0.472444
11                Emily wandered to Paul.  0.757075  0.242925

In [143]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_noprompt_18f,'She'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_noprompt_18f,'He'))

P('subj-pron'|subj=female) =  0.6488608121871948
P('non-subj-pron'|subj=female) =  0.3511392039557298

In [144]:
np_average_subj_female_subj_pron['wandered'] = compute_average(motion_noprompt_18f,'She')
np_average_subj_female_obj_pron['wandered'] = compute_average(motion_noprompt_18f,'He')

#### male subject

In [145]:
motion_noprompt_18m

                                 stimulus        He       She
12      Mr. Smith wandered to Miss Smith.  0.491722  0.508278
13         The man wandered to the woman.  0.565310  0.434690
14                 John wandered to Mary.  0.648090  0.351910
15                 Bob wandered to Alice.  0.508331  0.491669
16     The actor wandered to the actress.  0.592661  0.407339
17          The boy wandered to the girl.  0.577522  0.422478
18   Mr. William wandered to Mrs. Taylor.  0.566469  0.433531
19                David wandered to Emma.  0.525594  0.474406
20   The prince wandered to the princess.  0.541155  0.458845
21              Robert wandered to Sarah.  0.536529  0.463471
22  Mr. Taylor wandered to Mrs. Williams.  0.548473  0.451527
23                Paul wandered to Emily.  0.495300  0.504700

In [146]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_noprompt_18m,'He'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_noprompt_18m,'She'))

P('subj-pron'|subj=male) =  0.5497630933920542
P('non-subj-pron'|subj=male) =  0.4502369041244189

In [147]:
np_average_subj_male_subj_pron['wandered'] = compute_average(motion_noprompt_18m,'He')
np_average_subj_male_obj_pron['wandered'] = compute_average(motion_noprompt_18m,'She')

## Summary of Results

In [148]:
np_results_fsubj_subjpron = pd.DataFrame(list(np_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
np_results_fsubj_objpron = pd.DataFrame(list(np_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
np_results_fsubj = np_results_fsubj_subjpron.merge(np_results_fsubj_objpron)
np_results_fsubj

         verb  subj_ref_female_subj  obj_ref_female_subj
0        flew              0.693261             0.306739
1      walked              0.715251             0.284749
2         ran              0.679035             0.320965
3        swam              0.657321             0.342679
4       drove              0.675734             0.324266
5      jogged              0.689260             0.310740
6      bolted              0.667810             0.332190
7     crawled              0.745539             0.254461
8      limped              0.685066             0.314934
9    lumbered              0.664430             0.335570
10    marched              0.678872             0.321128
11  meandered              0.660436             0.339564
12    pranced              0.692127             0.307873
13      raced              0.748207             0.251793
14  staggered              0.685331             0.314669
15   strolled              0.709044             0.290956
16    trotted              0.713933             0.286067
17   wandered              0.648861             0.351139

In [149]:
np_results_msubj_subjpron = pd.DataFrame(list(np_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
np_results_msubj_objpron = pd.DataFrame(list(np_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
np_results_msubj = np_results_msubj_subjpron.merge(np_results_msubj_objpron)
np_results_msubj

         verb  subj_ref_male_subj  obj_ref_male_subj
0        flew            0.652757           0.347243
1      walked            0.561207           0.438793
2         ran            0.535521           0.464479
3        swam            0.566040           0.433960
4       drove            0.596727           0.403273
5      jogged            0.519732           0.480268
6      bolted            0.599666           0.400334
7     crawled            0.592172           0.407828
8      limped            0.561520           0.438480
9    lumbered            0.561699           0.438301
10    marched            0.583672           0.416328
11  meandered            0.603882           0.396118
12    pranced            0.536123           0.463877
13      raced            0.612993           0.387007
14  staggered            0.551629           0.448371
15   strolled            0.541582           0.458418
16    trotted            0.578815           0.421185
17   wandered            0.549763           0.450237

In [150]:
np_results = np_results_fsubj.merge(np_results_msubj)
np_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,flew,0.693261,0.306739,0.652757,0.347243
1,walked,0.715251,0.284749,0.561207,0.438793
2,ran,0.679035,0.320965,0.535521,0.464479
3,swam,0.657321,0.342679,0.566040,0.433960
4,drove,0.675734,0.324266,0.596727,0.403273
5,jogged,0.689260,0.310740,0.519732,0.480268
6,bolted,0.667810,0.332190,0.599666,0.400334
7,crawled,0.745539,0.254461,0.592172,0.407828
8,limped,0.685066,0.314934,0.561520,0.438480
9,lumbered,0.664430,0.335570,0.561699,0.438301
10,marched,0.678872,0.321128,0.583672,0.416328
11,meandered,0.660436,0.339564,0.603882,0.396118
12,pranced,0.692127,0.307873,0.536123,0.463877
13,raced,0.748207,0.251793,0.612993,0.387007
14,staggered,0.685331,0.314669,0.551629,0.448371
15,strolled,0.709044,0.290956,0.541582,0.458418
16,trotted,0.713933,0.286067,0.578815,0.421185
17,wandered,0.648861,0.351139,0.549763,0.450237

In [151]:
print("P(subj_reference |subj=female)", compute_average(np_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(np_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.6894177071474217
P(obj_reference |subj=female) 0.3105822926456177

In [152]:
print("P(subj_reference |subj=male)", compute_average(np_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(np_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.5725277451177438
P(obj_reference |subj=male) 0.4274722516398739

## Connective: "because"

In [153]:
c1_average_subj_female_subj_pron = {}
c1_average_subj_female_obj_pron = {}
c1_average_subj_male_subj_pron = {}
c1_average_subj_male_obj_pron = {}

### verb: "flew"

In [154]:
motion_connective1_1 = pd.read_csv("../results/gpt2/motion/connective1/1.csv")
motion_connective1_1.head()

                                stimulus        he       she
0   Miss Smith flew to Mr. Smith because  0.374430  0.625570
1      The woman flew to the man because  0.340487  0.659513
2              Mary flew to John because  0.288107  0.711893
3              Alice flew to Bob because  0.270241  0.729759
4  The actress flew to the actor because  0.265958  0.734042

In [155]:
# female subject
motion_connective1_1f = motion_connective1_1[0:12]
motion_connective1_1f = motion_connective1_1f[["stimulus","she","he"]]
# male subject
motion_connective1_1m = motion_connective1_1[12:24]

#### female subject

In [156]:
motion_connective1_1f

                                    stimulus       she        he
0       Miss Smith flew to Mr. Smith because  0.625570  0.374430
1          The woman flew to the man because  0.659513  0.340487
2                  Mary flew to John because  0.711893  0.288107
3                  Alice flew to Bob because  0.729759  0.270241
4      The actress flew to the actor because  0.734042  0.265958
5           The girl flew to the boy because  0.715810  0.284190
6   Mrs. Taylor flew to Mr. Williams because  0.591011  0.408989
7                 Emma flew to David because  0.699482  0.300518
8    The princess flew to the prince because  0.847639  0.152361
9               Sarah flew to Robert because  0.523261  0.476739
10  Mrs. Williams flew to Mr. Taylor because  0.587923  0.412077
11                Emily flew to Paul because  0.658038  0.341962

In [157]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_1f,'he'))

P('subj-pron'|subj=female) =  0.6736617634693781
P('non-subj-pron'|subj=female) =  0.3263382315635681

In [158]:
c1_average_subj_female_subj_pron['flew'] = compute_average(motion_connective1_1f,'she')
c1_average_subj_female_obj_pron['flew'] = compute_average(motion_connective1_1f,'he')

#### male subject

In [159]:
motion_connective1_1m

                                    stimulus        he       she
12      Mr. Smith flew to Miss Smith because  0.652925  0.347074
13         The man flew to the woman because  0.685589  0.314411
14                 John flew to Mary because  0.768542  0.231458
15                 Bob flew to Alice because  0.732425  0.267575
16     The actor flew to the actress because  0.668378  0.331622
17          The boy flew to the girl because  0.711780  0.288220
18   Mr. William flew to Mrs. Taylor because  0.686775  0.313225
19                David flew to Emma because  0.710811  0.289189
20   The prince flew to the princess because  0.773347  0.226653
21              Robert flew to Sarah because  0.694594  0.305406
22  Mr. Taylor flew to Mrs. Williams because  0.687923  0.312077
23                Paul flew to Emily because  0.733508  0.266492

In [160]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_1m,'she'))

P('subj-pron'|subj=male) =  0.7088832904895147
P('non-subj-pron'|subj=male) =  0.29111670702695847

In [161]:
c1_average_subj_male_subj_pron['flew'] = compute_average(motion_connective1_1m,'he')
c1_average_subj_male_obj_pron['flew'] = compute_average(motion_connective1_1m,'she')

### verb: "walked"

In [162]:
motion_connective1_2 = pd.read_csv("../results/gpt2/motion/connective1/2.csv")
motion_connective1_2.head()

                                  stimulus        he       she
0   Miss Smith walked to Mr. Smith because  0.448145  0.551855
1      The woman walked to the man because  0.308132  0.691867
2              Mary walked to John because  0.306050  0.693950
3              Alice walked to Bob because  0.294774  0.705226
4  The actress walked to the actor because  0.344457  0.655543

In [163]:
# female subject
motion_connective1_2f = motion_connective1_2[0:12]
motion_connective1_2f = motion_connective1_2f[["stimulus","she","he"]]
# male subject
motion_connective1_2m = motion_connective1_2[12:24]

#### female subject

In [164]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_2f,'he'))

P('subj-pron'|subj=female) =  0.6316147049268087
P('non-subj-pron'|subj=female) =  0.36838530749082565

In [165]:
c1_average_subj_female_subj_pron['walked'] = compute_average(motion_connective1_2f,'she')
c1_average_subj_female_obj_pron['walked'] = compute_average(motion_connective1_2f,'he')

#### male subject

In [166]:
motion_connective1_2m

                                      stimulus        he       she
12      Mr. Smith walked to Miss Smith because  0.565833  0.434167
13         The man walked to the woman because  0.662208  0.337792
14                 John walked to Mary because  0.668419  0.331581
15                 Bob walked to Alice because  0.670963  0.329037
16     The actor walked to the actress because  0.636489  0.363511
17          The boy walked to the girl because  0.685665  0.314335
18   Mr. William walked to Mrs. Taylor because  0.612730  0.387270
19                David walked to Emma because  0.593676  0.406324
20   The prince walked to the princess because  0.760057  0.239943
21              Robert walked to Sarah because  0.614462  0.385538
22  Mr. Taylor walked to Mrs. Williams because  0.587515  0.412485
23                Paul walked to Emily because  0.571178  0.428822

In [167]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_2m,'she'))

P('subj-pron'|subj=male) =  0.6357663373152415
P('non-subj-pron'|subj=male) =  0.36423366765181225

In [168]:
c1_average_subj_male_subj_pron['walked'] = compute_average(motion_connective1_2m,'he')
c1_average_subj_male_obj_pron['walked'] = compute_average(motion_connective1_2m,'she')

### verb: "ran"

In [169]:
motion_connective1_3 = pd.read_csv("../results/gpt2/motion/connective1/3.csv")
motion_connective1_3.head()

                               stimulus        he       she
0   Miss Smith ran to Mr. Smith because  0.418946  0.581055
1      The woman ran to the man because  0.359000  0.641000
2              Mary ran to John because  0.271263  0.728737
3              Alice ran to Bob because  0.231000  0.769000
4  The actress ran to the actor because  0.401573  0.598427

In [170]:
# female subject
motion_connective1_3f = motion_connective1_3[0:12]
motion_connective1_3f = motion_connective1_3f[["stimulus","she","he"]]
# male subject
motion_connective1_3m = motion_connective1_3[12:24]

#### female subject

In [171]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_3f,'he'))

P('subj-pron'|subj=female) =  0.6562756150960922
P('non-subj-pron'|subj=female) =  0.3437243824203809

In [172]:
c1_average_subj_female_subj_pron['ran'] = compute_average(motion_connective1_3f,'she')
c1_average_subj_female_obj_pron['ran'] = compute_average(motion_connective1_3f,'he')

#### male subject

In [173]:
motion_connective1_3m

                                   stimulus        he       she
12      Mr. Smith ran to Miss Smith because  0.536870  0.463130
13         The man ran to the woman because  0.642184  0.357816
14                 John ran to Mary because  0.623176  0.376824
15                 Bob ran to Alice because  0.624425  0.375575
16     The actor ran to the actress because  0.620146  0.379854
17          The boy ran to the girl because  0.657489  0.342511
18   Mr. William ran to Mrs. Taylor because  0.576803  0.423197
19                David ran to Emma because  0.541644  0.458356
20   The prince ran to the princess because  0.716201  0.283799
21              Robert ran to Sarah because  0.559743  0.440257
22  Mr. Taylor ran to Mrs. Williams because  0.566753  0.433247
23                Paul ran to Emily because  0.519325  0.480675

In [174]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_3m,'she'))

P('subj-pron'|subj=male) =  0.5987299184004465
P('non-subj-pron'|subj=male) =  0.4012700840830803

In [175]:
c1_average_subj_male_subj_pron['ran'] = compute_average(motion_connective1_3m,'he')
c1_average_subj_male_obj_pron['ran'] = compute_average(motion_connective1_3m,'she')

### verb: "swam"

In [176]:
motion_connective1_4 = pd.read_csv("../results/gpt2/motion/connective1/4.csv")
motion_connective1_4.head()

                                stimulus        he       she
0   Miss Smith swam to Mr. Smith because  0.370414  0.629587
1      The woman swam to the man because  0.319073  0.680927
2              Mary swam to John because  0.254845  0.745155
3              Alice swam to Bob because  0.237281  0.762719
4  The actress swam to the actor because  0.321201  0.678799

In [177]:
# female subject
motion_connective1_4f = motion_connective1_4[0:12]
motion_connective1_4f = motion_connective1_4f[["stimulus","she","he"]]
# male subject
motion_connective1_4m = motion_connective1_4[12:24]

#### female subject

In [178]:
motion_connective1_4f

                                    stimulus       she        he
0       Miss Smith swam to Mr. Smith because  0.629587  0.370414
1          The woman swam to the man because  0.680927  0.319073
2                  Mary swam to John because  0.745155  0.254845
3                  Alice swam to Bob because  0.762719  0.237281
4      The actress swam to the actor because  0.678799  0.321201
5           The girl swam to the boy because  0.707254  0.292746
6   Mrs. Taylor swam to Mr. Williams because  0.593111  0.406889
7                 Emma swam to David because  0.715072  0.284928
8    The princess swam to the prince because  0.813581  0.186419
9               Sarah swam to Robert because  0.554429  0.445571
10  Mrs. Williams swam to Mr. Taylor because  0.602526  0.397474
11                Emily swam to Paul because  0.689330  0.310670

In [179]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_4f,'he'))

P('subj-pron'|subj=female) =  0.6810407886902491
P('non-subj-pron'|subj=female) =  0.31895919889211655

In [180]:
c1_average_subj_female_subj_pron['swam'] = compute_average(motion_connective1_4f,'she')
c1_average_subj_female_obj_pron['swam'] = compute_average(motion_connective1_4f,'he')

#### male subject

In [181]:
motion_connective1_4m

                                    stimulus        he       she
12      Mr. Smith swam to Miss Smith because  0.570701  0.429299
13         The man swam to the woman because  0.672273  0.327727
14                 John swam to Mary because  0.647800  0.352200
15                 Bob swam to Alice because  0.693041  0.306959
16     The actor swam to the actress because  0.629286  0.370714
17          The boy swam to the girl because  0.669032  0.330968
18   Mr. William swam to Mrs. Taylor because  0.626665  0.373335
19                David swam to Emma because  0.611976  0.388024
20   The prince swam to the princess because  0.728730  0.271270
21              Robert swam to Sarah because  0.595309  0.404691
22  Mr. Taylor swam to Mrs. Williams because  0.618601  0.381399
23                Paul swam to Emily because  0.579950  0.420050

In [182]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_4m,'she'))

P('subj-pron'|subj=male) =  0.6369470159212748
P('non-subj-pron'|subj=male) =  0.36305297166109085

In [183]:
c1_average_subj_male_subj_pron['swam'] = compute_average(motion_connective1_4m,'he')
c1_average_subj_male_obj_pron['swam'] = compute_average(motion_connective1_4m,'she')

### verb: "drove"

In [184]:
motion_connective1_5 = pd.read_csv("../results/gpt2/motion/connective1/5.csv")
motion_connective1_5.head()

                                 stimulus        he       she
0   Miss Smith drove to Mr. Smith because  0.421694  0.578306
1      The woman drove to the man because  0.309602  0.690398
2              Mary drove to John because  0.302277  0.697723
3              Alice drove to Bob because  0.299722  0.700278
4  The actress drove to the actor because  0.340360  0.659640

In [185]:
# female subject
motion_connective1_5f = motion_connective1_5[0:12]
motion_connective1_5f = motion_connective1_5[["stimulus","she","he"]]
# male subject
motion_connective1_5m = motion_connective1_5[12:24]

#### female subject

In [186]:
motion_connective1_5f

                                     stimulus       she        he
0       Miss Smith drove to Mr. Smith because  0.578306  0.421694
1          The woman drove to the man because  0.690398  0.309602
2                  Mary drove to John because  0.697723  0.302277
3                  Alice drove to Bob because  0.700278  0.299722
4      The actress drove to the actor because  0.659640  0.340360
5           The girl drove to the boy because  0.721474  0.278526
6   Mrs. Taylor drove to Mr. Williams because  0.544691  0.455309
7                 Emma drove to David because  0.666294  0.333706
8    The princess drove to the prince because  0.847752  0.152248
9               Sarah drove to Robert because  0.521167  0.478833
10  Mrs. Williams drove to Mr. Taylor because  0.554656  0.445344
11                Emily drove to Paul because  0.642823  0.357177
12      Mr. Smith drove to Miss Smith because  0.365095  0.634906
13         The man drove to the woman because  0.333936  0.666064
14                 John drove to Mary because  0.251936  0.748064
15                 Bob drove to Alice because  0.261757  0.738243
16     The actor drove to the actress because  0.356934  0.643066
17          The boy drove to the girl because  0.300146  0.699854
18   Mr. William drove to Mrs. Taylor because  0.341460  0.658540
19                David drove to Emma because  0.270399  0.729601
20   The prince drove to the princess because  0.243994  0.756006
21              Robert drove to Sarah because  0.313689  0.686311
22  Mr. Taylor drove to Mrs. Williams because  0.338436  0.661564
23                Paul drove to Emily because  0.292313  0.707687

In [187]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_5f,'he'))

P('subj-pron'|subj=female) =  0.47897068969905376
P('non-subj-pron'|subj=female) =  0.5210293140262365

In [188]:
c1_average_subj_female_subj_pron['drove'] = compute_average(motion_connective1_5f,'she')
c1_average_subj_female_obj_pron['drove'] = compute_average(motion_connective1_5f,'he')

#### male subject

In [189]:
motion_connective1_5m

                                     stimulus        he       she
12      Mr. Smith drove to Miss Smith because  0.634906  0.365095
13         The man drove to the woman because  0.666064  0.333936
14                 John drove to Mary because  0.748064  0.251936
15                 Bob drove to Alice because  0.738243  0.261757
16     The actor drove to the actress because  0.643066  0.356934
17          The boy drove to the girl because  0.699854  0.300146
18   Mr. William drove to Mrs. Taylor because  0.658540  0.341460
19                David drove to Emma because  0.729601  0.270399
20   The prince drove to the princess because  0.756006  0.243994
21              Robert drove to Sarah because  0.686311  0.313689
22  Mr. Taylor drove to Mrs. Williams because  0.661564  0.338436
23                Paul drove to Emily because  0.707687  0.292313

In [190]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_5m,'she'))

P('subj-pron'|subj=male) =  0.6941587726275126
P('non-subj-pron'|subj=male) =  0.30584122861425084

In [191]:
c1_average_subj_male_subj_pron['drove'] = compute_average(motion_connective1_5m,'he')
c1_average_subj_male_obj_pron['drove'] = compute_average(motion_connective1_5m,'she')

### verb: "jogged"

In [192]:
motion_connective1_6 = pd.read_csv("../results/gpt2/motion/connective1/6.csv")
motion_connective1_6.head()

                                  stimulus        he       she
0   Miss Smith jogged to Mr. Smith because  0.421509  0.578491
1      The woman jogged to the man because  0.299093  0.700907
2              Mary jogged to John because  0.319059  0.680941
3              Alice jogged to Bob because  0.285934  0.714066
4  The actress jogged to the actor because  0.375308  0.624692

In [193]:
# female subject
motion_connective1_6f = motion_connective1_6[0:12]
motion_connective1_6f = motion_connective1_6[["stimulus","she","he"]]
# male subject
motion_connective1_6m = motion_connective1_6[12:24]

#### female subject

In [194]:
motion_connective1_6f

                                      stimulus       she        he
0       Miss Smith jogged to Mr. Smith because  0.578491  0.421509
1          The woman jogged to the man because  0.700907  0.299093
2                  Mary jogged to John because  0.680941  0.319059
3                  Alice jogged to Bob because  0.714066  0.285934
4      The actress jogged to the actor because  0.624692  0.375308
5           The girl jogged to the boy because  0.696412  0.303588
6   Mrs. Taylor jogged to Mr. Williams because  0.500869  0.499131
7                 Emma jogged to David because  0.656537  0.343463
8    The princess jogged to the prince because  0.846560  0.153440
9               Sarah jogged to Robert because  0.535614  0.464386
10  Mrs. Williams jogged to Mr. Taylor because  0.512615  0.487385
11                Emily jogged to Paul because  0.656126  0.343874
12      Mr. Smith jogged to Miss Smith because  0.417121  0.582879
13         The man jogged to the woman because  0.312152  0.687848
14                 John jogged to Mary because  0.340250  0.659750
15                 Bob jogged to Alice because  0.340099  0.659901
16     The actor jogged to the actress because  0.411702  0.588298
17          The boy jogged to the girl because  0.340425  0.659575
18   Mr. William jogged to Mrs. Taylor because  0.386891  0.613109
19                David jogged to Emma because  0.434708  0.565292
20   The prince jogged to the princess because  0.238812  0.761188
21              Robert jogged to Sarah because  0.404479  0.595521
22  Mr. Taylor jogged to Mrs. Williams because  0.393556  0.606444
23                Paul jogged to Emily because  0.442756  0.557244

In [195]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_6f,'he'))

P('subj-pron'|subj=female) =  0.5069493092596531
P('non-subj-pron'|subj=female) =  0.49305067273477715

In [196]:
c1_average_subj_female_subj_pron['jogged'] = compute_average(motion_connective1_6f,'she')
c1_average_subj_female_obj_pron['jogged'] = compute_average(motion_connective1_6f,'he')

#### male subject

In [197]:
motion_connective1_6m

                                      stimulus        he       she
12      Mr. Smith jogged to Miss Smith because  0.582879  0.417121
13         The man jogged to the woman because  0.687848  0.312152
14                 John jogged to Mary because  0.659750  0.340250
15                 Bob jogged to Alice because  0.659901  0.340099
16     The actor jogged to the actress because  0.588298  0.411702
17          The boy jogged to the girl because  0.659575  0.340425
18   Mr. William jogged to Mrs. Taylor because  0.613109  0.386891
19                David jogged to Emma because  0.565292  0.434708
20   The prince jogged to the princess because  0.761188  0.238812
21              Robert jogged to Sarah because  0.595521  0.404479
22  Mr. Taylor jogged to Mrs. Williams because  0.606444  0.393556
23                Paul jogged to Emily because  0.557244  0.442756

In [198]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_6m,'she'))

P('subj-pron'|subj=male) =  0.6280873666206995
P('non-subj-pron'|subj=male) =  0.3719126209616661

In [199]:
c1_average_subj_male_subj_pron['jogged'] = compute_average(motion_connective1_6m,'he')
c1_average_subj_male_obj_pron['jogged'] = compute_average(motion_connective1_6m,'she')

### verb: "bolted"

In [200]:
motion_connective1_7 = pd.read_csv("../results/gpt2/motion/connective1/7.csv")
motion_connective1_7.head()

                                  stimulus        he       she
0   Miss Smith bolted to Mr. Smith because  0.375894  0.624106
1      The woman bolted to the man because  0.343971  0.656029
2              Mary bolted to John because  0.275759  0.724241
3              Alice bolted to Bob because  0.233326  0.766674
4  The actress bolted to the actor because  0.316361  0.683639

In [201]:
# female subject
motion_connective1_7f = motion_connective1_7[0:12]
motion_connective1_7f = motion_connective1_7f[["stimulus","she","he"]]
# male subject
motion_connective1_7m = motion_connective1_7[12:24]

#### female subject

In [202]:
motion_connective1_7f

                                      stimulus       she        he
0       Miss Smith bolted to Mr. Smith because  0.624106  0.375894
1          The woman bolted to the man because  0.656029  0.343971
2                  Mary bolted to John because  0.724241  0.275759
3                  Alice bolted to Bob because  0.766674  0.233326
4      The actress bolted to the actor because  0.683639  0.316361
5           The girl bolted to the boy because  0.714243  0.285757
6   Mrs. Taylor bolted to Mr. Williams because  0.570901  0.429099
7                 Emma bolted to David because  0.726809  0.273191
8    The princess bolted to the prince because  0.794945  0.205055
9               Sarah bolted to Robert because  0.577563  0.422437
10  Mrs. Williams bolted to Mr. Taylor because  0.578146  0.421854
11                Emily bolted to Paul because  0.720400  0.279600

In [203]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_7f,'he'))

P('subj-pron'|subj=female) =  0.6781413108110428
P('non-subj-pron'|subj=female) =  0.32185868670543033

In [204]:
c1_average_subj_female_subj_pron['bolted'] = compute_average(motion_connective1_7f,'she')
c1_average_subj_female_obj_pron['bolted'] = compute_average(motion_connective1_7f,'he')

#### male subject

In [205]:
motion_connective1_7m

                                      stimulus        he       she
12      Mr. Smith bolted to Miss Smith because  0.592137  0.407863
13         The man bolted to the woman because  0.680596  0.319404
14                 John bolted to Mary because  0.673372  0.326628
15                 Bob bolted to Alice because  0.700147  0.299853
16     The actor bolted to the actress because  0.651844  0.348156
17          The boy bolted to the girl because  0.682901  0.317099
18   Mr. William bolted to Mrs. Taylor because  0.655772  0.344228
19                David bolted to Emma because  0.606272  0.393728
20   The prince bolted to the princess because  0.734408  0.265592
21              Robert bolted to Sarah because  0.640584  0.359416
22  Mr. Taylor bolted to Mrs. Williams because  0.643005  0.356995
23                Paul bolted to Emily because  0.604743  0.395257

In [206]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_7m,'she'))

P('subj-pron'|subj=male) =  0.6554818352063497
P('non-subj-pron'|subj=male) =  0.34451816231012344

In [207]:
c1_average_subj_male_subj_pron['bolted'] = compute_average(motion_connective1_7m,'he')
c1_average_subj_male_obj_pron['bolted'] = compute_average(motion_connective1_7m,'she')

### verb: "crawled"

In [208]:
motion_connective1_8 = pd.read_csv("../results/gpt2/motion/connective1/8.csv")
motion_connective1_8.head()

                                   stimulus        he       she
0   Miss Smith crawled to Mr. Smith because  0.327852  0.672148
1      The woman crawled to the man because  0.273786  0.726214
2              Mary crawled to John because  0.238584  0.761416
3              Alice crawled to Bob because  0.246702  0.753298
4  The actress crawled to the actor because  0.283546  0.716454

In [209]:
# female subject
motion_connective1_8f = motion_connective1_8[0:12]
motion_connective1_8f = motion_connective1_8f[["stimulus","she","he"]]
# male subject
motion_connective1_8m = motion_connective1_8[12:24]

In [210]:
motion_connective1_8f

                                       stimulus       she        he
0       Miss Smith crawled to Mr. Smith because  0.672148  0.327852
1          The woman crawled to the man because  0.726214  0.273786
2                  Mary crawled to John because  0.761416  0.238584
3                  Alice crawled to Bob because  0.753298  0.246702
4      The actress crawled to the actor because  0.716454  0.283546
5           The girl crawled to the boy because  0.774105  0.225895
6   Mrs. Taylor crawled to Mr. Williams because  0.609335  0.390665
7                 Emma crawled to David because  0.690978  0.309022
8    The princess crawled to the prince because  0.862746  0.137254
9               Sarah crawled to Robert because  0.545415  0.454585
10  Mrs. Williams crawled to Mr. Taylor because  0.636069  0.363931
11                Emily crawled to Paul because  0.671367  0.328633

In [211]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_8f,'he'))

P('subj-pron'|subj=female) =  0.7016286551952362
P('non-subj-pron'|subj=female) =  0.2983713398377101

In [212]:
c1_average_subj_female_subj_pron['crawled'] = compute_average(motion_connective1_8f,'she')
c1_average_subj_female_obj_pron['crawled'] = compute_average(motion_connective1_8f,'he')

#### male subject

In [213]:
motion_connective1_8m

                                       stimulus        he       she
12      Mr. Smith crawled to Miss Smith because  0.603220  0.396780
13         The man crawled to the woman because  0.711731  0.288269
14                 John crawled to Mary because  0.677820  0.322180
15                 Bob crawled to Alice because  0.715840  0.284160
16     The actor crawled to the actress because  0.637423  0.362577
17          The boy crawled to the girl because  0.703638  0.296362
18   Mr. William crawled to Mrs. Taylor because  0.655522  0.344478
19                David crawled to Emma because  0.620916  0.379084
20   The prince crawled to the princess because  0.801491  0.198509
21              Robert crawled to Sarah because  0.607218  0.392782
22  Mr. Taylor crawled to Mrs. Williams because  0.631181  0.368819
23                Paul crawled to Emily because  0.607092  0.392908

In [214]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_8m,'she'))

P('subj-pron'|subj=male) =  0.6644244094689687
P('non-subj-pron'|subj=male) =  0.3355755905310313

In [215]:
c1_average_subj_male_subj_pron['crawled'] = compute_average(motion_connective1_8m,'he')
c1_average_subj_male_obj_pron['crawled'] = compute_average(motion_connective1_8m,'she')

### verb: "limped"

In [216]:
motion_connective1_9 = pd.read_csv("../results/gpt2/motion/connective1/9.csv")
motion_connective1_9.head()

                                  stimulus        he       she
0   Miss Smith limped to Mr. Smith because  0.257124  0.742876
1      The woman limped to the man because  0.236580  0.763420
2              Mary limped to John because  0.238025  0.761975
3              Alice limped to Bob because  0.229176  0.770824
4  The actress limped to the actor because  0.240428  0.759572

In [217]:
# female subject
motion_connective1_9f = motion_connective1_9[0:12]
motion_connective1_9f = motion_connective1_9f[["stimulus","she","he"]]
# male subject
motion_connective1_9m = motion_connective1_9[12:24]

#### female subject

In [218]:
motion_connective1_9f

                                      stimulus       she        he
0       Miss Smith limped to Mr. Smith because  0.742876  0.257124
1          The woman limped to the man because  0.763420  0.236580
2                  Mary limped to John because  0.761975  0.238025
3                  Alice limped to Bob because  0.770824  0.229176
4      The actress limped to the actor because  0.759572  0.240428
5           The girl limped to the boy because  0.785278  0.214722
6   Mrs. Taylor limped to Mr. Williams because  0.701377  0.298623
7                 Emma limped to David because  0.744619  0.255381
8    The princess limped to the prince because  0.894559  0.105441
9               Sarah limped to Robert because  0.585275  0.414725
10  Mrs. Williams limped to Mr. Taylor because  0.701273  0.298727
11                Emily limped to Paul because  0.717341  0.282659

In [219]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_9f,'he'))

P('subj-pron'|subj=female) =  0.7440324376026789
P('non-subj-pron'|subj=female) =  0.2559675568093856

In [220]:
c1_average_subj_female_subj_pron['limped'] = compute_average(motion_connective1_9f,'she')
c1_average_subj_female_obj_pron['limped'] = compute_average(motion_connective1_9f,'he')

#### male subject

In [221]:
motion_connective1_9m

                                      stimulus        he       she
12      Mr. Smith limped to Miss Smith because  0.692742  0.307258
13         The man limped to the woman because  0.761302  0.238699
14                 John limped to Mary because  0.746217  0.253783
15                 Bob limped to Alice because  0.735786  0.264214
16     The actor limped to the actress because  0.675379  0.324621
17          The boy limped to the girl because  0.727533  0.272466
18   Mr. William limped to Mrs. Taylor because  0.770449  0.229551
19                David limped to Emma because  0.668658  0.331342
20   The prince limped to the princess because  0.850204  0.149796
21              Robert limped to Sarah because  0.708007  0.291993
22  Mr. Taylor limped to Mrs. Williams because  0.738499  0.261501
23                Paul limped to Emily because  0.676173  0.323827

In [222]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_9m,'she'))

P('subj-pron'|subj=male) =  0.7292457471291224
P('non-subj-pron'|subj=male) =  0.2707542801896731

In [223]:
c1_average_subj_male_subj_pron['limped'] = compute_average(motion_connective1_9m,'he')
c1_average_subj_male_obj_pron['limped'] = compute_average(motion_connective1_9m,'she')

### verb: "lumbered"

In [224]:
motion_connective1_10 = pd.read_csv("../results/gpt2/motion/connective1/10.csv")
motion_connective1_10.head()

                                    stimulus        he       she
0   Miss Smith lumbered to Mr. Smith because  0.428963  0.571037
1      The woman lumbered to the man because  0.301653  0.698347
2              Mary lumbered to John because  0.349295  0.650705
3              Alice lumbered to Bob because  0.293367  0.706633
4  The actress lumbered to the actor because  0.304022  0.695978

In [225]:
# female subject
motion_connective1_10f = motion_connective1_10[0:12]
motion_connective1_10f = motion_connective1_10f[["stimulus","she","he"]]
# male subject
motion_connective1_10m = motion_connective1_10[12:24]

### female subject

In [226]:
motion_connective1_10f

                                        stimulus       she        he
0       Miss Smith lumbered to Mr. Smith because  0.571037  0.428963
1          The woman lumbered to the man because  0.698347  0.301653
2                  Mary lumbered to John because  0.650705  0.349295
3                  Alice lumbered to Bob because  0.706633  0.293367
4      The actress lumbered to the actor because  0.695978  0.304022
5           The girl lumbered to the boy because  0.720927  0.279073
6   Mrs. Taylor lumbered to Mr. Williams because  0.479800  0.520200
7                 Emma lumbered to David because  0.622643  0.377357
8    The princess lumbered to the prince because  0.806608  0.193392
9               Sarah lumbered to Robert because  0.491888  0.508112
10  Mrs. Williams lumbered to Mr. Taylor because  0.481557  0.518443
11                Emily lumbered to Paul because  0.625384  0.374616

In [227]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_10f,'he'))

P('subj-pron'|subj=female) =  0.6292922099431356
P('non-subj-pron'|subj=female) =  0.37070779502391815

In [228]:
c1_average_subj_female_subj_pron['lumbered'] = compute_average(motion_connective1_10f,'she')
c1_average_subj_female_obj_pron['lumbered'] = compute_average(motion_connective1_10f,'he')

#### male subject

In [229]:
motion_connective1_10m

                                        stimulus        he       she
12      Mr. Smith lumbered to Miss Smith because  0.558176  0.441824
13         The man lumbered to the woman because  0.699169  0.300831
14                 John lumbered to Mary because  0.720967  0.279033
15                 Bob lumbered to Alice because  0.728011  0.271989
16     The actor lumbered to the actress because  0.637886  0.362114
17          The boy lumbered to the girl because  0.689171  0.310829
18   Mr. William lumbered to Mrs. Taylor because  0.658478  0.341522
19                David lumbered to Emma because  0.624378  0.375622
20   The prince lumbered to the princess because  0.757778  0.242222
21              Robert lumbered to Sarah because  0.659619  0.340381
22  Mr. Taylor lumbered to Mrs. Williams because  0.633504  0.366496
23                Paul lumbered to Emily because  0.613333  0.386667

In [230]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_10m,'she'))

P('subj-pron'|subj=male) =  0.6650390475988388
P('non-subj-pron'|subj=male) =  0.3349609424670537

In [231]:
c1_average_subj_male_subj_pron['lumbered'] = compute_average(motion_connective1_10m,'he')
c1_average_subj_male_obj_pron['lumbered'] = compute_average(motion_connective1_10m,'she')

### verb: "marched"

In [232]:
motion_connective1_11 = pd.read_csv("../results/gpt2/motion/connective1/11.csv")
motion_connective1_11.head()

                                   stimulus        he       she
0   Miss Smith marched to Mr. Smith because  0.450610  0.549390
1      The woman marched to the man because  0.361372  0.638628
2              Mary marched to John because  0.279549  0.720451
3              Alice marched to Bob because  0.254872  0.745128
4  The actress marched to the actor because  0.339369  0.660630

In [233]:
# female subject
motion_connective1_11f = motion_connective1_11[0:12]
motion_connective1_11f = motion_connective1_11f[["stimulus","she","he"]]
# male subject
motion_connective1_11m = motion_connective1_11[12:24]

#### female subject

In [234]:
motion_connective1_11f

                                       stimulus       she        he
0       Miss Smith marched to Mr. Smith because  0.549390  0.450610
1          The woman marched to the man because  0.638628  0.361372
2                  Mary marched to John because  0.720451  0.279549
3                  Alice marched to Bob because  0.745128  0.254872
4      The actress marched to the actor because  0.660630  0.339369
5           The girl marched to the boy because  0.709970  0.290030
6   Mrs. Taylor marched to Mr. Williams because  0.504227  0.495773
7                 Emma marched to David because  0.684123  0.315877
8    The princess marched to the prince because  0.819933  0.180067
9               Sarah marched to Robert because  0.525566  0.474434
10  Mrs. Williams marched to Mr. Taylor because  0.562353  0.437647
11                Emily marched to Paul because  0.711365  0.288635

In [235]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_11f,'he'))

P('subj-pron'|subj=female) =  0.6526469886302948
P('non-subj-pron'|subj=female) =  0.3473530039191246

In [236]:
c1_average_subj_female_subj_pron['marched'] = compute_average(motion_connective1_11f,'she')
c1_average_subj_female_obj_pron['marched'] = compute_average(motion_connective1_11f,'he')

#### male subject

In [237]:
motion_connective1_11m

                                       stimulus        he       she
12      Mr. Smith marched to Miss Smith because  0.507235  0.492765
13         The man marched to the woman because  0.625440  0.374560
14                 John marched to Mary because  0.682201  0.317799
15                 Bob marched to Alice because  0.654707  0.345293
16     The actor marched to the actress because  0.616909  0.383091
17          The boy marched to the girl because  0.674806  0.325194
18   Mr. William marched to Mrs. Taylor because  0.580151  0.419849
19                David marched to Emma because  0.631179  0.368821
20   The prince marched to the princess because  0.681689  0.318311
21              Robert marched to Sarah because  0.628968  0.371032
22  Mr. Taylor marched to Mrs. Williams because  0.536153  0.463847
23                Paul marched to Emily because  0.618386  0.381614

In [238]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_11m,'she'))

P('subj-pron'|subj=male) =  0.6198187122742335
P('non-subj-pron'|subj=male) =  0.38018129020929337

In [239]:
c1_average_subj_male_subj_pron['marched'] = compute_average(motion_connective1_11m,'he')
c1_average_subj_male_obj_pron['marched'] = compute_average(motion_connective1_11m,'she')

### verb: "meandered"

In [240]:
motion_connective1_12 = pd.read_csv("../results/gpt2/motion/connective1/12.csv")
motion_connective1_12.head()

                                     stimulus        he       she
0   Miss Smith meandered to Mr. Smith because  0.457942  0.542058
1      The woman meandered to the man because  0.281148  0.718852
2              Mary meandered to John because  0.385236  0.614764
3              Alice meandered to Bob because  0.339539  0.660461
4  The actress meandered to the actor because  0.257843  0.742157

In [241]:
# female subject
motion_connective1_12f = motion_connective1_12[0:12]
motion_connective1_12f = motion_connective1_12f[["stimulus","she","he"]]
# male subject
motion_connective1_12m = motion_connective1_12[12:24]

#### female subject

In [242]:
motion_connective1_12f

                                         stimulus       she        he
0       Miss Smith meandered to Mr. Smith because  0.542058  0.457942
1          The woman meandered to the man because  0.718852  0.281148
2                  Mary meandered to John because  0.614764  0.385236
3                  Alice meandered to Bob because  0.660461  0.339539
4      The actress meandered to the actor because  0.742157  0.257843
5           The girl meandered to the boy because  0.696331  0.303669
6   Mrs. Taylor meandered to Mr. Williams because  0.549152  0.450848
7                 Emma meandered to David because  0.599721  0.400279
8    The princess meandered to the prince because  0.832440  0.167560
9               Sarah meandered to Robert because  0.514304  0.485696
10  Mrs. Williams meandered to Mr. Taylor because  0.546918  0.453082
11                Emily meandered to Paul because  0.634394  0.365606

In [243]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_12f,'he'))

P('subj-pron'|subj=female) =  0.6376291513442993
P('non-subj-pron'|subj=female) =  0.36237084741393727

In [244]:
c1_average_subj_female_subj_pron['meandered'] = compute_average(motion_connective1_12f,'she')
c1_average_subj_female_obj_pron['meandered'] = compute_average(motion_connective1_12f,'he')

#### male subject

In [245]:
motion_connective1_12m

                                         stimulus        he       she
12      Mr. Smith meandered to Miss Smith because  0.579752  0.420249
13         The man meandered to the woman because  0.692286  0.307714
14                 John meandered to Mary because  0.727529  0.272471
15                 Bob meandered to Alice because  0.725585  0.274415
16     The actor meandered to the actress because  0.667578  0.332422
17          The boy meandered to the girl because  0.663319  0.336681
18   Mr. William meandered to Mrs. Taylor because  0.658691  0.341309
19                David meandered to Emma because  0.651855  0.348145
20   The prince meandered to the princess because  0.701340  0.298660
21              Robert meandered to Sarah because  0.658504  0.341496
22  Mr. Taylor meandered to Mrs. Williams because  0.663799  0.336201
23                Paul meandered to Emily because  0.627680  0.372320

In [246]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_12m,'she'))

P('subj-pron'|subj=male) =  0.6681597083806992
P('non-subj-pron'|subj=male) =  0.33184028665224713

In [247]:
c1_average_subj_male_subj_pron['meandered'] = compute_average(motion_connective1_12m,'he')
c1_average_subj_male_obj_pron['meandered'] = compute_average(motion_connective1_12m,'she')

### verb: "pranced"

In [248]:
motion_connective1_13 = pd.read_csv("../results/gpt2/motion/connective1/13.csv")
motion_connective1_13.head()

                                   stimulus        he       she
0   Miss Smith pranced to Mr. Smith because  0.406683  0.593317
1      The woman pranced to the man because  0.273097  0.726904
2              Mary pranced to John because  0.295023  0.704977
3              Alice pranced to Bob because  0.192170  0.807830
4  The actress pranced to the actor because  0.287207  0.712793

In [249]:
# female subject
motion_connective1_13f = motion_connective1_13[0:12]
motion_connective1_13f = motion_connective1_13f[["stimulus","she","he"]]
# male subject
motion_connective1_13m = motion_connective1_13[12:24]

#### female subject

In [250]:
motion_connective1_13f

                                       stimulus       she        he
0       Miss Smith pranced to Mr. Smith because  0.593317  0.406683
1          The woman pranced to the man because  0.726904  0.273097
2                  Mary pranced to John because  0.704977  0.295023
3                  Alice pranced to Bob because  0.807830  0.192170
4      The actress pranced to the actor because  0.712793  0.287207
5           The girl pranced to the boy because  0.766220  0.233780
6   Mrs. Taylor pranced to Mr. Williams because  0.561112  0.438888
7                 Emma pranced to David because  0.709191  0.290809
8    The princess pranced to the prince because  0.842148  0.157852
9               Sarah pranced to Robert because  0.556450  0.443550
10  Mrs. Williams pranced to Mr. Taylor because  0.624295  0.375705
11                Emily pranced to Paul because  0.725976  0.274024

In [251]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_13f,'he'))

P('subj-pron'|subj=female) =  0.6942677547534307
P('non-subj-pron'|subj=female) =  0.30573223655422527

In [252]:
c1_average_subj_female_subj_pron['pranced'] = compute_average(motion_connective1_13f,'she')
c1_average_subj_female_obj_pron['pranced'] = compute_average(motion_connective1_13f,'he')

#### male subject

In [253]:
motion_connective1_13m

                                       stimulus        he       she
12      Mr. Smith pranced to Miss Smith because  0.543612  0.456388
13         The man pranced to the woman because  0.710850  0.289150
14                 John pranced to Mary because  0.677414  0.322586
15                 Bob pranced to Alice because  0.671351  0.328649
16     The actor pranced to the actress because  0.649927  0.350073
17          The boy pranced to the girl because  0.711770  0.288230
18   Mr. William pranced to Mrs. Taylor because  0.620615  0.379385
19                David pranced to Emma because  0.562747  0.437253
20   The prince pranced to the princess because  0.746220  0.253780
21              Robert pranced to Sarah because  0.590975  0.409025
22  Mr. Taylor pranced to Mrs. Williams because  0.591133  0.408867
23                Paul pranced to Emily because  0.536244  0.463756

In [254]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_13m,'she'))

P('subj-pron'|subj=male) =  0.6344049125909805
P('non-subj-pron'|subj=male) =  0.36559509485960007

In [255]:
c1_average_subj_male_subj_pron['pranced'] = compute_average(motion_connective1_13m,'he')
c1_average_subj_male_obj_pron['pranced'] = compute_average(motion_connective1_13m,'she')

### verb: "raced"

In [256]:
motion_connective1_14 = pd.read_csv("../results/gpt2/motion/connective1/14.csv")
motion_connective1_14.head()

                                 stimulus        he       she
0   Miss Smith raced to Mr. Smith because  0.403451  0.596549
1      The woman raced to the man because  0.345555  0.654445
2              Mary raced to John because  0.330272  0.669728
3              Alice raced to Bob because  0.259036  0.740964
4  The actress raced to the actor because  0.329719  0.670281

In [257]:
# female subject
motion_connective1_14f = motion_connective1_14[0:12]
motion_connective1_14f = motion_connective1_14f[["stimulus","she","he"]]
# male subject
motion_connective1_14m = motion_connective1_14[12:24]

#### female subject

In [258]:
motion_connective1_14f

                                     stimulus       she        he
0       Miss Smith raced to Mr. Smith because  0.596549  0.403451
1          The woman raced to the man because  0.654445  0.345555
2                  Mary raced to John because  0.669728  0.330272
3                  Alice raced to Bob because  0.740964  0.259036
4      The actress raced to the actor because  0.670281  0.329719
5           The girl raced to the boy because  0.713251  0.286749
6   Mrs. Taylor raced to Mr. Williams because  0.550731  0.449269
7                 Emma raced to David because  0.709952  0.290048
8    The princess raced to the prince because  0.864814  0.135186
9               Sarah raced to Robert because  0.544966  0.455034
10  Mrs. Williams raced to Mr. Taylor because  0.559915  0.440085
11                Emily raced to Paul because  0.682157  0.317843

In [259]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_14f,'he'))

P('subj-pron'|subj=female) =  0.6631461183230082
P('non-subj-pron'|subj=female) =  0.33685388291875523

In [260]:
c1_average_subj_female_subj_pron['raced'] = compute_average(motion_connective1_14f,'she')
c1_average_subj_female_obj_pron['raced'] = compute_average(motion_connective1_14f,'he')

#### male subject

In [261]:
motion_connective1_14m

                                     stimulus        he       she
12      Mr. Smith raced to Miss Smith because  0.572812  0.427188
13         The man raced to the woman because  0.660505  0.339495
14                 John raced to Mary because  0.601252  0.398748
15                 Bob raced to Alice because  0.612905  0.387095
16     The actor raced to the actress because  0.635887  0.364113
17          The boy raced to the girl because  0.681822  0.318178
18   Mr. William raced to Mrs. Taylor because  0.628882  0.371118
19                David raced to Emma because  0.539086  0.460914
20   The prince raced to the princess because  0.745550  0.254450
21              Robert raced to Sarah because  0.561217  0.438783
22  Mr. Taylor raced to Mrs. Williams because  0.603003  0.396997
23                Paul raced to Emily because  0.509169  0.490830

In [262]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_14m,'she'))

P('subj-pron'|subj=male) =  0.6126742263635
P('non-subj-pron'|subj=male) =  0.3873257637023926

In [263]:
c1_average_subj_male_subj_pron['raced'] = compute_average(motion_connective1_14m,'he')
c1_average_subj_male_obj_pron['raced'] = compute_average(motion_connective1_14m,'she')

### verb: "staggered"

In [264]:
motion_connective1_15 = pd.read_csv("../results/gpt2/motion/connective1/15.csv")
motion_connective1_15.head()

                                     stimulus        he       she
0   Miss Smith staggered to Mr. Smith because  0.404050  0.595950
1      The woman staggered to the man because  0.318702  0.681299
2              Mary staggered to John because  0.335188  0.664812
3              Alice staggered to Bob because  0.303322  0.696678
4  The actress staggered to the actor because  0.344631  0.655369

In [265]:
# female subject
motion_connective1_15f = motion_connective1_15[0:12]
motion_connective1_15f = motion_connective1_15f[["stimulus","she","he"]]
# male subject
motion_connective1_15m = motion_connective1_15[12:24]

In [266]:
motion_connective1_15f

                                         stimulus       she        he
0       Miss Smith staggered to Mr. Smith because  0.595950  0.404050
1          The woman staggered to the man because  0.681299  0.318702
2                  Mary staggered to John because  0.664812  0.335188
3                  Alice staggered to Bob because  0.696678  0.303322
4      The actress staggered to the actor because  0.655369  0.344631
5           The girl staggered to the boy because  0.691725  0.308275
6   Mrs. Taylor staggered to Mr. Williams because  0.518583  0.481417
7                 Emma staggered to David because  0.644607  0.355393
8    The princess staggered to the prince because  0.791237  0.208763
9               Sarah staggered to Robert because  0.528734  0.471267
10  Mrs. Williams staggered to Mr. Taylor because  0.538942  0.461058
11                Emily staggered to Paul because  0.658469  0.341531

In [267]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_15f,'he'))

P('subj-pron'|subj=female) =  0.6388669113318125
P('non-subj-pron'|subj=female) =  0.3611331048111121

In [268]:
c1_average_subj_female_subj_pron['staggered'] = compute_average(motion_connective1_15f,'she')
c1_average_subj_female_obj_pron['staggered'] = compute_average(motion_connective1_15f,'he')

#### male subject

In [269]:
motion_connective1_15m

                                         stimulus        he       she
12      Mr. Smith staggered to Miss Smith because  0.603355  0.396645
13         The man staggered to the woman because  0.683172  0.316828
14                 John staggered to Mary because  0.672450  0.327550
15                 Bob staggered to Alice because  0.653860  0.346140
16     The actor staggered to the actress because  0.636824  0.363176
17          The boy staggered to the girl because  0.667591  0.332409
18   Mr. William staggered to Mrs. Taylor because  0.650027  0.349973
19                David staggered to Emma because  0.563045  0.436955
20   The prince staggered to the princess because  0.742344  0.257656
21              Robert staggered to Sarah because  0.604151  0.395849
22  Mr. Taylor staggered to Mrs. Williams because  0.627001  0.372999
23                Paul staggered to Emily because  0.548297  0.451703

In [270]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_15m,'she'))

P('subj-pron'|subj=male) =  0.6376764128605524
P('non-subj-pron'|subj=male) =  0.3623235896229744

In [271]:
c1_average_subj_male_subj_pron['staggered'] = compute_average(motion_connective1_15m,'he')
c1_average_subj_male_obj_pron['staggered'] = compute_average(motion_connective1_15m,'she')

### verb: "strolled"

In [272]:
motion_connective1_16 = pd.read_csv("../results/gpt2/motion/connective1/16.csv")
motion_connective1_16.head()

                                    stimulus        he       she
0   Miss Smith strolled to Mr. Smith because  0.420102  0.579898
1      The woman strolled to the man because  0.321080  0.678919
2              Mary strolled to John because  0.335217  0.664783
3              Alice strolled to Bob because  0.278244  0.721756
4  The actress strolled to the actor because  0.364458  0.635542

In [273]:
# female subject
motion_connective1_16f = motion_connective1_16[0:12]
motion_connective1_16f = motion_connective1_16f[["stimulus","she","he"]]
# male subject
motion_connective1_16m = motion_connective1_16[12:24]

#### female subject

In [274]:
motion_connective1_16f

                                        stimulus       she        he
0       Miss Smith strolled to Mr. Smith because  0.579898  0.420102
1          The woman strolled to the man because  0.678919  0.321080
2                  Mary strolled to John because  0.664783  0.335217
3                  Alice strolled to Bob because  0.721756  0.278244
4      The actress strolled to the actor because  0.635542  0.364458
5           The girl strolled to the boy because  0.693873  0.306127
6   Mrs. Taylor strolled to Mr. Williams because  0.547365  0.452635
7                 Emma strolled to David because  0.629073  0.370927
8    The princess strolled to the prince because  0.833461  0.166538
9               Sarah strolled to Robert because  0.489963  0.510037
10  Mrs. Williams strolled to Mr. Taylor because  0.577703  0.422297
11                Emily strolled to Paul because  0.603378  0.396622

In [275]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_16f,'he'))

P('subj-pron'|subj=female) =  0.6379762440919876
P('non-subj-pron'|subj=female) =  0.3620237608750661

In [276]:
c1_average_subj_female_subj_pron['strolled'] = compute_average(motion_connective1_16f,'she')
c1_average_subj_female_obj_pron['strolled'] = compute_average(motion_connective1_16f,'he')

#### male subject

In [277]:
motion_connective1_16m

                                        stimulus        he       she
12      Mr. Smith strolled to Miss Smith because  0.573317  0.426683
13         The man strolled to the woman because  0.666483  0.333517
14                 John strolled to Mary because  0.655737  0.344263
15                 Bob strolled to Alice because  0.666482  0.333518
16     The actor strolled to the actress because  0.602474  0.397526
17          The boy strolled to the girl because  0.669678  0.330322
18   Mr. William strolled to Mrs. Taylor because  0.629829  0.370171
19                David strolled to Emma because  0.578734  0.421266
20   The prince strolled to the princess because  0.754734  0.245266
21              Robert strolled to Sarah because  0.595759  0.404241
22  Mr. Taylor strolled to Mrs. Williams because  0.598031  0.401969
23                Paul strolled to Emily because  0.555639  0.444361

In [278]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_16m,'she'))

P('subj-pron'|subj=male) =  0.6289081573486328
P('non-subj-pron'|subj=male) =  0.3710918389260769

In [279]:
c1_average_subj_male_subj_pron['strolled'] = compute_average(motion_connective1_16m,'he')
c1_average_subj_male_obj_pron['strolled'] = compute_average(motion_connective1_16m,'she')

#### verb: "trotted"

In [280]:
motion_connective1_17 = pd.read_csv("../results/gpt2/motion/connective1/17.csv")
motion_connective1_17.head()

                                   stimulus        he       she
0   Miss Smith trotted to Mr. Smith because  0.396894  0.603106
1      The woman trotted to the man because  0.295233  0.704767
2              Mary trotted to John because  0.275392  0.724608
3              Alice trotted to Bob because  0.220227  0.779773
4  The actress trotted to the actor because  0.305730  0.694270

In [281]:
# female subject
motion_connective1_17f = motion_connective1_17[0:12]
motion_connective1_17f = motion_connective1_17f[["stimulus","she","he"]]
# male subject
motion_connective1_17m = motion_connective1_17[12:24]

#### female subject

In [282]:
motion_connective1_17f

                                       stimulus       she        he
0       Miss Smith trotted to Mr. Smith because  0.603106  0.396894
1          The woman trotted to the man because  0.704767  0.295233
2                  Mary trotted to John because  0.724608  0.275392
3                  Alice trotted to Bob because  0.779773  0.220227
4      The actress trotted to the actor because  0.694270  0.305730
5           The girl trotted to the boy because  0.735408  0.264592
6   Mrs. Taylor trotted to Mr. Williams because  0.513291  0.486709
7                 Emma trotted to David because  0.708841  0.291159
8    The princess trotted to the prince because  0.837669  0.162331
9               Sarah trotted to Robert because  0.563346  0.436654
10  Mrs. Williams trotted to Mr. Taylor because  0.574461  0.425539
11                Emily trotted to Paul because  0.675028  0.324972

In [283]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_17f,'he'))

P('subj-pron'|subj=female) =  0.6762140542268753
P('non-subj-pron'|subj=female) =  0.3237859569489956

In [284]:
c1_average_subj_female_subj_pron['trotted'] = compute_average(motion_connective1_17f,'she')
c1_average_subj_female_obj_pron['trotted'] = compute_average(motion_connective1_17f,'he')

#### male subject

In [285]:
motion_connective1_17m

                                       stimulus        he       she
12      Mr. Smith trotted to Miss Smith because  0.592906  0.407094
13         The man trotted to the woman because  0.687006  0.312994
14                 John trotted to Mary because  0.727438  0.272562
15                 Bob trotted to Alice because  0.706110  0.293890
16     The actor trotted to the actress because  0.636667  0.363333
17          The boy trotted to the girl because  0.659206  0.340794
18   Mr. William trotted to Mrs. Taylor because  0.650057  0.349943
19                David trotted to Emma because  0.616335  0.383665
20   The prince trotted to the princess because  0.740967  0.259033
21              Robert trotted to Sarah because  0.658385  0.341615
22  Mr. Taylor trotted to Mrs. Williams because  0.618840  0.381160
23                Paul trotted to Emily because  0.631159  0.368841

In [286]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_17m,'she'))

P('subj-pron'|subj=male) =  0.6604229410489401
P('non-subj-pron'|subj=male) =  0.3395770688851674

In [287]:
c1_average_subj_male_subj_pron['trotted'] = compute_average(motion_connective1_17m,'he')
c1_average_subj_male_obj_pron['trotted'] = compute_average(motion_connective1_17m,'she')

### verb: "wandered"

In [288]:
motion_connective1_18 = pd.read_csv("../results/gpt2/motion/connective1/18.csv")
motion_connective1_18.head()

                                    stimulus        he       she
0   Miss Smith wandered to Mr. Smith because  0.444898  0.555102
1      The woman wandered to the man because  0.289413  0.710587
2              Mary wandered to John because  0.293729  0.706271
3              Alice wandered to Bob because  0.296266  0.703734
4  The actress wandered to the actor because  0.313444  0.686556

In [289]:
# female subject
motion_connective1_18f = motion_connective1_18[0:12]
motion_connective1_18f = motion_connective1_18f[["stimulus","she","he"]]
# male subject
motion_connective1_18m = motion_connective1_18[12:24]

#### female subject

In [290]:
motion_connective1_18f

                                        stimulus       she        he
0       Miss Smith wandered to Mr. Smith because  0.555102  0.444898
1          The woman wandered to the man because  0.710587  0.289413
2                  Mary wandered to John because  0.706271  0.293729
3                  Alice wandered to Bob because  0.703734  0.296266
4      The actress wandered to the actor because  0.686556  0.313444
5           The girl wandered to the boy because  0.750930  0.249070
6   Mrs. Taylor wandered to Mr. Williams because  0.526917  0.473083
7                 Emma wandered to David because  0.590200  0.409800
8    The princess wandered to the prince because  0.854817  0.145183
9               Sarah wandered to Robert because  0.475810  0.524190
10  Mrs. Williams wandered to Mr. Taylor because  0.543178  0.456822
11                Emily wandered to Paul because  0.582439  0.417561

In [291]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective1_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective1_18f,'he'))

P('subj-pron'|subj=female) =  0.640545147160689
P('non-subj-pron'|subj=female) =  0.35945484911402065

In [292]:
c1_average_subj_female_subj_pron['wandered'] = compute_average(motion_connective1_18f,'she')
c1_average_subj_female_obj_pron['wandered'] = compute_average(motion_connective1_18f,'he')

#### male subject

In [293]:
motion_connective1_18m

                                        stimulus        he       she
12      Mr. Smith wandered to Miss Smith because  0.608441  0.391559
13         The man wandered to the woman because  0.689123  0.310877
14                 John wandered to Mary because  0.693956  0.306044
15                 Bob wandered to Alice because  0.689664  0.310336
16     The actor wandered to the actress because  0.662630  0.337370
17          The boy wandered to the girl because  0.725560  0.274440
18   Mr. William wandered to Mrs. Taylor because  0.671109  0.328891
19                David wandered to Emma because  0.657394  0.342606
20   The prince wandered to the princess because  0.768057  0.231943
21              Robert wandered to Sarah because  0.631554  0.368446
22  Mr. Taylor wandered to Mrs. Williams because  0.643925  0.356075
23                Paul wandered to Emily because  0.615458  0.384542

In [294]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective1_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective1_18m,'she'))

P('subj-pron'|subj=male) =  0.6714058170715967
P('non-subj-pron'|subj=male) =  0.328594196587801

In [295]:
c1_average_subj_male_subj_pron['wandered'] = compute_average(motion_connective1_18m,'he')
c1_average_subj_male_obj_pron['wandered'] = compute_average(motion_connective1_18m,'she')

## Summary of Results

In [296]:
c1_results_fsubj_subjpron = pd.DataFrame(list(c1_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c1_results_fsubj_objpron = pd.DataFrame(list(c1_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c1_results_fsubj = c1_results_fsubj_subjpron.merge(c1_results_fsubj_objpron)
c1_results_fsubj

         verb  subj_ref_female_subj  obj_ref_female_subj
0        flew              0.673662             0.326338
1      walked              0.631615             0.368385
2         ran              0.656276             0.343724
3        swam              0.681041             0.318959
4       drove              0.478971             0.521029
5      jogged              0.506949             0.493051
6      bolted              0.678141             0.321859
7     crawled              0.701629             0.298371
8      limped              0.744032             0.255968
9    lumbered              0.629292             0.370708
10    marched              0.652647             0.347353
11  meandered              0.637629             0.362371
12    pranced              0.694268             0.305732
13      raced              0.663146             0.336854
14  staggered              0.638867             0.361133
15   strolled              0.637976             0.362024
16    trotted              0.676214             0.323786
17   wandered              0.640545             0.359455

In [297]:
c1_results_msubj_subjpron = pd.DataFrame(list(c1_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c1_results_msubj_objpron = pd.DataFrame(list(c1_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c1_results_msubj = c1_results_msubj_subjpron.merge(c1_results_msubj_objpron)
c1_results_msubj

         verb  subj_ref_male_subj  obj_ref_male_subj
0        flew            0.708883           0.291117
1      walked            0.635766           0.364234
2         ran            0.598730           0.401270
3        swam            0.636947           0.363053
4       drove            0.694159           0.305841
5      jogged            0.628087           0.371913
6      bolted            0.655482           0.344518
7     crawled            0.664424           0.335576
8      limped            0.729246           0.270754
9    lumbered            0.665039           0.334961
10    marched            0.619819           0.380181
11  meandered            0.668160           0.331840
12    pranced            0.634405           0.365595
13      raced            0.612674           0.387326
14  staggered            0.637676           0.362324
15   strolled            0.628908           0.371092
16    trotted            0.660423           0.339577
17   wandered            0.671406           0.328594

In [298]:
c1_results = c1_results_fsubj.merge(c1_results_msubj)
c1_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,flew,0.673662,0.326338,0.708883,0.291117
1,walked,0.631615,0.368385,0.635766,0.364234
2,ran,0.656276,0.343724,0.598730,0.401270
3,swam,0.681041,0.318959,0.636947,0.363053
4,drove,0.478971,0.521029,0.694159,0.305841
5,jogged,0.506949,0.493051,0.628087,0.371913
6,bolted,0.678141,0.321859,0.655482,0.344518
7,crawled,0.701629,0.298371,0.664424,0.335576
8,limped,0.744032,0.255968,0.729246,0.270754
9,lumbered,0.629292,0.370708,0.665039,0.334961
10,marched,0.652647,0.347353,0.619819,0.380181
11,meandered,0.637629,0.362371,0.668160,0.331840
12,pranced,0.694268,0.305732,0.634405,0.365595
13,raced,0.663146,0.336854,0.612674,0.387326
14,staggered,0.638867,0.361133,0.637676,0.362324
15,strolled,0.637976,0.362024,0.628908,0.371092
16,trotted,0.676214,0.323786,0.660423,0.339577
17,wandered,0.640545,0.359455,0.671406,0.328594

In [299]:
print("P(subj_reference |subj=female)", compute_average(c1_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c1_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.6457166585864291
P(obj_reference |subj=female) 0.3542833404477548

In [300]:
print("P(subj_reference |subj=male)", compute_average(c1_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c1_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.6527908127065057
P(obj_reference |subj=male) 0.3472091880523496

## Connective: "and, as a result"

In [301]:
c2_average_subj_female_subj_pron = {}
c2_average_subj_female_obj_pron = {}
c2_average_subj_male_subj_pron = {}
c2_average_subj_male_obj_pron = {}

### verb: "flew"

In [302]:
motion_connective2_1 = pd.read_csv("../results/gpt2/motion/connective2/1.csv")
motion_connective2_1.head()

                                          stimulus        he       she
0   Miss Smith flew to Mr. Smith and, as a result,  0.607037  0.392963
1      The woman flew to the man and, as a result,  0.441430  0.558570
2              Mary flew to John and, as a result,  0.452286  0.547714
3              Alice flew to Bob and, as a result,  0.367617  0.632383
4  The actress flew to the actor and, as a result,  0.445901  0.554099

In [303]:
# female subject
motion_connective2_1f = motion_connective2_1[0:12]
motion_connective2_1f = motion_connective2_1f[["stimulus","she","he"]]
# male subject
motion_connective2_1m = motion_connective2_1[12:24]

#### female subject

In [304]:
motion_connective2_1f

                                             stimulus       she        he
0      Miss Smith flew to Mr. Smith and, as a result,  0.392963  0.607037
1         The woman flew to the man and, as a result,  0.558570  0.441430
2                 Mary flew to John and, as a result,  0.547714  0.452286
3                 Alice flew to Bob and, as a result,  0.632383  0.367617
4     The actress flew to the actor and, as a result,  0.554099  0.445901
5          The girl flew to the boy and, as a result,  0.618209  0.381792
6   Mrs. Taylor flew to Mr. Williams and, as a res...  0.417075  0.582925
7                Emma flew to David and, as a result,  0.491220  0.508780
8   The princess flew to the prince and, as a result,  0.670792  0.329208
9              Sarah flew to Robert and, as a result,  0.503084  0.496916
10  Mrs. Williams flew to Mr. Taylor and, as a res...  0.436884  0.563116
11               Emily flew to Paul and, as a result,  0.529145  0.470855

In [305]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_1f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_1f,'he'))

P('subj-pron'|subj=female) =  0.5293448641896248
P('non-subj-pron'|subj=female) =  0.47065512587626773

In [306]:
c2_average_subj_female_subj_pron['flew'] = compute_average(motion_connective2_1f,'she')
c2_average_subj_female_obj_pron['flew'] = compute_average(motion_connective2_1f,'he')

#### male subject

In [307]:
motion_connective2_1m

                                             stimulus        he       she
12     Mr. Smith flew to Miss Smith and, as a result,  0.499891  0.500109
13        The man flew to the woman and, as a result,  0.447326  0.552674
14                John flew to Mary and, as a result,  0.555615  0.444384
15                Bob flew to Alice and, as a result,  0.463575  0.536425
16    The actor flew to the actress and, as a result,  0.440068  0.559932
17         The boy flew to the girl and, as a result,  0.455870  0.544130
18  Mr. William flew to Mrs. Taylor and, as a result,  0.500391  0.499609
19               David flew to Emma and, as a result,  0.438785  0.561215
20  The prince flew to the princess and, as a result,  0.485416  0.514584
21             Robert flew to Sarah and, as a result,  0.493122  0.506878
22  Mr. Taylor flew to Mrs. Williams and, as a res...  0.472416  0.527584
23               Paul flew to Emily and, as a result,  0.465861  0.534139

In [308]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_1m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_1m,'she'))

P('subj-pron'|subj=male) =  0.47652801126241684
P('non-subj-pron'|subj=male) =  0.5234719937046369

In [309]:
c2_average_subj_male_subj_pron['flew'] = compute_average(motion_connective2_1m,'he')
c2_average_subj_male_obj_pron['flew'] = compute_average(motion_connective2_1m,'she')

### verb: "walked"

In [310]:
motion_connective2_2 = pd.read_csv("../results/gpt2/motion/connective2/2.csv")
motion_connective2_2.head()

                                            stimulus        he       she
0   Miss Smith walked to Mr. Smith and, as a result,  0.625293  0.374707
1      The woman walked to the man and, as a result,  0.478306  0.521694
2              Mary walked to John and, as a result,  0.501394  0.498606
3              Alice walked to Bob and, as a result,  0.366474  0.633526
4  The actress walked to the actor and, as a result,  0.531444  0.468556

In [311]:
# female subject
motion_connective2_2f = motion_connective2_2[0:12]
motion_connective2_2f = motion_connective2_2f[["stimulus","she","he"]]
# male subject
motion_connective2_2m = motion_connective2_2[12:24]

#### female subject

In [312]:
motion_connective2_2f

                                             stimulus       she        he
0    Miss Smith walked to Mr. Smith and, as a result,  0.374707  0.625293
1       The woman walked to the man and, as a result,  0.521694  0.478306
2               Mary walked to John and, as a result,  0.498606  0.501394
3               Alice walked to Bob and, as a result,  0.633526  0.366474
4   The actress walked to the actor and, as a result,  0.468556  0.531444
5        The girl walked to the boy and, as a result,  0.566087  0.433913
6   Mrs. Taylor walked to Mr. Williams and, as a r...  0.379806  0.620194
7              Emma walked to David and, as a result,  0.487002  0.512998
8   The princess walked to the prince and, as a re...  0.712753  0.287247
9            Sarah walked to Robert and, as a result,  0.476673  0.523327
10  Mrs. Williams walked to Mr. Taylor and, as a r...  0.411603  0.588397
11             Emily walked to Paul and, as a result,  0.520884  0.479116

In [313]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_2f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_2f,'he'))

P('subj-pron'|subj=female) =  0.5043247391780218
P('non-subj-pron'|subj=female) =  0.49567526082197827

In [314]:
c2_average_subj_female_subj_pron['walked'] = compute_average(motion_connective2_2f,'she')
c2_average_subj_female_obj_pron['walked'] = compute_average(motion_connective2_2f,'he')

#### male subject

In [315]:
motion_connective2_2m

                                             stimulus        he       she
12   Mr. Smith walked to Miss Smith and, as a result,  0.400144  0.599856
13      The man walked to the woman and, as a result,  0.342452  0.657548
14              John walked to Mary and, as a result,  0.398705  0.601295
15              Bob walked to Alice and, as a result,  0.331512  0.668488
16  The actor walked to the actress and, as a result,  0.397095  0.602905
17       The boy walked to the girl and, as a result,  0.375849  0.624151
18  Mr. William walked to Mrs. Taylor and, as a re...  0.418874  0.581126
19             David walked to Emma and, as a result,  0.324101  0.675899
20  The prince walked to the princess and, as a re...  0.494496  0.505504
21           Robert walked to Sarah and, as a result,  0.365193  0.634807
22  Mr. Taylor walked to Mrs. Williams and, as a r...  0.379653  0.620347
23             Paul walked to Emily and, as a result,  0.302021  0.697979

In [316]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_2m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_2m,'she'))

P('subj-pron'|subj=male) =  0.37750786046187085
P('non-subj-pron'|subj=male) =  0.6224921345710754

In [317]:
c2_average_subj_male_subj_pron['walked'] = compute_average(motion_connective2_2m,'he')
c2_average_subj_male_obj_pron['walked'] = compute_average(motion_connective2_2m,'she')

### verb: "ran"

In [318]:
motion_connective2_3 = pd.read_csv("../results/gpt2/motion/connective2/3.csv")
motion_connective2_3.head()

                                         stimulus        he       she
0   Miss Smith ran to Mr. Smith and, as a result,  0.580563  0.419437
1      The woman ran to the man and, as a result,  0.458973  0.541027
2              Mary ran to John and, as a result,  0.496823  0.503177
3              Alice ran to Bob and, as a result,  0.330538  0.669462
4  The actress ran to the actor and, as a result,  0.454503  0.545497

In [319]:
# female subject
motion_connective2_3f = motion_connective2_3[0:12]
motion_connective2_3f = motion_connective2_3f[["stimulus","she","he"]]
# male subject
motion_connective2_3m = motion_connective2_3[12:24]

#### female subject

In [320]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_3f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_3f,'he'))

P('subj-pron'|subj=female) =  0.5364883318543434
P('non-subj-pron'|subj=female) =  0.463511660695076

In [321]:
c2_average_subj_female_subj_pron['ran'] = compute_average(motion_connective2_3f,'she')
c2_average_subj_female_obj_pron['ran'] = compute_average(motion_connective2_3f,'he')

#### male subject

In [322]:
motion_connective2_3m

                                             stimulus        he       she
12      Mr. Smith ran to Miss Smith and, as a result,  0.452861  0.547139
13         The man ran to the woman and, as a result,  0.421425  0.578575
14                 John ran to Mary and, as a result,  0.402206  0.597794
15                 Bob ran to Alice and, as a result,  0.333895  0.666105
16     The actor ran to the actress and, as a result,  0.491650  0.508350
17          The boy ran to the girl and, as a result,  0.432843  0.567157
18   Mr. William ran to Mrs. Taylor and, as a result,  0.483226  0.516774
19                David ran to Emma and, as a result,  0.327128  0.672872
20   The prince ran to the princess and, as a result,  0.527306  0.472694
21              Robert ran to Sarah and, as a result,  0.372944  0.627056
22  Mr. Taylor ran to Mrs. Williams and, as a result,  0.455580  0.544420
23                Paul ran to Emily and, as a result,  0.315544  0.684456

In [323]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_3m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_3m,'she'))

P('subj-pron'|subj=male) =  0.4180506144960721
P('non-subj-pron'|subj=male) =  0.5819493954380354

In [324]:
c2_average_subj_male_subj_pron['ran'] = compute_average(motion_connective2_3m,'he')
c2_average_subj_male_obj_pron['ran'] = compute_average(motion_connective2_3m,'she')

### verb: "swam"

In [325]:
motion_connective2_4 = pd.read_csv("../results/gpt2/motion/connective2/4.csv")
motion_connective2_4.head()

                                          stimulus        he       she
0   Miss Smith swam to Mr. Smith and, as a result,  0.578105  0.421895
1      The woman swam to the man and, as a result,  0.461810  0.538190
2              Mary swam to John and, as a result,  0.466801  0.533199
3              Alice swam to Bob and, as a result,  0.336138  0.663862
4  The actress swam to the actor and, as a result,  0.497509  0.502491

In [326]:
# female subject
motion_connective2_4f = motion_connective2_4[0:12]
motion_connective2_4f = motion_connective2_4f[["stimulus","she","he"]]
# male subject
motion_connective2_4m = motion_connective2_4[12:24]

#### female subject

In [327]:
motion_connective2_4f

                                             stimulus       she        he
0      Miss Smith swam to Mr. Smith and, as a result,  0.421895  0.578105
1         The woman swam to the man and, as a result,  0.538190  0.461810
2                 Mary swam to John and, as a result,  0.533199  0.466801
3                 Alice swam to Bob and, as a result,  0.663862  0.336138
4     The actress swam to the actor and, as a result,  0.502491  0.497509
5          The girl swam to the boy and, as a result,  0.557984  0.442016
6   Mrs. Taylor swam to Mr. Williams and, as a res...  0.363253  0.636747
7                Emma swam to David and, as a result,  0.521853  0.478147
8   The princess swam to the prince and, as a result,  0.626685  0.373315
9              Sarah swam to Robert and, as a result,  0.491402  0.508598
10  Mrs. Williams swam to Mr. Taylor and, as a res...  0.404277  0.595723
11               Emily swam to Paul and, as a result,  0.552949  0.447051

In [328]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_4f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_4f,'he'))

P('subj-pron'|subj=female) =  0.5148366764187813
P('non-subj-pron'|subj=female) =  0.48516332854827243

In [329]:
c2_average_subj_female_subj_pron['swam'] = compute_average(motion_connective2_4f,'she')
c2_average_subj_female_obj_pron['swam'] = compute_average(motion_connective2_4f,'he')

#### male subject

In [330]:
motion_connective2_4m

                                             stimulus        he       she
12     Mr. Smith swam to Miss Smith and, as a result,  0.437736  0.562264
13        The man swam to the woman and, as a result,  0.450696  0.549304
14                John swam to Mary and, as a result,  0.445192  0.554808
15                Bob swam to Alice and, as a result,  0.485254  0.514745
16    The actor swam to the actress and, as a result,  0.455458  0.544542
17         The boy swam to the girl and, as a result,  0.457018  0.542982
18  Mr. William swam to Mrs. Taylor and, as a result,  0.472576  0.527424
19               David swam to Emma and, as a result,  0.413811  0.586189
20  The prince swam to the princess and, as a result,  0.420566  0.579434
21             Robert swam to Sarah and, as a result,  0.423850  0.576150
22  Mr. Taylor swam to Mrs. Williams and, as a res...  0.462171  0.537829
23               Paul swam to Emily and, as a result,  0.388422  0.611578

In [331]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_4m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_4m,'she'))

P('subj-pron'|subj=male) =  0.4427291825413704
P('non-subj-pron'|subj=male) =  0.5572708000739416

In [332]:
c2_average_subj_male_subj_pron['swam'] = compute_average(motion_connective2_4m,'he')
c2_average_subj_male_obj_pron['swam'] = compute_average(motion_connective2_4m,'she')

### verb: "rolled"

In [333]:
motion_connective2_5 = pd.read_csv("../results/gpt2/motion/connective2/5.csv")
motion_connective2_5.head()

                                           stimulus        he       she
0   Miss Smith drove to Mr. Smith and, as a result,  0.633185  0.366815
1      The woman drove to the man and, as a result,  0.546367  0.453633
2              Mary drove to John and, as a result,  0.447059  0.552941
3              Alice drove to Bob and, as a result,  0.394092  0.605908
4  The actress drove to the actor and, as a result,  0.545078  0.454922

In [334]:
# female subject
motion_connective2_5f = motion_connective2_5[0:12]
motion_connective2_5f = motion_connective2_5[["stimulus","she","he"]]
# male subject
motion_connective2_5m = motion_connective2_5[12:24]

#### female subject

In [335]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_5f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_5f,'he'))

P('subj-pron'|subj=female) =  0.5249264935652415
P('non-subj-pron'|subj=female) =  0.4750734915335973

In [336]:
c2_average_subj_female_subj_pron['drove'] = compute_average(motion_connective2_5f,'she')
c2_average_subj_female_obj_pron['drove'] = compute_average(motion_connective2_5f,'he')

#### male subject

In [337]:
motion_connective2_5m

                                             stimulus        he       she
12    Mr. Smith drove to Miss Smith and, as a result,  0.495481  0.504519
13       The man drove to the woman and, as a result,  0.341015  0.658985
14               John drove to Mary and, as a result,  0.532213  0.467787
15               Bob drove to Alice and, as a result,  0.441781  0.558219
16   The actor drove to the actress and, as a result,  0.388496  0.611504
17        The boy drove to the girl and, as a result,  0.386464  0.613536
18  Mr. William drove to Mrs. Taylor and, as a res...  0.480859  0.519141
19              David drove to Emma and, as a result,  0.477844  0.522156
20  The prince drove to the princess and, as a res...  0.435227  0.564773
21            Robert drove to Sarah and, as a result,  0.457727  0.542273
22  Mr. Taylor drove to Mrs. Williams and, as a re...  0.443867  0.556133
23              Paul drove to Emily and, as a result,  0.420893  0.579107

In [338]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_5m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_5m,'she'))

P('subj-pron'|subj=male) =  0.44182240466276806
P('non-subj-pron'|subj=male) =  0.5581775854031245

In [339]:
c2_average_subj_male_subj_pron['drove'] = compute_average(motion_connective2_5m,'he')
c2_average_subj_male_obj_pron['drove'] = compute_average(motion_connective2_5m,'she')

### verb: "jogged"

In [340]:
motion_connective2_6 = pd.read_csv("../results/gpt2/motion/connective2/6.csv")
motion_connective2_6.head()

                                            stimulus        he       she
0   Miss Smith jogged to Mr. Smith and, as a result,  0.595342  0.404658
1      The woman jogged to the man and, as a result,  0.455590  0.544410
2              Mary jogged to John and, as a result,  0.532830  0.467170
3              Alice jogged to Bob and, as a result,  0.359363  0.640637
4  The actress jogged to the actor and, as a result,  0.510082  0.489918

In [341]:
# female subject
motion_connective2_6f = motion_connective2_6[0:12]
motion_connective2_6f = motion_connective2_6[["stimulus","she","he"]]
# male subject
motion_connective2_6m = motion_connective2_6[12:24]

#### female subject

In [342]:
motion_connective2_6f

                                             stimulus       she        he
0    Miss Smith jogged to Mr. Smith and, as a result,  0.404658  0.595342
1       The woman jogged to the man and, as a result,  0.544410  0.455590
2               Mary jogged to John and, as a result,  0.467170  0.532830
3               Alice jogged to Bob and, as a result,  0.640637  0.359363
4   The actress jogged to the actor and, as a result,  0.489918  0.510082
5        The girl jogged to the boy and, as a result,  0.553579  0.446421
6   Mrs. Taylor jogged to Mr. Williams and, as a r...  0.382774  0.617226
7              Emma jogged to David and, as a result,  0.470256  0.529744
8   The princess jogged to the prince and, as a re...  0.673364  0.326636
9            Sarah jogged to Robert and, as a result,  0.470070  0.529930
10  Mrs. Williams jogged to Mr. Taylor and, as a r...  0.405316  0.594684
11             Emily jogged to Paul and, as a result,  0.489464  0.510536
12   Mr. Smith jogged to Miss Smith and, as a result,  0.553110  0.446890
13      The man jogged to the woman and, as a result,  0.621947  0.378053
14              John jogged to Mary and, as a result,  0.596783  0.403217
15              Bob jogged to Alice and, as a result,  0.641582  0.358418
16  The actor jogged to the actress and, as a result,  0.568375  0.431625
17       The boy jogged to the girl and, as a result,  0.616113  0.383887
18  Mr. William jogged to Mrs. Taylor and, as a re...  0.529269  0.470731
19             David jogged to Emma and, as a result,  0.667868  0.332132
20  The prince jogged to the princess and, as a re...  0.562281  0.437719
21           Robert jogged to Sarah and, as a result,  0.647388  0.352612
22  Mr. Taylor jogged to Mrs. Williams and, as a r...  0.553442  0.446558
23             Paul jogged to Emily and, as a result,  0.695566  0.304434

In [343]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_6f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_6f,'he'))

P('subj-pron'|subj=female) =  0.5518891538182894
P('non-subj-pron'|subj=female) =  0.44811084990700084

In [344]:
c2_average_subj_female_subj_pron['jogged'] = compute_average(motion_connective2_6f,'she')
c2_average_subj_female_obj_pron['jogged'] = compute_average(motion_connective2_6f,'he')

#### male subject

In [345]:
motion_connective2_6m

                                             stimulus        he       she
12   Mr. Smith jogged to Miss Smith and, as a result,  0.446890  0.553110
13      The man jogged to the woman and, as a result,  0.378053  0.621947
14              John jogged to Mary and, as a result,  0.403217  0.596783
15              Bob jogged to Alice and, as a result,  0.358418  0.641582
16  The actor jogged to the actress and, as a result,  0.431625  0.568375
17       The boy jogged to the girl and, as a result,  0.383887  0.616113
18  Mr. William jogged to Mrs. Taylor and, as a re...  0.470731  0.529269
19             David jogged to Emma and, as a result,  0.332132  0.667868
20  The prince jogged to the princess and, as a re...  0.437719  0.562281
21           Robert jogged to Sarah and, as a result,  0.352612  0.647388
22  Mr. Taylor jogged to Mrs. Williams and, as a r...  0.446558  0.553442
23             Paul jogged to Emily and, as a result,  0.304434  0.695566

In [346]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_6m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_6m,'she'))

P('subj-pron'|subj=male) =  0.39552297194798786
P('non-subj-pron'|subj=male) =  0.6044770330190659

In [347]:
c2_average_subj_male_subj_pron['jogged'] = compute_average(motion_connective2_6m,'he')
c2_average_subj_male_obj_pron['jogged'] = compute_average(motion_connective2_6m,'she')

### verb: "bolted"

In [348]:
motion_connective2_7 = pd.read_csv("../results/gpt2/motion/connective2/7.csv")
motion_connective2_7.head()

                                            stimulus        he       she
0   Miss Smith bolted to Mr. Smith and, as a result,  0.497930  0.502070
1      The woman bolted to the man and, as a result,  0.438843  0.561157
2              Mary bolted to John and, as a result,  0.437266  0.562734
3              Alice bolted to Bob and, as a result,  0.303019  0.696981
4  The actress bolted to the actor and, as a result,  0.433262  0.566738

In [349]:
# female subject
motion_connective2_7f = motion_connective2_7[0:12]
motion_connective2_7f = motion_connective2_7f[["stimulus","she","he"]]
# male subject
motion_connective2_7m = motion_connective2_7[12:24]

#### female subject

In [350]:
motion_connective2_7f

                                             stimulus       she        he
0    Miss Smith bolted to Mr. Smith and, as a result,  0.502070  0.497930
1       The woman bolted to the man and, as a result,  0.561157  0.438843
2               Mary bolted to John and, as a result,  0.562734  0.437266
3               Alice bolted to Bob and, as a result,  0.696981  0.303019
4   The actress bolted to the actor and, as a result,  0.566738  0.433262
5        The girl bolted to the boy and, as a result,  0.626377  0.373623
6   Mrs. Taylor bolted to Mr. Williams and, as a r...  0.469450  0.530550
7              Emma bolted to David and, as a result,  0.500057  0.499943
8   The princess bolted to the prince and, as a re...  0.656084  0.343916
9            Sarah bolted to Robert and, as a result,  0.489586  0.510414
10  Mrs. Williams bolted to Mr. Taylor and, as a r...  0.490943  0.509057
11             Emily bolted to Paul and, as a result,  0.558555  0.441445

In [351]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_7f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_7f,'he'))

P('subj-pron'|subj=female) =  0.5567276577154795
P('non-subj-pron'|subj=female) =  0.44327235718568164

In [352]:
c2_average_subj_female_subj_pron['bolted'] = compute_average(motion_connective2_7f,'she')
c2_average_subj_female_obj_pron['bolted'] = compute_average(motion_connective2_7f,'he')

#### male subject

In [353]:
motion_connective2_7m

                                             stimulus        he       she
12   Mr. Smith bolted to Miss Smith and, as a result,  0.522013  0.477987
13      The man bolted to the woman and, as a result,  0.384123  0.615877
14              John bolted to Mary and, as a result,  0.450100  0.549900
15              Bob bolted to Alice and, as a result,  0.488294  0.511706
16  The actor bolted to the actress and, as a result,  0.498811  0.501189
17       The boy bolted to the girl and, as a result,  0.403321  0.596679
18  Mr. William bolted to Mrs. Taylor and, as a re...  0.515623  0.484377
19             David bolted to Emma and, as a result,  0.402773  0.597227
20  The prince bolted to the princess and, as a re...  0.451084  0.548916
21           Robert bolted to Sarah and, as a result,  0.391482  0.608518
22  Mr. Taylor bolted to Mrs. Williams and, as a r...  0.520069  0.479931
23             Paul bolted to Emily and, as a result,  0.368650  0.631350

In [354]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_7m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_7m,'she'))

P('subj-pron'|subj=male) =  0.44969526181618374
P('non-subj-pron'|subj=male) =  0.5503047381838163

In [355]:
c2_average_subj_male_subj_pron['bolted'] = compute_average(motion_connective2_7m,'he')
c2_average_subj_male_obj_pron['bolted'] = compute_average(motion_connective2_7m,'she')

### verb: "crawled"

In [356]:
motion_connective2_8 = pd.read_csv("../results/gpt2/motion/connective2/8.csv")
motion_connective2_8.head()

                                            stimulus        he       she
0  Miss Smith crawled to Mr. Smith and, as a result,  0.504368  0.495632
1     The woman crawled to the man and, as a result,  0.406079  0.593921
2             Mary crawled to John and, as a result,  0.424314  0.575686
3             Alice crawled to Bob and, as a result,  0.285373  0.714627
4  The actress crawled to the actor and, as a res...  0.339671  0.660329

In [357]:
# female subject
motion_connective2_8f = motion_connective2_8[0:12]
motion_connective2_8f = motion_connective2_8f[["stimulus","she","he"]]
# male subject
motion_connective2_8m = motion_connective2_8[12:24]

In [358]:
motion_connective2_8f

                                             stimulus       she        he
0   Miss Smith crawled to Mr. Smith and, as a result,  0.495632  0.504368
1      The woman crawled to the man and, as a result,  0.593921  0.406079
2              Mary crawled to John and, as a result,  0.575686  0.424314
3              Alice crawled to Bob and, as a result,  0.714627  0.285373
4   The actress crawled to the actor and, as a res...  0.660329  0.339671
5       The girl crawled to the boy and, as a result,  0.664277  0.335723
6   Mrs. Taylor crawled to Mr. Williams and, as a ...  0.448485  0.551515
7             Emma crawled to David and, as a result,  0.574266  0.425734
8   The princess crawled to the prince and, as a r...  0.740866  0.259134
9           Sarah crawled to Robert and, as a result,  0.570979  0.429020
10  Mrs. Williams crawled to Mr. Taylor and, as a ...  0.483056  0.516944
11            Emily crawled to Paul and, as a result,  0.598262  0.401738

In [359]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_8f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_8f,'he'))

P('subj-pron'|subj=female) =  0.5933655028541883
P('non-subj-pron'|subj=female) =  0.40663448224465054

In [360]:
c2_average_subj_female_subj_pron['crawled'] = compute_average(motion_connective2_8f,'she')
c2_average_subj_female_obj_pron['crawled'] = compute_average(motion_connective2_8f,'he')

#### male subject

In [361]:
motion_connective2_8m

                                             stimulus        he       she
12  Mr. Smith crawled to Miss Smith and, as a result,  0.466796  0.533204
13     The man crawled to the woman and, as a result,  0.411051  0.588949
14             John crawled to Mary and, as a result,  0.452701  0.547299
15             Bob crawled to Alice and, as a result,  0.453886  0.546114
16  The actor crawled to the actress and, as a res...  0.495255  0.504745
17      The boy crawled to the girl and, as a result,  0.428995  0.571005
18  Mr. William crawled to Mrs. Taylor and, as a r...  0.535550  0.464450
19            David crawled to Emma and, as a result,  0.380157  0.619843
20  The prince crawled to the princess and, as a r...  0.557119  0.442881
21          Robert crawled to Sarah and, as a result,  0.407081  0.592919
22  Mr. Taylor crawled to Mrs. Williams and, as a ...  0.494769  0.505231
23            Paul crawled to Emily and, as a result,  0.362042  0.637958

In [362]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_8m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_8m,'she'))

P('subj-pron'|subj=male) =  0.4537835270166397
P('non-subj-pron'|subj=male) =  0.5462164704998335

In [363]:
c2_average_subj_male_subj_pron['crawled'] = compute_average(motion_connective2_8m,'he')
c2_average_subj_male_obj_pron['crawled'] = compute_average(motion_connective2_8m,'she')

### verb: "limped"

In [364]:
motion_connective2_9 = pd.read_csv("../results/gpt2/motion/connective2/9.csv")
motion_connective2_9.head()

                                            stimulus        he       she
0   Miss Smith limped to Mr. Smith and, as a result,  0.531881  0.468119
1      The woman limped to the man and, as a result,  0.475784  0.524216
2              Mary limped to John and, as a result,  0.512349  0.487651
3              Alice limped to Bob and, as a result,  0.379584  0.620416
4  The actress limped to the actor and, as a result,  0.499411  0.500589

In [365]:
# female subject
motion_connective2_9f = motion_connective2_9[0:12]
motion_connective2_9f = motion_connective2_9f[["stimulus","she","he"]]
# male subject
motion_connective2_9m = motion_connective2_9[12:24]

#### female subject

In [366]:
motion_connective2_9f

                                             stimulus       she        he
0    Miss Smith limped to Mr. Smith and, as a result,  0.468119  0.531881
1       The woman limped to the man and, as a result,  0.524216  0.475784
2               Mary limped to John and, as a result,  0.487651  0.512349
3               Alice limped to Bob and, as a result,  0.620416  0.379584
4   The actress limped to the actor and, as a result,  0.500589  0.499411
5        The girl limped to the boy and, as a result,  0.569774  0.430226
6   Mrs. Taylor limped to Mr. Williams and, as a r...  0.415916  0.584084
7              Emma limped to David and, as a result,  0.489201  0.510800
8   The princess limped to the prince and, as a re...  0.624590  0.375410
9            Sarah limped to Robert and, as a result,  0.475814  0.524186
10  Mrs. Williams limped to Mr. Taylor and, as a r...  0.431944  0.568056
11             Emily limped to Paul and, as a result,  0.483928  0.516072

In [367]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_9f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_9f,'he'))

P('subj-pron'|subj=female) =  0.5076796958843867
P('non-subj-pron'|subj=female) =  0.4923202966650327

In [368]:
c2_average_subj_female_subj_pron['limped'] = compute_average(motion_connective2_9f,'she')
c2_average_subj_female_obj_pron['limped'] = compute_average(motion_connective2_9f,'he')

#### male subject

In [369]:
motion_connective2_9m

                                             stimulus        he       she
12   Mr. Smith limped to Miss Smith and, as a result,  0.483471  0.516529
13      The man limped to the woman and, as a result,  0.373205  0.626795
14              John limped to Mary and, as a result,  0.444641  0.555360
15              Bob limped to Alice and, as a result,  0.391181  0.608819
16  The actor limped to the actress and, as a result,  0.383009  0.616991
17       The boy limped to the girl and, as a result,  0.376633  0.623367
18  Mr. William limped to Mrs. Taylor and, as a re...  0.517123  0.482877
19             David limped to Emma and, as a result,  0.402295  0.597705
20  The prince limped to the princess and, as a re...  0.436960  0.563040
21           Robert limped to Sarah and, as a result,  0.389844  0.610156
22  Mr. Taylor limped to Mrs. Williams and, as a r...  0.486929  0.513071
23             Paul limped to Emily and, as a result,  0.392313  0.607687

In [370]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_9m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_9m,'she'))

P('subj-pron'|subj=male) =  0.4231336290637652
P('non-subj-pron'|subj=male) =  0.5768663783868154

In [371]:
c2_average_subj_male_subj_pron['limped'] = compute_average(motion_connective2_9m,'he')
c2_average_subj_male_obj_pron['limped'] = compute_average(motion_connective2_9m,'she')

### verb: "lumbered"

In [372]:
motion_connective2_10 = pd.read_csv("../results/gpt2/motion/connective2/10.csv")
motion_connective2_10.head()

                                            stimulus        he       she
0  Miss Smith lumbered to Mr. Smith and, as a res...  0.556868  0.443132
1    The woman lumbered to the man and, as a result,  0.410218  0.589782
2            Mary lumbered to John and, as a result,  0.522109  0.477891
3            Alice lumbered to Bob and, as a result,  0.393773  0.606227
4  The actress lumbered to the actor and, as a re...  0.458167  0.541833

In [373]:
# female subject
motion_connective2_10f = motion_connective2_10[0:12]
motion_connective2_10f = motion_connective2_10f[["stimulus","she","he"]]
# male subject
motion_connective2_10m = motion_connective2_10[12:24]

### female subject

In [374]:
motion_connective2_10f

                                             stimulus       she        he
0   Miss Smith lumbered to Mr. Smith and, as a res...  0.443132  0.556868
1     The woman lumbered to the man and, as a result,  0.589782  0.410218
2             Mary lumbered to John and, as a result,  0.477891  0.522109
3             Alice lumbered to Bob and, as a result,  0.606227  0.393773
4   The actress lumbered to the actor and, as a re...  0.541833  0.458167
5      The girl lumbered to the boy and, as a result,  0.562750  0.437250
6   Mrs. Taylor lumbered to Mr. Williams and, as a...  0.393131  0.606869
7            Emma lumbered to David and, as a result,  0.486641  0.513359
8   The princess lumbered to the prince and, as a ...  0.595828  0.404172
9          Sarah lumbered to Robert and, as a result,  0.475157  0.524843
10  Mrs. Williams lumbered to Mr. Taylor and, as a...  0.423046  0.576954
11           Emily lumbered to Paul and, as a result,  0.517853  0.482147

In [375]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_10f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_10f,'he'))

P('subj-pron'|subj=female) =  0.5094392970204353
P('non-subj-pron'|subj=female) =  0.4905607079466184

In [376]:
c2_average_subj_female_subj_pron['lumbered'] = compute_average(motion_connective2_10f,'she')
c2_average_subj_female_obj_pron['lumbered'] = compute_average(motion_connective2_10f,'he')

#### male subject

In [377]:
motion_connective2_10m

                                             stimulus        he       she
12  Mr. Smith lumbered to Miss Smith and, as a res...  0.378763  0.621237
13    The man lumbered to the woman and, as a result,  0.308209  0.691791
14            John lumbered to Mary and, as a result,  0.330083  0.669917
15            Bob lumbered to Alice and, as a result,  0.314147  0.685853
16  The actor lumbered to the actress and, as a re...  0.320391  0.679609
17     The boy lumbered to the girl and, as a result,  0.293457  0.706543
18  Mr. William lumbered to Mrs. Taylor and, as a ...  0.418832  0.581168
19           David lumbered to Emma and, as a result,  0.305517  0.694483
20  The prince lumbered to the princess and, as a ...  0.320207  0.679793
21         Robert lumbered to Sarah and, as a result,  0.311314  0.688686
22  Mr. Taylor lumbered to Mrs. Williams and, as a...  0.385887  0.614113
23           Paul lumbered to Emily and, as a result,  0.279987  0.720012

In [378]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_10m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_10m,'she'))

P('subj-pron'|subj=male) =  0.3305660958091418
P('non-subj-pron'|subj=male) =  0.6694338967402776

In [379]:
c2_average_subj_male_subj_pron['lumbered'] = compute_average(motion_connective2_10m,'he')
c2_average_subj_male_obj_pron['lumbered'] = compute_average(motion_connective2_10m,'she')

### verb: "marched"

In [380]:
motion_connective2_11 = pd.read_csv("../results/gpt2/motion/connective2/11.csv")
motion_connective2_11.head()

                                            stimulus        he       she
0  Miss Smith marched to Mr. Smith and, as a result,  0.687511  0.312489
1     The woman marched to the man and, as a result,  0.561137  0.438863
2             Mary marched to John and, as a result,  0.561788  0.438213
3             Alice marched to Bob and, as a result,  0.407544  0.592456
4  The actress marched to the actor and, as a res...  0.648428  0.351572

In [381]:
# female subject
motion_connective2_11f = motion_connective2_11[0:12]
motion_connective2_11f = motion_connective2_11f[["stimulus","she","he"]]
# male subject
motion_connective2_11m = motion_connective2_11[12:24]

#### female subject

In [382]:
motion_connective2_11f

                                             stimulus       she        he
0   Miss Smith marched to Mr. Smith and, as a result,  0.312489  0.687511
1      The woman marched to the man and, as a result,  0.438863  0.561137
2              Mary marched to John and, as a result,  0.438213  0.561788
3              Alice marched to Bob and, as a result,  0.592456  0.407544
4   The actress marched to the actor and, as a res...  0.351572  0.648428
5       The girl marched to the boy and, as a result,  0.501955  0.498045
6   Mrs. Taylor marched to Mr. Williams and, as a ...  0.304278  0.695722
7             Emma marched to David and, as a result,  0.420579  0.579421
8   The princess marched to the prince and, as a r...  0.548744  0.451256
9           Sarah marched to Robert and, as a result,  0.412900  0.587100
10  Mrs. Williams marched to Mr. Taylor and, as a ...  0.344826  0.655174
11            Emily marched to Paul and, as a result,  0.457453  0.542547

In [383]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_11f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_11f,'he'))

P('subj-pron'|subj=female) =  0.42702734967072803
P('non-subj-pron'|subj=female) =  0.5729726478457451

In [384]:
c2_average_subj_female_subj_pron['marched'] = compute_average(motion_connective2_11f,'she')
c2_average_subj_female_obj_pron['marched'] = compute_average(motion_connective2_11f,'he')

#### male subject

In [385]:
motion_connective2_11m

                                             stimulus        he       she
12  Mr. Smith marched to Miss Smith and, as a result,  0.355482  0.644518
13     The man marched to the woman and, as a result,  0.314555  0.685445
14             John marched to Mary and, as a result,  0.367248  0.632752
15             Bob marched to Alice and, as a result,  0.302363  0.697637
16  The actor marched to the actress and, as a res...  0.373612  0.626388
17      The boy marched to the girl and, as a result,  0.349770  0.650230
18  Mr. William marched to Mrs. Taylor and, as a r...  0.372252  0.627748
19            David marched to Emma and, as a result,  0.313932  0.686068
20  The prince marched to the princess and, as a r...  0.340935  0.659065
21          Robert marched to Sarah and, as a result,  0.335810  0.664190
22  Mr. Taylor marched to Mrs. Williams and, as a ...  0.339992  0.660008
23            Paul marched to Emily and, as a result,  0.296822  0.703178

In [386]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_11m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_11m,'she'))

P('subj-pron'|subj=male) =  0.33856436361869174
P('non-subj-pron'|subj=male) =  0.6614356487989426

In [387]:
c2_average_subj_male_subj_pron['marched'] = compute_average(motion_connective2_11m,'he')
c2_average_subj_male_obj_pron['marched'] = compute_average(motion_connective2_11m,'she')

### verb: "meandered"

In [388]:
motion_connective2_12 = pd.read_csv("../results/gpt2/motion/connective2/12.csv")
motion_connective2_12.head()

                                            stimulus        he       she
0  Miss Smith meandered to Mr. Smith and, as a re...  0.541931  0.458069
1   The woman meandered to the man and, as a result,  0.297700  0.702300
2           Mary meandered to John and, as a result,  0.440979  0.559021
3           Alice meandered to Bob and, as a result,  0.383671  0.616329
4  The actress meandered to the actor and, as a r...  0.359519  0.640481

In [389]:
# female subject
motion_connective2_12f = motion_connective2_12[0:12]
motion_connective2_12f = motion_connective2_12f[["stimulus","she","he"]]
# male subject
motion_connective2_12m = motion_connective2_12[12:24]

#### female subject

In [390]:
motion_noprompt_12f

                                  stimulus       She        He
0       Miss Smith meandered to Mr. Smith.  0.540214  0.459786
1          The woman meandered to the man.  0.745980  0.254020
2                  Mary meandered to John.  0.578333  0.421667
3                  Alice meandered to Bob.  0.681849  0.318151
4      The actress meandered to the actor.  0.790787  0.209213
5           The girl meandered to the boy.  0.725051  0.274949
6   Mrs. Taylor meandered to Mr. Williams.  0.551191  0.448809
7                 Emma meandered to David.  0.647464  0.352536
8    The princess meandered to the prince.  0.796560  0.203440
9               Sarah meandered to Robert.  0.591814  0.408186
10  Mrs. Williams meandered to Mr. Taylor.  0.565612  0.434388
11                Emily meandered to Paul.  0.710373  0.289627

In [391]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_12f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_12f,'he'))

P('subj-pron'|subj=female) =  0.5816454788049062
P('non-subj-pron'|subj=female) =  0.4183545336127281

In [392]:
c2_average_subj_female_subj_pron['meandered'] = compute_average(motion_connective2_12f,'she')
c2_average_subj_female_obj_pron['meandered'] = compute_average(motion_connective2_12f,'he')

#### male subject

In [393]:
motion_connective2_12m

                                             stimulus        he       she
12  Mr. Smith meandered to Miss Smith and, as a re...  0.401078  0.598922
13   The man meandered to the woman and, as a result,  0.418263  0.581737
14           John meandered to Mary and, as a result,  0.456979  0.543021
15           Bob meandered to Alice and, as a result,  0.472666  0.527334
16  The actor meandered to the actress and, as a r...  0.499799  0.500201
17    The boy meandered to the girl and, as a result,  0.453320  0.546680
18  Mr. William meandered to Mrs. Taylor and, as a...  0.411829  0.588171
19          David meandered to Emma and, as a result,  0.428645  0.571355
20  The prince meandered to the princess and, as a...  0.436788  0.563212
21        Robert meandered to Sarah and, as a result,  0.414017  0.585983
22  Mr. Taylor meandered to Mrs. Williams and, as ...  0.407769  0.592231
23          Paul meandered to Emily and, as a result,  0.383605  0.616395

In [394]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_12m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_12m,'she'))

P('subj-pron'|subj=male) =  0.4320630207657814
P('non-subj-pron'|subj=male) =  0.5679369767506918

In [395]:
c2_average_subj_male_subj_pron['meandered'] = compute_average(motion_connective2_12m,'he')
c2_average_subj_male_obj_pron['meandered'] = compute_average(motion_connective2_12m,'she')

### verb: "pranced"

In [396]:
motion_connective2_13 = pd.read_csv("../results/gpt2/motion/connective2/13.csv")
motion_connective2_13.head()

                                            stimulus        he       she
0  Miss Smith pranced to Mr. Smith and, as a result,  0.620551  0.379449
1     The woman pranced to the man and, as a result,  0.514925  0.485075
2             Mary pranced to John and, as a result,  0.635640  0.364360
3             Alice pranced to Bob and, as a result,  0.426843  0.573157
4  The actress pranced to the actor and, as a res...  0.572241  0.427759

In [397]:
# female subject
motion_connective2_13f = motion_connective2_13[0:12]
motion_connective2_13f = motion_connective2_13f[["stimulus","she","he"]]
# male subject
motion_connective2_13m = motion_connective2_13[12:24]

#### female subject

In [398]:
motion_connective2_13f

                                             stimulus       she        he
0   Miss Smith pranced to Mr. Smith and, as a result,  0.379449  0.620551
1      The woman pranced to the man and, as a result,  0.485075  0.514925
2              Mary pranced to John and, as a result,  0.364360  0.635640
3              Alice pranced to Bob and, as a result,  0.573157  0.426843
4   The actress pranced to the actor and, as a res...  0.427759  0.572241
5       The girl pranced to the boy and, as a result,  0.454127  0.545873
6   Mrs. Taylor pranced to Mr. Williams and, as a ...  0.361380  0.638620
7             Emma pranced to David and, as a result,  0.393027  0.606973
8   The princess pranced to the prince and, as a r...  0.535193  0.464807
9           Sarah pranced to Robert and, as a result,  0.394010  0.605990
10  Mrs. Williams pranced to Mr. Taylor and, as a ...  0.412308  0.587692
11            Emily pranced to Paul and, as a result,  0.419784  0.580216

In [399]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_13f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_13f,'he'))

P('subj-pron'|subj=female) =  0.4333023602763812
P('non-subj-pron'|subj=female) =  0.5666976297895113

In [400]:
c2_average_subj_female_subj_pron['pranced'] = compute_average(motion_connective2_13f,'she')
c2_average_subj_female_obj_pron['pranced'] = compute_average(motion_connective2_13f,'he')

#### male subject

In [401]:
motion_connective2_13m

                                             stimulus        he       she
12  Mr. Smith pranced to Miss Smith and, as a result,  0.311214  0.688786
13     The man pranced to the woman and, as a result,  0.278296  0.721704
14             John pranced to Mary and, as a result,  0.263672  0.736328
15             Bob pranced to Alice and, as a result,  0.209763  0.790237
16  The actor pranced to the actress and, as a res...  0.290909  0.709091
17      The boy pranced to the girl and, as a result,  0.267017  0.732983
18  Mr. William pranced to Mrs. Taylor and, as a r...  0.319718  0.680282
19            David pranced to Emma and, as a result,  0.240831  0.759169
20  The prince pranced to the princess and, as a r...  0.250457  0.749543
21          Robert pranced to Sarah and, as a result,  0.239371  0.760629
22  Mr. Taylor pranced to Mrs. Williams and, as a ...  0.316457  0.683543
23            Paul pranced to Emily and, as a result,  0.218261  0.781739

In [402]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_13m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_13m,'she'))

P('subj-pron'|subj=male) =  0.26716387644410133
P('non-subj-pron'|subj=male) =  0.7328361471494039

In [403]:
c2_average_subj_male_subj_pron['pranced'] = compute_average(motion_connective2_13m,'he')
c2_average_subj_male_obj_pron['pranced'] = compute_average(motion_connective2_13m,'she')

### verb: "raced"

In [404]:
motion_connective2_14 = pd.read_csv("../results/gpt2/motion/connective2/14.csv")
motion_connective2_14.head()

                                           stimulus        he       she
0   Miss Smith raced to Mr. Smith and, as a result,  0.599075  0.400925
1      The woman raced to the man and, as a result,  0.440152  0.559848
2              Mary raced to John and, as a result,  0.504276  0.495724
3              Alice raced to Bob and, as a result,  0.338690  0.661310
4  The actress raced to the actor and, as a result,  0.409405  0.590595

In [405]:
# female subject
motion_connective2_14f = motion_connective2_14[0:12]
motion_connective2_14f = motion_connective2_14f[["stimulus","she","he"]]
# male subject
motion_connective2_14m = motion_connective2_14[12:24]

#### female subject

In [406]:
motion_connective2_14f

                                             stimulus       she        he
0     Miss Smith raced to Mr. Smith and, as a result,  0.400925  0.599075
1        The woman raced to the man and, as a result,  0.559848  0.440152
2                Mary raced to John and, as a result,  0.495724  0.504276
3                Alice raced to Bob and, as a result,  0.661310  0.338690
4    The actress raced to the actor and, as a result,  0.590595  0.409405
5         The girl raced to the boy and, as a result,  0.627574  0.372426
6   Mrs. Taylor raced to Mr. Williams and, as a re...  0.379624  0.620376
7               Emma raced to David and, as a result,  0.545561  0.454439
8   The princess raced to the prince and, as a res...  0.746982  0.253018
9             Sarah raced to Robert and, as a result,  0.510470  0.489530
10  Mrs. Williams raced to Mr. Taylor and, as a re...  0.398503  0.601497
11              Emily raced to Paul and, as a result,  0.548580  0.451420

In [407]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_14f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_14f,'he'))

P('subj-pron'|subj=female) =  0.5388079558809599
P('non-subj-pron'|subj=female) =  0.4611920366684596

In [408]:
c2_average_subj_female_subj_pron['raced'] = compute_average(motion_connective2_14f,'she')
c2_average_subj_female_obj_pron['raced'] = compute_average(motion_connective2_14f,'he')

#### male subject

In [409]:
motion_connective2_14m

                                             stimulus        he       she
12    Mr. Smith raced to Miss Smith and, as a result,  0.434811  0.565189
13       The man raced to the woman and, as a result,  0.429532  0.570468
14               John raced to Mary and, as a result,  0.418208  0.581792
15               Bob raced to Alice and, as a result,  0.426404  0.573596
16   The actor raced to the actress and, as a result,  0.472275  0.527725
17        The boy raced to the girl and, as a result,  0.467901  0.532099
18  Mr. William raced to Mrs. Taylor and, as a res...  0.491302  0.508698
19              David raced to Emma and, as a result,  0.351238  0.648762
20  The prince raced to the princess and, as a res...  0.535476  0.464524
21            Robert raced to Sarah and, as a result,  0.411264  0.588736
22  Mr. Taylor raced to Mrs. Williams and, as a re...  0.445105  0.554895
23              Paul raced to Emily and, as a result,  0.323641  0.676359

In [410]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_14m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_14m,'she'))

P('subj-pron'|subj=male) =  0.43392978856960934
P('non-subj-pron'|subj=male) =  0.5660702014962832

In [411]:
c2_average_subj_male_subj_pron['raced'] = compute_average(motion_connective2_14m,'he')
c2_average_subj_male_obj_pron['raced'] = compute_average(motion_connective2_14m,'she')

### verb: "staggered"

In [412]:
motion_connective2_15 = pd.read_csv("../results/gpt2/motion/connective2/15.csv")
motion_connective2_15.head()

                                            stimulus        he       she
0  Miss Smith staggered to Mr. Smith and, as a re...  0.530768  0.469232
1   The woman staggered to the man and, as a result,  0.403520  0.596480
2           Mary staggered to John and, as a result,  0.514346  0.485654
3           Alice staggered to Bob and, as a result,  0.338196  0.661804
4  The actress staggered to the actor and, as a r...  0.484379  0.515621

In [413]:
# female subject
motion_connective2_15f = motion_connective2_15[0:12]
motion_connective2_15f = motion_connective2_15f[["stimulus","she","he"]]
# male subject
motion_connective2_15m = motion_connective2_15[12:24]

In [414]:
motion_connective2_15f

                                             stimulus       she        he
0   Miss Smith staggered to Mr. Smith and, as a re...  0.469232  0.530768
1    The woman staggered to the man and, as a result,  0.596480  0.403520
2            Mary staggered to John and, as a result,  0.485654  0.514346
3            Alice staggered to Bob and, as a result,  0.661804  0.338196
4   The actress staggered to the actor and, as a r...  0.515621  0.484379
5     The girl staggered to the boy and, as a result,  0.645087  0.354913
6   Mrs. Taylor staggered to Mr. Williams and, as ...  0.443797  0.556203
7           Emma staggered to David and, as a result,  0.544317  0.455683
8   The princess staggered to the prince and, as a...  0.708418  0.291582
9         Sarah staggered to Robert and, as a result,  0.530157  0.469843
10  Mrs. Williams staggered to Mr. Taylor and, as ...  0.459020  0.540980
11          Emily staggered to Paul and, as a result,  0.591334  0.408666

In [415]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_15f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_15f,'he'))

P('subj-pron'|subj=female) =  0.5542432715495428
P('non-subj-pron'|subj=female) =  0.4457567259669304

In [416]:
c2_average_subj_female_subj_pron['staggered'] = compute_average(motion_connective2_15f,'she')
c2_average_subj_female_obj_pron['staggered'] = compute_average(motion_connective2_15f,'he')

#### male subject

In [417]:
motion_connective2_15m

                                             stimulus        he       she
12  Mr. Smith staggered to Miss Smith and, as a re...  0.426314  0.573686
13   The man staggered to the woman and, as a result,  0.349910  0.650090
14           John staggered to Mary and, as a result,  0.392473  0.607527
15           Bob staggered to Alice and, as a result,  0.311538  0.688462
16  The actor staggered to the actress and, as a r...  0.383192  0.616808
17    The boy staggered to the girl and, as a result,  0.345468  0.654532
18  Mr. William staggered to Mrs. Taylor and, as a...  0.461721  0.538279
19          David staggered to Emma and, as a result,  0.300287  0.699713
20  The prince staggered to the princess and, as a...  0.433881  0.566119
21        Robert staggered to Sarah and, as a result,  0.318281  0.681719
22  Mr. Taylor staggered to Mrs. Williams and, as ...  0.435562  0.564438
23          Paul staggered to Emily and, as a result,  0.287557  0.712443

In [418]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_15m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_15m,'she'))

P('subj-pron'|subj=male) =  0.37051528692245483
P('non-subj-pron'|subj=male) =  0.6294847130775452

In [419]:
c2_average_subj_male_subj_pron['staggered'] = compute_average(motion_connective2_15m,'he')
c2_average_subj_male_obj_pron['staggered'] = compute_average(motion_connective2_15m,'she')

### verb: "strolled"

In [420]:
motion_connective2_16 = pd.read_csv("../results/gpt2/motion/connective2/16.csv")
motion_connective2_16.head()

                                            stimulus        he       she
0  Miss Smith strolled to Mr. Smith and, as a res...  0.607230  0.392770
1    The woman strolled to the man and, as a result,  0.536341  0.463659
2            Mary strolled to John and, as a result,  0.498363  0.501637
3            Alice strolled to Bob and, as a result,  0.335019  0.664981
4  The actress strolled to the actor and, as a re...  0.535784  0.464216

In [421]:
# female subject
motion_connective2_16f = motion_connective2_16[0:12]
motion_connective2_16f = motion_connective2_16f[["stimulus","she","he"]]
# male subject
motion_connective2_16m = motion_connective2_16[12:24]

#### female subject

In [422]:
motion_connective2_16f

                                             stimulus       she        he
0   Miss Smith strolled to Mr. Smith and, as a res...  0.392770  0.607230
1     The woman strolled to the man and, as a result,  0.463659  0.536341
2             Mary strolled to John and, as a result,  0.501637  0.498363
3             Alice strolled to Bob and, as a result,  0.664981  0.335019
4   The actress strolled to the actor and, as a re...  0.464216  0.535784
5      The girl strolled to the boy and, as a result,  0.514886  0.485113
6   Mrs. Taylor strolled to Mr. Williams and, as a...  0.412322  0.587678
7            Emma strolled to David and, as a result,  0.495173  0.504827
8   The princess strolled to the prince and, as a ...  0.631822  0.368178
9          Sarah strolled to Robert and, as a result,  0.514714  0.485286
10  Mrs. Williams strolled to Mr. Taylor and, as a...  0.445678  0.554322
11           Emily strolled to Paul and, as a result,  0.548623  0.451377

In [423]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_16f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_16f,'he'))

P('subj-pron'|subj=female) =  0.5042067021131516
P('non-subj-pron'|subj=female) =  0.49579330285390216

In [424]:
c2_average_subj_female_subj_pron['strolled'] = compute_average(motion_connective2_16f,'she')
c2_average_subj_female_obj_pron['strolled'] = compute_average(motion_connective2_16f,'he')

#### male subject

In [425]:
motion_connective2_16m

                                             stimulus        he       she
12  Mr. Smith strolled to Miss Smith and, as a res...  0.391630  0.608370
13    The man strolled to the woman and, as a result,  0.295354  0.704646
14            John strolled to Mary and, as a result,  0.377861  0.622139
15            Bob strolled to Alice and, as a result,  0.338827  0.661173
16  The actor strolled to the actress and, as a re...  0.372290  0.627710
17     The boy strolled to the girl and, as a result,  0.336320  0.663680
18  Mr. William strolled to Mrs. Taylor and, as a ...  0.410411  0.589589
19           David strolled to Emma and, as a result,  0.294162  0.705838
20  The prince strolled to the princess and, as a ...  0.375812  0.624188
21         Robert strolled to Sarah and, as a result,  0.359531  0.640469
22  Mr. Taylor strolled to Mrs. Williams and, as a...  0.368848  0.631152
23           Paul strolled to Emily and, as a result,  0.281208  0.718792

In [426]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_16m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_16m,'she'))

P('subj-pron'|subj=male) =  0.35018788278102875
P('non-subj-pron'|subj=male) =  0.6498121122519175

In [427]:
c2_average_subj_male_subj_pron['strolled'] = compute_average(motion_connective2_16m,'he')
c2_average_subj_male_obj_pron['strolled'] = compute_average(motion_connective2_16m,'she')

#### verb: "trotted"

In [428]:
motion_connective2_17 = pd.read_csv("../results/gpt2/motion/connective2/17.csv")
motion_connective2_17.head()

                                            stimulus        he       she
0  Miss Smith trotted to Mr. Smith and, as a result,  0.621599  0.378401
1     The woman trotted to the man and, as a result,  0.408923  0.591076
2             Mary trotted to John and, as a result,  0.525794  0.474206
3             Alice trotted to Bob and, as a result,  0.348865  0.651135
4  The actress trotted to the actor and, as a res...  0.426085  0.573915

In [429]:
# female subject
motion_connective2_17f = motion_connective2_17[0:12]
motion_connective2_17f = motion_connective2_17f[["stimulus","she","he"]]
# male subject
motion_connective2_17m = motion_connective2_17[12:24]

#### female subject

In [430]:
motion_connective2_17f

                                             stimulus       she        he
0   Miss Smith trotted to Mr. Smith and, as a result,  0.378401  0.621599
1      The woman trotted to the man and, as a result,  0.591076  0.408923
2              Mary trotted to John and, as a result,  0.474206  0.525794
3              Alice trotted to Bob and, as a result,  0.651135  0.348865
4   The actress trotted to the actor and, as a res...  0.573915  0.426085
5       The girl trotted to the boy and, as a result,  0.608160  0.391840
6   Mrs. Taylor trotted to Mr. Williams and, as a ...  0.373861  0.626139
7             Emma trotted to David and, as a result,  0.505484  0.494516
8   The princess trotted to the prince and, as a r...  0.668036  0.331964
9           Sarah trotted to Robert and, as a result,  0.495260  0.504740
10  Mrs. Williams trotted to Mr. Taylor and, as a ...  0.414432  0.585568
11            Emily trotted to Paul and, as a result,  0.536493  0.463506

In [431]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_17f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_17f,'he'))

P('subj-pron'|subj=female) =  0.5225382496913274
P('non-subj-pron'|subj=female) =  0.47746172547340393

In [432]:
c2_average_subj_female_subj_pron['trotted'] = compute_average(motion_connective2_17f,'she')
c2_average_subj_female_obj_pron['trotted'] = compute_average(motion_connective2_17f,'he')

#### male subject

In [433]:
motion_connective2_17m

                                             stimulus        he       she
12  Mr. Smith trotted to Miss Smith and, as a result,  0.411481  0.588519
13     The man trotted to the woman and, as a result,  0.340911  0.659090
14             John trotted to Mary and, as a result,  0.378904  0.621096
15             Bob trotted to Alice and, as a result,  0.368927  0.631073
16  The actor trotted to the actress and, as a res...  0.425536  0.574464
17      The boy trotted to the girl and, as a result,  0.333192  0.666808
18  Mr. William trotted to Mrs. Taylor and, as a r...  0.419559  0.580441
19            David trotted to Emma and, as a result,  0.301869  0.698131
20  The prince trotted to the princess and, as a r...  0.360212  0.639788
21          Robert trotted to Sarah and, as a result,  0.342997  0.657004
22  Mr. Taylor trotted to Mrs. Williams and, as a ...  0.400090  0.599910
23            Paul trotted to Emily and, as a result,  0.324582  0.675418

In [434]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_17m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_17m,'she'))

P('subj-pron'|subj=male) =  0.3673549046119054
P('non-subj-pron'|subj=male) =  0.6326450804869334

In [435]:
c2_average_subj_male_subj_pron['trotted'] = compute_average(motion_connective2_17m,'he')
c2_average_subj_male_obj_pron['trotted'] = compute_average(motion_connective2_17m,'she')

### verb: "wandered"

In [436]:
motion_connective2_18 = pd.read_csv("../results/gpt2/motion/connective2/18.csv")
motion_connective2_18.head()

                                            stimulus        he       she
0  Miss Smith wandered to Mr. Smith and, as a res...  0.604640  0.395360
1    The woman wandered to the man and, as a result,  0.391944  0.608056
2            Mary wandered to John and, as a result,  0.432642  0.567358
3            Alice wandered to Bob and, as a result,  0.379403  0.620597
4  The actress wandered to the actor and, as a re...  0.475504  0.524496

In [437]:
# female subject
motion_connective2_18f = motion_connective2_18[0:12]
motion_connective2_18f = motion_connective2_18f[["stimulus","she","he"]]
# male subject
motion_connective2_18m = motion_connective2_18[12:24]

#### female subject

In [438]:
motion_connective2_18f

                                             stimulus       she        he
0   Miss Smith wandered to Mr. Smith and, as a res...  0.395360  0.604640
1     The woman wandered to the man and, as a result,  0.608056  0.391944
2             Mary wandered to John and, as a result,  0.567358  0.432642
3             Alice wandered to Bob and, as a result,  0.620597  0.379403
4   The actress wandered to the actor and, as a re...  0.524496  0.475504
5      The girl wandered to the boy and, as a result,  0.567822  0.432178
6   Mrs. Taylor wandered to Mr. Williams and, as a...  0.413982  0.586018
7            Emma wandered to David and, as a result,  0.490309  0.509691
8   The princess wandered to the prince and, as a ...  0.642251  0.357749
9          Sarah wandered to Robert and, as a result,  0.487051  0.512949
10  Mrs. Williams wandered to Mr. Taylor and, as a...  0.445159  0.554841
11           Emily wandered to Paul and, as a result,  0.516208  0.483792

In [439]:
print("P('subj-pron'|subj=female) = ", compute_average(motion_connective2_18f,'she'))
print("P('non-subj-pron'|subj=female) = ", compute_average(motion_connective2_18f,'he'))

P('subj-pron'|subj=female) =  0.5232206260164579
P('non-subj-pron'|subj=female) =  0.47677936653296155

In [440]:
c2_average_subj_female_subj_pron['wandered'] = compute_average(motion_connective2_18f,'she')
c2_average_subj_female_obj_pron['wandered'] = compute_average(motion_connective2_18f,'he')

#### male subject

In [441]:
motion_connective2_18m

                                             stimulus        he       she
12  Mr. Smith wandered to Miss Smith and, as a res...  0.450441  0.549559
13    The man wandered to the woman and, as a result,  0.387532  0.612468
14            John wandered to Mary and, as a result,  0.416352  0.583648
15            Bob wandered to Alice and, as a result,  0.371007  0.628993
16  The actor wandered to the actress and, as a re...  0.481570  0.518430
17     The boy wandered to the girl and, as a result,  0.400153  0.599847
18  Mr. William wandered to Mrs. Taylor and, as a ...  0.518799  0.481201
19           David wandered to Emma and, as a result,  0.376140  0.623860
20  The prince wandered to the princess and, as a ...  0.461982  0.538018
21         Robert wandered to Sarah and, as a result,  0.386849  0.613151
22  Mr. Taylor wandered to Mrs. Williams and, as a...  0.479508  0.520492
23           Paul wandered to Emily and, as a result,  0.325032  0.674968

In [442]:
print("P('subj-pron'|subj=male) = ", compute_average(motion_connective2_18m,'he'))
print("P('non-subj-pron'|subj=male) = ", compute_average(motion_connective2_18m,'she'))

P('subj-pron'|subj=male) =  0.4212803319096565
P('non-subj-pron'|subj=male) =  0.5787196556727091

In [443]:
c2_average_subj_male_subj_pron['wandered'] = compute_average(motion_connective2_18m,'he')
c2_average_subj_male_obj_pron['wandered'] = compute_average(motion_connective2_18m,'she')

## Summary of Results

In [444]:
c2_results_fsubj_subjpron = pd.DataFrame(list(c2_average_subj_female_subj_pron.items()),columns=['verb','subj_ref_female_subj'])
c2_results_fsubj_objpron = pd.DataFrame(list(c2_average_subj_female_obj_pron.items()),columns=['verb','obj_ref_female_subj'])
c2_results_fsubj = c2_results_fsubj_subjpron.merge(c2_results_fsubj_objpron)
c2_results_fsubj

         verb  subj_ref_female_subj  obj_ref_female_subj
0        flew              0.529345             0.470655
1      walked              0.504325             0.495675
2         ran              0.536488             0.463512
3        swam              0.514837             0.485163
4       drove              0.524926             0.475073
5      jogged              0.551889             0.448111
6      bolted              0.556728             0.443272
7     crawled              0.593366             0.406634
8      limped              0.507680             0.492320
9    lumbered              0.509439             0.490561
10    marched              0.427027             0.572973
11  meandered              0.581645             0.418355
12    pranced              0.433302             0.566698
13      raced              0.538808             0.461192
14  staggered              0.554243             0.445757
15   strolled              0.504207             0.495793
16    trotted              0.522538             0.477462
17   wandered              0.523221             0.476779

In [445]:
c2_results_msubj_subjpron = pd.DataFrame(list(c2_average_subj_male_subj_pron.items()),columns=['verb','subj_ref_male_subj'])
c2_results_msubj_objpron = pd.DataFrame(list(c2_average_subj_male_obj_pron.items()),columns=['verb','obj_ref_male_subj'])
c2_results_msubj = c2_results_msubj_subjpron.merge(c2_results_msubj_objpron)
c2_results_msubj

         verb  subj_ref_male_subj  obj_ref_male_subj
0        flew            0.476528           0.523472
1      walked            0.377508           0.622492
2         ran            0.418051           0.581949
3        swam            0.442729           0.557271
4       drove            0.441822           0.558178
5      jogged            0.395523           0.604477
6      bolted            0.449695           0.550305
7     crawled            0.453784           0.546216
8      limped            0.423134           0.576866
9    lumbered            0.330566           0.669434
10    marched            0.338564           0.661436
11  meandered            0.432063           0.567937
12    pranced            0.267164           0.732836
13      raced            0.433930           0.566070
14  staggered            0.370515           0.629485
15   strolled            0.350188           0.649812
16    trotted            0.367355           0.632645
17   wandered            0.421280           0.578720

In [446]:
c2_results = c2_results_fsubj.merge(c2_results_msubj)
c2_results

,verb,subj_ref_female_subj,obj_ref_female_subj,subj_ref_male_subj,obj_ref_male_subj
0,flew,0.529345,0.470655,0.476528,0.523472
1,walked,0.504325,0.495675,0.377508,0.622492
2,ran,0.536488,0.463512,0.418051,0.581949
3,swam,0.514837,0.485163,0.442729,0.557271
4,drove,0.524926,0.475073,0.441822,0.558178
5,jogged,0.551889,0.448111,0.395523,0.604477
6,bolted,0.556728,0.443272,0.449695,0.550305
7,crawled,0.593366,0.406634,0.453784,0.546216
8,limped,0.507680,0.492320,0.423134,0.576866
9,lumbered,0.509439,0.490561,0.330566,0.669434
10,marched,0.427027,0.572973,0.338564,0.661436
11,meandered,0.581645,0.418355,0.432063,0.567937
12,pranced,0.433302,0.566698,0.267164,0.732836
13,raced,0.538808,0.461192,0.433930,0.566070
14,staggered,0.554243,0.445757,0.370515,0.629485
15,strolled,0.504207,0.495793,0.350188,0.649812
16,trotted,0.522538,0.477462,0.367355,0.632645
17,wandered,0.523221,0.476779,0.421280,0.578720

In [447]:
print("P(subj_reference |subj=female)", compute_average(c2_results,'subj_ref_female_subj'))
print("P(obj_reference |subj=female)", compute_average(c2_results,'obj_ref_female_subj'))

P(subj_reference |subj=female) 0.523000800361236
P(obj_reference |subj=female) 0.47699919612043423

In [448]:
print("P(subj_reference |subj=male)", compute_average(c2_results,'subj_ref_male_subj'))
print("P(obj_reference |subj=male)", compute_average(c2_results,'obj_ref_male_subj'))

P(subj_reference |subj=male) 0.3994666119278581
P(obj_reference |subj=male) 0.6005333867613916

In [449]:
# save results to csv
col_headers = ['verb','subj_ref_female_subj','obj_ref_female_subj','subj_ref_male_subj','obj_ref_male_subj']
np_results.to_csv("../results/gpt2/summary/motion-noprompt.csv",index=False,header=col_headers)
c1_results.to_csv("../results/gpt2/summary/motion-connective1.csv",index=False,header=col_headers)
c2_results.to_csv("../results/gpt2/summary/motion-connective2.csv",index=False,header=col_headers)